## Import Dependencies and Load in Data At Correct Index

In [1]:
import pandas as pd
import json
import numpy as np
import scipy.stats as st
import statsmodels.api as sm 
import math

In [2]:
df = pd.read_csv('data/model_comparison.csv')
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
0,501808106,bryanchrist,2631956.0,0c1ab1927d16b14e6d58,24740,Classify Questions,37.630,2023-07-18 16:13:14 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
1,501808147,bryanchrist,2631956.0,0c1ab1927d16b14e6d58,24740,Classify Questions,37.630,2023-07-18 16:13:27 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
2,501808176,bryanchrist,2631956.0,0c1ab1927d16b14e6d58,24740,Classify Questions,37.630,2023-07-18 16:13:36 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
3,501808272,bryanchrist,2631956.0,0c1ab1927d16b14e6d58,24740,Classify Questions,37.630,2023-07-18 16:14:12 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
4,501809115,bryanchrist,2631956.0,0c1ab1927d16b14e6d58,24740,Classify Questions,37.630,2023-07-18 16:19:32 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6360,542099648,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:06 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""96431469"":{""retired"":null,""Filename"":""mathwe...",96431469
6361,542099695,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:18 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""96431385"":{""retired"":null,""Filename"":""llama_...",96431385
6362,542099778,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:33 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""96431433"":{""retired"":null,""Filename"":""mathwe...",96431433
6363,542099913,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:58 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""96431477"":{""retired"":null,""Filename"":""mathwe...",96431477
6364,542100012,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:30:17 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""96431436"":{""retired"":null,""Filename"":""mathwe...",96431436

In [3]:
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['annotations'])
    try:
        if my_json[2]['task_label']=='What math operations/concepts are required to solve the problem? Please select all that apply. ':
            start_index = i
            break
    except:
        pass
df = df[start_index:]
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
4798,526544790,bryanchrist,2631956.0,5fdf41a7d2a974000f27,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,"{""source"":""api"",""session"":""777a08164cd7f8e01a2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323602"":{""retired"":null,""Filename"":""llama_...",94323602
4799,526686902,not-logged-in-23ee268ea67584d52e6e,NaN,23ee268ea67584d52e6e,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323999"":{""retired"":null,""Filename"":""mammot...",94323999
4800,526687176,not-logged-in-114f1bd926cdc9d96a71,NaN,114f1bd926cdc9d96a71,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323887"":{""retired"":null,""Filename"":""llema_...",94323887
4801,526687284,not-logged-in-0e04718763b8b969b64c,NaN,0e04718763b8b969b64c,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323658"":{""retired"":null,""Filename"":""llama_...",94323658
4802,526687346,not-logged-in-b35531b0fa4bb753793c,NaN,b35531b0fa4bb753793c,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323967"":{""retired"":null,""Filename"":""mammot...",94323967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6360,542099648,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:06 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""96431469"":{""retired"":null,""Filename"":""mathwe...",96431469
6361,542099695,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:18 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""96431385"":{""retired"":null,""Filename"":""llama_...",96431385
6362,542099778,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:33 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""96431433"":{""retired"":null,""Filename"":""mathwe...",96431433
6363,542099913,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:58 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""96431477"":{""retired"":null,""Filename"":""mathwe...",96431477
6364,542100012,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:30:17 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""96431436"":{""retired"":null,""Filename"":""mathwe...",96431436

## Create Appropriateness, Solvability, Accuracy, Topic, Math Operation and Notes Columns

In [4]:
my_json = json.loads(df.iloc[0]['annotations'])
my_json

[{'task': 'T0',
  'task_label': 'Is this question solvable? A solvable question means that it can be solved with the information present. ',
  'value': 'Yes'},
 {'task': 'T4',
  'task_label': 'Is the solution for this question correct?',
  'value': 'Yes'},
 {'task': 'T6',
  'task_label': 'What math operations/concepts are required to solve the problem? Please select all that apply. ',
  'value': ['Subtraction', 'Addition']},
 {'task': 'T1',
  'task_label': 'Would you feel comfortable giving this question to a student? Although questions have various difficulties, a middle school student should be able to solve them all.',
  'value': 'Yes: This question is understandable, appropriate and a middle school student or younger could solve it '},
 {'task': 'T5',
  'task_label': 'Does the question incorporate the given topic? ',
  'value': 'Yes'},
 {'task': 'T3',
  'value': '',
  'task_label': 'This question is optional. If you have any feedback about this particular question, you can tell us here. '}]

In [5]:
solvability = []
accuracy = []
appropriateness = []
topic = []
ops = []
notes = []
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['annotations'])
    solvability.append(my_json[0]['value'])
    if my_json[1]['task']=='T4':
        accuracy.append(my_json[1]['value'])
    if my_json[1]['task']!='T4':
        accuracy.append("NA")
        appropriateness.append('NA')
        ops.append('NA')
        topic.append(my_json[1]['value'])
    if my_json[2]['task']=='T6':
        ops.append(my_json[2]['value'])
    if my_json[2]['task']!='T6':
        notes.append(my_json[2]['value'])
    try:
        appropriateness.append(my_json[3]['value'])
        topic.append(my_json[4]['value'])
        notes.append(my_json[5]['value'])
    except:
        pass
df['solvability']=solvability
df['appropriateness']=appropriateness
df['accuracy']=accuracy
df['operations'] = ops
df['notes']=notes
df['topic']=topic

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/2447154829.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['solvability']=solvability
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/2447154829.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['appropriateness']=appropriateness
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/2447154829.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['accuracy']=accuracy
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/2447154829.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['operations'] = ops
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/2447154829.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['notes']=notes
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/2447154829.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['topic']=topic

In [6]:
df['user_name'].value_counts()

user_name
bryanchrist                           1155
kidleader                              149
Raceaturtle                             63
not-logged-in-9221910d2994164ecb24      23
not-logged-in-7b135c4b8243f576a938      18
not-logged-in-40bf6ff2f5c3a5a210f3      16
not-logged-in-6e8a282f71fe480aa3c7      12
not-logged-in-b0dbd6cd8036b139ff83       9
not-logged-in-c26834970653bb9c01fa       8
not-logged-in-4a5b7a6cb6592d23e5d6       7
not-logged-in-bcbbea62d89ae2add377       7
not-logged-in-f708db208aaaee0b2800       6
not-logged-in-e69295bea827988b987b       6
not-logged-in-42cee4d7d51371504018       5
not-logged-in-759ff4d80ea3da18bd29       5
not-logged-in-3a6645d89642ef5b3fd6       5
not-logged-in-5d776777f1fa6f0180e2       5
not-logged-in-d94675333ed3b876d791       5
not-logged-in-37c1b299906ed0f65261       5
not-logged-in-367eeb251048a9a21575       5
not-logged-in-770544961f5f1e9de698       4
cate11                                   4
not-logged-in-3724cca67347b8fd0fa8       4
not-logged-in-e159fca4fe3fc2ce5bdd       4
not-logged-in-2e385d33dab1ac53d9d2       4
not-logged-in-f298b706e4bc181fd369       3
not-logged-in-e9ad76697bb850792fc4       3
not-logged-in-f822ed8a6b66379dfbdf       2
not-logged-in-fb933cfd6551e858f259       2
not-logged-in-4925e392a793b1ab3875       2
not-logged-in-f3b7719469cdf8eb89ac       1
not-logged-in-751c105d3149f65f8b7d       1
not-logged-in-516b4e18dd8ec96c8428       1
not-logged-in-d696a21e062cb01eab63       1
not-logged-in-94aefb6b17f0539a0409       1
not-logged-in-19c8eb4210a0cd68fbe6       1
not-logged-in-048c675a7163ca72c17f       1
not-logged-in-114f1bd926cdc9d96a71       1
not-logged-in-0e04718763b8b969b64c       1
not-logged-in-166da23312f40178fd87       1
not-logged-in-1fcfa68008cf4e6fab8e       1
not-logged-in-43a3edeb0105f69f9891       1
not-logged-in-5efe74ad6ea29b385892       1
not-logged-in-48325c1f42b3c7b746fb       1
not-logged-in-868d225109d48124f420       1
not-logged-in-0be2e08452d40c872a3f       1
not-logged-in-df1c373e2c014a2147a8       1
not-logged-in-bec7867244b6cb34de30       1
not-logged-in-7f34ec06bd8633ee5338       1
not-logged-in-23ee268ea67584d52e6e       1
not-logged-in-b35531b0fa4bb753793c       1
Name: count, dtype: int64

df = df[df['user_name']=='bryanchrist']
df

In [7]:
temp = df[df['notes']!=""]
temp

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids,solvability,appropriateness,accuracy,operations,notes,topic
4799,526686902,not-logged-in-23ee268ea67584d52e6e,NaN,23ee268ea67584d52e6e,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323999"":{""retired"":null,""Filename"":""mammot...",94323999,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",The question is too simplistic,Yes
4800,526687176,not-logged-in-114f1bd926cdc9d96a71,NaN,114f1bd926cdc9d96a71,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323887"":{""retired"":null,""Filename"":""llema_...",94323887,Yes,No: This question contains distracting typos o...,No,[Division],There is a contradiction in the question,Yes
4805,526687683,not-logged-in-751c105d3149f65f8b7d,NaN,751c105d3149f65f8b7d,24740,Classify Questions,139.206,2023-12-04 12:55:30 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323912"":{""retired"":null,""Filename"":""llema_...",94323912,No,NA,NA,NA,The meaning of this question is unclear,No
5713,528390771,not-logged-in-f298b706e4bc181fd369,NaN,f298b706e4bc181fd369,24740,Classify Questions,142.214,2023-12-11 13:43:37 UTC,NaN,NaN,"{""source"":""api"",""session"":""464cfbd65f3f03436c8...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323710"":{""retired"":null,""Filename"":""llema_...",94323710,Yes,"Yes: This question is understandable, appropri...",Yes,[Subtraction],The extra steps 2-4 are unnecessary and may ca...,Yes
5716,528391151,not-logged-in-7f34ec06bd8633ee5338,NaN,7f34ec06bd8633ee5338,24740,Classify Questions,142.214,2023-12-11 13:46:02 UTC,NaN,NaN,"{""source"":""api"",""session"":""464cfbd65f3f03436c8...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94324001"":{""retired"":{""id"":122699160,""workfl...",94324001,Yes,"Yes: This question is understandable, appropri...",No,"[Division, Multiplication]",The lift 2000 pounds is superfluous,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6204,541678679,kidleader,2668795.0,c8e62a8db69ce040fdb9,24740,Classify Questions,142.214,2024-02-14 02:09:31 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323873"":{""retired"":{""id"":122699585,""workfl...",94323873,Yes,"Yes: This question is understandable, appropri...",No,[Fractions],half = 50%,Yes
6205,541678897,kidleader,2668795.0,c8e62a8db69ce040fdb9,24740,Classify Questions,142.214,2024-02-14 02:10:42 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323816"":{""retired"":null,""Filename"":""llema_...",94323816,Yes,"Yes: This question is understandable, appropri...",Yes,[Not Applicable: This question does not requir...,"This is a reading, not a math problem.",No
6207,541679559,kidleader,2668795.0,66b4b26f644ec67c9ace,24740,Classify Questions,142.214,2024-02-14 02:14:32 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94324364"":{""retired"":null,""Filename"":""mathwe...",94324364,Yes,"Yes: This question is understandable, appropri...",No,"[Multiplication, Addition, Decimals]",He is 81 inches tall x 2.54 = 205.74,Yes
6208,541679772,kidleader,2668795.0,66b4b26f644ec67c9ace,24740,Classify Questions,142.214,2024-02-14 02:15:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323743"":{""retired"":null,""Filename"":""llema_...",94323743,No,NA,NA,NA,Would their pass yardage tie their records in ...,No
6211,541680218,kidleader,2668795.0,66b4b26f644ec67c9ace,24740,Classify Questions,142.214,2024-02-14 02:19:13 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323491"":{""retired"":null,""Filename"":""llama_...",94323491,No,NA,NA,NA,How many did he throw in 2017?,No

## Assign Question Numbers

In [8]:
question_numbers = []
model = []

for i in range(len(df)):
    my_json = json.loads(df.iloc[i]['subject_data'])
    subject_id = df.iloc[i]['subject_ids']
    question_number = my_json[f'{subject_id}']['Filename']
    question_number = question_number.split(".txt")[0]
    question_numbers.append(question_number)

    if 'llema' in question_number:
        model.append('llema')
    elif 'llama' in question_number:
        model.append('llama')    
    elif 'mammoth' in question_number:
        model.append('mammoth')
    elif 'mathwell' in question_number:
        model.append('mathwell')
    else:
        # Append None if none of the models are found in question_number
        model.append(None)

# Create a DataFrame with question_numbers and model lists
df['question_number'] = question_numbers
new_df = pd.DataFrame({'question_number': question_numbers, 'model': model})
new_df = new_df.drop_duplicates()
# Filter out rows where model is not None
filtered_df = new_df[new_df['model'].notna()]

# Merge the filtered DataFrame with the original DataFrame df
df = pd.merge(df, filtered_df, on='question_number', how='inner')

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/1480164591.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['question_number'] = question_numbers

In [9]:
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,subject_data,subject_ids,solvability,appropriateness,accuracy,operations,notes,topic,question_number,model
0,526544790,bryanchrist,2631956.0,5fdf41a7d2a974000f27,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,"{""94323602"":{""retired"":null,""Filename"":""llama_...",94323602,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",,Yes,llama_q1053,llama
1,526686902,not-logged-in-23ee268ea67584d52e6e,NaN,23ee268ea67584d52e6e,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,...,"{""94323999"":{""retired"":null,""Filename"":""mammot...",94323999,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",The question is too simplistic,Yes,mammoth_q115,mammoth
2,526687176,not-logged-in-114f1bd926cdc9d96a71,NaN,114f1bd926cdc9d96a71,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,...,"{""94323887"":{""retired"":null,""Filename"":""llema_...",94323887,Yes,No: This question contains distracting typos o...,No,[Division],There is a contradiction in the question,Yes,llema_q801,llema
3,526687284,not-logged-in-0e04718763b8b969b64c,NaN,0e04718763b8b969b64c,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,...,"{""94323658"":{""retired"":null,""Filename"":""llama_...",94323658,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes,llama_q1363,llama
4,526687346,not-logged-in-b35531b0fa4bb753793c,NaN,b35531b0fa4bb753793c,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,...,"{""94323967"":{""retired"":null,""Filename"":""mammot...",94323967,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",,Yes,mammoth_q75,mammoth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1561,542099648,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:06 UTC,NaN,NaN,...,"{""96431469"":{""retired"":null,""Filename"":""mathwe...",96431469,Yes,"Yes: This question is understandable, appropri...",Yes,"[Multiplication, Subtraction]",,Yes,mathwell_q825,mathwell
1562,542099695,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:18 UTC,NaN,NaN,...,"{""96431385"":{""retired"":null,""Filename"":""llama_...",96431385,Yes,"Yes: This question is understandable, appropri...",Yes,[Subtraction],,Yes,llama_q643,llama
1563,542099778,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:33 UTC,NaN,NaN,...,"{""96431433"":{""retired"":null,""Filename"":""mathwe...",96431433,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes,mathwell_q1299,mathwell
1564,542099913,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:58 UTC,NaN,NaN,...,"{""96431477"":{""retired"":null,""Filename"":""mathwe...",96431477,No,NA,NA,NA,,No,mathwell_q1244,mathwell
1565,542100012,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:30:17 UTC,NaN,NaN,...,"{""96431436"":{""retired"":null,""Filename"":""mathwe...",96431436,Yes,"Yes: This question is understandable, appropri...",Yes,[Subtraction],,Yes,mathwell_q949,mathwell

question_numbers = []
model = []
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['subject_data'])
    subject_id = df.iloc[i]['subject_ids']
    question_number = my_json[f'{subject_id}']['Filename']
    question_number = question_number.split(".txt")[0]
    question_numbers.append(question_number)
    if 'llema' in question_number:
        model.append('llema')
    if 'llama' in question_number:
        model.append('llama')    
    if 'mammoth' in question_number:
        model.append('mammoth')
    if 'mathwell' in question_number:
        model.append('mathwell')
    else:
        df.drop(i)
df['question_number']=question_numbers
df['model']=model

## Explore Appropriateness Labels by Model

In [10]:
llama = df[df['model']=='llama']
llema = df[df['model']=='llema']
mathwell = df[df['model']=='mathwell']
mammoth = df[df['model']=='mammoth']

In [11]:
llama['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      294
NA                                                                                                            48
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     44
No: The question is too hard, even for a middle school student                                                 3
No: This question contains inappropriate material                                                              3
No: This question contains distracting typos or grammatical errors                                             1
Name: count, dtype: int64

In [12]:
llema['appropriateness'].value_counts()

appropriateness
NA                                                                                                           172
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      121
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     65
No: This question contains distracting typos or grammatical errors                                            19
No: This question contains inappropriate material                                                              5
No: The question is too hard, even for a middle school student                                                 1
Name: count, dtype: int64

In [13]:
mammoth['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      262
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     69
NA                                                                                                            41
No: This question contains distracting typos or grammatical errors                                             6
No: This question contains inappropriate material                                                              4
No: The question is too hard, even for a middle school student                                                 3
Name: count, dtype: int64

In [14]:
mathwell['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      326
NA                                                                                                            41
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     33
No: This question contains inappropriate material                                                              4
No: The question is too hard, even for a middle school student                                                 1
Name: count, dtype: int64

## Relabel/Recode Variables and Calculate MaC/Operations

In [15]:
import numpy as np
replace_map = {"Yes": 1, "No": 0, "NA": np.nan}
df['solvability'] = df['solvability'].replace(replace_map)
df['accuracy'] = df['accuracy'].replace(replace_map)
df['topic']=df['topic'].replace(replace_map)
replace_map = {"Yes: This question is understandable, appropriate and a middle school student or younger could solve it ": 1, 
               "No: This question is strange, confusing, contains conflicting information, and/or is not based in reality": 0, 
               "No: This question contains distracting typos or grammatical errors": 0, 
               "No: This question contains inappropriate material": 0, 
              "No: The question is too hard, even for a middle school student": 0, 
            "No: This question is strange, confusing, contains conflicting information, and/or is not based in reality":0,
            "No: This question contains inappropriate material":0,
                "No: The question is too hard, even for a middle school student":0,
            "No: This question contains distracting typos or grammatical errors": 0,
            "No: This question is strange, contains confusing or conflicting wording, and/or is not based in reality":0,
                "No: This question is strange or confusing":0,
              "NA": np.nan}
df['appropriateness'] = df['appropriateness'].replace(replace_map)
def addition(df):
    if 'Addition' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def subtraction(df):
    if 'Subtraction' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def multiplication(df):
    if 'Multiplication' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def division(df):
    if 'Division' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def fractions(df):
    if 'Fractions' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def decimals(df):
    if 'Decimals' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def none(df):
    if 'Not Applicable: This question does not require a mathematical operation.' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def total_ops(df):
    if df['no_ops']==1:
        return np.nan
    else:
        return df['addition'] + df['subtraction'] + df['multiplication'] + df['decimals'] + df['division'] + df['fractions']
df['addition'] = df.apply(addition, axis=1)
df['subtraction'] = df.apply(subtraction, axis=1)
df['multiplication'] = df.apply(multiplication, axis=1)
df['division'] = df.apply(division, axis=1)
df['fractions'] = df.apply(fractions, axis=1)
df['decimals'] = df.apply(decimals, axis=1)
df['no_ops'] = df.apply(none, axis=1)
df['total_ops'] = df.apply(total_ops, axis=1)
def good(df):
    if df['solvability']==1:
        if df['accuracy']==1:
            if df['no_ops']==0:
                if df['appropriateness']==1:
                   # if df['topic']==1:
                    return 1
    if df['accuracy']==np.nan:
        return 0
    if df['no_ops']==np.nan:
        return 0
    if df['appropriateness']==np.nan:
        return 0
    else:
        return 0
df['good'] = df.apply(good, axis = 1)
def good_recode(df):
    if df['good']==np.nan:
        return 0
    else:
        return df['good']
df['good'] = df.apply(good_recode, axis=1)
df

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/4060560311.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['solvability'] = df['solvability'].replace(replace_map)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/4060560311.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['accuracy'] = df['accuracy'].replace(replace_map)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/4060560311.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['topic']=df['topic'].replace(replace_map)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/4060560311.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['appropriateness'] = df['appropriateness'].replace(replace_map)

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,model,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
0,526544790,bryanchrist,2631956.0,5fdf41a7d2a974000f27,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,llama,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
1,526686902,not-logged-in-23ee268ea67584d52e6e,NaN,23ee268ea67584d52e6e,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
2,526687176,not-logged-in-114f1bd926cdc9d96a71,NaN,114f1bd926cdc9d96a71,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,...,llema,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
3,526687284,not-logged-in-0e04718763b8b969b64c,NaN,0e04718763b8b969b64c,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,...,llama,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4,526687346,not-logged-in-b35531b0fa4bb753793c,NaN,b35531b0fa4bb753793c,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1561,542099648,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:06 UTC,NaN,NaN,...,mathwell,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1
1562,542099695,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:18 UTC,NaN,NaN,...,llama,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1563,542099778,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:33 UTC,NaN,NaN,...,mathwell,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
1564,542099913,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:58 UTC,NaN,NaN,...,mathwell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1565,542100012,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:30:17 UTC,NaN,NaN,...,mathwell,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1

## Check Annotator Agreement

In [16]:
df = df.drop_duplicates(subset = ['question_number', 'user_name'])
#df = df.query("user_name=='bryanchrist' or user_name=='Raceaturtle'")
#df = df[df['user_name']!='kidleader']
#df = df[df['user_name']!='cate11']
print((df['question_number'].value_counts() == 2).sum(), (df['question_number'].value_counts() == 3).sum())
count = (df['question_number'].value_counts() >= 2).sum()
df

285 60

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,model,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
0,526544790,bryanchrist,2631956.0,5fdf41a7d2a974000f27,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,llama,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
1,526686902,not-logged-in-23ee268ea67584d52e6e,NaN,23ee268ea67584d52e6e,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
2,526687176,not-logged-in-114f1bd926cdc9d96a71,NaN,114f1bd926cdc9d96a71,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,...,llema,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
3,526687284,not-logged-in-0e04718763b8b969b64c,NaN,0e04718763b8b969b64c,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,...,llama,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4,526687346,not-logged-in-b35531b0fa4bb753793c,NaN,b35531b0fa4bb753793c,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,542099566,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:28:47 UTC,NaN,NaN,...,llama,1.0,1.0,1.0,0.0,0.0,1.0,0.0,4.0,1
1561,542099648,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:06 UTC,NaN,NaN,...,mathwell,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1
1562,542099695,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:18 UTC,NaN,NaN,...,llama,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1563,542099778,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:29:33 UTC,NaN,NaN,...,mathwell,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
1565,542100012,bryanchrist,2631956.0,03ceb3b2cf9fd269730d,24740,Classify Questions,142.214,2024-02-15 21:30:17 UTC,NaN,NaN,...,mathwell,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1

In [17]:
count

347

In [18]:
df['user_name'].value_counts()

user_name
bryanchrist                           1075
kidleader                              149
Raceaturtle                             62
not-logged-in-9221910d2994164ecb24      23
not-logged-in-7b135c4b8243f576a938      18
not-logged-in-40bf6ff2f5c3a5a210f3      16
not-logged-in-6e8a282f71fe480aa3c7      12
not-logged-in-b0dbd6cd8036b139ff83       9
not-logged-in-c26834970653bb9c01fa       8
not-logged-in-4a5b7a6cb6592d23e5d6       7
not-logged-in-bcbbea62d89ae2add377       7
not-logged-in-f708db208aaaee0b2800       6
not-logged-in-e69295bea827988b987b       6
not-logged-in-42cee4d7d51371504018       5
not-logged-in-759ff4d80ea3da18bd29       5
not-logged-in-3a6645d89642ef5b3fd6       5
not-logged-in-5d776777f1fa6f0180e2       5
not-logged-in-d94675333ed3b876d791       5
not-logged-in-37c1b299906ed0f65261       5
not-logged-in-367eeb251048a9a21575       5
not-logged-in-770544961f5f1e9de698       4
cate11                                   4
not-logged-in-3724cca67347b8fd0fa8       4
not-logged-in-e159fca4fe3fc2ce5bdd       4
not-logged-in-2e385d33dab1ac53d9d2       4
not-logged-in-f298b706e4bc181fd369       3
not-logged-in-e9ad76697bb850792fc4       3
not-logged-in-f822ed8a6b66379dfbdf       2
not-logged-in-fb933cfd6551e858f259       2
not-logged-in-4925e392a793b1ab3875       2
not-logged-in-f3b7719469cdf8eb89ac       1
not-logged-in-751c105d3149f65f8b7d       1
not-logged-in-516b4e18dd8ec96c8428       1
not-logged-in-d696a21e062cb01eab63       1
not-logged-in-94aefb6b17f0539a0409       1
not-logged-in-19c8eb4210a0cd68fbe6       1
not-logged-in-048c675a7163ca72c17f       1
not-logged-in-114f1bd926cdc9d96a71       1
not-logged-in-0e04718763b8b969b64c       1
not-logged-in-166da23312f40178fd87       1
not-logged-in-1fcfa68008cf4e6fab8e       1
not-logged-in-43a3edeb0105f69f9891       1
not-logged-in-5efe74ad6ea29b385892       1
not-logged-in-48325c1f42b3c7b746fb       1
not-logged-in-868d225109d48124f420       1
not-logged-in-0be2e08452d40c872a3f       1
not-logged-in-df1c373e2c014a2147a8       1
not-logged-in-bec7867244b6cb34de30       1
not-logged-in-7f34ec06bd8633ee5338       1
not-logged-in-23ee268ea67584d52e6e       1
not-logged-in-b35531b0fa4bb753793c       1
Name: count, dtype: int64

In [19]:
# 1. Group by question and calculate the average score
df['average_solvability'] = df.groupby('question_number')['solvability'].transform('mean')
df['average_accuracy'] = df.groupby('question_number')['accuracy'].transform('mean')
df['average_appropriateness']=df.groupby('question_number')['appropriateness'].transform('mean')
df['average_good']=df.groupby('question_number')['good'].transform('mean')

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/4201514617.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_solvability'] = df.groupby('question_number')['solvability'].transform('mean')
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/4201514617.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_accuracy'] = df.groupby('question_number')['accuracy'].transform('mean')
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/4201514617.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_appropriateness']=df.groupby('question_number')['appropriateness'].transform('mean')
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/4201514617.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_good']=df.groupby('question_number')['good'].transform('mean')

In [20]:
# Calculate overall agreement
questions = []
disagree_list = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_solvability']>0 and df.iloc[i]['average_solvability']<1:
        if question not in questions:
            questions.append(question)
        disagree_list.append({'model': df.iloc[i]['model'], 'question': question, 'reviewer': df.iloc[i]['user_name'], 'rating': df.iloc[i]['solvability'], 
                              'average_score': df.iloc[i]['average_solvability'], 'criteria': 'solvability'})
    if df.iloc[i]['average_accuracy']>0 and df.iloc[i]['average_accuracy']<1:
        if question not in questions:
            questions.append(question)
        disagree_list.append({'model': df.iloc[i]['model'], 'question': question, 'reviewer': df.iloc[i]['user_name'], 'rating': df.iloc[i]['accuracy'], 
                              'average_score': df.iloc[i]['average_accuracy'], 'criteria': 'accuracy'})
    if df.iloc[i]['average_appropriateness']>0 and df.iloc[i]['average_appropriateness']<1:
        if question not in questions:
            questions.append(question)
        disagree_list.append({'model': df.iloc[i]['model'], 'question': question, 'reviewer': df.iloc[i]['user_name'], 'rating': df.iloc[i]['appropriateness'], 
                              'average_score': df.iloc[i]['average_appropriateness'], 'criteria': 'appropriateness'})
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.6714697406340058 0.049418805667647475

In [21]:
disagree_list = pd.DataFrame.from_dict(disagree_list)
disagree_list = disagree_list.drop_duplicates(subset = ['question', 'criteria'])
disagree_list

,model,question,reviewer,rating,average_score,criteria
0,llema,llema_q801,not-logged-in-114f1bd926cdc9d96a71,1.0,0.500000,solvability
1,llema,llema_q526,bryanchrist,0.0,0.333333,solvability
2,mammoth,mammoth_q129,bryanchrist,0.0,0.500000,appropriateness
3,llama,llama_q706,bryanchrist,1.0,0.500000,accuracy
4,mammoth,mammoth_q261,bryanchrist,0.0,0.500000,appropriateness
...,...,...,...,...,...,...
134,llema,llema_q25,bryanchrist,1.0,0.500000,solvability
135,mammoth,mammoth_q17,bryanchrist,0.0,0.666667,accuracy
136,mammoth,mammoth_q17,bryanchrist,0.0,0.666667,appropriateness
137,mammoth,mammoth_q173,bryanchrist,0.0,0.500000,appropriateness
138,llema,llema_q848,bryanchrist,0.0,0.500000,appropriateness

In [22]:
disagree_list['criteria'].value_counts()

criteria
appropriateness    66
solvability        41
accuracy           18
Name: count, dtype: int64

In [23]:
disagree_list['model'].value_counts()

model
llema       48
mammoth     37
llama       23
mathwell    17
Name: count, dtype: int64

In [24]:
def over_score(df):
    if df['reviewer'] == 'bryanchrist':
        score =  df['rating'] - df['average_score']
        if score < 0: 
            return 0
        if score > 0:
            return 1
    else: 
        score =  df['rating'] - df['average_score']
        if score > 0: 
            return 0
        if score < 0:
            return 1
disagree_list['over_score'] = disagree_list.apply(over_score, axis =1)
disagree_list

,model,question,reviewer,rating,average_score,criteria,over_score
0,llema,llema_q801,not-logged-in-114f1bd926cdc9d96a71,1.0,0.500000,solvability,0
1,llema,llema_q526,bryanchrist,0.0,0.333333,solvability,0
2,mammoth,mammoth_q129,bryanchrist,0.0,0.500000,appropriateness,0
3,llama,llama_q706,bryanchrist,1.0,0.500000,accuracy,1
4,mammoth,mammoth_q261,bryanchrist,0.0,0.500000,appropriateness,0
...,...,...,...,...,...,...,...
134,llema,llema_q25,bryanchrist,1.0,0.500000,solvability,1
135,mammoth,mammoth_q17,bryanchrist,0.0,0.666667,accuracy,0
136,mammoth,mammoth_q17,bryanchrist,0.0,0.666667,appropriateness,0
137,mammoth,mammoth_q173,bryanchrist,0.0,0.500000,appropriateness,0
138,llema,llema_q848,bryanchrist,0.0,0.500000,appropriateness,0

In [25]:
print(1 - disagree_list['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='mathwell']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='llama']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='llema']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='mammoth']['over_score'].mean())

0.8160000000000001
0.7058823529411764
0.6956521739130435
0.8541666666666666
0.8918918918918919

In [26]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on percentage good
t_statistic, p_value = stats.ttest_ind(disagree_list[disagree_list['model']=='mathwell']['over_score'], disagree_list[disagree_list['model']=='mammoth']['over_score'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.7184170009771527
P-value: 0.09166997501209395

In [27]:
#Solvability agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_solvability']>0 and df.iloc[i]['average_solvability']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.8818443804034583 0.03396366126158241

In [28]:
# appropriateness agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_appropriateness']>0 and df.iloc[i]['average_appropriateness']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.8097982708933718 0.04129400318053305

In [29]:
# accuracy agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_accuracy']>0 and df.iloc[i]['average_accuracy']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.9481268011527377 0.023334368965570704

In [30]:
#mac agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_good']>0 and df.iloc[i]['average_good']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.792507204610951 0.04266723052720655

## Retain Necessary Columns and Evaluations

In [31]:
# def accuracy(df):
#     if df['average_accuracy']>.5:
#         return 1
#     if df['average_accuracy']==np.nan:
#         return np.nan
#     if df['average_accuracy']<=0.5:
#         return 0
# def solvability(df):
#     if df['average_solvability']>.5:
#         return 1
#     else:
#         return 0
# def appropriateness(df):
#     if df['average_appropriateness']>.5:
#         return 1
#     else:
#         return 0
# def good(df):
#     if df['average_good']>.5:
#         return 1
#     else:
#         return 0
# df['solvability']=df.apply(solvability, axis=1)
# df['appropriateness']=df.apply(appropriateness, axis=1)
# df['accuracy']=df.apply(accuracy, axis=1)
# df['good'] = df.apply(good, axis=1)
df = df[df['user_name']=='bryanchrist']
df = df[['model','question_number', 'solvability', 'accuracy', 'appropriateness', 'topic', 'operations','notes']]

## Calculate Operations Variables and Overall Indicator Variable for Question Being Good in All Metrics

In [32]:
def addition(df):
    if 'Addition' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def subtraction(df):
    if 'Subtraction' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def multiplication(df):
    if 'Multiplication' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def division(df):
    if 'Division' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def fractions(df):
    if 'Fractions' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def decimals(df):
    if 'Decimals' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def none(df):
    if 'Not Applicable: This question does not require a mathematical operation.' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def total_ops(df):
    if df['no_ops']==1:
        return np.nan
    else:
        return df['addition'] + df['subtraction'] + df['multiplication'] + df['decimals'] + df['division'] + df['fractions']
df['addition'] = df.apply(addition, axis=1)
df['subtraction'] = df.apply(subtraction, axis=1)
df['multiplication'] = df.apply(multiplication, axis=1)
df['division'] = df.apply(division, axis=1)
df['fractions'] = df.apply(fractions, axis=1)
df['decimals'] = df.apply(decimals, axis=1)
df['no_ops'] = df.apply(none, axis=1)
df['total_ops'] = df.apply(total_ops, axis=1)
def good(df):
    if df['solvability']==1:
        if df['accuracy']==1:
            if df['no_ops']==0:
                if df['appropriateness']==1:
                   # if df['topic']==1:
                    return 1
    if df['accuracy']==np.nan:
        return 0
    if df['no_ops']==np.nan:
        return 0
    if df['appropriateness']==np.nan:
        return 0
    else:
        return 0
df['good'] = df.apply(good, axis = 1)
def good_recode(df):
    if df['good']==np.nan:
        return 0
    else:
        return df['good']
df['good'] = df.apply(good_recode, axis=1)
df

,model,question_number,solvability,accuracy,appropriateness,topic,operations,notes,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
0,llama,llama_q1053,1,1.0,1.0,1,"[Subtraction, Addition]",,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
9,mammoth,mammoth_q127,1,1.0,1.0,1,[Multiplication],,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
10,llama,llama_q1061,1,0.0,1.0,1,"[Division, Decimals]",,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0
11,llema,llema_q526,0,NaN,NaN,1,NA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,mathwell,mathwell_q528,1,1.0,1.0,1,[Addition],,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,llama,llama_q714,1,1.0,1.0,1,"[Addition, Subtraction, Multiplication, Decimals]",,1.0,1.0,1.0,0.0,0.0,1.0,0.0,4.0,1
1561,mathwell,mathwell_q825,1,1.0,1.0,1,"[Multiplication, Subtraction]",,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1
1562,llama,llama_q643,1,1.0,1.0,1,[Subtraction],,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1563,mathwell,mathwell_q1299,1,1.0,1.0,1,[Multiplication],,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
1565,mathwell,mathwell_q949,1,1.0,1.0,1,[Subtraction],,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1

In [33]:
df = df.drop(['operations'], axis=1)
df = df.drop_duplicates()
full_data = pd.read_csv("data/zooniverse_model_questions.csv")
finetune = pd.read_csv('data/finetuning_data.csv')
full_data = full_data[~full_data['question'].isin(finetune['question'])]
df = pd.merge(df, full_data,
              on = 'question_number',
              how='inner',
              validate='one_to_one', 
              indicator = 'matched')
df['matched'].value_counts()

matched
both          1000
left_only        0
right_only       0
Name: count, dtype: int64

In [34]:
# df = pd.read_csv('data/filtered_models.csv')
df = df.rename({'topic_x': 'topic'}, axis =1)
df = df.drop('matched', axis = 1)
df = df[df['model']!= 'mathwell']
mathwell = pd.read_csv('data/mathwell_final_annotations.csv')
df = pd.concat([df, mathwell])
merged = df
df

,model,question_number,solvability,accuracy,appropriateness,topic,notes,addition,subtraction,multiplication,...,decimals,no_ops,total_ops,good,Unnamed: 0,question,solution,answer,topic_y,Unnamed: 0.1
0,llama,llama_q1053,1,1.0,1.0,1,,1.0,1.0,0.0,...,0.0,0.0,2.0,1,1062,Steph Curry has 3000 points. 1000 of them are ...,def solution():\n #Steph Curry has 3000 poi...,0,Steph Curry,NaN
1,mammoth,mammoth_q127,1,1.0,1.0,1,,0.0,0.0,1.0,...,0.0,0.0,1.0,1,127,The soccer team has 15 players. Each player ha...,def solution():\n #Number of players\n p...,30,soccer,NaN
2,llama,llama_q1061,1,0.0,1.0,1,,0.0,0.0,0.0,...,1.0,0.0,2.0,0,1070,A commercial airplane takes 12 hours to fly fr...,def solution():\n #A commercial airplane ta...,0.6,planes,NaN
3,llema,llema_q526,0,NaN,NaN,1,,NaN,NaN,NaN,...,NaN,NaN,NaN,0,526,"In the original comic book series, the four Tu...",def solution():\n #Raphael is 6 inches tall...,30,Ninja Turtles,NaN
5,llema,llema_q669,1,1.0,1.0,1,,0.0,1.0,0.0,...,0.0,0.0,1.0,1,671,Spiderman has a web-shooter that shoots spider...,def solution():\n #Spiderman needs to load ...,180,Spiderman,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,mathwell,mathwell_q741,0,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,765,The soccer team has 20 players. \n\n8 of the p...,def solution():\n #The soccer team has 20 p...,7.0,soccer,870.0
246,mathwell,mathwell_q339,0,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,344,"LeBron James is 6'9"" tall. \nHe's 36 years old...","def solution():\n #LeBron James is 6'9"" tal...",1.38,LeBron James,910.0
247,mathwell,mathwell_q1244,0,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,1295,LeBron James is 6 feet 9 inches tall. He wear...,def solution():\n #LeBron is 6 feet 9 inche...,84.8,LeBron James,929.0
248,mathwell,mathwell_q529,0,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,541,A pizza is cut into 12 slices. 3 of the slices...,def solution():\n #A pizza is cut into 12 s...,8.0,pizza,949.0
249,mathwell,mathwell_q394,0,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,400,A Fortnite player has 5000 V-Bucks. They buy 2...,def solution():\n #A Fortnite player has 50...,-1500.0,Fortnite,967.0

## Calculate Average Statistics for Each Model

In [35]:
llama = df[df['model']=='llama']
llema = df[df['model']=='llema']
mathwell = df[df['model']=='mathwell']
#mathwell.to_csv('data/mathwell_final_annotations.csv')
mammoth = df[df['model']=='mammoth']

In [36]:
solvability = llama['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(llama['solvability'])-1, loc=np.mean(llama['solvability']), scale=st.sem(llama['solvability']))
solvability_se = st.sem(llama['solvability'])
solvability_sd = np.std(llama['solvability'])
accuracy = llama['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(llama['accuracy'].dropna())-1, loc=np.mean(llama['accuracy'].dropna()), scale=st.sem(llama['accuracy'].dropna()))
accuracy_sd = np.std(llama['accuracy'])
accuracy_se = st.sem(llama['accuracy'].dropna())
appropriateness = llama['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(llama['appropriateness'].dropna())-1, loc=np.mean(llama['appropriateness'].dropna()), scale=st.sem(llama['appropriateness'].dropna()))
appropriateness_sd = np.std(llama['appropriateness'])
appropriateness_se = st.sem(llama['appropriateness'].dropna())
topic = llama['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(llama['topic'])-1, loc=np.mean(llama['topic']), scale=st.sem(llama['topic']))
topic_sd = np.std(llama['topic'])
topic_se = st.sem(llama['topic'])
good = llama['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(llama['good'])-1, loc=np.mean(llama['good']), scale=st.sem(llama['good']))
good_sd = np.std(llama['good'])
good_se = st.sem(llama['good'])
execute = good * .55425904317386234
execute_se = good_se * .55425904317386234
print(f'''Llama metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Llama metrics:
Solvability: 0.84 Standard Deviation: 0.36660605559646725 Standard Error: 2.323271478206063
Accuracy: 0.8952380952380953 Standard Deviation: 0.3062463845869243 Standard Error: 2.1183505372546803
Appropriateness: 0.8095238095238095 Standard Deviation: 0.392676726249301 Standard Error: 2.7162017117022064
Percentage about Requested Topic: 0.992 Standard Deviation: 0.08908422980528034 Standard Error: 0.5645483676690164
Percentage Good in All Metrics: 0.624 Standard Deviation: 0.4843800161030593 Standard Error: 3.0696336267394577
Percentage good with executable code: 0.3458576429404901 Standard Error: 1.7013721968509248

In [37]:
solvability = llema['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(llema['solvability'])-1, loc=np.mean(llema['solvability']), scale=st.sem(llema['solvability']))
solvability_sd = np.std(llema['solvability'])
solvability_se = st.sem(llema['solvability'])
accuracy = llema['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(llema['accuracy'].dropna())-1, loc=np.mean(llema['accuracy'].dropna()), scale=st.sem(llema['accuracy'].dropna()))
accuracy_sd = np.std(llema['accuracy'])
accuracy_se = st.sem(llema['accuracy'].dropna())
appropriateness = llema['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(llema['appropriateness'].dropna())-1, loc=np.mean(llema['appropriateness'].dropna()), scale=st.sem(llema['appropriateness'].dropna()))
appropriateness_sd = np.std(llema['appropriateness'])
appropriateness_se = st.sem(llema['appropriateness'].dropna())
topic = llema['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(llema['topic'])-1, loc=np.mean(llema['topic']), scale=st.sem(llema['topic']))
topic_sd = np.std(llema['topic'])
topic_se = st.sem(llema['topic'])
good = llema['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(llema['good'])-1, loc=np.mean(llema['good']), scale=st.sem(llema['good']))
good_sd = np.std(llema['good'])
good_se = st.sem(llema['good'])
execute = good * .2432288900690388
execute_se = good_se * .2432288900690388
print(f'''Llema metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Llema metrics:
Solvability: 0.488 Standard Deviation: 0.4998559792580259 Standard Error: 3.167708558254714
Accuracy: 0.639344262295082 Standard Deviation: 0.48019077101235447 Standard Error: 4.365370645566858
Appropriateness: 0.4180327868852459 Standard Deviation: 0.4932356191255864 Standard Error: 4.483960173868966
Percentage about Requested Topic: 0.948 Standard Deviation: 0.2220270253820467 Standard Error: 1.4070391025641678
Percentage Good in All Metrics: 0.152 Standard Deviation: 0.35902089075707005 Standard Error: 2.2752024491765463
Percentage good with executable code: 0.036970791290493896 Standard Error: 0.5533949663955701

In [38]:
solvability = mammoth['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(mammoth['solvability'])-1, loc=np.mean(mammoth['solvability']), scale=st.sem(mammoth['solvability']))
solvability_sd = np.std(mammoth['solvability'])
solvability_se = st.sem(mammoth['solvability'])
accuracy = mammoth['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(mammoth['accuracy'].dropna())-1, loc=np.mean(mammoth['accuracy'].dropna()), scale=st.sem(mammoth['accuracy'].dropna()))
accuracy_sd = np.std(mammoth['accuracy'])
accuracy_se = st.sem(mammoth['accuracy'].dropna())
appropriateness = mammoth['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(mammoth['appropriateness'].dropna())-1, loc=np.mean(mammoth['appropriateness'].dropna()), scale=st.sem(mammoth['appropriateness'].dropna()))
appropriateness_sd = np.std(mammoth['appropriateness'])
appropriateness_se = st.sem(mammoth['appropriateness'].dropna())
topic = mammoth['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(mammoth['topic'])-1, loc=np.mean(mammoth['topic']), scale=st.sem(mammoth['topic']))
topic_sd = np.std(mammoth['topic'])
topic_se = st.sem(mammoth['topic'])
good = mammoth['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(mammoth['good'])-1, loc=np.mean(mammoth['good']), scale=st.sem(mammoth['good']))
good_sd = np.std(mammoth['good'])
good_se = st.sem(mammoth['good'])
execute = good * .06885572139303482
execute_se = good_se * .06885572139303482
print(f'''Mammoth metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Mammoth metrics:
Solvability: 0.868 Standard Deviation: 0.33849076796864047 Standard Error: 2.1450980824038166
Accuracy: 0.9493087557603687 Standard Deviation: 0.21936645595229318 Standard Error: 1.4925996771273333
Appropriateness: 0.6774193548387096 Standard Deviation: 0.46746376600611095 Standard Error: 3.180688055429901
Percentage about Requested Topic: 0.976 Standard Deviation: 0.15304901175767194 Standard Error: 0.9699087026964266
Percentage Good in All Metrics: 0.568 Standard Deviation: 0.49535441857320706 Standard Error: 3.139181076542942
Percentage good with executable code: 0.039110049751243776 Standard Error: 0.21615057760872794

In [39]:
solvability = mathwell['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(mathwell['solvability'])-1, loc=np.mean(mathwell['solvability']), scale=st.sem(mathwell['solvability']))
solvability_sd = np.std(mathwell['solvability'])
solvability_se = st.sem(mathwell['solvability'])
accuracy = mathwell['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(mathwell['accuracy'].dropna())-1, loc=np.mean(mathwell['accuracy'].dropna()), scale=st.sem(mathwell['accuracy'].dropna()))
accuracy_sd = np.std(mathwell['accuracy'])
accuracy_se = st.sem(mathwell['accuracy'].dropna())
appropriateness = mathwell['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(mathwell['appropriateness'].dropna())-1, loc=np.mean(mathwell['appropriateness'].dropna()), scale=st.sem(mathwell['appropriateness'].dropna()))
appropriateness_sd = np.std(mathwell['appropriateness'])
appropriateness_se = st.sem(mathwell['appropriateness'].dropna())
topic = mathwell['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(mathwell['topic'])-1, loc=np.mean(mathwell['topic']), scale=st.sem(mathwell['topic']))
topic_sd = np.std(mathwell['topic'])
topic_se = st.sem(mathwell['topic'])
good = mathwell['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(mathwell['good'])-1, loc=np.mean(mathwell['good']), scale=st.sem(mathwell['good']))
good_sd = np.std(mathwell['good'])
good_se = st.sem(mathwell['good'])
execute = good * .6635177687809268
execute_se = good_se * .6635177687809268
print(f'''Mathwell metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Mathwell metrics:
Solvability: 0.892 Standard Deviation: 0.3103804117530615 Standard Error: 1.9669559381568775
Accuracy: 0.968609865470852 Standard Deviation: 0.17436970488989761 Standard Error: 1.1702928328273723
Appropriateness: 0.8654708520179372 Standard Deviation: 0.34121995299994257 Standard Error: 2.2901183761575625
Percentage about Requested Topic: 0.992 Standard Deviation: 0.08908422980528033 Standard Error: 0.5645483676690162
Percentage Good in All Metrics: 0.748 Standard Deviation: 0.43416126036301306 Standard Error: 2.7513851933031317
Percentage good with executable code: 0.49631129104813326 Standard Error: 1.8255929645173732

## Examine Operations By Model

### Overall

In [40]:
addition = llama['addition'].mean()
subtraction = llama['subtraction'].mean()
multiplication = llama['multiplication'].mean()
division = llama['division'].mean()
fractions = llama['fractions'].mean()
decimals = llama['decimals'].mean()
total_ops = llama['total_ops'].mean()
no_ops = llama['no_ops'].mean()
print(f"Llama overall question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Llama overall question statistics:
Addition: 0.5761904761904761
Subtraction: 0.5857142857142857
Multiplication: 0.22857142857142856
Division: 0.14285714285714285
Fractions: 0.08095238095238096
Decimals: 0.11428571428571428
Total Operations: 1.815
No operations: 0.047619047619047616

In [41]:
addition = llema['addition'].mean()
subtraction = llema['subtraction'].mean()
multiplication = llema['multiplication'].mean()
division = llema['division'].mean()
fractions = llema['fractions'].mean()
decimals = llema['decimals'].mean()
total_ops = llema['total_ops'].mean()
no_ops = llema['no_ops'].mean()
print(f"Llema question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Llema question statistics:
Addition: 0.3442622950819672
Subtraction: 0.27049180327868855
Multiplication: 0.3360655737704918
Division: 0.20491803278688525
Fractions: 0.06557377049180328
Decimals: 0.1557377049180328
Total Operations: 1.6310679611650485
No operations: 0.1557377049180328

In [42]:
addition = mammoth['addition'].mean()
subtraction = mammoth['subtraction'].mean()
multiplication = mammoth['multiplication'].mean()
division = mammoth['division'].mean()
fractions = mammoth['fractions'].mean()
decimals = mammoth['decimals'].mean()
total_ops = mammoth['total_ops'].mean()
no_ops = mammoth['no_ops'].mean()
print(f"Mammoth question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Mammoth question statistics:
Addition: 0.39631336405529954
Subtraction: 0.3778801843317972
Multiplication: 0.4377880184331797
Division: 0.1935483870967742
Fractions: 0.03686635944700461
Decimals: 0.10599078341013825
Total Operations: 1.5849056603773586
No operations: 0.02304147465437788

In [43]:
addition = mathwell['addition'].mean()
subtraction = mathwell['subtraction'].mean()
multiplication = mathwell['multiplication'].mean()
division = mathwell['division'].mean()
fractions = mathwell['fractions'].mean()
decimals = mathwell['decimals'].mean()
total_ops = mathwell['total_ops'].mean()
no_ops = mathwell['no_ops'].mean()
print(f"Mathwell question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Mathwell question statistics:
Addition: 0.695067264573991
Subtraction: 0.6905829596412556
Multiplication: 0.24663677130044842
Division: 0.1031390134529148
Fractions: 0.053811659192825115
Decimals: 0.07623318385650224
Total Operations: 1.8909090909090909
No operations: 0.013452914798206279

### Good Questions

In [44]:
good_llama = llama.query('good==1')
addition = good_llama['addition'].mean()
subtraction = good_llama['subtraction'].mean()
multiplication = good_llama['multiplication'].mean()
division = good_llama['division'].mean()
fractions = good_llama['fractions'].mean()
decimals = good_llama['decimals'].mean()
total_ops = good_llama['total_ops'].mean()
print(f"Llama good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Llama good question statistics:
Addition: 0.5961538461538461
Subtraction: 0.6025641025641025
Multiplication: 0.24358974358974358
Division: 0.1282051282051282
Fractions: 0.057692307692307696
Decimals: 0.08974358974358974
Total Operations: 1.7179487179487178

In [45]:
good_llema = llema.query('good==1')
addition = good_llema['addition'].mean()
subtraction = good_llema['subtraction'].mean()
multiplication = good_llema['multiplication'].mean()
division = good_llema['division'].mean()
fractions = good_llema['fractions'].mean()
decimals = good_llema['decimals'].mean()
total_ops = good_llema['total_ops'].mean()
print(f"Llema good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Llema good question statistics:
Addition: 0.3684210526315789
Subtraction: 0.39473684210526316
Multiplication: 0.3157894736842105
Division: 0.15789473684210525
Fractions: 0.02631578947368421
Decimals: 0.13157894736842105
Total Operations: 1.394736842105263

In [46]:
good_mammoth = mammoth.query('good==1')
addition = good_mammoth['addition'].mean()
subtraction = good_mammoth['subtraction'].mean()
multiplication = good_mammoth['multiplication'].mean()
division = good_mammoth['division'].mean()
fractions = good_mammoth['fractions'].mean()
decimals = good_mammoth['decimals'].mean()
total_ops = good_mammoth['total_ops'].mean()
print(f"Mammoth good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Mammoth good question statistics:
Addition: 0.4295774647887324
Subtraction: 0.4225352112676056
Multiplication: 0.4084507042253521
Division: 0.16901408450704225
Fractions: 0.04929577464788732
Decimals: 0.09859154929577464
Total Operations: 1.5774647887323943

In [47]:
good_mathwell = mathwell.query('good==1')
addition = good_mathwell['addition'].mean()
subtraction = good_mathwell['subtraction'].mean()
multiplication = good_mathwell['multiplication'].mean()
division = good_mathwell['division'].mean()
fractions = good_mathwell['fractions'].mean()
decimals = good_mathwell['decimals'].mean()
total_ops = good_mathwell['total_ops'].mean()
print(f"Mathwell good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Mathwell good question statistics:
Addition: 0.7112299465240641
Subtraction: 0.7058823529411765
Multiplication: 0.24598930481283424
Division: 0.0855614973262032
Fractions: 0.0481283422459893
Decimals: 0.0748663101604278
Total Operations: 1.8716577540106951

## Check for Statistical Significance

In [48]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on percentage good
t_statistic, p_value = stats.ttest_ind(mathwell['good'], llama['good'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 3.008081382179526
P-value: 0.0027620491234694095

In [49]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on solvability
t_statistic, p_value = stats.ttest_ind(mathwell['solvability'], mammoth['solvability'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.8246321644499606
P-value: 0.4099752507629809

In [50]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on accuracy
mathwell_clean = mathwell['accuracy'].dropna()
mammoth_clean = mammoth['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, mammoth_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.0207634545824231
P-value: 0.3079299894123785

In [51]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on appropriateness
mathwell_clean = mathwell['appropriateness'].dropna()
llama_clean = llama['appropriateness'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, llama_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.5813637792343462
P-value: 0.1145284167264593

In [52]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on number of operations
mathwell_clean = mathwell['total_ops'].dropna()
llama_clean = llama['total_ops'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, llama_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.9976153121103332
P-value: 0.31904308346725163

In [53]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on number of no ops
mathwell_clean = mathwell['no_ops'].dropna()
mammoth_clean = mammoth['no_ops'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, mammoth_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.7513903197323029
P-value: 0.45282131522853575

In [54]:
# Perform an independent two-sample t-test on percentage good
llama_execute =llama['good'] * .55425904317386234
mathwell_execute = mathwell['good'] * .6635177687809268
t_statistic, p_value = stats.ttest_ind(mathwell_execute, llama_execute)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 6.029028726239575
P-value: 3.215402036842197e-09

## Build Logit Models to Control for Question Type

In [55]:
reg_df = pd.concat([df, pd.get_dummies(df['model'], dtype = int)], axis=1)
reg_df = reg_df[reg_df['solvability']==1]
x = reg_df[['llema', 'mammoth', 'llama']]
x = sm.add_constant(x)
y = reg_df['good']
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.561992
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   good   No. Observations:                  772
Model:                          Logit   Df Residuals:                      768
Method:                           MLE   Df Model:                            3
Date:                Mon, 19 Feb 2024   Pseudo R-squ.:                  0.1062
Time:                        09:56:36   Log-Likelihood:                -433.86
converged:                       True   LL-Null:                       -485.41
Covariance Type:            nonrobust   LLR p-value:                 3.343e-22
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.6476      0.182      9.053      0.000       1.291       2.004
llema         -2.4408      0.267     -9.138      0.000      -2.964      -1.917
mammoth       -1.0093      0.231     -4.363      0.000      -1.463      -0.556
llama         -0.5867      0.241     -2.435      0.015      -1.059      -0.114
==============================================================================
"""

In [56]:
x = reg_df[['addition', 'subtraction',
       'multiplication', 'division', 'fractions', 'decimals', 
       'llema', 'mammoth', 'llama']]
y = reg_df['good']
x = sm.add_constant(x)
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.553279
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   good   No. Observations:                  772
Model:                          Logit   Df Residuals:                      762
Method:                           MLE   Df Model:                            9
Date:                Mon, 19 Feb 2024   Pseudo R-squ.:                  0.1201
Time:                        09:56:36   Log-Likelihood:                -427.13
converged:                       True   LL-Null:                       -485.41
Covariance Type:            nonrobust   LLR p-value:                 6.765e-21
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const              1.2374      0.286      4.327      0.000       0.677       1.798
addition           0.1865      0.195      0.956      0.339      -0.196       0.569
subtraction        0.4394      0.207      2.124      0.034       0.034       0.845
multiplication     0.2146      0.212      1.014      0.311      -0.200       0.630
division          -0.1546      0.260     -0.594      0.552      -0.665       0.355
fractions         -0.3468      0.361     -0.960      0.337      -1.055       0.361
decimals          -0.2111      0.281     -0.752      0.452      -0.761       0.339
llema             -2.2150      0.278     -7.954      0.000      -2.761      -1.669
mammoth           -0.8554      0.241     -3.548      0.000      -1.328      -0.383
llama             -0.4917      0.245     -2.006      0.045      -0.972      -0.011
==================================================================================
"""

In [57]:
reg_df = pd.concat([df, pd.get_dummies(df['model'], dtype = int)], axis=1)
reg_df = reg_df[reg_df['solvability']==1]
x = reg_df[['llema', 'llama', 'mammoth']]
x = sm.add_constant(x)
y = reg_df['accuracy']
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.291241
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               accuracy   No. Observations:                  772
Model:                          Logit   Df Residuals:                      768
Method:                           MLE   Df Model:                            3
Date:                Mon, 19 Feb 2024   Pseudo R-squ.:                  0.1534
Time:                        09:56:36   Log-Likelihood:                -224.84
converged:                       True   LL-Null:                       -265.58
Covariance Type:            nonrobust   LLR p-value:                 1.473e-17
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.4294      0.384      8.930      0.000       2.677       4.182
llema         -2.8568      0.428     -6.678      0.000      -3.695      -2.018
llama         -1.2840      0.445     -2.884      0.004      -2.157      -0.411
mammoth       -0.4994      0.493     -1.013      0.311      -1.466       0.467
==============================================================================
"""

In [58]:
x = reg_df[['addition', 'subtraction',
       'multiplication', 'division', 'fractions', 'decimals', 
       'llema', 'llama', 'mammoth']]
y = reg_df['accuracy']
x = sm.add_constant(x)
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.286494
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               accuracy   No. Observations:                  772
Model:                          Logit   Df Residuals:                      762
Method:                           MLE   Df Model:                            9
Date:                Mon, 19 Feb 2024   Pseudo R-squ.:                  0.1672
Time:                        09:56:36   Log-Likelihood:                -221.17
converged:                       True   LL-Null:                       -265.58
Covariance Type:            nonrobust   LLR p-value:                 2.815e-15
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const              3.0572      0.495      6.179      0.000       2.087       4.027
addition           0.1689      0.289      0.585      0.559      -0.397       0.735
subtraction        0.4284      0.307      1.394      0.163      -0.174       1.031
multiplication     0.2575      0.306      0.840      0.401      -0.343       0.858
division          -0.0842      0.362     -0.232      0.816      -0.794       0.626
fractions         -0.2851      0.483     -0.590      0.555      -1.232       0.661
decimals          -0.4890      0.377     -1.297      0.195      -1.228       0.250
llema             -2.6209      0.445     -5.896      0.000      -3.492      -1.750
llama             -1.1822      0.449     -2.631      0.009      -2.063      -0.302
mammoth           -0.3439      0.505     -0.681      0.496      -1.333       0.645
==================================================================================
"""

## Explore Accuracy by Question Type

In [59]:
addition_acc = mathwell[mathwell['addition']==1]['accuracy'].mean()
subtraction_acc = mathwell[mathwell['subtraction']==1]['accuracy'].mean()
multiplication_acc = mathwell[mathwell['multiplication']==1]['accuracy'].mean()
division_acc = mathwell[mathwell['division']==1]['accuracy'].mean()
decimals_acc = mathwell[mathwell['decimals']==1]['accuracy'].mean()
fractions_acc = mathwell[mathwell['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.9612903225806452, Subtraction: 0.974025974025974, Multiplication: 0.9454545454545454, Division: 0.9130434782608695, Decimals: 0.9411764705882353, Fractions: 1.0

In [60]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mathwell[mathwell['subtraction']==1]['accuracy'].dropna()
low = mathwell[mathwell['division']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.5086228956282743
P-value: 0.13319844379341608

In [61]:
addition_acc = llama[llama['addition']==1]['accuracy'].mean()
subtraction_acc = llama[llama['subtraction']==1]['accuracy'].mean()
multiplication_acc = llama[llama['multiplication']==1]['accuracy'].mean()
division_acc = llama[llama['division']==1]['accuracy'].mean()
decimals_acc = llama[llama['decimals']==1]['accuracy'].mean()
fractions_acc = llama[llama['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.8925619834710744, Subtraction: 0.9105691056910569, Multiplication: 0.875, Division: 0.8, Decimals: 0.75, Fractions: 0.8235294117647058

In [62]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = llama[llama['subtraction']==1]['accuracy'].dropna()
low = llama[llama['decimals']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 2.274144870913362
P-value: 0.02442499023857366

In [63]:
addition_acc = llema[llema['addition']==1]['accuracy'].mean()
subtraction_acc = llema[llema['subtraction']==1]['accuracy'].mean()
multiplication_acc = llema[llema['multiplication']==1]['accuracy'].mean()
division_acc = llema[llema['division']==1]['accuracy'].mean()
decimals_acc = llema[llema['decimals']==1]['accuracy'].mean()
fractions_acc = llema[llema['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.7619047619047619, Subtraction: 0.7272727272727273, Multiplication: 0.6341463414634146, Division: 0.56, Decimals: 0.631578947368421, Fractions: 0.5

In [64]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = llema[llema['subtraction']==1]['accuracy'].dropna()
low = llema[llema['division']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.324454445719182
P-value: 0.1907322087457833

In [65]:
addition_acc = mammoth[mammoth['addition']==1]['accuracy'].mean()
subtraction_acc = mammoth[mammoth['subtraction']==1]['accuracy'].mean()
multiplication_acc = mammoth[mammoth['multiplication']==1]['accuracy'].mean()
division_acc = mammoth[mammoth['division']==1]['accuracy'].mean()
decimals_acc = mammoth[mammoth['decimals']==1]['accuracy'].mean()
fractions_acc = mammoth[mammoth['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.9651162790697675, Subtraction: 0.9634146341463414, Multiplication: 0.968421052631579, Division: 0.9761904761904762, Decimals: 0.9130434782608695, Fractions: 0.875

In [66]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['division']==1]['accuracy'].dropna()
low = mammoth[mammoth['fractions']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.3357320331221683
P-value: 0.1879360655573076

In [67]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['addition']==1]['accuracy'].dropna()
low = mathwell[mathwell['addition']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.14945453514121473
P-value: 0.8813210204814809

In [68]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['subtraction']==1]['accuracy'].dropna()
low = mathwell[mathwell['subtraction']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.4557969159501152
P-value: 0.6489587131238368

In [69]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['multiplication']==1]['accuracy'].dropna()
low = mathwell[mathwell['multiplication']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.6881860213634111
P-value: 0.4924128827161959

In [70]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['division']==1]['accuracy'].dropna()
low = mathwell[mathwell['division']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.154248459318687
P-value: 0.25275810709158303

In [71]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['fractions']==1]['accuracy'].dropna()
low = mathwell[mathwell['fractions']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -1.2421180068162376
P-value: 0.23013377921316114

/Users/bryan/.pyenv/versions/3.11.5/lib/python3.11/site-packages/scipy/stats/_axis_nan_policy.py:531: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)

In [72]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['decimals']==1]['accuracy'].dropna()
low = mathwell[mathwell['decimals']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.3259423987758857
P-value: 0.7462561459262849

## Merge DF with Question Data and Send to CSV

questions = pd.read_csv('data/zooniverse_questions.csv')
questions

In [73]:
df['question_number'].value_counts()

question_number
llama_q1053      1
llama_q1395      1
mammoth_q279     1
llema_q76        1
llama_q322       1
                ..
mammoth_q170     1
mammoth_q323     1
llama_q439       1
llema_q326       1
mathwell_q394    1
Name: count, Length: 1000, dtype: int64

merged = pd.merge(df, questions,
              on = 'question_number',
              how='inner',
              validate='one_to_one', 
              indicator = 'matched')
merged['matched'].value_counts()

merged = pd.merge(df, questions,
              on = 'question_number',
              how='inner')
merged

In [74]:
merged['text'] = "Question: " + merged['question'] + "\nAnswer: " + merged['answer'].astype('string')
merged.to_csv('data/all_models.csv')
merged['acc_text'] = "Question: " + merged['question'] + "\nSolution:\n" + merged['solution']

finetune = pd.read_csv('data/finetuning_data.csv')
filtered_df = merged[~merged['question'].isin(finetune['question'])]
llama = filtered_df[filtered_df['model']=='llama']
llema = filtered_df[filtered_df['model']=='llema']
mathwell = filtered_df[filtered_df['model']=='mathwell']
mammoth = filtered_df[filtered_df['model']=='mammoth']
print(f"Mathwell: {mathwell['good'].mean()}, Llama: {llama['good'].mean()}, Llema: {llema['good'].mean()}, Mammoth: {mammoth['good'].mean()}")
print(f"Mathwell: {mathwell['solvability'].mean()}, Llama: {llama['solvability'].mean()}, Llema: {llema['solvability'].mean()}, Mammoth: {mammoth['solvability'].mean()}")
print(f"Mathwell: {mathwell['accuracy'].mean()}, Llama: {llama['accuracy'].mean()}, Llema: {llema['accuracy'].mean()}, Mammoth: {mammoth['accuracy'].mean()}")
print(f"Mathwell: {mathwell['appropriateness'].mean()}, Llama: {llama['appropriateness'].mean()}, Llema: {llema['appropriateness'].mean()}, Mammoth: {mammoth['appropriateness'].mean()}")
filtered_df.to_csv('data/filtered_models.csv')

In [75]:
llama = merged[merged['model']=='llama']
llema = merged[merged['model']=='llema']
mathwell = merged[merged['model']=='mathwell']
mammoth = merged[merged['model']=='mammoth']

In [76]:
solvability = llama[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/llama_solvability.csv')
solvability

     label                                               text
0        1  Steph Curry has 3000 points. 1000 of them are ...
2        1  A commercial airplane takes 12 hours to fly fr...
6        1  Taylor Swift has 100 cats. She has 30 more cat...
16       1  Fortnite is a battle royale game. 100 players ...
18       0  Patrick Mahomes threw 26 touchdown passes in t...
..     ...                                                ...
989      1  The soccer team scored 3 goals in the first ha...
992      1  Serena Williams won 23 Grand Slam titles. She ...
993      1  Batman has 200 batarangs. He throws 20 bataran...
995      1  Wonder Woman has 1000 Amazonian cookies. \nShe...
997      1  Naruto is 16 years old.  He is 4 years older t...

[250 rows x 2 columns]

In [77]:
solvability = llema[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/llema_solvability.csv')
solvability

     label                                               text
3        0  In the original comic book series, the four Tu...
5        1  Spiderman has a web-shooter that shoots spider...
9        0  Naruto has 3000 calories of ramen.  He uses 20...
13       1  Wonder Woman has 5 cats. She also has a dog.  ...
21       1  Mentos sell for $3.25 per bag. How much do 4 b...
..     ...                                                ...
940      1  Player1 builds 400 \nblocks of diamond blocks....
942      1  A football team has 50 cheerleaders. 4 cheerle...
945      1  In the 2013/2014 NBA season, Steph Curry made ...
946      1  A high school lacrosse team has scored the fol...
978      1  Captain America jumped 4 feet in length and 12...

[250 rows x 2 columns]

In [78]:
solvability = mammoth[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/mammoth_solvability.csv')
solvability

     label                                               text
1        1  The soccer team has 15 players. Each player ha...
7        1  Iron Man has 100 arc reactors. He deploys 20 a...
8        0  Iron Man has 5000 dollars. He spends 1000 doll...
10       1  Naruto can run at a top speed of 1200 km/h. He...
17       0               How many cobblestones are there now?
..     ...                                                ...
914      1  Thor, the God of Thunder, can throw his hammer...
917      1  If a person eats 2 bowls of ice cream every da...
920      1  The ice cream shop has 6 different flavors. Ea...
941      0  3 dogs ate 12 bones. How many bones did each d...
955      1  Harry Potter has 3000 vibranium-powered punche...

[250 rows x 2 columns]

In [79]:
solvability = mathwell[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/mathwell_solvability.csv')
solvability

     label                                               text
0        1  A 250-car train is 2.5 miles long. How many 25...
1        1  3 scoops of ice cream cost $4. \nHow much does...
2        1  Iron Man has 500 gold coins. He can use 10 gol...
3        1  A volleyball team is 6 players. \n3 of the pla...
4        1  Superman can fly at a speed of 1,000 miles per...
..     ...                                                ...
245      0  The soccer team has 20 players. \n\n8 of the p...
246      0  LeBron James is 6'9" tall. \nHe's 36 years old...
247      0  LeBron James is 6 feet 9 inches tall.  He wear...
248      0  A pizza is cut into 12 slices. 3 of the slices...
249      0  A Fortnite player has 5000 V-Bucks. They buy 2...

[250 rows x 2 columns]

In [80]:
solvability = merged[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/solvability_all_models.csv')
solvability

     label                                               text
0        1  Steph Curry has 3000 points. 1000 of them are ...
1        1  The soccer team has 15 players. Each player ha...
2        1  A commercial airplane takes 12 hours to fly fr...
3        0  In the original comic book series, the four Tu...
5        1  Spiderman has a web-shooter that shoots spider...
..     ...                                                ...
245      0  The soccer team has 20 players. \n\n8 of the p...
246      0  LeBron James is 6'9" tall. \nHe's 36 years old...
247      0  LeBron James is 6 feet 9 inches tall.  He wear...
248      0  A pizza is cut into 12 slices. 3 of the slices...
249      0  A Fortnite player has 5000 V-Bucks. They buy 2...

[1000 rows x 2 columns]

In [81]:
appropriateness = merged[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness = appropriateness[['label', 'text']]
appropriateness.to_csv('data/appropriateness_all_models.csv')
appropriateness

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
1      1.0  Question: The soccer team has 15 players. Each...
2      1.0  Question: A commercial airplane takes 12 hours...
5      1.0  Question: Spiderman has a web-shooter that sho...
6      0.0  Question: Taylor Swift has 100 cats. She has 3...
..     ...                                                ...
218    1.0  Question: A candy store has 120 lollipops. 30 ...
219    1.0  Question: Wonder Woman has 100 lassos. She las...
220    1.0  Question: Superman can punch 2000 times per mi...
221    1.0  Question: A 25-meter pool is 2.5 times as long...
231    1.0  Question: Serena Williams has 24 Grand Slam ti...

[772 rows x 2 columns]

In [82]:
appropriateness = llama[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/llama_appropriateness.csv')
appropriateness

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
2      1.0  Question: A commercial airplane takes 12 hours...
6      0.0  Question: Taylor Swift has 100 cats. She has 3...
16     1.0  Question: Fortnite is a battle royale game. 10...
30     1.0  Question: 30 people are going to a pizza party...
..     ...                                                ...
989    1.0  Question: The soccer team scored 3 goals in th...
992    0.0  Question: Serena Williams won 23 Grand Slam ti...
993    1.0  Question: Batman has 200 batarangs. He throws ...
995    1.0  Question: Wonder Woman has 1000 Amazonian cook...
997    1.0  Question: Naruto is 16 years old.  He is 4 yea...

[210 rows x 2 columns]

In [83]:
appropriateness = llema[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/llema_appropriateness.csv')
appropriateness

     label                                               text
5      1.0  Question: Spiderman has a web-shooter that sho...
13     1.0  Question: Wonder Woman has 5 cats. She also ha...
21     1.0  Question: Mentos sell for $3.25 per bag. How m...
41     0.0  Question: Black Panther has 50000 vibranium co...
43     0.0  Question: Mario has 22 coins. He finds 30 more...
..     ...                                                ...
940    0.0  Question: Player1 builds 400
blocks of diamon...
942    1.0  Question: A football team has 50 cheerleaders....
945    1.0  Question: In the 2013/2014 NBA season, Steph C...
946    0.0  Question: A high school lacrosse team has scor...
978    0.0  Question: Captain America jumped 4 feet in len...

[122 rows x 2 columns]

In [84]:
appropriateness = mammoth[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/mammoth_appropriateness.csv')
appropriateness

     label                                               text
1      1.0  Question: The soccer team has 15 players. Each...
7      1.0  Question: Iron Man has 100 arc reactors. He de...
10     0.0  Question: Naruto can run at a top speed of 120...
22     0.0  Question: Wonder Woman has 100 arrows and 1000...
23     1.0  Question: A trainer has 600 PokÃ©mon. He releas...
..     ...                                                ...
912    0.0  Question: Harry Potter has 200 galleons. He sp...
914    1.0  Question: Thor, the God of Thunder, can throw ...
917    1.0  Question: If a person eats 2 bowls of ice crea...
920    0.0  Question: The ice cream shop has 6 different f...
955    1.0  Question: Harry Potter has 3000 vibranium-powe...

[217 rows x 2 columns]

In [85]:
appropriateness = mathwell[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/mathwell_appropriateness.csv')
appropriateness

     label                                               text
0      1.0  Question: A 250-car train is 2.5 miles long. H...
1      1.0  Question: 3 scoops of ice cream cost $4.
How ...
2      0.0  Question: Iron Man has 500 gold coins. He can ...
3      1.0  Question: A volleyball team is 6 players.
3 o...
4      1.0  Question: Superman can fly at a speed of 1,000...
..     ...                                                ...
218    1.0  Question: A candy store has 120 lollipops. 30 ...
219    1.0  Question: Wonder Woman has 100 lassos. She las...
220    1.0  Question: Superman can punch 2000 times per mi...
221    1.0  Question: A 25-meter pool is 2.5 times as long...
231    1.0  Question: Serena Williams has 24 Grand Slam ti...

[223 rows x 2 columns]

In [86]:
accuracy = llama[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/llama_accuracy.csv')
accuracy

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
2      0.0  Question: A commercial airplane takes 12 hours...
6      1.0  Question: Taylor Swift has 100 cats. She has 3...
16     1.0  Question: Fortnite is a battle royale game. 10...
30     1.0  Question: 30 people are going to a pizza party...
..     ...                                                ...
989    1.0  Question: The soccer team scored 3 goals in th...
992    1.0  Question: Serena Williams won 23 Grand Slam ti...
993    1.0  Question: Batman has 200 batarangs. He throws ...
995    1.0  Question: Wonder Woman has 1000 Amazonian cook...
997    1.0  Question: Naruto is 16 years old.  He is 4 yea...

[210 rows x 2 columns]

In [87]:
accuracy = llema[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/llema_accuracy.csv')
accuracy

     label                                               text
5      1.0  Question: Spiderman has a web-shooter that sho...
13     1.0  Question: Wonder Woman has 5 cats. She also ha...
21     0.0  Question: Mentos sell for $3.25 per bag. How m...
41     1.0  Question: Black Panther has 50000 vibranium co...
43     1.0  Question: Mario has 22 coins. He finds 30 more...
..     ...                                                ...
940    0.0  Question: Player1 builds 400 \nblocks of diamo...
942    0.0  Question: A football team has 50 cheerleaders....
945    0.0  Question: In the 2013/2014 NBA season, Steph C...
946    1.0  Question: A high school lacrosse team has scor...
978    1.0  Question: Captain America jumped 4 feet in len...

[122 rows x 2 columns]

In [88]:
accuracy = mammoth[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/mammoth_accuracy.csv')
accuracy

     label                                               text
1      1.0  Question: The soccer team has 15 players. Each...
7      1.0  Question: Iron Man has 100 arc reactors. He de...
10     1.0  Question: Naruto can run at a top speed of 120...
22     1.0  Question: Wonder Woman has 100 arrows and 1000...
23     1.0  Question: A trainer has 600 PokÃ©mon. He releas...
..     ...                                                ...
912    1.0  Question: Harry Potter has 200 galleons. He sp...
914    1.0  Question: Thor, the God of Thunder, can throw ...
917    1.0  Question: If a person eats 2 bowls of ice crea...
920    1.0  Question: The ice cream shop has 6 different f...
955    1.0  Question: Harry Potter has 3000 vibranium-powe...

[217 rows x 2 columns]

In [89]:
accuracy = mathwell[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/mathwell_accuracy.csv')
accuracy

     label                                               text
0      0.0  Question: A 250-car train is 2.5 miles long. H...
1      1.0  Question: 3 scoops of ice cream cost $4. \nHow...
2      1.0  Question: Iron Man has 500 gold coins. He can ...
3      1.0  Question: A volleyball team is 6 players. \n3 ...
4      1.0  Question: Superman can fly at a speed of 1,000...
..     ...                                                ...
218    1.0  Question: A candy store has 120 lollipops. 30 ...
219    1.0  Question: Wonder Woman has 100 lassos. She las...
220    1.0  Question: Superman can punch 2000 times per mi...
221    1.0  Question: A 25-meter pool is 2.5 times as long...
231    1.0  Question: Serena Williams has 24 Grand Slam ti...

[223 rows x 2 columns]

In [90]:
good = merged[['good', 'text']]
good = good.rename({'good': 'label'}, axis = 1)
good.to_csv('data/good_all_models.csv')
good

     label                                               text
0        1  Question: Steph Curry has 3000 points. 1000 of...
1        1  Question: The soccer team has 15 players. Each...
2        0  Question: A commercial airplane takes 12 hours...
3        0  Question: In the original comic book series, t...
5        1  Question: Spiderman has a web-shooter that sho...
..     ...                                                ...
245      0  Question: The soccer team has 20 players.

8 ...
246      0  Question: LeBron James is 6'9" tall.
He's 36 ...
247      0  Question: LeBron James is 6 feet 9 inches tall...
248      0  Question: A pizza is cut into 12 slices. 3 of ...
249      0  Question: A Fortnite player has 5000 V-Bucks. ...

[1000 rows x 2 columns]

In [91]:
good = llama.query('good==1')
good = good['question']
good.to_csv('data/llama_good.csv')
good = llema.query('good==1')
good = good['question']
good.to_csv('data/llema_good.csv')
good = mammoth.query('good==1')
good = good['question']
good.to_csv('data/mammoth_good.csv')
good = mathwell.query('good==1')
good = good['question']
good.to_csv('data/mathwell_good.csv')

In [92]:
import random
def sample_question(model, criteria, value):
    print(model[model[criteria]==value].iloc[random.randint(0, len(model[model[criteria]==value])-1)]['question'])
    
def sample_question_solution(model, criteria, value):
    index = random.randint(0, len(model[model[criteria]==value])-1)
    print("Question: " + model[model[criteria]==value].iloc[index]['question'] + "\n\nSolution:\n" + model[model[criteria]==value].iloc[index]['solution'])
sample_question(mathwell, criteria = 'appropriateness', value =0)

Wonder Woman is 6,000 years old.
She is 500 years older than Superman.
How old is Superman?

In [93]:
sample_question_solution(mathwell, 'accuracy', 0)

Question: 3000 people come to the Ice Cream Festival. 1000 of them are lactose intolerant. 1000 of them are allergic to nuts. 500 of them are allergic to both. How many people can safely eat ice cream?

Solution:
def solution():
    #3000 people come to the Ice Cream Festival
    total_people = 3000
    #1000 of them are lactose intolerant
    lactose_intolerant = 1000
    #1000 of them are allergic to nuts
    allergic_to_nuts = 1000
    #500 of them are allergic to both
    allergic_to_both = 500
    #The answer is
    result = total_people - lactose_intolerant - allergic_to_nuts - allergic_to_both
    return result

## Create Annotated Dataset for All Questions

In [94]:
all_qs = merged[['model','question', 'solution', 'answer', 'accuracy', 'solvability', 'appropriateness', 'good']]
mathwell_annotated = pd.read_csv('data/mathwell_annotations.csv')
all_qs = pd.concat([all_qs, mathwell_annotated])
replace_map = {np.nan: 'finetuned_llama'}
all_qs['model'] = all_qs['model'].replace(replace_map)
all_qs = all_qs.drop(['Unnamed: 0'], axis=1)
mathwell_an = all_qs[all_qs['model']!='llama']
mathwell_an = mathwell_an[mathwell_an['model']!='llema']
mathwell_an = mathwell_an[mathwell_an['model']!='mammoth']
mathwell_an.to_csv('data/mathwell_annotations_final.csv')
all_qs

,model,question,solution,answer,accuracy,solvability,appropriateness,good
0,llama,Steph Curry has 3000 points. 1000 of them are ...,def solution():\n #Steph Curry has 3000 poi...,0,1.0,1,1.0,1
1,mammoth,The soccer team has 15 players. Each player ha...,def solution():\n #Number of players\n p...,30,1.0,1,1.0,1
2,llama,A commercial airplane takes 12 hours to fly fr...,def solution():\n #A commercial airplane ta...,0.6,0.0,1,1.0,0
3,llema,"In the original comic book series, the four Tu...",def solution():\n #Raphael is 6 inches tall...,30,NaN,0,NaN,0
5,llema,Spiderman has a web-shooter that shoots spider...,def solution():\n #Spiderman needs to load ...,180,1.0,1,1.0,1
...,...,...,...,...,...,...,...,...
3229,finetuned_llama,A field hockey game has 11 players per team. T...,def solution():\n #A field hockey game has ...,33,0.0,1,0.0,0
3230,finetuned_llama,100 turtles are at the pond. 10 turtles are ea...,def solution():\n #Total turtles\n total...,0,0.0,1,0.0,0
3231,finetuned_llama,Barbie has 1200 Instagram followers. 200 more ...,def solution():\n #Barbie started with 1200...,1150,0.0,0,0.0,0
3232,finetuned_llama,1234567890 is a 10-digit number. \nHow many 3-...,def solution():\n #10-digit number has 10 d...,3.3333333333333335,0.0,1,0.0,0
3233,finetuned_llama,7 cats and 23 dogs are in a cage. 14 of the an...,def solution():\n #Total cats and dogs\n ...,13,0.0,0,0.0,0

In [95]:
mathwell_an

,model,question,solution,answer,accuracy,solvability,appropriateness,good
0,mathwell,A 250-car train is 2.5 miles long. How many 25...,def solution():\n #1 train is 2.5 miles lon...,211200.0,0.0,1,1.0,0
1,mathwell,3 scoops of ice cream cost $4. \nHow much does...,def solution():\n #3 scoops of ice cream co...,13.333333,1.0,1,1.0,1
2,mathwell,Iron Man has 500 gold coins. He can use 10 gol...,def solution():\n #Iron Man has 500 gold co...,16.666667,1.0,1,0.0,0
3,mathwell,A volleyball team is 6 players. \n3 of the pla...,def solution():\n #3 of the players are 16 ...,16.666667,1.0,1,1.0,1
4,mathwell,"Superman can fly at a speed of 1,000 miles per...",def solution():\n #Superman can fly at a sp...,0.2,1.0,1,1.0,1
...,...,...,...,...,...,...,...,...
3229,finetuned_llama,A field hockey game has 11 players per team. T...,def solution():\n #A field hockey game has ...,33,0.0,1,0.0,0
3230,finetuned_llama,100 turtles are at the pond. 10 turtles are ea...,def solution():\n #Total turtles\n total...,0,0.0,1,0.0,0
3231,finetuned_llama,Barbie has 1200 Instagram followers. 200 more ...,def solution():\n #Barbie started with 1200...,1150,0.0,0,0.0,0
3232,finetuned_llama,1234567890 is a 10-digit number. \nHow many 3-...,def solution():\n #10-digit number has 10 d...,3.3333333333333335,0.0,1,0.0,0
3233,finetuned_llama,7 cats and 23 dogs are in a cage. 14 of the an...,def solution():\n #Total cats and dogs\n ...,13,0.0,0,0.0,0

In [96]:
print(f'''Overall num questions: {len(all_qs)}
Overall percentage appropriate: {all_qs['appropriateness'].mean()} Standard Deviation: {np.std(all_qs['appropriateness'])} Standard Error: {st.sem(all_qs['appropriateness'].dropna())*100}
Overall percentage solvable: {all_qs['solvability'].mean()} Standard Deviation: {np.std(all_qs['solvability'])} Standard Error: {st.sem(all_qs['solvability'])*100}
Overall percentage accurate: {all_qs['accuracy'].mean()} Standard Deviation: {np.std(all_qs['accuracy'])} Standard Error: {st.sem(all_qs['accuracy'].dropna())*100}
Overall percentage good in all metrics: {all_qs['good'].mean()} Standard Deviation: {np.std(all_qs['good'])} Standard Error: {st.sem(all_qs['good'])*100}
Number of good questions: {len(all_qs[all_qs['good']==1])}''')
all_qs = all_qs.rename(columns = {'good': 'mac'})
all_qs.to_csv('data/annotations.csv')

Overall num questions: 4234
Overall percentage appropriate: 0.6727408886669995 Standard Deviation: 0.4692127293483578 Standard Error: 0.7414272186503836
Overall percentage solvable: 0.8105810108644308 Standard Deviation: 0.391841084740266 Standard Error: 0.6022625183523503
Overall percentage accurate: 0.865352581898945 Standard Deviation: 0.341346584719658 Standard Error: 0.5688319755773686
Overall percentage good in all metrics: 0.5736891828058573 Standard Deviation: 0.49454009376126923 Standard Error: 0.7601116215067041
Number of good questions: 2429

## Format Good Data in Instruction Format for Further Finetuning for Question Generation

In [97]:
merged=merged.query("good==1 & model=='mathwell'")
sgsm_train = merged[['question', 'solution', 'answer', 'topic_y']]
sgsm_train = sgsm_train.rename(columns = {'topic_y': 'topic'})
train = pd.read_csv('data/finetuning_data.csv')
sgsm_train = pd.concat([sgsm_train, train])
replace_map = {np.nan: 'unspecified'}
sgsm_train['topic'] = sgsm_train['topic'].replace(replace_map)
sgsm_train = sgsm_train.drop(['Unnamed: 0'], axis=1)
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
sgsm_train['solution'] = sgsm_train.apply(parse_solution, axis=1)
sgsm_train.to_csv('data/sgsm_train.csv')
sgsm_train

,question,solution,answer,topic
1,3 scoops of ice cream cost $4. \nHow much does...,def solution():\n #3 scoops of ice cream co...,13.333333,ice cream
3,A volleyball team is 6 players. \n3 of the pla...,def solution():\n #3 of the players are 16 ...,16.666667,volleyball
4,"Superman can fly at a speed of 1,000 miles per...",def solution():\n #Superman can fly at a sp...,0.2,Superman
5,3 scoops of ice cream cost $4. How much does ...,def solution():\n #3 scoops of ice cream co...,133.333333,ice cream
6,Superman can fly 1000 miles per hour. He flies...,def solution():\n #Superman can fly 1000 mi...,1.5,Superman
...,...,...,...,...
1901,30 unicorns are in a herd. 10 unicorns in the ...,def solution():\n #Total number of unicorns...,17,unicorns
1902,A pizza has 8 slices. 4 of the slices have pep...,def solution():\n #A pizza has 8 slices\n ...,4,pizza
1903,12000 people were at a rally. 10000 of them we...,def solution():\n #Total number of people a...,500,unspecified
1904,A bakery made 300 muffins. 150 of the muffins ...,def solution():\n #Total muffins\n total...,60,unspecified
1905,A pizza is cut into 12 slices. 5 slices are to...,def solution():\n #A pizza is cut into 12 s...,6,pizza

In [98]:
merged_copy = merged
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
merged['solution'] = merged.apply(parse_solution, axis = 1)
merged['output'] = "Question: " + merged['question'] + "\n" + "Solution:\n" + merged['solution']
merged['instruction'] = "Write a grade school math word problem and Python function with a commented out step-by-step solution to solve the word problem."
merged['input']=''
merged = merged[['output', 'instruction', 'input']]
merged

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/2997887767.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['solution'] = merged.apply(parse_solution, axis = 1)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/2997887767.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['output'] = "Question: " + merged['question'] + "\n" + "Solution:\n" + merged['solution']
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/2997887767.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['instruction'] = "Write a grade school math word problem and Python function with a commented out step-by-step solution to solve the word problem."
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/2997887767.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['input']=''

,output,instruction,input
1,Question: 3 scoops of ice cream cost $4. \nHow...,Write a grade school math word problem and Pyt...,
3,Question: A volleyball team is 6 players. \n3 ...,Write a grade school math word problem and Pyt...,
4,"Question: Superman can fly at a speed of 1,000...",Write a grade school math word problem and Pyt...,
5,Question: 3 scoops of ice cream cost $4. How ...,Write a grade school math word problem and Pyt...,
6,Question: Superman can fly 1000 miles per hour...,Write a grade school math word problem and Pyt...,
...,...,...,...
218,Question: A candy store has 120 lollipops. 30 ...,Write a grade school math word problem and Pyt...,
219,Question: Wonder Woman has 100 lassos. She las...,Write a grade school math word problem and Pyt...,
220,Question: Superman can punch 2000 times per mi...,Write a grade school math word problem and Pyt...,
221,Question: A 25-meter pool is 2.5 times as long...,Write a grade school math word problem and Pyt...,
231,Question: Serena Williams has 24 Grand Slam ti...,Write a grade school math word problem and Pyt...,

In [99]:
# Save DataFrame to a JSON file
mathwell = pd.read_csv('data/mathwell.csv')
mathwell = pd.concat([mathwell, merged])
replace_map = {np.nan: ""}
mathwell['input'] = mathwell['input'].replace(replace_map)
mathwell.to_csv('data/mathwell_final.csv')
mathwell.to_json('data/mathwell_final.json', orient='records', lines=True)  # Saves each row as a separate JSON object in the file
import json

file_path = "data/mathwell_final.json"
data = []

with open(file_path, 'r') as json_file:
    for line in json_file:
        try:
            obj = json.loads(line)
            data.append(obj)
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line: {line}")
output_file = "data/mathwell_final.json"
with open(output_file, 'w') as json_file:
    json.dump(data, json_file)

mathwell

,Unnamed: 0,output,instruction,input
0,0.0,Question: LeBron James has 30000 points. He ha...,Write a grade school math word problem and Pyt...,
1,1.0,Question: A class has 120 students. 40 of them...,Write a grade school math word problem and Pyt...,
2,5.0,Question: Naruto has 5000 ryo. He spends 1000 ...,Write a grade school math word problem and Pyt...,
3,6.0,Question: Hello Kitty has 12 pencils. She boug...,Write a grade school math word problem and Pyt...,
4,7.0,Question: Wonder Woman's lasso of truth can ho...,Write a grade school math word problem and Pyt...,
...,...,...,...,...
218,NaN,Question: A candy store has 120 lollipops. 30 ...,Write a grade school math word problem and Pyt...,
219,NaN,Question: Wonder Woman has 100 lassos. She las...,Write a grade school math word problem and Pyt...,
220,NaN,Question: Superman can punch 2000 times per mi...,Write a grade school math word problem and Pyt...,
221,NaN,Question: A 25-meter pool is 2.5 times as long...,Write a grade school math word problem and Pyt...,
231,NaN,Question: Serena Williams has 24 Grand Slam ti...,Write a grade school math word problem and Pyt...,

## Format Good Data in Instruction Format for Further Finetuning for Question Answering for MAmmoTH

In [100]:
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
merged_copy['solution'] = merged_copy.apply(parse_solution, axis = 1)
merged_copy['output'] = merged_copy['solution']
merged_copy['instruction'] = merged_copy['question'] + " Let's write a program."
merged_copy['input']=''
merged_copy = merged_copy[['output', 'instruction', 'input']]
merged_copy.drop_duplicates(subset = 'instruction')

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/3035772303.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['solution'] = merged_copy.apply(parse_solution, axis = 1)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/3035772303.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['output'] = merged_copy['solution']
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/3035772303.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['instruction'] = merged_copy['question'] + " Let's write a program."
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_71108/3035772303.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['input']=''

,output,instruction,input
1,def solution():\n #3 scoops of ice cream co...,3 scoops of ice cream cost $4. \nHow much does...,
3,def solution():\n #3 of the players are 16 ...,A volleyball team is 6 players. \n3 of the pla...,
4,def solution():\n #Superman can fly at a sp...,"Superman can fly at a speed of 1,000 miles per...",
5,def solution():\n #3 scoops of ice cream co...,3 scoops of ice cream cost $4. How much does ...,
6,def solution():\n #Superman can fly 1000 mi...,Superman can fly 1000 miles per hour. He flies...,
...,...,...,...
218,def solution():\n #Total lollipops\n tot...,A candy store has 120 lollipops. 30 of the lol...,
219,def solution():\n #Wonder Woman started wit...,Wonder Woman has 100 lassos. She lassos 20 bad...,
220,def solution():\n #Superman can punch 2000 ...,Superman can punch 2000 times per minute. How...,
221,def solution():\n #A 25-meter pool is 2.5 t...,A 25-meter pool is 2.5 times as long as a 10-m...,
231,def solution():\n #Serena Williams has 24 G...,Serena Williams has 24 Grand Slam titles. 13 o...,

In [101]:
# Save DataFrame to a JSON file
mathwell = pd.read_csv('data/mathwell_qa.csv')
mathwell = pd.concat([mathwell, merged_copy])
mathwell['input']=""
mathwell = mathwell[['output', 'instruction', 'input']]
mathwell.to_csv('data/mathwell_final_qa.csv')
mathwell.to_json('data/mathwell_final_qa.json', orient='records', lines=True)  # Saves each row as a separate JSON object in the file
import json

file_path = "data/mathwell_final_qa.json"
data = []

with open(file_path, 'r') as json_file:
    for line in json_file:
        try:
            obj = json.loads(line)
            data.append(obj)
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line: {line}")
output_file = "data/mathwell_final_qa.json"
with open(output_file, 'w') as json_file:
    json.dump(data, json_file)