## Import Dependencies and Load in Data At Correct Index

In [1]:
import pandas as pd
import json
import numpy as np
import scipy.stats as st
import statsmodels.api as sm 
import math

In [2]:
df = pd.read_csv('data/model_comparison.csv')
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
0,501808106,bryanchrist,2631956.0,2a5887ac4e651ba9a179,24740,Classify Questions,37.630,2023-07-18 16:13:14 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
1,501808147,bryanchrist,2631956.0,2a5887ac4e651ba9a179,24740,Classify Questions,37.630,2023-07-18 16:13:27 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
2,501808176,bryanchrist,2631956.0,2a5887ac4e651ba9a179,24740,Classify Questions,37.630,2023-07-18 16:13:36 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
3,501808272,bryanchrist,2631956.0,2a5887ac4e651ba9a179,24740,Classify Questions,37.630,2023-07-18 16:14:12 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
4,501809115,bryanchrist,2631956.0,2a5887ac4e651ba9a179,24740,Classify Questions,37.630,2023-07-18 16:19:32 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6210,541680134,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:18:19 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323484"":{""retired"":null,""Filename"":""llama_...",94323484
6211,541680218,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:13 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323491"":{""retired"":null,""Filename"":""llama_...",94323491
6212,541680285,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:47 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94324102"":{""retired"":null,""Filename"":""mammot...",94324102
6213,541680359,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:20:20 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323941"":{""retired"":null,""Filename"":""mammot...",94323941
6214,541680431,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:20:59 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323632"":{""retired"":null,""Filename"":""llama_...",94323632

In [3]:
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['annotations'])
    try:
        if my_json[2]['task_label']=='What math operations/concepts are required to solve the problem? Please select all that apply. ':
            start_index = i
            break
    except:
        pass
df = df[start_index:]
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
4798,526544790,bryanchrist,2631956.0,7a33d9f337981d5b7439,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,"{""source"":""api"",""session"":""777a08164cd7f8e01a2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323602"":{""retired"":null,""Filename"":""llama_...",94323602
4799,526686902,not-logged-in-9a63753e20442ebb98d2,NaN,9a63753e20442ebb98d2,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323999"":{""retired"":null,""Filename"":""mammot...",94323999
4800,526687176,not-logged-in-b9190467c86a0b0433ac,NaN,b9190467c86a0b0433ac,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323887"":{""retired"":null,""Filename"":""llema_...",94323887
4801,526687284,not-logged-in-6effce1226f967149e0e,NaN,6effce1226f967149e0e,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323658"":{""retired"":null,""Filename"":""llama_...",94323658
4802,526687346,not-logged-in-eed50223cee8045fea6b,NaN,eed50223cee8045fea6b,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323967"":{""retired"":null,""Filename"":""mammot...",94323967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6210,541680134,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:18:19 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323484"":{""retired"":null,""Filename"":""llama_...",94323484
6211,541680218,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:13 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323491"":{""retired"":null,""Filename"":""llama_...",94323491
6212,541680285,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:47 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94324102"":{""retired"":null,""Filename"":""mammot...",94324102
6213,541680359,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:20:20 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323941"":{""retired"":null,""Filename"":""mammot...",94323941
6214,541680431,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:20:59 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323632"":{""retired"":null,""Filename"":""llama_...",94323632

## Create Appropriateness, Solvability, Accuracy, Topic, Math Operation and Notes Columns

In [4]:
my_json = json.loads(df.iloc[0]['annotations'])
my_json

[{'task': 'T0',
  'task_label': 'Is this question solvable? A solvable question means that it can be solved with the information present. ',
  'value': 'Yes'},
 {'task': 'T4',
  'task_label': 'Is the solution for this question correct?',
  'value': 'Yes'},
 {'task': 'T6',
  'task_label': 'What math operations/concepts are required to solve the problem? Please select all that apply. ',
  'value': ['Subtraction', 'Addition']},
 {'task': 'T1',
  'task_label': 'Would you feel comfortable giving this question to a student? Although questions have various difficulties, a middle school student should be able to solve them all.',
  'value': 'Yes: This question is understandable, appropriate and a middle school student or younger could solve it '},
 {'task': 'T5',
  'task_label': 'Does the question incorporate the given topic? ',
  'value': 'Yes'},
 {'task': 'T3',
  'value': '',
  'task_label': 'This question is optional. If you have any feedback about this particular question, you can tell us here. '}]

In [5]:
solvability = []
accuracy = []
appropriateness = []
topic = []
ops = []
notes = []
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['annotations'])
    solvability.append(my_json[0]['value'])
    if my_json[1]['task']=='T4':
        accuracy.append(my_json[1]['value'])
    if my_json[1]['task']!='T4':
        accuracy.append("NA")
        appropriateness.append('NA')
        ops.append('NA')
        topic.append(my_json[1]['value'])
    if my_json[2]['task']=='T6':
        ops.append(my_json[2]['value'])
    if my_json[2]['task']!='T6':
        notes.append(my_json[2]['value'])
    try:
        appropriateness.append(my_json[3]['value'])
        topic.append(my_json[4]['value'])
        notes.append(my_json[5]['value'])
    except:
        pass
df['solvability']=solvability
df['appropriateness']=appropriateness
df['accuracy']=accuracy
df['operations'] = ops
df['notes']=notes
df['topic']=topic

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/2447154829.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['solvability']=solvability
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/2447154829.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['appropriateness']=appropriateness
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/2447154829.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['accuracy']=accuracy
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/2447154829.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['operations'] = ops
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/2447154829.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['notes']=notes
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/2447154829.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['topic']=topic

In [6]:
df['user_name'].value_counts()

user_name
bryanchrist                           1005
kidleader                              149
Raceaturtle                             63
not-logged-in-e072fa343cdfc4919b7e      23
not-logged-in-cc7e52e8d37a6d749298      18
not-logged-in-2d7311f4757e4b60ebdb      16
not-logged-in-9a4e16d1f839e55ea940      12
not-logged-in-613b403d7360b22af7a2       9
not-logged-in-0cf2849eed1cf8a9ab55       8
not-logged-in-1ddffecdea754d59ec7b       7
not-logged-in-5d15efba26e67e6b5588       7
not-logged-in-e6e072f6f8cd8dd647b0       6
not-logged-in-8dbbc619d59e5ce9e923       6
not-logged-in-b84f7f7e4db3105071b9       5
not-logged-in-ba625f3d3ee88b037d0e       5
not-logged-in-ee677165fc534520afd6       5
not-logged-in-4b2ae52544c29546bffd       5
not-logged-in-c2578f579362f9cba10f       5
not-logged-in-6f35b4a8ed025b3023bd       5
not-logged-in-54e694baf7ae91cee231       5
not-logged-in-d79f51d922b34c851e9b       4
cate11                                   4
not-logged-in-6dca53676575339e68b7       4
not-logged-in-ca5a68e80e9bf3192289       4
not-logged-in-9c30f6a32d931ecb775a       4
not-logged-in-d1cd704b5c0732a783c3       3
not-logged-in-9a856138b0eb151594c1       3
not-logged-in-866d8afefad90b70e815       2
not-logged-in-f5e64752fefd1474303a       2
not-logged-in-ecb8a3cf3c50a8dcc25c       2
not-logged-in-242c668101e43cd729d1       1
not-logged-in-a94d5b5628cb17352ba2       1
not-logged-in-84005e73b60a0231767e       1
not-logged-in-d8ff7e82d321a72836cb       1
not-logged-in-c959149a3350e1d7d7c3       1
not-logged-in-bfbb5749cb5029e14aa9       1
not-logged-in-fbd6d3b2aeb87f5afb52       1
not-logged-in-b9190467c86a0b0433ac       1
not-logged-in-6effce1226f967149e0e       1
not-logged-in-5322c766b078640e4235       1
not-logged-in-5ce398e5df452b9747bf       1
not-logged-in-440376bc3f22917ec976       1
not-logged-in-8c8a4e12e0623a67e066       1
not-logged-in-e28524828463e8f87741       1
not-logged-in-a0e30bfc93e37cccb525       1
not-logged-in-fab6423876707502cc84       1
not-logged-in-74a102afdc3882bdbfc5       1
not-logged-in-74a58740ac5765445a8a       1
not-logged-in-8d937a3e7609fc6d7ae4       1
not-logged-in-9a63753e20442ebb98d2       1
not-logged-in-eed50223cee8045fea6b       1
Name: count, dtype: int64

df = df[df['user_name']=='bryanchrist']
df

In [7]:
temp = df[df['notes']!=""]
temp

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids,solvability,appropriateness,accuracy,operations,notes,topic
4799,526686902,not-logged-in-9a63753e20442ebb98d2,NaN,9a63753e20442ebb98d2,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323999"":{""retired"":null,""Filename"":""mammot...",94323999,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",The question is too simplistic,Yes
4800,526687176,not-logged-in-b9190467c86a0b0433ac,NaN,b9190467c86a0b0433ac,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323887"":{""retired"":null,""Filename"":""llema_...",94323887,Yes,No: This question contains distracting typos o...,No,[Division],There is a contradiction in the question,Yes
4805,526687683,not-logged-in-a94d5b5628cb17352ba2,NaN,a94d5b5628cb17352ba2,24740,Classify Questions,139.206,2023-12-04 12:55:30 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323912"":{""retired"":null,""Filename"":""llema_...",94323912,No,NA,NA,NA,The meaning of this question is unclear,No
5713,528390771,not-logged-in-d1cd704b5c0732a783c3,NaN,d1cd704b5c0732a783c3,24740,Classify Questions,142.214,2023-12-11 13:43:37 UTC,NaN,NaN,"{""source"":""api"",""session"":""464cfbd65f3f03436c8...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323710"":{""retired"":null,""Filename"":""llema_...",94323710,Yes,"Yes: This question is understandable, appropri...",Yes,[Subtraction],The extra steps 2-4 are unnecessary and may ca...,Yes
5716,528391151,not-logged-in-8d937a3e7609fc6d7ae4,NaN,8d937a3e7609fc6d7ae4,24740,Classify Questions,142.214,2023-12-11 13:46:02 UTC,NaN,NaN,"{""source"":""api"",""session"":""464cfbd65f3f03436c8...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94324001"":{""retired"":{""id"":122699160,""workfl...",94324001,Yes,"Yes: This question is understandable, appropri...",No,"[Division, Multiplication]",The lift 2000 pounds is superfluous,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6204,541678679,kidleader,2668795.0,c34cd75b1ed3c9e60acc,24740,Classify Questions,142.214,2024-02-14 02:09:31 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323873"":{""retired"":{""id"":122699585,""workfl...",94323873,Yes,"Yes: This question is understandable, appropri...",No,[Fractions],half = 50%,Yes
6205,541678897,kidleader,2668795.0,c34cd75b1ed3c9e60acc,24740,Classify Questions,142.214,2024-02-14 02:10:42 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323816"":{""retired"":null,""Filename"":""llema_...",94323816,Yes,"Yes: This question is understandable, appropri...",Yes,[Not Applicable: This question does not requir...,"This is a reading, not a math problem.",No
6207,541679559,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:14:32 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94324364"":{""retired"":null,""Filename"":""mathwe...",94324364,Yes,"Yes: This question is understandable, appropri...",No,"[Multiplication, Addition, Decimals]",He is 81 inches tall x 2.54 = 205.74,Yes
6208,541679772,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:15:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323743"":{""retired"":null,""Filename"":""llema_...",94323743,No,NA,NA,NA,Would their pass yardage tie their records in ...,No
6211,541680218,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:13 UTC,NaN,NaN,"{""source"":""api"",""session"":""571cc7868fa02841cb2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323491"":{""retired"":null,""Filename"":""llama_...",94323491,No,NA,NA,NA,How many did he throw in 2017?,No

## Assign Question Numbers

In [8]:
question_numbers = []
model = []

for i in range(len(df)):
    my_json = json.loads(df.iloc[i]['subject_data'])
    subject_id = df.iloc[i]['subject_ids']
    question_number = my_json[f'{subject_id}']['Filename']
    question_number = question_number.split(".txt")[0]
    question_numbers.append(question_number)

    if 'llema' in question_number:
        model.append('llema')
    elif 'llama' in question_number:
        model.append('llama')    
    elif 'mammoth' in question_number:
        model.append('mammoth')
    elif 'mathwell' in question_number:
        model.append('mathwell')
    else:
        # Append None if none of the models are found in question_number
        model.append(None)

# Create a DataFrame with question_numbers and model lists
df['question_number'] = question_numbers
new_df = pd.DataFrame({'question_number': question_numbers, 'model': model})
new_df = new_df.drop_duplicates()
# Filter out rows where model is not None
filtered_df = new_df[new_df['model'].notna()]

# Merge the filtered DataFrame with the original DataFrame df
df = pd.merge(df, filtered_df, on='question_number', how='inner')

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/1480164591.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['question_number'] = question_numbers

In [9]:
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,subject_data,subject_ids,solvability,appropriateness,accuracy,operations,notes,topic,question_number,model
0,526544790,bryanchrist,2631956.0,7a33d9f337981d5b7439,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,"{""94323602"":{""retired"":null,""Filename"":""llama_...",94323602,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",,Yes,llama_q1053,llama
1,526686902,not-logged-in-9a63753e20442ebb98d2,NaN,9a63753e20442ebb98d2,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,...,"{""94323999"":{""retired"":null,""Filename"":""mammot...",94323999,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",The question is too simplistic,Yes,mammoth_q115,mammoth
2,526687176,not-logged-in-b9190467c86a0b0433ac,NaN,b9190467c86a0b0433ac,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,...,"{""94323887"":{""retired"":null,""Filename"":""llema_...",94323887,Yes,No: This question contains distracting typos o...,No,[Division],There is a contradiction in the question,Yes,llema_q801,llema
3,526687284,not-logged-in-6effce1226f967149e0e,NaN,6effce1226f967149e0e,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,...,"{""94323658"":{""retired"":null,""Filename"":""llama_...",94323658,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes,llama_q1363,llama
4,526687346,not-logged-in-eed50223cee8045fea6b,NaN,eed50223cee8045fea6b,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,...,"{""94323967"":{""retired"":null,""Filename"":""mammot...",94323967,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",,Yes,mammoth_q75,mammoth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,541680134,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:18:19 UTC,NaN,NaN,...,"{""94323484"":{""retired"":null,""Filename"":""llama_...",94323484,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes,llama_q439,llama
1412,541680218,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:13 UTC,NaN,NaN,...,"{""94323491"":{""retired"":null,""Filename"":""llama_...",94323491,No,NA,NA,NA,How many did he throw in 2017?,No,llama_q481,llama
1413,541680285,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:47 UTC,NaN,NaN,...,"{""94324102"":{""retired"":null,""Filename"":""mammot...",94324102,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes,mammoth_q254,mammoth
1414,541680359,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:20:20 UTC,NaN,NaN,...,"{""94323941"":{""retired"":null,""Filename"":""mammot...",94323941,Yes,"Yes: This question is understandable, appropri...",Yes,[Division],,Yes,mammoth_q36,mammoth
1415,541680431,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:20:59 UTC,NaN,NaN,...,"{""94323632"":{""retired"":null,""Filename"":""llama_...",94323632,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes,llama_q1202,llama

question_numbers = []
model = []
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['subject_data'])
    subject_id = df.iloc[i]['subject_ids']
    question_number = my_json[f'{subject_id}']['Filename']
    question_number = question_number.split(".txt")[0]
    question_numbers.append(question_number)
    if 'llema' in question_number:
        model.append('llema')
    if 'llama' in question_number:
        model.append('llama')    
    if 'mammoth' in question_number:
        model.append('mammoth')
    if 'mathwell' in question_number:
        model.append('mathwell')
    else:
        df.drop(i)
df['question_number']=question_numbers
df['model']=model

## Explore Appropriateness Labels by Model

In [10]:
llama = df[df['model']=='llama']
llema = df[df['model']=='llema']
mathwell = df[df['model']=='mathwell']
mammoth = df[df['model']=='mammoth']

In [11]:
llama['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      254
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     42
NA                                                                                                            41
No: This question contains inappropriate material                                                              3
No: The question is too hard, even for a middle school student                                                 2
No: This question contains distracting typos or grammatical errors                                             1
Name: count, dtype: int64

In [12]:
llema['appropriateness'].value_counts()

appropriateness
NA                                                                                                           159
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      111
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     62
No: This question contains distracting typos or grammatical errors                                            18
No: This question contains inappropriate material                                                              4
No: The question is too hard, even for a middle school student                                                 1
Name: count, dtype: int64

In [13]:
mammoth['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      250
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     64
NA                                                                                                            39
No: This question contains distracting typos or grammatical errors                                             5
No: This question contains inappropriate material                                                              4
No: The question is too hard, even for a middle school student                                                 3
Name: count, dtype: int64

In [14]:
mathwell['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      285
NA                                                                                                            34
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     29
No: This question contains inappropriate material                                                              4
No: The question is too hard, even for a middle school student                                                 1
Name: count, dtype: int64

## Relabel/Recode Variables and Calculate MaC/Operations

In [15]:
import numpy as np
replace_map = {"Yes": 1, "No": 0, "NA": np.nan}
df['solvability'] = df['solvability'].replace(replace_map)
df['accuracy'] = df['accuracy'].replace(replace_map)
df['topic']=df['topic'].replace(replace_map)
replace_map = {"Yes: This question is understandable, appropriate and a middle school student or younger could solve it ": 1, 
               "No: This question is strange, confusing, contains conflicting information, and/or is not based in reality": 0, 
               "No: This question contains distracting typos or grammatical errors": 0, 
               "No: This question contains inappropriate material": 0, 
              "No: The question is too hard, even for a middle school student": 0, 
            "No: This question is strange, confusing, contains conflicting information, and/or is not based in reality":0,
            "No: This question contains inappropriate material":0,
                "No: The question is too hard, even for a middle school student":0,
            "No: This question contains distracting typos or grammatical errors": 0,
            "No: This question is strange, contains confusing or conflicting wording, and/or is not based in reality":0,
                "No: This question is strange or confusing":0,
              "NA": np.nan}
df['appropriateness'] = df['appropriateness'].replace(replace_map)
def addition(df):
    if 'Addition' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def subtraction(df):
    if 'Subtraction' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def multiplication(df):
    if 'Multiplication' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def division(df):
    if 'Division' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def fractions(df):
    if 'Fractions' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def decimals(df):
    if 'Decimals' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def none(df):
    if 'Not Applicable: This question does not require a mathematical operation.' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def total_ops(df):
    if df['no_ops']==1:
        return np.nan
    else:
        return df['addition'] + df['subtraction'] + df['multiplication'] + df['decimals'] + df['division'] + df['fractions']
df['addition'] = df.apply(addition, axis=1)
df['subtraction'] = df.apply(subtraction, axis=1)
df['multiplication'] = df.apply(multiplication, axis=1)
df['division'] = df.apply(division, axis=1)
df['fractions'] = df.apply(fractions, axis=1)
df['decimals'] = df.apply(decimals, axis=1)
df['no_ops'] = df.apply(none, axis=1)
df['total_ops'] = df.apply(total_ops, axis=1)
def good(df):
    if df['solvability']==1:
        if df['accuracy']==1:
            if df['no_ops']==0:
                if df['appropriateness']==1:
                   # if df['topic']==1:
                    return 1
    if df['accuracy']==np.nan:
        return 0
    if df['no_ops']==np.nan:
        return 0
    if df['appropriateness']==np.nan:
        return 0
    else:
        return 0
df['good'] = df.apply(good, axis = 1)
def good_recode(df):
    if df['good']==np.nan:
        return 0
    else:
        return df['good']
df['good'] = df.apply(good_recode, axis=1)
df

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/4060560311.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['solvability'] = df['solvability'].replace(replace_map)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/4060560311.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['accuracy'] = df['accuracy'].replace(replace_map)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/4060560311.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['topic']=df['topic'].replace(replace_map)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/4060560311.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['appropriateness'] = df['appropriateness'].replace(replace_map)

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,model,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
0,526544790,bryanchrist,2631956.0,7a33d9f337981d5b7439,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,llama,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
1,526686902,not-logged-in-9a63753e20442ebb98d2,NaN,9a63753e20442ebb98d2,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
2,526687176,not-logged-in-b9190467c86a0b0433ac,NaN,b9190467c86a0b0433ac,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,...,llema,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
3,526687284,not-logged-in-6effce1226f967149e0e,NaN,6effce1226f967149e0e,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,...,llama,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4,526687346,not-logged-in-eed50223cee8045fea6b,NaN,eed50223cee8045fea6b,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,541680134,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:18:19 UTC,NaN,NaN,...,llama,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
1412,541680218,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:13 UTC,NaN,NaN,...,llama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1413,541680285,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:47 UTC,NaN,NaN,...,mammoth,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
1414,541680359,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:20:20 UTC,NaN,NaN,...,mammoth,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1
1415,541680431,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:20:59 UTC,NaN,NaN,...,llama,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1

## Check Annotator Agreement

In [16]:
df = df.drop_duplicates(subset = ['question_number', 'user_name'])
#df = df.query("user_name=='bryanchrist' or user_name=='Raceaturtle'")
#df = df[df['user_name']!='kidleader']
#df = df[df['user_name']!='cate11']
print((df['question_number'].value_counts() == 2).sum(), (df['question_number'].value_counts() == 3).sum())
count = (df['question_number'].value_counts() >= 2).sum()
df

285 60

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,model,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
0,526544790,bryanchrist,2631956.0,7a33d9f337981d5b7439,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,llama,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
1,526686902,not-logged-in-9a63753e20442ebb98d2,NaN,9a63753e20442ebb98d2,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
2,526687176,not-logged-in-b9190467c86a0b0433ac,NaN,b9190467c86a0b0433ac,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,...,llema,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
3,526687284,not-logged-in-6effce1226f967149e0e,NaN,6effce1226f967149e0e,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,...,llama,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4,526687346,not-logged-in-eed50223cee8045fea6b,NaN,eed50223cee8045fea6b,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,541680134,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:18:19 UTC,NaN,NaN,...,llama,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
1412,541680218,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:13 UTC,NaN,NaN,...,llama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1413,541680285,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:19:47 UTC,NaN,NaN,...,mammoth,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
1414,541680359,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:20:20 UTC,NaN,NaN,...,mammoth,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1
1415,541680431,kidleader,2668795.0,f31ee5121d30ced2e009,24740,Classify Questions,142.214,2024-02-14 02:20:59 UTC,NaN,NaN,...,llama,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1

In [17]:
count

347

In [18]:
df['user_name'].value_counts()

user_name
bryanchrist                           1000
kidleader                              149
Raceaturtle                             62
not-logged-in-e072fa343cdfc4919b7e      23
not-logged-in-cc7e52e8d37a6d749298      18
not-logged-in-2d7311f4757e4b60ebdb      16
not-logged-in-9a4e16d1f839e55ea940      12
not-logged-in-613b403d7360b22af7a2       9
not-logged-in-0cf2849eed1cf8a9ab55       8
not-logged-in-1ddffecdea754d59ec7b       7
not-logged-in-5d15efba26e67e6b5588       7
not-logged-in-e6e072f6f8cd8dd647b0       6
not-logged-in-8dbbc619d59e5ce9e923       6
not-logged-in-b84f7f7e4db3105071b9       5
not-logged-in-ba625f3d3ee88b037d0e       5
not-logged-in-ee677165fc534520afd6       5
not-logged-in-4b2ae52544c29546bffd       5
not-logged-in-c2578f579362f9cba10f       5
not-logged-in-6f35b4a8ed025b3023bd       5
not-logged-in-54e694baf7ae91cee231       5
not-logged-in-d79f51d922b34c851e9b       4
cate11                                   4
not-logged-in-6dca53676575339e68b7       4
not-logged-in-ca5a68e80e9bf3192289       4
not-logged-in-9c30f6a32d931ecb775a       4
not-logged-in-d1cd704b5c0732a783c3       3
not-logged-in-9a856138b0eb151594c1       3
not-logged-in-866d8afefad90b70e815       2
not-logged-in-f5e64752fefd1474303a       2
not-logged-in-ecb8a3cf3c50a8dcc25c       2
not-logged-in-242c668101e43cd729d1       1
not-logged-in-a94d5b5628cb17352ba2       1
not-logged-in-84005e73b60a0231767e       1
not-logged-in-d8ff7e82d321a72836cb       1
not-logged-in-c959149a3350e1d7d7c3       1
not-logged-in-bfbb5749cb5029e14aa9       1
not-logged-in-fbd6d3b2aeb87f5afb52       1
not-logged-in-b9190467c86a0b0433ac       1
not-logged-in-6effce1226f967149e0e       1
not-logged-in-5322c766b078640e4235       1
not-logged-in-5ce398e5df452b9747bf       1
not-logged-in-440376bc3f22917ec976       1
not-logged-in-8c8a4e12e0623a67e066       1
not-logged-in-e28524828463e8f87741       1
not-logged-in-a0e30bfc93e37cccb525       1
not-logged-in-fab6423876707502cc84       1
not-logged-in-74a102afdc3882bdbfc5       1
not-logged-in-74a58740ac5765445a8a       1
not-logged-in-8d937a3e7609fc6d7ae4       1
not-logged-in-9a63753e20442ebb98d2       1
not-logged-in-eed50223cee8045fea6b       1
Name: count, dtype: int64

In [19]:
# 1. Group by question and calculate the average score
df['average_solvability'] = df.groupby('question_number')['solvability'].transform('mean')
df['average_accuracy'] = df.groupby('question_number')['accuracy'].transform('mean')
df['average_appropriateness']=df.groupby('question_number')['appropriateness'].transform('mean')
df['average_good']=df.groupby('question_number')['good'].transform('mean')

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/4201514617.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_solvability'] = df.groupby('question_number')['solvability'].transform('mean')
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/4201514617.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_accuracy'] = df.groupby('question_number')['accuracy'].transform('mean')
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/4201514617.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_appropriateness']=df.groupby('question_number')['appropriateness'].transform('mean')
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/4201514617.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_good']=df.groupby('question_number')['good'].transform('mean')

In [20]:
# Calculate overall agreement
questions = []
disagree_list = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_solvability']>0 and df.iloc[i]['average_solvability']<1:
        if question not in questions:
            questions.append(question)
        disagree_list.append({'model': df.iloc[i]['model'], 'question': question, 'reviewer': df.iloc[i]['user_name'], 'rating': df.iloc[i]['solvability'], 
                              'average_score': df.iloc[i]['average_solvability'], 'criteria': 'solvability'})
    if df.iloc[i]['average_accuracy']>0 and df.iloc[i]['average_accuracy']<1:
        if question not in questions:
            questions.append(question)
        disagree_list.append({'model': df.iloc[i]['model'], 'question': question, 'reviewer': df.iloc[i]['user_name'], 'rating': df.iloc[i]['accuracy'], 
                              'average_score': df.iloc[i]['average_accuracy'], 'criteria': 'accuracy'})
    if df.iloc[i]['average_appropriateness']>0 and df.iloc[i]['average_appropriateness']<1:
        if question not in questions:
            questions.append(question)
        disagree_list.append({'model': df.iloc[i]['model'], 'question': question, 'reviewer': df.iloc[i]['user_name'], 'rating': df.iloc[i]['appropriateness'], 
                              'average_score': df.iloc[i]['average_appropriateness'], 'criteria': 'appropriateness'})
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.6714697406340058 0.049418805667647475

In [21]:
disagree_list = pd.DataFrame.from_dict(disagree_list)
disagree_list = disagree_list.drop_duplicates(subset = ['question', 'criteria'])
disagree_list

,model,question,reviewer,rating,average_score,criteria
0,llema,llema_q801,not-logged-in-b9190467c86a0b0433ac,1.0,0.500000,solvability
1,llema,llema_q526,bryanchrist,0.0,0.333333,solvability
2,mammoth,mammoth_q129,bryanchrist,0.0,0.500000,appropriateness
3,llama,llama_q706,bryanchrist,1.0,0.500000,accuracy
4,mammoth,mammoth_q261,bryanchrist,0.0,0.500000,appropriateness
...,...,...,...,...,...,...
134,llema,llema_q25,bryanchrist,1.0,0.500000,solvability
135,mammoth,mammoth_q17,bryanchrist,0.0,0.666667,accuracy
136,mammoth,mammoth_q17,bryanchrist,0.0,0.666667,appropriateness
137,mammoth,mammoth_q173,bryanchrist,0.0,0.500000,appropriateness
138,llema,llema_q848,bryanchrist,0.0,0.500000,appropriateness

In [22]:
disagree_list['criteria'].value_counts()

criteria
appropriateness    66
solvability        41
accuracy           18
Name: count, dtype: int64

In [23]:
disagree_list['model'].value_counts()

model
llema       48
mammoth     37
llama       23
mathwell    17
Name: count, dtype: int64

In [24]:
def over_score(df):
    if df['reviewer'] == 'bryanchrist':
        score =  df['rating'] - df['average_score']
        if score < 0: 
            return 0
        if score > 0:
            return 1
    else: 
        score =  df['rating'] - df['average_score']
        if score > 0: 
            return 0
        if score < 0:
            return 1
disagree_list['over_score'] = disagree_list.apply(over_score, axis =1)
disagree_list

,model,question,reviewer,rating,average_score,criteria,over_score
0,llema,llema_q801,not-logged-in-b9190467c86a0b0433ac,1.0,0.500000,solvability,0
1,llema,llema_q526,bryanchrist,0.0,0.333333,solvability,0
2,mammoth,mammoth_q129,bryanchrist,0.0,0.500000,appropriateness,0
3,llama,llama_q706,bryanchrist,1.0,0.500000,accuracy,1
4,mammoth,mammoth_q261,bryanchrist,0.0,0.500000,appropriateness,0
...,...,...,...,...,...,...,...
134,llema,llema_q25,bryanchrist,1.0,0.500000,solvability,1
135,mammoth,mammoth_q17,bryanchrist,0.0,0.666667,accuracy,0
136,mammoth,mammoth_q17,bryanchrist,0.0,0.666667,appropriateness,0
137,mammoth,mammoth_q173,bryanchrist,0.0,0.500000,appropriateness,0
138,llema,llema_q848,bryanchrist,0.0,0.500000,appropriateness,0

In [25]:
print(1 - disagree_list['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='mathwell']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='llama']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='llema']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='mammoth']['over_score'].mean())

0.8160000000000001
0.7058823529411764
0.6956521739130435
0.8541666666666666
0.8918918918918919

In [103]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on percentage good
t_statistic, p_value = stats.ttest_ind(disagree_list[disagree_list['model']=='mathwell']['over_score'], disagree_list[disagree_list['model']=='mammoth']['over_score'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.7184170009771527
P-value: 0.09166997501209395

In [26]:
#Solvability agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_solvability']>0 and df.iloc[i]['average_solvability']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.8818443804034583 0.03396366126158241

In [27]:
# appropriateness agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_appropriateness']>0 and df.iloc[i]['average_appropriateness']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.8097982708933718 0.04129400318053305

In [28]:
# accuracy agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_accuracy']>0 and df.iloc[i]['average_accuracy']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.9481268011527377 0.023334368965570704

In [29]:
#mac agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_good']>0 and df.iloc[i]['average_good']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.792507204610951 0.04266723052720655

## Retain Necessary Columns and Evaluations

In [30]:
# def accuracy(df):
#     if df['average_accuracy']>.5:
#         return 1
#     if df['average_accuracy']==np.nan:
#         return np.nan
#     if df['average_accuracy']<=0.5:
#         return 0
# def solvability(df):
#     if df['average_solvability']>.5:
#         return 1
#     else:
#         return 0
# def appropriateness(df):
#     if df['average_appropriateness']>.5:
#         return 1
#     else:
#         return 0
# def good(df):
#     if df['average_good']>.5:
#         return 1
#     else:
#         return 0
# df['solvability']=df.apply(solvability, axis=1)
# df['appropriateness']=df.apply(appropriateness, axis=1)
# df['accuracy']=df.apply(accuracy, axis=1)
# df['good'] = df.apply(good, axis=1)
df = df[df['user_name']=='bryanchrist']
df = df[['model','question_number', 'solvability', 'accuracy', 'appropriateness', 'topic', 'operations','notes']]

## Calculate Operations Variables and Overall Indicator Variable for Question Being Good in All Metrics

In [31]:
def addition(df):
    if 'Addition' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def subtraction(df):
    if 'Subtraction' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def multiplication(df):
    if 'Multiplication' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def division(df):
    if 'Division' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def fractions(df):
    if 'Fractions' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def decimals(df):
    if 'Decimals' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def none(df):
    if 'Not Applicable: This question does not require a mathematical operation.' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def total_ops(df):
    if df['no_ops']==1:
        return np.nan
    else:
        return df['addition'] + df['subtraction'] + df['multiplication'] + df['decimals'] + df['division'] + df['fractions']
df['addition'] = df.apply(addition, axis=1)
df['subtraction'] = df.apply(subtraction, axis=1)
df['multiplication'] = df.apply(multiplication, axis=1)
df['division'] = df.apply(division, axis=1)
df['fractions'] = df.apply(fractions, axis=1)
df['decimals'] = df.apply(decimals, axis=1)
df['no_ops'] = df.apply(none, axis=1)
df['total_ops'] = df.apply(total_ops, axis=1)
def good(df):
    if df['solvability']==1:
        if df['accuracy']==1:
            if df['no_ops']==0:
                if df['appropriateness']==1:
                   # if df['topic']==1:
                    return 1
    if df['accuracy']==np.nan:
        return 0
    if df['no_ops']==np.nan:
        return 0
    if df['appropriateness']==np.nan:
        return 0
    else:
        return 0
df['good'] = df.apply(good, axis = 1)
def good_recode(df):
    if df['good']==np.nan:
        return 0
    else:
        return df['good']
df['good'] = df.apply(good_recode, axis=1)
df

,model,question_number,solvability,accuracy,appropriateness,topic,operations,notes,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
0,llama,llama_q1053,1,1.0,1.0,1,"[Subtraction, Addition]",,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
9,mammoth,mammoth_q127,1,1.0,1.0,1,[Multiplication],,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
10,llama,llama_q1061,1,0.0,1.0,1,"[Division, Decimals]",,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0
11,llema,llema_q526,0,NaN,NaN,1,NA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,mathwell,mathwell_q528,1,1.0,1.0,1,[Addition],,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,mammoth,mammoth_q77,1,1.0,0.0,1,[Multiplication],,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
1042,llema,llema_q259,0,NaN,NaN,1,NA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1043,llama,llama_q940,1,1.0,1.0,1,"[Addition, Subtraction]",,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
1044,llama,llama_q65,1,0.0,1.0,1,[Addition],,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1045,llema,llema_q292,0,NaN,NaN,0,NA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [32]:
df = df.drop(['operations'], axis=1)
df = df.drop_duplicates()
df

,model,question_number,solvability,accuracy,appropriateness,topic,notes,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
0,llama,llama_q1053,1,1.0,1.0,1,,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
9,mammoth,mammoth_q127,1,1.0,1.0,1,,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
10,llama,llama_q1061,1,0.0,1.0,1,,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0
11,llema,llema_q526,0,NaN,NaN,1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,mathwell,mathwell_q528,1,1.0,1.0,1,,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,mammoth,mammoth_q77,1,1.0,0.0,1,,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
1042,llema,llema_q259,0,NaN,NaN,1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1043,llama,llama_q940,1,1.0,1.0,1,,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
1044,llama,llama_q65,1,0.0,1.0,1,,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1045,llema,llema_q292,0,NaN,NaN,0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

## Calculate Average Statistics for Each Model

In [33]:
llama = df[df['model']=='llama']
llema = df[df['model']=='llema']
mathwell = df[df['model']=='mathwell']
mammoth = df[df['model']=='mammoth']

In [34]:
solvability = llama['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(llama['solvability'])-1, loc=np.mean(llama['solvability']), scale=st.sem(llama['solvability']))
solvability_se = st.sem(llama['solvability'])
solvability_sd = np.std(llama['solvability'])
accuracy = llama['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(llama['accuracy'].dropna())-1, loc=np.mean(llama['accuracy'].dropna()), scale=st.sem(llama['accuracy'].dropna()))
accuracy_sd = np.std(llama['accuracy'])
accuracy_se = st.sem(llama['accuracy'].dropna())
appropriateness = llama['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(llama['appropriateness'].dropna())-1, loc=np.mean(llama['appropriateness'].dropna()), scale=st.sem(llama['appropriateness'].dropna()))
appropriateness_sd = np.std(llama['appropriateness'])
appropriateness_se = st.sem(llama['appropriateness'].dropna())
topic = llama['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(llama['topic'])-1, loc=np.mean(llama['topic']), scale=st.sem(llama['topic']))
topic_sd = np.std(llama['topic'])
topic_se = st.sem(llama['topic'])
good = llama['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(llama['good'])-1, loc=np.mean(llama['good']), scale=st.sem(llama['good']))
good_sd = np.std(llama['good'])
good_se = st.sem(llama['good'])
execute = good * .55425904317386234
execute_se = good_se * .55425904317386234
print(f'''Llama metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Llama metrics:
Solvability: 0.852 Standard Deviation: 0.35509998591945907 Standard Error: 2.250354724380619
Accuracy: 0.8967136150234741 Standard Deviation: 0.3043325609510207 Standard Error: 2.0901646100090487
Appropriateness: 0.812206572769953 Standard Deviation: 0.3905471238138108 Standard Error: 2.6822886587801764
Percentage about Requested Topic: 0.988 Standard Deviation: 0.10888526071052959 Standard Error: 0.6900323023694275
Percentage Good in All Metrics: 0.636 Standard Deviation: 0.48114862568649197 Standard Error: 3.049155522040547
Percentage good with executable code: 0.35250875145857646 Standard Error: 1.6900220221344922

In [35]:
solvability = llema['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(llema['solvability'])-1, loc=np.mean(llema['solvability']), scale=st.sem(llema['solvability']))
solvability_sd = np.std(llema['solvability'])
solvability_se = st.sem(llema['solvability'])
accuracy = llema['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(llema['accuracy'].dropna())-1, loc=np.mean(llema['accuracy'].dropna()), scale=st.sem(llema['accuracy'].dropna()))
accuracy_sd = np.std(llema['accuracy'])
accuracy_se = st.sem(llema['accuracy'].dropna())
appropriateness = llema['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(llema['appropriateness'].dropna())-1, loc=np.mean(llema['appropriateness'].dropna()), scale=st.sem(llema['appropriateness'].dropna()))
appropriateness_sd = np.std(llema['appropriateness'])
appropriateness_se = st.sem(llema['appropriateness'].dropna())
topic = llema['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(llema['topic'])-1, loc=np.mean(llema['topic']), scale=st.sem(llema['topic']))
topic_sd = np.std(llema['topic'])
topic_se = st.sem(llema['topic'])
good = llema['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(llema['good'])-1, loc=np.mean(llema['good']), scale=st.sem(llema['good']))
good_sd = np.std(llema['good'])
good_se = st.sem(llema['good'])
execute = good * .2432288900690388
execute_se = good_se * .2432288900690388
print(f'''Llema metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Llema metrics:
Solvability: 0.496 Standard Deviation: 0.4999839997439918 Standard Error: 3.16851985511992
Accuracy: 0.6693548387096774 Standard Deviation: 0.4704454682592012 Standard Error: 4.241863934962232
Appropriateness: 0.45161290322580644 Standard Deviation: 0.4976531813077907 Standard Error: 4.487187621808812
Percentage about Requested Topic: 0.932 Standard Deviation: 0.251745903640953 Standard Error: 1.5953748410747037
Percentage Good in All Metrics: 0.18 Standard Deviation: 0.38418745424597095 Standard Error: 2.434689065029351
Percentage good with executable code: 0.043781200212426985 Standard Error: 0.5921867189503148

In [36]:
solvability = mammoth['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(mammoth['solvability'])-1, loc=np.mean(mammoth['solvability']), scale=st.sem(mammoth['solvability']))
solvability_sd = np.std(mammoth['solvability'])
solvability_se = st.sem(mammoth['solvability'])
accuracy = mammoth['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(mammoth['accuracy'].dropna())-1, loc=np.mean(mammoth['accuracy'].dropna()), scale=st.sem(mammoth['accuracy'].dropna()))
accuracy_sd = np.std(mammoth['accuracy'])
accuracy_se = st.sem(mammoth['accuracy'].dropna())
appropriateness = mammoth['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(mammoth['appropriateness'].dropna())-1, loc=np.mean(mammoth['appropriateness'].dropna()), scale=st.sem(mammoth['appropriateness'].dropna()))
appropriateness_sd = np.std(mammoth['appropriateness'])
appropriateness_se = st.sem(mammoth['appropriateness'].dropna())
topic = mammoth['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(mammoth['topic'])-1, loc=np.mean(mammoth['topic']), scale=st.sem(mammoth['topic']))
topic_sd = np.std(mammoth['topic'])
topic_se = st.sem(mammoth['topic'])
good = mammoth['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(mammoth['good'])-1, loc=np.mean(mammoth['good']), scale=st.sem(mammoth['good']))
good_sd = np.std(mammoth['good'])
good_se = st.sem(mammoth['good'])
execute = good * .06885572139303482
execute_se = good_se * .06885572139303482
print(f'''Mammoth metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Mammoth metrics:
Solvability: 0.872 Standard Deviation: 0.33408980828513757 Standard Error: 2.1172081336336532
Accuracy: 0.9495412844036697 Standard Deviation: 0.21888954661358073 Standard Error: 1.4859190644874722
Appropriateness: 0.6743119266055045 Standard Deviation: 0.46863136071231637 Standard Error: 3.181276967640866
Percentage about Requested Topic: 0.972 Standard Deviation: 0.16497272501841023 Standard Error: 1.0454721651927283
Percentage Good in All Metrics: 0.568 Standard Deviation: 0.49535441857320706 Standard Error: 3.139181076542942
Percentage good with executable code: 0.039110049751243776 Standard Error: 0.21615057760872794

In [37]:
solvability = mathwell['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(mathwell['solvability'])-1, loc=np.mean(mathwell['solvability']), scale=st.sem(mathwell['solvability']))
solvability_sd = np.std(mathwell['solvability'])
solvability_se = st.sem(mathwell['solvability'])
accuracy = mathwell['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(mathwell['accuracy'].dropna())-1, loc=np.mean(mathwell['accuracy'].dropna()), scale=st.sem(mathwell['accuracy'].dropna()))
accuracy_sd = np.std(mathwell['accuracy'])
accuracy_se = st.sem(mathwell['accuracy'].dropna())
appropriateness = mathwell['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(mathwell['appropriateness'].dropna())-1, loc=np.mean(mathwell['appropriateness'].dropna()), scale=st.sem(mathwell['appropriateness'].dropna()))
appropriateness_sd = np.std(mathwell['appropriateness'])
appropriateness_se = st.sem(mathwell['appropriateness'].dropna())
topic = mathwell['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(mathwell['topic'])-1, loc=np.mean(mathwell['topic']), scale=st.sem(mathwell['topic']))
topic_sd = np.std(mathwell['topic'])
topic_se = st.sem(mathwell['topic'])
good = mathwell['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(mathwell['good'])-1, loc=np.mean(mathwell['good']), scale=st.sem(mathwell['good']))
good_sd = np.std(mathwell['good'])
good_se = st.sem(mathwell['good'])
execute = good * .6635177687809268
execute_se = good_se * .6635177687809268
print(f'''Mathwell metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Mathwell metrics:
Solvability: 0.892 Standard Deviation: 0.3103804117530615 Standard Error: 1.9669559381568775
Accuracy: 0.968609865470852 Standard Deviation: 0.17436970488989761 Standard Error: 1.1702928328273723
Appropriateness: 0.8789237668161435 Standard Deviation: 0.3262158471654388 Standard Error: 2.1894174113185696
Percentage about Requested Topic: 0.992 Standard Deviation: 0.08908422980528033 Standard Error: 0.5645483676690164
Percentage Good in All Metrics: 0.76 Standard Deviation: 0.4270831300812525 Standard Error: 2.7065293652238984
Percentage good with executable code: 0.5042735042735044 Standard Error: 1.7958303255534194

## Examine Operations By Model

### Overall

In [38]:
addition = llama['addition'].mean()
subtraction = llama['subtraction'].mean()
multiplication = llama['multiplication'].mean()
division = llama['division'].mean()
fractions = llama['fractions'].mean()
decimals = llama['decimals'].mean()
total_ops = llama['total_ops'].mean()
no_ops = llama['no_ops'].mean()
print(f"Llama overall question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Llama overall question statistics:
Addition: 0.596244131455399
Subtraction: 0.5774647887323944
Multiplication: 0.2347417840375587
Division: 0.11737089201877934
Fractions: 0.07981220657276995
Decimals: 0.10328638497652583
Total Operations: 1.801980198019802
No operations: 0.051643192488262914

In [39]:
addition = llema['addition'].mean()
subtraction = llema['subtraction'].mean()
multiplication = llema['multiplication'].mean()
division = llema['division'].mean()
fractions = llema['fractions'].mean()
decimals = llema['decimals'].mean()
total_ops = llema['total_ops'].mean()
no_ops = llema['no_ops'].mean()
print(f"Llema question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Llema question statistics:
Addition: 0.3629032258064516
Subtraction: 0.31451612903225806
Multiplication: 0.33064516129032256
Division: 0.1935483870967742
Fractions: 0.056451612903225805
Decimals: 0.14516129032258066
Total Operations: 1.6415094339622642
No operations: 0.14516129032258066

In [40]:
addition = mammoth['addition'].mean()
subtraction = mammoth['subtraction'].mean()
multiplication = mammoth['multiplication'].mean()
division = mammoth['division'].mean()
fractions = mammoth['fractions'].mean()
decimals = mammoth['decimals'].mean()
total_ops = mammoth['total_ops'].mean()
no_ops = mammoth['no_ops'].mean()
print(f"Mammoth question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Mammoth question statistics:
Addition: 0.3944954128440367
Subtraction: 0.3761467889908257
Multiplication: 0.43577981651376146
Division: 0.19724770642201836
Fractions: 0.03669724770642202
Decimals: 0.10550458715596331
Total Operations: 1.5821596244131455
No operations: 0.022935779816513763

In [41]:
addition = mathwell['addition'].mean()
subtraction = mathwell['subtraction'].mean()
multiplication = mathwell['multiplication'].mean()
division = mathwell['division'].mean()
fractions = mathwell['fractions'].mean()
decimals = mathwell['decimals'].mean()
total_ops = mathwell['total_ops'].mean()
no_ops = mathwell['no_ops'].mean()
print(f"Mathwell question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Mathwell question statistics:
Addition: 0.695067264573991
Subtraction: 0.6636771300448431
Multiplication: 0.21973094170403587
Division: 0.12556053811659193
Fractions: 0.04932735426008968
Decimals: 0.07623318385650224
Total Operations: 1.8545454545454545
No operations: 0.013452914798206279

### Good Questions

In [42]:
good_llama = llama.query('good==1')
addition = good_llama['addition'].mean()
subtraction = good_llama['subtraction'].mean()
multiplication = good_llama['multiplication'].mean()
division = good_llama['division'].mean()
fractions = good_llama['fractions'].mean()
decimals = good_llama['decimals'].mean()
total_ops = good_llama['total_ops'].mean()
print(f"Llama good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Llama good question statistics:
Addition: 0.6352201257861635
Subtraction: 0.5974842767295597
Multiplication: 0.2578616352201258
Division: 0.10062893081761007
Fractions: 0.05660377358490566
Decimals: 0.07547169811320754
Total Operations: 1.7232704402515724

In [43]:
good_llema = llema.query('good==1')
addition = good_llema['addition'].mean()
subtraction = good_llema['subtraction'].mean()
multiplication = good_llema['multiplication'].mean()
division = good_llema['division'].mean()
fractions = good_llema['fractions'].mean()
decimals = good_llema['decimals'].mean()
total_ops = good_llema['total_ops'].mean()
print(f"Llema good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Llema good question statistics:
Addition: 0.4
Subtraction: 0.4888888888888889
Multiplication: 0.28888888888888886
Division: 0.13333333333333333
Fractions: 0.022222222222222223
Decimals: 0.1111111111111111
Total Operations: 1.4444444444444444

In [44]:
good_mammoth = mammoth.query('good==1')
addition = good_mammoth['addition'].mean()
subtraction = good_mammoth['subtraction'].mean()
multiplication = good_mammoth['multiplication'].mean()
division = good_mammoth['division'].mean()
fractions = good_mammoth['fractions'].mean()
decimals = good_mammoth['decimals'].mean()
total_ops = good_mammoth['total_ops'].mean()
print(f"Mammoth good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Mammoth good question statistics:
Addition: 0.4225352112676056
Subtraction: 0.4154929577464789
Multiplication: 0.4084507042253521
Division: 0.176056338028169
Fractions: 0.04929577464788732
Decimals: 0.09859154929577464
Total Operations: 1.5704225352112675

In [45]:
good_mathwell = mathwell.query('good==1')
addition = good_mathwell['addition'].mean()
subtraction = good_mathwell['subtraction'].mean()
multiplication = good_mathwell['multiplication'].mean()
division = good_mathwell['division'].mean()
fractions = good_mathwell['fractions'].mean()
decimals = good_mathwell['decimals'].mean()
total_ops = good_mathwell['total_ops'].mean()
print(f"Mathwell good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Mathwell good question statistics:
Addition: 0.7052631578947368
Subtraction: 0.6684210526315789
Multiplication: 0.22105263157894736
Division: 0.12105263157894737
Fractions: 0.04736842105263158
Decimals: 0.07368421052631578
Total Operations: 1.8368421052631578

## Check for Statistical Significance

In [46]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on percentage good
t_statistic, p_value = stats.ttest_ind(mathwell['good'], llama['good'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 3.0413860314386403
P-value: 0.0024790545703849286

In [47]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on solvability
t_statistic, p_value = stats.ttest_ind(mathwell['solvability'], mammoth['solvability'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.692066963747948
P-value: 0.48921781892866034

In [48]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on accuracy
mathwell_clean = mathwell['accuracy'].dropna()
mammoth_clean = mammoth['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, mammoth_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.0107170508337926
P-value: 0.31270861538106104

In [49]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on appropriateness
mathwell_clean = mathwell['appropriateness'].dropna()
llama_clean = llama['appropriateness'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, llama_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.9348142511877204
P-value: 0.053662570917185605

In [50]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on number of operations
mathwell_clean = mathwell['total_ops'].dropna()
llama_clean = llama['total_ops'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, llama_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.7395859935069085
P-value: 0.45996440927049875

In [51]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on number of no ops
mathwell_clean = mathwell['no_ops'].dropna()
mammoth_clean = mammoth['no_ops'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, mammoth_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.7447967629726213
P-value: 0.45679311461455785

In [52]:
# Perform an independent two-sample t-test on percentage good
llama_execute =llama['good'] * .55425904317386234
mathwell_execute = mathwell['good'] * .6635177687809268
t_statistic, p_value = stats.ttest_ind(mathwell_execute, llama_execute)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 6.154275788331276
P-value: 1.5523178922780291e-09

## Build Logit Models to Control for Question Type

In [53]:
reg_df = pd.concat([df, pd.get_dummies(df['model'], dtype = int)], axis=1)
reg_df = reg_df[reg_df['solvability']==1]
x = reg_df[['llema', 'mammoth', 'llama']]
x = sm.add_constant(x)
y = reg_df['good']
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.560745
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   good   No. Observations:                  778
Model:                          Logit   Df Residuals:                      774
Method:                           MLE   Df Model:                            3
Date:                Wed, 14 Feb 2024   Pseudo R-squ.:                 0.09549
Time:                        13:35:10   Log-Likelihood:                -436.26
converged:                       True   LL-Null:                       -482.31
Covariance Type:            nonrobust   LLR p-value:                 7.717e-20
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.7505      0.189      9.282      0.000       1.381       2.120
llema         -2.3133      0.265     -8.716      0.000      -2.834      -1.793
mammoth       -1.1254      0.236     -4.766      0.000      -1.588      -0.663
llama         -0.6706      0.246     -2.729      0.006      -1.152      -0.189
==============================================================================
"""

In [54]:
x = reg_df[['addition', 'subtraction',
       'multiplication', 'division', 'fractions', 'decimals', 
       'llema', 'mammoth', 'llama']]
y = reg_df['good']
x = sm.add_constant(x)
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.550858
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   good   No. Observations:                  778
Model:                          Logit   Df Residuals:                      768
Method:                           MLE   Df Model:                            9
Date:                Wed, 14 Feb 2024   Pseudo R-squ.:                  0.1114
Time:                        13:35:11   Log-Likelihood:                -428.57
converged:                       True   LL-Null:                       -482.31
Covariance Type:            nonrobust   LLR p-value:                 4.756e-19
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const              1.2384      0.286      4.335      0.000       0.679       1.798
addition           0.2789      0.195      1.427      0.154      -0.104       0.662
subtraction        0.4899      0.204      2.402      0.016       0.090       0.890
multiplication     0.2900      0.211      1.375      0.169      -0.123       0.704
division           0.0500      0.268      0.187      0.852      -0.474       0.574
fractions         -0.3126      0.366     -0.854      0.393      -1.030       0.405
decimals          -0.3637      0.281     -1.293      0.196      -0.915       0.188
llema             -2.1061      0.274     -7.687      0.000      -2.643      -1.569
mammoth           -0.9807      0.245     -3.999      0.000      -1.461      -0.500
llama             -0.5918      0.249     -2.372      0.018      -1.081      -0.103
==================================================================================
"""

In [55]:
reg_df = pd.concat([df, pd.get_dummies(df['model'], dtype = int)], axis=1)
reg_df = reg_df[reg_df['solvability']==1]
x = reg_df[['llema', 'llama', 'mammoth']]
x = sm.add_constant(x)
y = reg_df['accuracy']
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.288112
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               accuracy   No. Observations:                  778
Model:                          Logit   Df Residuals:                      774
Method:                           MLE   Df Model:                            3
Date:                Wed, 14 Feb 2024   Pseudo R-squ.:                  0.1375
Time:                        13:35:11   Log-Likelihood:                -224.15
converged:                       True   LL-Null:                       -259.87
Covariance Type:            nonrobust   LLR p-value:                 2.093e-15
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.4294      0.384      8.930      0.000       2.677       4.182
llema         -2.7241      0.429     -6.352      0.000      -3.565      -1.884
llama         -1.2681      0.445     -2.849      0.004      -2.141      -0.396
mammoth       -0.4945      0.493     -1.003      0.316      -1.461       0.472
==============================================================================
"""

In [56]:
x = reg_df[['addition', 'subtraction',
       'multiplication', 'division', 'fractions', 'decimals', 
       'llema', 'llama', 'mammoth']]
y = reg_df['accuracy']
x = sm.add_constant(x)
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.281199
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               accuracy   No. Observations:                  778
Model:                          Logit   Df Residuals:                      768
Method:                           MLE   Df Model:                            9
Date:                Wed, 14 Feb 2024   Pseudo R-squ.:                  0.1582
Time:                        13:35:11   Log-Likelihood:                -218.77
converged:                       True   LL-Null:                       -259.87
Covariance Type:            nonrobust   LLR p-value:                 5.899e-14
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const              2.8925      0.489      5.921      0.000       1.935       3.850
addition           0.2300      0.292      0.788      0.431      -0.342       0.802
subtraction        0.6338      0.307      2.064      0.039       0.032       1.236
multiplication     0.3716      0.308      1.207      0.227      -0.232       0.975
division           0.0105      0.378      0.028      0.978      -0.730       0.751
fractions         -0.2480      0.497     -0.498      0.618      -1.223       0.727
decimals          -0.5314      0.382     -1.390      0.164      -1.281       0.218
llema             -2.4793      0.441     -5.616      0.000      -3.345      -1.614
llama             -1.1795      0.449     -2.624      0.009      -2.060      -0.299
mammoth           -0.3187      0.504     -0.633      0.527      -1.306       0.669
==================================================================================
"""

## Explore Accuracy by Question Type

In [57]:
addition_acc = mathwell[mathwell['addition']==1]['accuracy'].mean()
subtraction_acc = mathwell[mathwell['subtraction']==1]['accuracy'].mean()
multiplication_acc = mathwell[mathwell['multiplication']==1]['accuracy'].mean()
division_acc = mathwell[mathwell['division']==1]['accuracy'].mean()
decimals_acc = mathwell[mathwell['decimals']==1]['accuracy'].mean()
fractions_acc = mathwell[mathwell['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.9612903225806452, Subtraction: 0.972972972972973, Multiplication: 0.9387755102040817, Division: 0.9285714285714286, Decimals: 0.9411764705882353, Fractions: 1.0

In [58]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mathwell[mathwell['subtraction']==1]['accuracy'].dropna()
low = mathwell[mathwell['division']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.185301333619665
P-value: 0.23751459264239977

In [59]:
addition_acc = llama[llama['addition']==1]['accuracy'].mean()
subtraction_acc = llama[llama['subtraction']==1]['accuracy'].mean()
multiplication_acc = llama[llama['multiplication']==1]['accuracy'].mean()
division_acc = llama[llama['division']==1]['accuracy'].mean()
decimals_acc = llama[llama['decimals']==1]['accuracy'].mean()
fractions_acc = llama[llama['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.905511811023622, Subtraction: 0.9186991869918699, Multiplication: 0.9, Division: 0.8, Decimals: 0.7272727272727273, Fractions: 0.8235294117647058

In [60]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = llama[llama['subtraction']==1]['accuracy'].dropna()
low = llama[llama['decimals']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 2.6863968281618087
P-value: 0.008078194273239202

In [61]:
addition_acc = llema[llema['addition']==1]['accuracy'].mean()
subtraction_acc = llema[llema['subtraction']==1]['accuracy'].mean()
multiplication_acc = llema[llema['multiplication']==1]['accuracy'].mean()
division_acc = llema[llema['division']==1]['accuracy'].mean()
decimals_acc = llema[llema['decimals']==1]['accuracy'].mean()
fractions_acc = llema[llema['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.7777777777777778, Subtraction: 0.7948717948717948, Multiplication: 0.6585365853658537, Division: 0.5416666666666666, Decimals: 0.6666666666666666, Fractions: 0.5714285714285714

In [62]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = llema[llema['subtraction']==1]['accuracy'].dropna()
low = llema[llema['division']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 2.1719367269514493
P-value: 0.03375761583623925

In [63]:
addition_acc = mammoth[mammoth['addition']==1]['accuracy'].mean()
subtraction_acc = mammoth[mammoth['subtraction']==1]['accuracy'].mean()
multiplication_acc = mammoth[mammoth['multiplication']==1]['accuracy'].mean()
division_acc = mammoth[mammoth['division']==1]['accuracy'].mean()
decimals_acc = mammoth[mammoth['decimals']==1]['accuracy'].mean()
fractions_acc = mammoth[mammoth['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.9651162790697675, Subtraction: 0.9634146341463414, Multiplication: 0.968421052631579, Division: 0.9767441860465116, Decimals: 0.9130434782608695, Fractions: 0.875

In [64]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['division']==1]['accuracy'].dropna()
low = mammoth[mammoth['fractions']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.35928736541608
P-value: 0.180278822728568

In [65]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['addition']==1]['accuracy'].dropna()
low = mathwell[mathwell['addition']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.14945453514121473
P-value: 0.8813210204814809

In [66]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['subtraction']==1]['accuracy'].dropna()
low = mathwell[mathwell['subtraction']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.4025691311258525
P-value: 0.6876424038753012

In [67]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['multiplication']==1]['accuracy'].dropna()
low = mathwell[mathwell['multiplication']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.8396993458163582
P-value: 0.4024884891709709

In [68]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['division']==1]['accuracy'].dropna()
low = mathwell[mathwell['division']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.9788561039105129
P-value: 0.3310707100681991

In [69]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['fractions']==1]['accuracy'].dropna()
low = mathwell[mathwell['fractions']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -1.1857550495755795
P-value: 0.2520288521444326

/Users/bryan/.pyenv/versions/3.11.5/lib/python3.11/site-packages/scipy/stats/_axis_nan_policy.py:531: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)

In [70]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['decimals']==1]['accuracy'].dropna()
low = mathwell[mathwell['decimals']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.3259423987758857
P-value: 0.7462561459262849

## Merge DF with Question Data and Send to CSV

In [71]:
questions = pd.read_csv('data/zooniverse_questions.csv')
questions

,Unnamed: 0,question,solution,answer,topic,question_number
0,630,Five Red Riding Hood field hockey players run ...,def solution():\n #The total miles ran by t...,3.0,field hockey,llema_q628
1,260,There are 360 million players of Fortnite. 50 ...,def solution():\n #Total players of Fortnit...,"(310000000, 50000000)",Fortnite,llema_q260
2,327,Thor the God of Thunder has 3 magic hammer Uru...,def solution():\n #Thor has 3 magic hammers...,1,"Thor, the God of Thunder",llema_q327
3,77,A high school girl lacrosse team won 8 out of ...,def solution():\n #A high school girl lacro...,1.2,lacrosse,llema_q77
4,684,There are 200 unicorns in a forest. 100 of the...,def solution():\n #Total unicorns\n tota...,50,unicorns,mathwell_q661
...,...,...,...,...,...,...
995,163,30 people are going to a pizza party. 20 of th...,def solution():\n #Total people\n total_...,120,pizza,llama_q163
996,460,A swimmer can swim 20 laps per hour. \n\nIf sh...,def solution():\n #A swimmer can swim 20 la...,1200,swimming,mathwell_q453
997,247,There are 12 cookies in a jar. Four of the coo...,def solution():\n # total number of cookies...,7,cookies,mammoth_q247
998,1124,Spiderman has 100 spider webs. He uses 20 spid...,def solution():\n #Spiderman started with 1...,50,Spiderman,mathwell_q1084
999,1043,Tina can swim 24 laps in 1 hour. How many laps...,def solution():\n #Tina can swim 24 laps in...,96,swimming,llama_q1035

In [72]:
df['question_number'].value_counts()

question_number
llama_q1053       1
mammoth_q265      1
mammoth_q131      1
mammoth_q271      1
mammoth_q97       1
                 ..
mathwell_q1178    1
llama_q1165       1
llema_q629        1
mammoth_q122      1
llema_q292        1
Name: count, Length: 1000, dtype: int64

In [73]:
merged = pd.merge(df, questions,
              on = 'question_number',
              how='inner',
              validate='one_to_one', 
              indicator = 'matched')
merged['matched'].value_counts()

matched
both          1000
left_only        0
right_only       0
Name: count, dtype: int64

In [74]:
merged = pd.merge(df, questions,
              on = 'question_number',
              how='inner')
merged

,model,question_number,solvability,accuracy,appropriateness,topic_x,notes,addition,subtraction,multiplication,...,fractions,decimals,no_ops,total_ops,good,Unnamed: 0,question,solution,answer,topic_y
0,llama,llama_q1053,1,1.0,1.0,1,,1.0,1.0,0.0,...,0.0,0.0,0.0,2.0,1,1062,Steph Curry has 3000 points. 1000 of them are ...,def solution():\n #Steph Curry has 3000 poi...,0,Steph Curry
1,mammoth,mammoth_q127,1,1.0,1.0,1,,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1,127,The soccer team has 15 players. Each player ha...,def solution():\n #Number of players\n p...,30,soccer
2,llama,llama_q1061,1,0.0,1.0,1,,0.0,0.0,0.0,...,0.0,1.0,0.0,2.0,0,1070,A commercial airplane takes 12 hours to fly fr...,def solution():\n #A commercial airplane ta...,0.6,planes
3,llema,llema_q526,0,NaN,NaN,1,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,526,"In the original comic book series, the four Tu...",def solution():\n #Raphael is 6 inches tall...,30,Ninja Turtles
4,mathwell,mathwell_q528,1,1.0,1.0,1,,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1,540,Patrick Mahomes has 20000 yards. He gains 1000...,def solution():\n #Patrick Mahomes started ...,45000,Patrick Mahomes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,mammoth,mammoth_q77,1,1.0,0.0,1,,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0,77,The ice cream shop has 6 different flavors. Ea...,def solution():\n # number of flavors\n ...,18,ice cream
996,llema,llema_q259,0,NaN,NaN,1,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,259,Taylor Swift released an album with 14 songs. ...,def solution():\n #Taylor released an album...,4,Taylor Swift
997,llama,llama_q940,1,1.0,1.0,1,,1.0,1.0,0.0,...,0.0,0.0,0.0,2.0,1,946,Thor has 1000 gold coins. He is to pay 100 gol...,def solution():\n #Thor started with 1000 g...,700,"Thor, the God of Thunder"
998,llama,llama_q65,1,0.0,1.0,1,,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0,65,A basketball team scored 120 points in a game....,def solution():\n #The team scored 120 poin...,90,basketball
999,llema,llema_q292,0,NaN,NaN,0,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,292,There are 18 goals on the lacrosse field in Ho...,def solution():\n #How many goals are there...,2.5714285714285716,lacrosse

In [75]:
merged['text'] = "Question: " + merged['question'] + "\nAnswer: " + merged['answer']
merged.to_csv('data/all_models.csv')
merged['acc_text'] = "Question: " + merged['question'] + "\nSolution:\n" + merged['solution']

In [76]:
llama = merged[merged['model']=='llama']
llema = merged[merged['model']=='llema']
mathwell = merged[merged['model']=='mathwell']
mammoth = merged[merged['model']=='mammoth']

In [77]:
solvability = llama[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/llama_solvability.csv')
solvability

     label                                               text
0        1  Steph Curry has 3000 points. 1000 of them are ...
2        1  A commercial airplane takes 12 hours to fly fr...
7        1  Taylor Swift has 100 cats. She has 30 more cat...
17       1  Hello Kitty is a 3-pound kitten. She ate 1/2 a...
18       1  Fortnite is a battle royale game. 100 players ...
..     ...                                                ...
989      0  Superman is 10 feet tall. He jumps 100 feet in...
992      1  In the first level, Super Mario can stomp 20 K...
993      1  Hello Kitty has 200000000 fans. 1/10 of the fa...
997      1  Thor has 1000 gold coins. He is to pay 100 gol...
998      1  A basketball team scored 120 points in a game....

[250 rows x 2 columns]

In [78]:
solvability = llema[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/llema_solvability.csv')
solvability

     label                                               text
3        0  In the original comic book series, the four Tu...
5        1  Spiderman has a web-shooter that shoots spider...
10       0  Naruto has 3000 calories of ramen.  He uses 20...
14       1  Wonder Woman has 5 cats. She also has a dog.  ...
24       1  Mentos sell for $3.25 per bag. How much do 4 b...
..     ...                                                ...
985      1  Leonardo has 3000.00. He spends $2500.00 on a ...
987      0  How high can Peter Parker jump if he's current...
994      0  Barbie loves to swim and goes to the pool ever...
996      0  Taylor Swift released an album with 14 songs. ...
999      0  There are 18 goals on the lacrosse field in Ho...

[250 rows x 2 columns]

In [79]:
solvability = mammoth[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/mammoth_solvability.csv')
solvability

     label                                               text
1        1  The soccer team has 15 players. Each player ha...
8        1  Iron Man has 100 arc reactors. He deploys 20 a...
9        0  Iron Man has 5000 dollars. He spends 1000 doll...
11       1  Naruto can run at a top speed of 1200 km/h. He...
19       0               How many cobblestones are there now?
..     ...                                                ...
976      1  In Minecraft, you can craft a bed using 3 wood...
986      1  Harry Potter has 200 galleons. He spent 93 gal...
988      1  Thor, the God of Thunder, can throw his hammer...
991      1  If a person eats 2 bowls of ice cream every da...
995      1  The ice cream shop has 6 different flavors. Ea...

[250 rows x 2 columns]

In [80]:
solvability = mathwell[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/mathwell_solvability.csv')
solvability

     label                                               text
4        1  Patrick Mahomes has 20000 yards. He gains 1000...
6        1  Naruto ate 35 ramen noodles. The next day, he ...
12       1  Batman has 100 batarangs. 20 of them are in hi...
13       1  A candy store has 125 lollipops. 25 of the lol...
15       1  There are 300 dogs in a dog park. 200 of the d...
..     ...                                                ...
963      1  Iron Man has 5000 vibranium-enhanced armor pla...
966      1  A car is traveling at 60 miles per hour. It is...
979      1  Captain America has 1000 vibranium shields. 20...
984      0  LeBron James is 6'9" tall. \nHe's 36 years old...
990      1  A 10-car train is 1200 feet long. A 20-car tra...

[250 rows x 2 columns]

In [81]:
solvability = merged[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/solvability_all_models.csv')
solvability

     label                                               text
0        1  Steph Curry has 3000 points. 1000 of them are ...
1        1  The soccer team has 15 players. Each player ha...
2        1  A commercial airplane takes 12 hours to fly fr...
3        0  In the original comic book series, the four Tu...
4        1  Patrick Mahomes has 20000 yards. He gains 1000...
..     ...                                                ...
995      1  The ice cream shop has 6 different flavors. Ea...
996      0  Taylor Swift released an album with 14 songs. ...
997      1  Thor has 1000 gold coins. He is to pay 100 gol...
998      1  A basketball team scored 120 points in a game....
999      0  There are 18 goals on the lacrosse field in Ho...

[1000 rows x 2 columns]

In [82]:
appropriateness = merged[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness = appropriateness[['label', 'text']]
appropriateness.to_csv('data/appropriateness_all_models.csv')
appropriateness

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
1      1.0  Question: The soccer team has 15 players. Each...
2      1.0  Question: A commercial airplane takes 12 hours...
4      1.0  Question: Patrick Mahomes has 20000 yards. He ...
5      1.0  Question: Spiderman has a web-shooter that sho...
..     ...                                                ...
992    1.0  Question: In the first level, Super Mario can ...
993    1.0  Question: Hello Kitty has 200000000 fans. 1/10...
995    0.0  Question: The ice cream shop has 6 different f...
997    1.0  Question: Thor has 1000 gold coins. He is to p...
998    1.0  Question: A basketball team scored 120 points ...

[778 rows x 2 columns]

In [83]:
appropriateness = llama[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/llama_appropriateness.csv')
appropriateness

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
2      1.0  Question: A commercial airplane takes 12 hours...
7      0.0  Question: Taylor Swift has 100 cats. She has 3...
17     1.0  Question: Hello Kitty is a 3-pound kitten. She...
18     1.0  Question: Fortnite is a battle royale game. 10...
..     ...                                                ...
983    1.0  Question: Ice cream is $2.50 per pint. \nA pin...
992    1.0  Question: In the first level, Super Mario can ...
993    1.0  Question: Hello Kitty has 200000000 fans. 1/10...
997    1.0  Question: Thor has 1000 gold coins. He is to p...
998    1.0  Question: A basketball team scored 120 points ...

[213 rows x 2 columns]

In [84]:
appropriateness = llema[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/llema_appropriateness.csv')
appropriateness

     label                                               text
5      1.0  Question: Spiderman has a web-shooter that sho...
14     1.0  Question: Wonder Woman has 5 cats. She also ha...
24     1.0  Question: Mentos sell for $3.25 per bag. How m...
44     1.0  Question: 12 lacrosse sticks were in the gym. ...
48     0.0  Question: Black Panther has 50000 vibranium co...
..     ...                                                ...
975    0.0  Question: Tom Brady has 7 completions. He also...
977    1.0  Question: 1000 children want to play soccer. T...
981    1.0  Question: In the game Minecraft, there are 120...
982    1.0  Question: A field hockey player scored 7 goals...
985    1.0  Question: Leonardo has 3000.00. He spends $250...

[124 rows x 2 columns]

In [85]:
appropriateness = mammoth[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/mammoth_appropriateness.csv')
appropriateness

     label                                               text
1      1.0  Question: The soccer team has 15 players. Each...
8      1.0  Question: Iron Man has 100 arc reactors. He de...
11     0.0  Question: Naruto can run at a top speed of 120...
25     0.0  Question: Wonder Woman has 100 arrows and 1000...
26     1.0  Question: A trainer has 600 PokÃ©mon. He releas...
..     ...                                                ...
976    1.0  Question: In Minecraft, you can craft a bed us...
986    0.0  Question: Harry Potter has 200 galleons. He sp...
988    1.0  Question: Thor, the God of Thunder, can throw ...
991    1.0  Question: If a person eats 2 bowls of ice crea...
995    0.0  Question: The ice cream shop has 6 different f...

[218 rows x 2 columns]

In [86]:
appropriateness = mathwell[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/mathwell_appropriateness.csv')
appropriateness

     label                                               text
4      1.0  Question: Patrick Mahomes has 20000 yards. He ...
6      1.0  Question: Naruto ate 35 ramen noodles. The nex...
12     1.0  Question: Batman has 100 batarangs. 20 of them...
13     1.0  Question: A candy store has 125 lollipops. 25 ...
15     1.0  Question: There are 300 dogs in a dog park. 20...
..     ...                                                ...
952    0.0  Question: Batman has 100 batarangs. 20 of them...
963    1.0  Question: Iron Man has 5000 vibranium-enhanced...
966    1.0  Question: A car is traveling at 60 miles per h...
979    1.0  Question: Captain America has 1000 vibranium s...
990    1.0  Question: A 10-car train is 1200 feet long. A ...

[223 rows x 2 columns]

In [87]:
accuracy = llama[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/llama_accuracy.csv')
accuracy

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
2      0.0  Question: A commercial airplane takes 12 hours...
7      1.0  Question: Taylor Swift has 100 cats. She has 3...
17     1.0  Question: Hello Kitty is a 3-pound kitten. She...
18     1.0  Question: Fortnite is a battle royale game. 10...
..     ...                                                ...
983    1.0  Question: Ice cream is $2.50 per pint. \nA pin...
992    1.0  Question: In the first level, Super Mario can ...
993    1.0  Question: Hello Kitty has 200000000 fans. 1/10...
997    1.0  Question: Thor has 1000 gold coins. He is to p...
998    0.0  Question: A basketball team scored 120 points ...

[213 rows x 2 columns]

In [88]:
accuracy = llema[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/llema_accuracy.csv')
accuracy

     label                                               text
5      1.0  Question: Spiderman has a web-shooter that sho...
14     1.0  Question: Wonder Woman has 5 cats. She also ha...
24     0.0  Question: Mentos sell for $3.25 per bag. How m...
44     1.0  Question: 12 lacrosse sticks were in the gym. ...
48     1.0  Question: Black Panther has 50000 vibranium co...
..     ...                                                ...
975    0.0  Question: Tom Brady has 7 completions. He also...
977    1.0  Question: 1000 children want to play soccer. T...
981    1.0  Question: In the game Minecraft, there are 120...
982    1.0  Question: A field hockey player scored 7 goals...
985    1.0  Question: Leonardo has 3000.00. He spends $250...

[124 rows x 2 columns]

In [89]:
accuracy = mammoth[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/mammoth_accuracy.csv')
accuracy

     label                                               text
1      1.0  Question: The soccer team has 15 players. Each...
8      1.0  Question: Iron Man has 100 arc reactors. He de...
11     1.0  Question: Naruto can run at a top speed of 120...
25     1.0  Question: Wonder Woman has 100 arrows and 1000...
26     1.0  Question: A trainer has 600 PokÃ©mon. He releas...
..     ...                                                ...
976    1.0  Question: In Minecraft, you can craft a bed us...
986    1.0  Question: Harry Potter has 200 galleons. He sp...
988    1.0  Question: Thor, the God of Thunder, can throw ...
991    1.0  Question: If a person eats 2 bowls of ice crea...
995    1.0  Question: The ice cream shop has 6 different f...

[218 rows x 2 columns]

In [90]:
accuracy = mathwell[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/mathwell_accuracy.csv')
accuracy

     label                                               text
4      1.0  Question: Patrick Mahomes has 20000 yards. He ...
6      1.0  Question: Naruto ate 35 ramen noodles. The nex...
12     1.0  Question: Batman has 100 batarangs. 20 of them...
13     1.0  Question: A candy store has 125 lollipops. 25 ...
15     1.0  Question: There are 300 dogs in a dog park. 20...
..     ...                                                ...
952    1.0  Question: Batman has 100 batarangs. 20 of them...
963    1.0  Question: Iron Man has 5000 vibranium-enhanced...
966    1.0  Question: A car is traveling at 60 miles per h...
979    1.0  Question: Captain America has 1000 vibranium s...
990    1.0  Question: A 10-car train is 1200 feet long. A ...

[223 rows x 2 columns]

In [91]:
good = merged[['good', 'text']]
good = good.rename({'good': 'label'}, axis = 1)
good.to_csv('data/good_all_models.csv')
good

     label                                               text
0        1  Question: Steph Curry has 3000 points. 1000 of...
1        1  Question: The soccer team has 15 players. Each...
2        0  Question: A commercial airplane takes 12 hours...
3        0  Question: In the original comic book series, t...
4        1  Question: Patrick Mahomes has 20000 yards. He ...
..     ...                                                ...
995      0  Question: The ice cream shop has 6 different f...
996      0  Question: Taylor Swift released an album with ...
997      1  Question: Thor has 1000 gold coins. He is to p...
998      0  Question: A basketball team scored 120 points ...
999      0  Question: There are 18 goals on the lacrosse f...

[1000 rows x 2 columns]

In [92]:
good = llama.query('good==1')
good = good['question']
good.to_csv('data/llama_good.csv')
good = llema.query('good==1')
good = good['question']
good.to_csv('data/llema_good.csv')
good = mammoth.query('good==1')
good = good['question']
good.to_csv('data/mammoth_good.csv')
good = mathwell.query('good==1')
good = good['question']
good.to_csv('data/mathwell_good.csv')

In [93]:
import random
def sample_question(model, criteria, value):
    print(model[model[criteria]==value].iloc[random.randint(0, len(model[model[criteria]==value])-1)]['question'])
    
def sample_question_solution(model, criteria, value):
    index = random.randint(0, len(model[model[criteria]==value])-1)
    print("Question: " + model[model[criteria]==value].iloc[index]['question'] + "\n\nSolution:\n" + model[model[criteria]==value].iloc[index]['solution'])
sample_question(mathwell, criteria = 'appropriateness', value =0)

Thor, the God of Thunder, is 6'3" tall.  He is 300% taller than his brother Loki.  How tall is Loki?

In [94]:
sample_question_solution(mathwell, 'accuracy', 0)

Question: There are 4 Ninja Turtles.
Raphael is 6'2" tall.
Leonardo is 1' shorter than Raphael.
Michelangelo is 2' shorter than Leonardo.
Donatello is 3' taller than Michelangelo.
How tall is Donatello?

Solution:
def solution():
    #Raphael is 6'2" tall
    raphael_height = 6.2
    #Leonardo is 1' shorter than Raphael
    leonardo_height = raphael_height - 1
    #Michelangelo is 2' shorter than Leonardo
    michelangelo_height = leonardo_height - 2
    #Donatello is 3' taller than Michelangelo
    donatello_height = michelangelo_height + 3
    #The answer is
    result = donatello_height
    return result

## Create Annotated Dataset for All Questions

In [95]:
all_qs = merged[['model','question', 'solution', 'answer', 'accuracy', 'solvability', 'appropriateness', 'good']]
mathwell_annotated = pd.read_csv('data/mathwell_annotations.csv')
all_qs = pd.concat([all_qs, mathwell_annotated])
replace_map = {np.nan: 'finetuned_llama'}
all_qs['model'] = all_qs['model'].replace(replace_map)
all_qs = all_qs.drop(['Unnamed: 0'], axis=1)
all_qs

,model,question,solution,answer,accuracy,solvability,appropriateness,good
0,llama,Steph Curry has 3000 points. 1000 of them are ...,def solution():\n #Steph Curry has 3000 poi...,0,1.0,1,1.0,1
1,mammoth,The soccer team has 15 players. Each player ha...,def solution():\n #Number of players\n p...,30,1.0,1,1.0,1
2,llama,A commercial airplane takes 12 hours to fly fr...,def solution():\n #A commercial airplane ta...,0.6,0.0,1,1.0,0
3,llema,"In the original comic book series, the four Tu...",def solution():\n #Raphael is 6 inches tall...,30,NaN,0,NaN,0
4,mathwell,Patrick Mahomes has 20000 yards. He gains 1000...,def solution():\n #Patrick Mahomes started ...,45000,1.0,1,1.0,1
...,...,...,...,...,...,...,...,...
3229,finetuned_llama,A field hockey game has 11 players per team. T...,def solution():\n #A field hockey game has ...,33,0.0,1,0.0,0
3230,finetuned_llama,100 turtles are at the pond. 10 turtles are ea...,def solution():\n #Total turtles\n total...,0,0.0,1,0.0,0
3231,finetuned_llama,Barbie has 1200 Instagram followers. 200 more ...,def solution():\n #Barbie started with 1200...,1150,0.0,0,0.0,0
3232,finetuned_llama,1234567890 is a 10-digit number. \nHow many 3-...,def solution():\n #10-digit number has 10 d...,3.3333333333333335,0.0,1,0.0,0
3233,finetuned_llama,7 cats and 23 dogs are in a cage. 14 of the an...,def solution():\n #Total cats and dogs\n ...,13,0.0,0,0.0,0

In [96]:
print(f'''Overall num questions: {len(all_qs)}
Overall percentage appropriate: {all_qs['appropriateness'].mean()} Standard Deviation: {np.std(all_qs['appropriateness'])} Standard Error: {st.sem(all_qs['appropriateness'].dropna())*100}
Overall percentage solvable: {all_qs['solvability'].mean()} Standard Deviation: {np.std(all_qs['solvability'])} Standard Error: {st.sem(all_qs['solvability'])*100}
Overall percentage accurate: {all_qs['accuracy'].mean()} Standard Deviation: {np.std(all_qs['accuracy'])} Standard Error: {st.sem(all_qs['accuracy'].dropna())*100}
Overall percentage good in all metrics: {all_qs['good'].mean()} Standard Deviation: {np.std(all_qs['good'])} Standard Error: {st.sem(all_qs['good'])*100}
Number of good questions: {len(all_qs[all_qs['good']==1])}''')
all_qs = all_qs.rename(columns = {'good': 'mac'})
all_qs.to_csv('data/annotations_all.csv')

Overall num questions: 4234
Overall percentage appropriate: 0.6744765702891325 Standard Deviation: 0.4685700869882129 Standard Error: 0.7398577531791299
Overall percentage solvable: 0.8119981105337742 Standard Deviation: 0.3907136790839999 Standard Error: 0.600529687885638
Overall percentage accurate: 0.8664079822616408 Standard Deviation: 0.3402134484921975 Standard Error: 0.5664719449996887
Overall percentage good in all metrics: 0.5767595654227681 Standard Deviation: 0.4940728378651348 Standard Error: 0.7593934458899042
Number of good questions: 2442

## Format Good Data in Instruction Format for Further Finetuning for Question Generation

In [97]:
merged=merged.query("good==1 & model=='mathwell'")
sgsm_train = merged[['question', 'solution', 'answer', 'topic_y']]
sgsm_train = sgsm_train.rename(columns = {'topic_y': 'topic'})
train = pd.read_csv('data/finetuning_data.csv')
sgsm_train = pd.concat([sgsm_train, train])
replace_map = {np.nan: 'unspecified'}
sgsm_train['topic'] = sgsm_train['topic'].replace(replace_map)
sgsm_train = sgsm_train.drop(['Unnamed: 0'], axis=1)
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
sgsm_train['solution'] = sgsm_train.apply(parse_solution, axis=1)
sgsm_train.to_csv('data/sgsm_train.csv')
sgsm_train

,question,solution,answer,topic
4,Patrick Mahomes has 20000 yards. He gains 1000...,def solution():\n #Patrick Mahomes started ...,45000,Patrick Mahomes
6,"Naruto ate 35 ramen noodles. The next day, he ...",def solution():\n #Naruto ate 35 ramen nood...,110,Naruto
12,Batman has 100 batarangs. 20 of them are in hi...,def solution():\n #Batman has 100 batarangs...,50,Batman
13,A candy store has 125 lollipops. 25 of the lol...,def solution():\n #The candy store has 125 ...,50,candy
15,There are 300 dogs in a dog park. 200 of the d...,def solution():\n #There are 300 dogs in a ...,240,dogs
...,...,...,...,...
1901,30 unicorns are in a herd. 10 unicorns in the ...,def solution():\n #Total number of unicorns...,17,unicorns
1902,A pizza has 8 slices. 4 of the slices have pep...,def solution():\n #A pizza has 8 slices\n ...,4,pizza
1903,12000 people were at a rally. 10000 of them we...,def solution():\n #Total number of people a...,500,unspecified
1904,A bakery made 300 muffins. 150 of the muffins ...,def solution():\n #Total muffins\n total...,60,unspecified
1905,A pizza is cut into 12 slices. 5 slices are to...,def solution():\n #A pizza is cut into 12 s...,6,pizza

In [98]:
merged_copy = merged
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
merged['solution'] = merged.apply(parse_solution, axis = 1)
merged['output'] = "Question: " + merged['question'] + "\n" + "Solution:\n" + merged['solution']
merged['instruction'] = "Write a grade school math word problem and Python function with a commented out step-by-step solution to solve the word problem."
merged['input']=''
merged = merged[['output', 'instruction', 'input']]
merged

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/2997887767.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['solution'] = merged.apply(parse_solution, axis = 1)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/2997887767.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['output'] = "Question: " + merged['question'] + "\n" + "Solution:\n" + merged['solution']
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/2997887767.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['instruction'] = "Write a grade school math word problem and Python function with a commented out step-by-step solution to solve the word problem."
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/2997887767.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['input']=''

,output,instruction,input
4,Question: Patrick Mahomes has 20000 yards. He ...,Write a grade school math word problem and Pyt...,
6,Question: Naruto ate 35 ramen noodles. The nex...,Write a grade school math word problem and Pyt...,
12,Question: Batman has 100 batarangs. 20 of them...,Write a grade school math word problem and Pyt...,
13,Question: A candy store has 125 lollipops. 25 ...,Write a grade school math word problem and Pyt...,
15,Question: There are 300 dogs in a dog park. 20...,Write a grade school math word problem and Pyt...,
...,...,...,...
946,"Question: LeBron James has 30,000 career point...",Write a grade school math word problem and Pyt...,
963,Question: Iron Man has 5000 vibranium-enhanced...,Write a grade school math word problem and Pyt...,
966,Question: A car is traveling at 60 miles per h...,Write a grade school math word problem and Pyt...,
979,Question: Captain America has 1000 vibranium s...,Write a grade school math word problem and Pyt...,
990,Question: A 10-car train is 1200 feet long. A ...,Write a grade school math word problem and Pyt...,

In [99]:
# Save DataFrame to a JSON file
mathwell = pd.read_csv('data/mathwell.csv')
mathwell = pd.concat([mathwell, merged])
replace_map = {np.nan: ""}
mathwell['input'] = mathwell['input'].replace(replace_map)
mathwell.to_csv('data/mathwell_final.csv')
mathwell.to_json('data/mathwell_final.json', orient='records', lines=True)  # Saves each row as a separate JSON object in the file
import json

file_path = "data/mathwell_final.json"
data = []

with open(file_path, 'r') as json_file:
    for line in json_file:
        try:
            obj = json.loads(line)
            data.append(obj)
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line: {line}")
output_file = "data/mathwell_final.json"
with open(output_file, 'w') as json_file:
    json.dump(data, json_file)

mathwell

,Unnamed: 0,output,instruction,input
0,0.0,Question: LeBron James has 30000 points. He ha...,Write a grade school math word problem and Pyt...,
1,1.0,Question: A class has 120 students. 40 of them...,Write a grade school math word problem and Pyt...,
2,5.0,Question: Naruto has 5000 ryo. He spends 1000 ...,Write a grade school math word problem and Pyt...,
3,6.0,Question: Hello Kitty has 12 pencils. She boug...,Write a grade school math word problem and Pyt...,
4,7.0,Question: Wonder Woman's lasso of truth can ho...,Write a grade school math word problem and Pyt...,
...,...,...,...,...
946,NaN,"Question: LeBron James has 30,000 career point...",Write a grade school math word problem and Pyt...,
963,NaN,Question: Iron Man has 5000 vibranium-enhanced...,Write a grade school math word problem and Pyt...,
966,NaN,Question: A car is traveling at 60 miles per h...,Write a grade school math word problem and Pyt...,
979,NaN,Question: Captain America has 1000 vibranium s...,Write a grade school math word problem and Pyt...,
990,NaN,Question: A 10-car train is 1200 feet long. A ...,Write a grade school math word problem and Pyt...,

## Format Good Data in Instruction Format for Further Finetuning for Question Answering for MAmmoTH

In [100]:
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
merged_copy['solution'] = merged_copy.apply(parse_solution, axis = 1)
merged_copy['output'] = merged_copy['solution']
merged_copy['instruction'] = merged_copy['question'] + " Let's write a program."
merged_copy['input']=''
merged_copy = merged_copy[['output', 'instruction', 'input']]
merged_copy

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/3127720877.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['solution'] = merged_copy.apply(parse_solution, axis = 1)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/3127720877.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['output'] = merged_copy['solution']
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/3127720877.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['instruction'] = merged_copy['question'] + " Let's write a program."
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_41574/3127720877.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['input']=''

,output,instruction,input
4,def solution():\n #Patrick Mahomes started ...,Patrick Mahomes has 20000 yards. He gains 1000...,
6,def solution():\n #Naruto ate 35 ramen nood...,"Naruto ate 35 ramen noodles. The next day, he ...",
12,def solution():\n #Batman has 100 batarangs...,Batman has 100 batarangs. 20 of them are in hi...,
13,def solution():\n #The candy store has 125 ...,A candy store has 125 lollipops. 25 of the lol...,
15,def solution():\n #There are 300 dogs in a ...,There are 300 dogs in a dog park. 200 of the d...,
...,...,...,...
946,"def solution():\n #LeBron James has 30,000 ...","LeBron James has 30,000 career points. He has ...",
963,def solution():\n #Iron Man has 5000 plates...,Iron Man has 5000 vibranium-enhanced armor pla...,
966,def solution():\n # car is traveling at 60 ...,A car is traveling at 60 miles per hour. It is...,
979,def solution():\n #Captain America has 1000...,Captain America has 1000 vibranium shields. 20...,
990,def solution():\n #The 10-car train is 1200...,A 10-car train is 1200 feet long. A 20-car tra...,

In [101]:
# Save DataFrame to a JSON file
mathwell = pd.read_csv('data/mathwell_qa.csv')
mathwell = pd.concat([mathwell, merged_copy])
mathwell['input']=""
mathwell = mathwell[['output', 'instruction', 'input']]
mathwell.to_csv('data/mathwell_final_qa.csv')
mathwell.to_json('data/mathwell_final_qa.json', orient='records', lines=True)  # Saves each row as a separate JSON object in the file
import json

file_path = "data/mathwell_final_qa.json"
data = []

with open(file_path, 'r') as json_file:
    for line in json_file:
        try:
            obj = json.loads(line)
            data.append(obj)
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line: {line}")
output_file = "data/mathwell_final_qa.json"
with open(output_file, 'w') as json_file:
    json.dump(data, json_file)