## Import Dependencies and Load in Data At Correct Index

In [1]:
import pandas as pd
import json
import numpy as np
import scipy.stats as st
import statsmodels.api as sm 
import math

In [2]:
df = pd.read_csv('data/model_comparison.csv')
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
0,501808106,bryanchrist,2631956.0,bb9b7b612f0d53a746e3,24740,Classify Questions,37.630,2023-07-18 16:13:14 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
1,501808147,bryanchrist,2631956.0,bb9b7b612f0d53a746e3,24740,Classify Questions,37.630,2023-07-18 16:13:27 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
2,501808176,bryanchrist,2631956.0,bb9b7b612f0d53a746e3,24740,Classify Questions,37.630,2023-07-18 16:13:36 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
3,501808272,bryanchrist,2631956.0,bb9b7b612f0d53a746e3,24740,Classify Questions,37.630,2023-07-18 16:14:12 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
4,501809115,bryanchrist,2631956.0,bb9b7b612f0d53a746e3,24740,Classify Questions,37.630,2023-07-18 16:19:32 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6932,551122700,bryanchrist,2631956.0,42f461332029cff62b4a,24740,Classify Questions,142.214,2024-03-29 00:55:20 UTC,NaN,NaN,"{""source"":""api"",""session"":""6d704698f6076da8d57...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97985881"":{""retired"":null,""Filename"":""gpt4_q...",97985881
6933,551122834,bryanchrist,2631956.0,42f461332029cff62b4a,24740,Classify Questions,142.214,2024-03-29 00:55:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""6d704698f6076da8d57...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97985704"":{""retired"":null,""Filename"":""gpt4_q...",97985704
6934,551123102,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:57:30 UTC,NaN,NaN,"{""source"":""api"",""session"":""6d704698f6076da8d57...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97985721"":{""retired"":null,""Filename"":""gpt4_q...",97985721
6935,551123146,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:57:48 UTC,NaN,NaN,"{""source"":""api"",""session"":""6d704698f6076da8d57...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97985863"":{""retired"":null,""Filename"":""gpt4_q...",97985863
6936,551123224,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:58:18 UTC,NaN,NaN,"{""source"":""api"",""session"":""6d704698f6076da8d57...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97985855"":{""retired"":null,""Filename"":""gpt4_q...",97985855

In [3]:
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['annotations'])
    try:
        if my_json[2]['task_label']=='What math operations/concepts are required to solve the problem? Please select all that apply. ':
            start_index = i
            break
    except:
        pass
df = df[start_index:]
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
4798,526544790,bryanchrist,2631956.0,bbd40128450fe3c1d9fc,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,"{""source"":""api"",""session"":""777a08164cd7f8e01a2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323602"":{""retired"":null,""Filename"":""llama_...",94323602
4799,526686902,not-logged-in-4a81bdb6d63ab65855bc,NaN,4a81bdb6d63ab65855bc,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323999"":{""retired"":null,""Filename"":""mammot...",94323999
4800,526687176,not-logged-in-7e03431fc615ebe94b2e,NaN,7e03431fc615ebe94b2e,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323887"":{""retired"":null,""Filename"":""llema_...",94323887
4801,526687284,not-logged-in-7f9972fac6207ef6e244,NaN,7f9972fac6207ef6e244,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323658"":{""retired"":null,""Filename"":""llama_...",94323658
4802,526687346,not-logged-in-01354ab5a0fd68b3dc32,NaN,01354ab5a0fd68b3dc32,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323967"":{""retired"":null,""Filename"":""mammot...",94323967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6932,551122700,bryanchrist,2631956.0,42f461332029cff62b4a,24740,Classify Questions,142.214,2024-03-29 00:55:20 UTC,NaN,NaN,"{""source"":""api"",""session"":""6d704698f6076da8d57...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97985881"":{""retired"":null,""Filename"":""gpt4_q...",97985881
6933,551122834,bryanchrist,2631956.0,42f461332029cff62b4a,24740,Classify Questions,142.214,2024-03-29 00:55:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""6d704698f6076da8d57...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97985704"":{""retired"":null,""Filename"":""gpt4_q...",97985704
6934,551123102,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:57:30 UTC,NaN,NaN,"{""source"":""api"",""session"":""6d704698f6076da8d57...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97985721"":{""retired"":null,""Filename"":""gpt4_q...",97985721
6935,551123146,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:57:48 UTC,NaN,NaN,"{""source"":""api"",""session"":""6d704698f6076da8d57...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97985863"":{""retired"":null,""Filename"":""gpt4_q...",97985863
6936,551123224,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:58:18 UTC,NaN,NaN,"{""source"":""api"",""session"":""6d704698f6076da8d57...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97985855"":{""retired"":null,""Filename"":""gpt4_q...",97985855

## Create Appropriateness, Solvability, Accuracy, Topic, Math Operation and Notes Columns

In [4]:
my_json = json.loads(df.iloc[0]['annotations'])
my_json

[{'task': 'T0',
  'task_label': 'Is this question solvable? A solvable question means that it can be solved with the information present. ',
  'value': 'Yes'},
 {'task': 'T4',
  'task_label': 'Is the solution for this question correct?',
  'value': 'Yes'},
 {'task': 'T6',
  'task_label': 'What math operations/concepts are required to solve the problem? Please select all that apply. ',
  'value': ['Subtraction', 'Addition']},
 {'task': 'T1',
  'task_label': 'Would you feel comfortable giving this question to a student? Although questions have various difficulties, a middle school student should be able to solve them all.',
  'value': 'Yes: This question is understandable, appropriate and a middle school student or younger could solve it '},
 {'task': 'T5',
  'task_label': 'Does the question incorporate the given topic? ',
  'value': 'Yes'},
 {'task': 'T3',
  'value': '',
  'task_label': 'This question is optional. If you have any feedback about this particular question, you can tell us here. '}]

In [5]:
solvability = []
accuracy = []
appropriateness = []
topic = []
ops = []
notes = []
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['annotations'])
    solvability.append(my_json[0]['value'])
    if my_json[1]['task']=='T4':
        accuracy.append(my_json[1]['value'])
    if my_json[1]['task']!='T4':
        accuracy.append("NA")
        appropriateness.append('NA')
        ops.append('NA')
        topic.append(my_json[1]['value'])
    if my_json[2]['task']=='T6':
        ops.append(my_json[2]['value'])
    if my_json[2]['task']!='T6':
        notes.append(my_json[2]['value'])
    try:
        appropriateness.append(my_json[3]['value'])
        topic.append(my_json[4]['value'])
        notes.append(my_json[5]['value'])
    except:
        pass
df['solvability']=solvability
df['appropriateness']=appropriateness
df['accuracy']=accuracy
df['operations'] = ops
df['notes']=notes
df['topic']=topic

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/2447154829.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['solvability']=solvability
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/2447154829.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['appropriateness']=appropriateness
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/2447154829.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['accuracy']=accuracy
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/2447154829.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['operations'] = ops
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/2447154829.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['notes']=notes
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/2447154829.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['topic']=topic

In [6]:
df['user_name'].value_counts()

user_name
bryanchrist                           1655
kidleader                              149
Raceaturtle                            135
not-logged-in-d7dc7809c257fd6f57ef      23
not-logged-in-19c615ae5e94050acb6c      18
not-logged-in-2859dc8d656cd7f8b131      16
not-logged-in-5d97be2b7dafb9ebfa9b      12
not-logged-in-eb79e16bc680ead18cba       9
not-logged-in-88f3e9a0bf70931e042a       8
not-logged-in-b83bb398a3949fb2bb3c       7
not-logged-in-c6e2c8dabb96602e8898       7
not-logged-in-147838207be98438bd49       6
not-logged-in-900c57575b2f74ef1313       6
not-logged-in-d3e45699303e687f886f       5
not-logged-in-1f8c6c3ef278f230946f       5
not-logged-in-f7da20a1ca870a3d1a86       5
not-logged-in-54612b8b41f6ce831815       5
not-logged-in-612a81b056e538fc8f03       5
not-logged-in-9c75120a90c9fb2fa599       5
not-logged-in-f8d9549b4d23120d9f9d       5
not-logged-in-b46b771cea7129dc4409       4
cate11                                   4
not-logged-in-facff23145fb9ff520ef       4
not-logged-in-ff2fb1361d0859b1927d       4
not-logged-in-7b647707ac1c2245a4db       4
not-logged-in-46214efa4a287d2b632c       3
not-logged-in-20b1a4b2f8b5e4809dc6       3
not-logged-in-dd1755daf0ee2554a252       2
not-logged-in-921c16b217b1a61b1222       2
not-logged-in-42f461332029cff62b4a       2
not-logged-in-01df262796eb8a25ba53       1
not-logged-in-6b82a14bdc4b615a8220       1
not-logged-in-4496cf28a0fd786d7ca7       1
not-logged-in-014073d10265bd2aac4b       1
not-logged-in-753530639e49f8b26494       1
not-logged-in-e69bcbe87b77f530198f       1
not-logged-in-3b66f27f09b0905617f8       1
not-logged-in-7e03431fc615ebe94b2e       1
not-logged-in-7f9972fac6207ef6e244       1
not-logged-in-01ea7f91185233128e34       1
not-logged-in-19071404943e521c0c96       1
not-logged-in-098a73e9f19a11aa74c8       1
not-logged-in-37d2ff8408ed11701c5b       1
not-logged-in-fe2de7fda5e3a8c59fa3       1
not-logged-in-da025afcaed0f7914636       1
not-logged-in-151c31e020314e879b48       1
not-logged-in-66de4e7d3f72291df1be       1
not-logged-in-01e67ad5fbd4c334929c       1
not-logged-in-44922209eb4fc931415f       1
not-logged-in-4a81bdb6d63ab65855bc       1
not-logged-in-01354ab5a0fd68b3dc32       1
Name: count, dtype: int64

df = df[df['user_name']=='bryanchrist']
df

In [7]:
temp = df[df['notes']!=""]
temp

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids,solvability,appropriateness,accuracy,operations,notes,topic
4799,526686902,not-logged-in-4a81bdb6d63ab65855bc,NaN,4a81bdb6d63ab65855bc,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323999"":{""retired"":null,""Filename"":""mammot...",94323999,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",The question is too simplistic,Yes
4800,526687176,not-logged-in-7e03431fc615ebe94b2e,NaN,7e03431fc615ebe94b2e,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323887"":{""retired"":null,""Filename"":""llema_...",94323887,Yes,No: This question contains distracting typos o...,No,[Division],There is a contradiction in the question,Yes
4805,526687683,not-logged-in-6b82a14bdc4b615a8220,NaN,6b82a14bdc4b615a8220,24740,Classify Questions,139.206,2023-12-04 12:55:30 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323912"":{""retired"":null,""Filename"":""llema_...",94323912,No,NA,NA,NA,The meaning of this question is unclear,No
5713,528390771,not-logged-in-46214efa4a287d2b632c,NaN,46214efa4a287d2b632c,24740,Classify Questions,142.214,2023-12-11 13:43:37 UTC,NaN,NaN,"{""source"":""api"",""session"":""464cfbd65f3f03436c8...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323710"":{""retired"":null,""Filename"":""llema_...",94323710,Yes,"Yes: This question is understandable, appropri...",Yes,[Subtraction],The extra steps 2-4 are unnecessary and may ca...,Yes
5716,528391151,not-logged-in-44922209eb4fc931415f,NaN,44922209eb4fc931415f,24740,Classify Questions,142.214,2023-12-11 13:46:02 UTC,NaN,NaN,"{""source"":""api"",""session"":""464cfbd65f3f03436c8...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94324001"":{""retired"":{""id"":122699160,""workfl...",94324001,Yes,"Yes: This question is understandable, appropri...",No,"[Division, Multiplication]",The lift 2000 pounds is superfluous,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6637,550976754,Raceaturtle,2668246.0,7a3b6b38a43af8c78442,24740,Classify Questions,142.214,2024-03-28 14:18:32 UTC,NaN,NaN,"{""source"":""api"",""session"":""43e6dc42b8404b0b85a...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97968616"":{""retired"":null,""Filename"":""gpt35_...",97968616,No,NA,NA,NA,You need all the raw numbers to calculate aver...,Yes
6638,550976927,Raceaturtle,2668246.0,7a3b6b38a43af8c78442,24740,Classify Questions,142.214,2024-03-28 14:19:30 UTC,NaN,NaN,"{""source"":""api"",""session"":""43e6dc42b8404b0b85a...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97968812"":{""retired"":null,""Filename"":""gpt35_...",97968812,No,NA,NA,NA,Numbers given donâ€™t add up,Yes
6643,550977726,Raceaturtle,2668246.0,10700779716ce984dbfd,24740,Classify Questions,142.214,2024-03-28 14:24:21 UTC,NaN,NaN,"{""source"":""api"",""session"":""43e6dc42b8404b0b85a...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97968786"":{""retired"":null,""Filename"":""gpt35_...",97968786,No,NA,NA,NA,Unclear if the q is asking area or perimeter,Yes
6798,551078982,Raceaturtle,2668246.0,ac52458e42eaae29f922,24740,Classify Questions,142.214,2024-03-28 21:15:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""6b8244f9f79092ff68b...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97968620"":{""retired"":null,""Filename"":""gpt35_...",97968620,Yes,"Yes: This question is understandable, appropri...",No,[Fractions],8,Yes
6809,551080827,Raceaturtle,2668246.0,ac52458e42eaae29f922,24740,Classify Questions,142.214,2024-03-28 21:24:15 UTC,NaN,NaN,"{""source"":""api"",""session"":""6b8244f9f79092ff68b...","[{""task"":""T0"",""task_label"":""Is this question s...","{""97968654"":{""retired"":null,""Filename"":""gpt35_...",97968654,Yes,"No: This question is strange, confusing, conta...",Yes,[Subtraction],Clarify what black or white is,Yes

## Assign Question Numbers

In [8]:
question_numbers = []
model = []

for i in range(len(df)):
    my_json = json.loads(df.iloc[i]['subject_data'])
    subject_id = df.iloc[i]['subject_ids']
    question_number = my_json[f'{subject_id}']['Filename']
    question_number = question_number.split(".txt")[0]
    question_numbers.append(question_number)

    if 'llema' in question_number:
        model.append('llema')
    elif 'llama' in question_number:
        model.append('llama')    
    elif 'mammoth' in question_number:
        model.append('mammoth')
    elif 'mathwell' in question_number:
        model.append('mathwell')
    elif 'gpt35' in question_number: 
        model.append('gpt35')

    elif 'gpt4' in question_number: 
        model.append('gpt4')
    else:
        # Append None if none of the models are found in question_number
        model.append(None)

# Create a DataFrame with question_numbers and model lists
df['question_number'] = question_numbers
new_df = pd.DataFrame({'question_number': question_numbers, 'model': model})
new_df = new_df.drop_duplicates()
# Filter out rows where model is not None
filtered_df = new_df[new_df['model'].notna()]

# Merge the filtered DataFrame with the original DataFrame df
df = pd.merge(df, filtered_df, on='question_number', how='inner')

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/571994403.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['question_number'] = question_numbers

In [9]:
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,subject_data,subject_ids,solvability,appropriateness,accuracy,operations,notes,topic,question_number,model
0,526544790,bryanchrist,2631956.0,bbd40128450fe3c1d9fc,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,"{""94323602"":{""retired"":null,""Filename"":""llama_...",94323602,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",,Yes,llama_q1053,llama
1,526686902,not-logged-in-4a81bdb6d63ab65855bc,NaN,4a81bdb6d63ab65855bc,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,...,"{""94323999"":{""retired"":null,""Filename"":""mammot...",94323999,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",The question is too simplistic,Yes,mammoth_q115,mammoth
2,526687176,not-logged-in-7e03431fc615ebe94b2e,NaN,7e03431fc615ebe94b2e,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,...,"{""94323887"":{""retired"":null,""Filename"":""llema_...",94323887,Yes,No: This question contains distracting typos o...,No,[Division],There is a contradiction in the question,Yes,llema_q801,llema
3,526687284,not-logged-in-7f9972fac6207ef6e244,NaN,7f9972fac6207ef6e244,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,...,"{""94323658"":{""retired"":null,""Filename"":""llama_...",94323658,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes,llama_q1363,llama
4,526687346,not-logged-in-01354ab5a0fd68b3dc32,NaN,01354ab5a0fd68b3dc32,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,...,"{""94323967"":{""retired"":null,""Filename"":""mammot...",94323967,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",,Yes,mammoth_q75,mammoth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2133,551122700,bryanchrist,2631956.0,42f461332029cff62b4a,24740,Classify Questions,142.214,2024-03-29 00:55:20 UTC,NaN,NaN,...,"{""97985881"":{""retired"":null,""Filename"":""gpt4_q...",97985881,Yes,"Yes: This question is understandable, appropri...",Yes,[Subtraction],,Yes,gpt4_q228,gpt4
2134,551122834,bryanchrist,2631956.0,42f461332029cff62b4a,24740,Classify Questions,142.214,2024-03-29 00:55:57 UTC,NaN,NaN,...,"{""97985704"":{""retired"":null,""Filename"":""gpt4_q...",97985704,Yes,No: This question contains inappropriate material,Yes,"[Multiplication, Addition]",,Yes,gpt4_q216,gpt4
2135,551123102,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:57:30 UTC,NaN,NaN,...,"{""97985721"":{""retired"":null,""Filename"":""gpt4_q...",97985721,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes,gpt4_q184,gpt4
2136,551123146,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:57:48 UTC,NaN,NaN,...,"{""97985863"":{""retired"":null,""Filename"":""gpt4_q...",97985863,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes,gpt4_q175,gpt4
2137,551123224,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:58:18 UTC,NaN,NaN,...,"{""97985855"":{""retired"":null,""Filename"":""gpt4_q...",97985855,Yes,"Yes: This question is understandable, appropri...",Yes,"[Addition, Subtraction]",,Yes,gpt4_q39,gpt4

question_numbers = []
model = []
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['subject_data'])
    subject_id = df.iloc[i]['subject_ids']
    question_number = my_json[f'{subject_id}']['Filename']
    question_number = question_number.split(".txt")[0]
    question_numbers.append(question_number)
    if 'llema' in question_number:
        model.append('llema')
    if 'llama' in question_number:
        model.append('llama')    
    if 'mammoth' in question_number:
        model.append('mammoth')
    if 'mathwell' in question_number:
        model.append('mathwell')
    else:
        df.drop(i)
df['question_number']=question_numbers
df['model']=model

## Explore Appropriateness Labels by Model

In [10]:
llama = df[df['model']=='llama']
llema = df[df['model']=='llema']
mathwell = df[df['model']=='mathwell']
mammoth = df[df['model']=='mammoth']
gpt35 = df[df['model']=='gpt35']
gpt4 = df[df['model']=='gpt4']

In [11]:
llama['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      294
NA                                                                                                            48
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     44
No: The question is too hard, even for a middle school student                                                 3
No: This question contains inappropriate material                                                              3
No: This question contains distracting typos or grammatical errors                                             1
Name: count, dtype: int64

In [12]:
llema['appropriateness'].value_counts()

appropriateness
NA                                                                                                           172
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      121
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     65
No: This question contains distracting typos or grammatical errors                                            19
No: This question contains inappropriate material                                                              5
No: The question is too hard, even for a middle school student                                                 1
Name: count, dtype: int64

In [13]:
mammoth['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      262
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     69
NA                                                                                                            41
No: This question contains distracting typos or grammatical errors                                             6
No: This question contains inappropriate material                                                              4
No: The question is too hard, even for a middle school student                                                 3
Name: count, dtype: int64

In [14]:
mathwell['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      326
NA                                                                                                            41
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     33
No: This question contains inappropriate material                                                              4
No: The question is too hard, even for a middle school student                                                 1
Name: count, dtype: int64

In [15]:
gpt35['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      207
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     42
NA                                                                                                            33
No: The question is too hard, even for a middle school student                                                11
No: This question contains inappropriate material                                                              7
No: This question contains distracting typos or grammatical errors                                             1
Name: count, dtype: int64

In [16]:
gpt4['appropriateness'].value_counts()

appropriateness
Yes: This question is understandable, appropriate and a middle school student or younger could solve it      218
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     24
NA                                                                                                            14
No: This question contains distracting typos or grammatical errors                                             6
No: This question contains inappropriate material                                                              5
No: The question is too hard, even for a middle school student                                                 4
Name: count, dtype: int64

## Relabel/Recode Variables and Calculate MaC/Operations

In [17]:
import numpy as np
replace_map = {"Yes": 1, "No": 0, "NA": np.nan}
df['solvability'] = df['solvability'].replace(replace_map)
df['accuracy'] = df['accuracy'].replace(replace_map)
df['topic']=df['topic'].replace(replace_map)
replace_map = {"Yes: This question is understandable, appropriate and a middle school student or younger could solve it ": 1, 
               "No: This question is strange, confusing, contains conflicting information, and/or is not based in reality": 0, 
               "No: This question contains distracting typos or grammatical errors": 0, 
               "No: This question contains inappropriate material": 0, 
              "No: The question is too hard, even for a middle school student": 0, 
            "No: This question is strange, confusing, contains conflicting information, and/or is not based in reality":0,
            "No: This question contains inappropriate material":0,
                "No: The question is too hard, even for a middle school student":0,
            "No: This question contains distracting typos or grammatical errors": 0,
            "No: This question is strange, contains confusing or conflicting wording, and/or is not based in reality":0,
                "No: This question is strange or confusing":0,
              "NA": np.nan}
df['appropriateness'] = df['appropriateness'].replace(replace_map)
def addition(df):
    if 'Addition' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def subtraction(df):
    if 'Subtraction' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def multiplication(df):
    if 'Multiplication' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def division(df):
    if 'Division' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def fractions(df):
    if 'Fractions' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def decimals(df):
    if 'Decimals' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def none(df):
    if 'Not Applicable: This question does not require a mathematical operation.' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def total_ops(df):
    if df['no_ops']==1:
        return np.nan
    else:
        return df['addition'] + df['subtraction'] + df['multiplication'] + df['decimals'] + df['division'] + df['fractions']
df['addition'] = df.apply(addition, axis=1)
df['subtraction'] = df.apply(subtraction, axis=1)
df['multiplication'] = df.apply(multiplication, axis=1)
df['division'] = df.apply(division, axis=1)
df['fractions'] = df.apply(fractions, axis=1)
df['decimals'] = df.apply(decimals, axis=1)
df['no_ops'] = df.apply(none, axis=1)
df['total_ops'] = df.apply(total_ops, axis=1)
def good(df):
    if df['solvability']==1:
        if df['accuracy']==1:
            if df['no_ops']==0:
                if df['appropriateness']==1:
                   # if df['topic']==1:
                    return 1
    if df['accuracy']==np.nan:
        return 0
    if df['no_ops']==np.nan:
        return 0
    if df['appropriateness']==np.nan:
        return 0
    else:
        return 0
df['good'] = df.apply(good, axis = 1)
def good_recode(df):
    if df['good']==np.nan:
        return 0
    else:
        return df['good']
df['good'] = df.apply(good_recode, axis=1)
df

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/4060560311.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['solvability'] = df['solvability'].replace(replace_map)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/4060560311.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['accuracy'] = df['accuracy'].replace(replace_map)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/4060560311.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['topic']=df['topic'].replace(replace_map)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/4060560311.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['appropriateness'] = df['appropriateness'].replace(replace_map)

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,model,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
0,526544790,bryanchrist,2631956.0,bbd40128450fe3c1d9fc,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,llama,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
1,526686902,not-logged-in-4a81bdb6d63ab65855bc,NaN,4a81bdb6d63ab65855bc,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
2,526687176,not-logged-in-7e03431fc615ebe94b2e,NaN,7e03431fc615ebe94b2e,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,...,llema,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
3,526687284,not-logged-in-7f9972fac6207ef6e244,NaN,7f9972fac6207ef6e244,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,...,llama,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4,526687346,not-logged-in-01354ab5a0fd68b3dc32,NaN,01354ab5a0fd68b3dc32,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2133,551122700,bryanchrist,2631956.0,42f461332029cff62b4a,24740,Classify Questions,142.214,2024-03-29 00:55:20 UTC,NaN,NaN,...,gpt4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
2134,551122834,bryanchrist,2631956.0,42f461332029cff62b4a,24740,Classify Questions,142.214,2024-03-29 00:55:57 UTC,NaN,NaN,...,gpt4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0
2135,551123102,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:57:30 UTC,NaN,NaN,...,gpt4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
2136,551123146,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:57:48 UTC,NaN,NaN,...,gpt4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
2137,551123224,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:58:18 UTC,NaN,NaN,...,gpt4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1

## Check Annotator Agreement

In [18]:
df = df.drop_duplicates(subset = ['question_number', 'user_name'])
#df = df.query("user_name=='bryanchrist' or user_name=='Raceaturtle'")
#df = df[df['user_name']!='kidleader']
#df = df[df['user_name']!='cate11']
print((df['question_number'].value_counts() == 2).sum(), (df['question_number'].value_counts() == 3).sum())
count = (df['question_number'].value_counts() >= 2).sum()
df

357 60

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,model,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
0,526544790,bryanchrist,2631956.0,bbd40128450fe3c1d9fc,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,llama,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
1,526686902,not-logged-in-4a81bdb6d63ab65855bc,NaN,4a81bdb6d63ab65855bc,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
2,526687176,not-logged-in-7e03431fc615ebe94b2e,NaN,7e03431fc615ebe94b2e,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,...,llema,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
3,526687284,not-logged-in-7f9972fac6207ef6e244,NaN,7f9972fac6207ef6e244,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,...,llama,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4,526687346,not-logged-in-01354ab5a0fd68b3dc32,NaN,01354ab5a0fd68b3dc32,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,...,mammoth,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2133,551122700,bryanchrist,2631956.0,42f461332029cff62b4a,24740,Classify Questions,142.214,2024-03-29 00:55:20 UTC,NaN,NaN,...,gpt4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
2134,551122834,bryanchrist,2631956.0,42f461332029cff62b4a,24740,Classify Questions,142.214,2024-03-29 00:55:57 UTC,NaN,NaN,...,gpt4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0
2135,551123102,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:57:30 UTC,NaN,NaN,...,gpt4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
2136,551123146,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:57:48 UTC,NaN,NaN,...,gpt4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
2137,551123224,bryanchrist,2631956.0,b46b771cea7129dc4409,24740,Classify Questions,142.214,2024-03-29 00:58:18 UTC,NaN,NaN,...,gpt4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1

In [19]:
count

419

In [20]:
df['user_name'].value_counts()

user_name
bryanchrist                           1575
kidleader                              149
Raceaturtle                            134
not-logged-in-d7dc7809c257fd6f57ef      23
not-logged-in-19c615ae5e94050acb6c      18
not-logged-in-2859dc8d656cd7f8b131      16
not-logged-in-5d97be2b7dafb9ebfa9b      12
not-logged-in-eb79e16bc680ead18cba       9
not-logged-in-88f3e9a0bf70931e042a       8
not-logged-in-b83bb398a3949fb2bb3c       7
not-logged-in-c6e2c8dabb96602e8898       7
not-logged-in-147838207be98438bd49       6
not-logged-in-900c57575b2f74ef1313       6
not-logged-in-d3e45699303e687f886f       5
not-logged-in-1f8c6c3ef278f230946f       5
not-logged-in-f7da20a1ca870a3d1a86       5
not-logged-in-54612b8b41f6ce831815       5
not-logged-in-612a81b056e538fc8f03       5
not-logged-in-9c75120a90c9fb2fa599       5
not-logged-in-f8d9549b4d23120d9f9d       5
not-logged-in-b46b771cea7129dc4409       4
cate11                                   4
not-logged-in-facff23145fb9ff520ef       4
not-logged-in-ff2fb1361d0859b1927d       4
not-logged-in-7b647707ac1c2245a4db       4
not-logged-in-46214efa4a287d2b632c       3
not-logged-in-20b1a4b2f8b5e4809dc6       3
not-logged-in-dd1755daf0ee2554a252       2
not-logged-in-921c16b217b1a61b1222       2
not-logged-in-42f461332029cff62b4a       2
not-logged-in-01df262796eb8a25ba53       1
not-logged-in-6b82a14bdc4b615a8220       1
not-logged-in-4496cf28a0fd786d7ca7       1
not-logged-in-014073d10265bd2aac4b       1
not-logged-in-753530639e49f8b26494       1
not-logged-in-e69bcbe87b77f530198f       1
not-logged-in-3b66f27f09b0905617f8       1
not-logged-in-7e03431fc615ebe94b2e       1
not-logged-in-7f9972fac6207ef6e244       1
not-logged-in-01ea7f91185233128e34       1
not-logged-in-19071404943e521c0c96       1
not-logged-in-098a73e9f19a11aa74c8       1
not-logged-in-37d2ff8408ed11701c5b       1
not-logged-in-fe2de7fda5e3a8c59fa3       1
not-logged-in-da025afcaed0f7914636       1
not-logged-in-151c31e020314e879b48       1
not-logged-in-66de4e7d3f72291df1be       1
not-logged-in-01e67ad5fbd4c334929c       1
not-logged-in-44922209eb4fc931415f       1
not-logged-in-4a81bdb6d63ab65855bc       1
not-logged-in-01354ab5a0fd68b3dc32       1
Name: count, dtype: int64

In [21]:
# 1. Group by question and calculate the average score
df['average_solvability'] = df.groupby('question_number')['solvability'].transform('mean')
df['average_accuracy'] = df.groupby('question_number')['accuracy'].transform('mean')
df['average_appropriateness']=df.groupby('question_number')['appropriateness'].transform('mean')
df['average_good']=df.groupby('question_number')['good'].transform('mean')

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/4201514617.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_solvability'] = df.groupby('question_number')['solvability'].transform('mean')
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/4201514617.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_accuracy'] = df.groupby('question_number')['accuracy'].transform('mean')
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/4201514617.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_appropriateness']=df.groupby('question_number')['appropriateness'].transform('mean')
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/4201514617.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_good']=df.groupby('question_number')['good'].transform('mean')

In [22]:
# Calculate overall agreement
questions = []
disagree_list = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_solvability']>0 and df.iloc[i]['average_solvability']<1:
        if question not in questions:
            questions.append(question)
        disagree_list.append({'model': df.iloc[i]['model'], 'question': question, 'reviewer': df.iloc[i]['user_name'], 'rating': df.iloc[i]['solvability'], 
                              'average_score': df.iloc[i]['average_solvability'], 'criteria': 'solvability'})
    if df.iloc[i]['average_accuracy']>0 and df.iloc[i]['average_accuracy']<1:
        if question not in questions:
            questions.append(question)
        disagree_list.append({'model': df.iloc[i]['model'], 'question': question, 'reviewer': df.iloc[i]['user_name'], 'rating': df.iloc[i]['accuracy'], 
                              'average_score': df.iloc[i]['average_accuracy'], 'criteria': 'accuracy'})
    if df.iloc[i]['average_appropriateness']>0 and df.iloc[i]['average_appropriateness']<1:
        if question not in questions:
            questions.append(question)
        disagree_list.append({'model': df.iloc[i]['model'], 'question': question, 'reviewer': df.iloc[i]['user_name'], 'rating': df.iloc[i]['appropriateness'], 
                              'average_score': df.iloc[i]['average_appropriateness'], 'criteria': 'appropriateness'})
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.6778042959427208 0.04474670812851709

In [23]:
disagree_list = pd.DataFrame.from_dict(disagree_list)
disagree_list = disagree_list.drop_duplicates(subset = ['question', 'criteria'])
disagree_list

,model,question,reviewer,rating,average_score,criteria
0,llema,llema_q801,not-logged-in-7e03431fc615ebe94b2e,1.0,0.500000,solvability
1,llema,llema_q526,bryanchrist,0.0,0.333333,solvability
2,mammoth,mammoth_q129,bryanchrist,0.0,0.500000,appropriateness
3,llama,llama_q706,bryanchrist,1.0,0.500000,accuracy
4,mammoth,mammoth_q261,bryanchrist,0.0,0.500000,appropriateness
...,...,...,...,...,...,...
303,gpt35,gpt35_q651,bryanchrist,1.0,0.500000,appropriateness
304,gpt35,gpt35_q73,bryanchrist,1.0,0.500000,appropriateness
317,gpt4,gpt4_q233,bryanchrist,1.0,0.500000,appropriateness
318,gpt4,gpt4_q225,bryanchrist,0.0,0.500000,appropriateness
319,gpt4,gpt4_q235,bryanchrist,0.0,0.500000,appropriateness

In [24]:
disagree_list['criteria'].value_counts()

criteria
appropriateness    82
solvability        45
accuracy           19
Name: count, dtype: int64

In [25]:
disagree_list['model'].value_counts()

model
llema       48
mammoth     37
llama       23
gpt35       18
mathwell    17
gpt4         3
Name: count, dtype: int64

In [26]:
def over_score(df):
    if df['reviewer'] == 'bryanchrist':
        score =  df['rating'] - df['average_score']
        if score < 0: 
            return 0
        if score > 0:
            return 1
    else: 
        score =  df['rating'] - df['average_score']
        if score > 0: 
            return 0
        if score < 0:
            return 1
disagree_list['over_score'] = disagree_list.apply(over_score, axis =1)
disagree_list

,model,question,reviewer,rating,average_score,criteria,over_score
0,llema,llema_q801,not-logged-in-7e03431fc615ebe94b2e,1.0,0.500000,solvability,0
1,llema,llema_q526,bryanchrist,0.0,0.333333,solvability,0
2,mammoth,mammoth_q129,bryanchrist,0.0,0.500000,appropriateness,0
3,llama,llama_q706,bryanchrist,1.0,0.500000,accuracy,1
4,mammoth,mammoth_q261,bryanchrist,0.0,0.500000,appropriateness,0
...,...,...,...,...,...,...,...
303,gpt35,gpt35_q651,bryanchrist,1.0,0.500000,appropriateness,1
304,gpt35,gpt35_q73,bryanchrist,1.0,0.500000,appropriateness,1
317,gpt4,gpt4_q233,bryanchrist,1.0,0.500000,appropriateness,1
318,gpt4,gpt4_q225,bryanchrist,0.0,0.500000,appropriateness,0
319,gpt4,gpt4_q235,bryanchrist,0.0,0.500000,appropriateness,0

In [27]:
print(1 - disagree_list['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='mathwell']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='llama']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='llema']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='mammoth']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='gpt35']['over_score'].mean())
print(1 - disagree_list[disagree_list['model']=='gpt4']['over_score'].mean())

0.8013698630136986
0.7058823529411764
0.6956521739130435
0.8541666666666666
0.8918918918918919
0.7222222222222222
0.6666666666666667

In [28]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on percentage good
t_statistic, p_value = stats.ttest_ind(disagree_list[disagree_list['model']=='mathwell']['over_score'], disagree_list[disagree_list['model']=='mammoth']['over_score'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.7184170009771527
P-value: 0.09166997501209395

In [29]:
#Solvability agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_solvability']>0 and df.iloc[i]['average_solvability']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.8926014319809069 0.029646750256134585

In [30]:
# appropriateness agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_appropriateness']>0 and df.iloc[i]['average_appropriateness']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.8042959427207637 0.03798891707060052

In [31]:
# accuracy agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_accuracy']>0 and df.iloc[i]['average_accuracy']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.9546539379474941 0.019922408141325655

In [32]:
#mac agreement
questions = []
for i in range(0, len(df)):
    question = df.iloc[i]['question_number']
    if df.iloc[i]['average_good']>0 and df.iloc[i]['average_good']<1:
        if question not in questions:
            questions.append(question)
unique_list = list(set(questions))
proportion_unique = 1 - len(unique_list)/count

# Calculate the standard error
standard_error = math.sqrt((proportion_unique * (1 - proportion_unique)) / count)

# Z-score for a 95% confidence interval
z_score = 1.96

# Calculate the margin of error
margin_of_error = z_score * standard_error
print(proportion_unique, margin_of_error)

0.7828162291169452 0.03948141006232527

## Retain Necessary Columns and Evaluations

In [33]:
# def accuracy(df):
#     if df['average_accuracy']>.5:
#         return 1
#     if df['average_accuracy']==np.nan:
#         return np.nan
#     if df['average_accuracy']<=0.5:
#         return 0
# def solvability(df):
#     if df['average_solvability']>.5:
#         return 1
#     else:
#         return 0
# def appropriateness(df):
#     if df['average_appropriateness']>.5:
#         return 1
#     else:
#         return 0
# def good(df):
#     if df['average_good']>.5:
#         return 1
#     else:
#         return 0
# df['solvability']=df.apply(solvability, axis=1)
# df['appropriateness']=df.apply(appropriateness, axis=1)
# df['accuracy']=df.apply(accuracy, axis=1)
# df['good'] = df.apply(good, axis=1)
# comment above this out
df = df[df['user_name']=='bryanchrist']
df = df[['model','question_number', 'solvability', 'accuracy', 'appropriateness', 'topic', 'operations','notes']]

## Calculate Operations Variables and Overall Indicator Variable for Question Being Good in All Metrics

In [34]:
def addition(df):
    if 'Addition' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def subtraction(df):
    if 'Subtraction' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def multiplication(df):
    if 'Multiplication' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def division(df):
    if 'Division' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def fractions(df):
    if 'Fractions' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def decimals(df):
    if 'Decimals' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def none(df):
    if 'Not Applicable: This question does not require a mathematical operation.' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def total_ops(df):
    if df['no_ops']==1:
        return np.nan
    else:
        return df['addition'] + df['subtraction'] + df['multiplication'] + df['decimals'] + df['division'] + df['fractions']
df['addition'] = df.apply(addition, axis=1)
df['subtraction'] = df.apply(subtraction, axis=1)
df['multiplication'] = df.apply(multiplication, axis=1)
df['division'] = df.apply(division, axis=1)
df['fractions'] = df.apply(fractions, axis=1)
df['decimals'] = df.apply(decimals, axis=1)
df['no_ops'] = df.apply(none, axis=1)
df['total_ops'] = df.apply(total_ops, axis=1)
def good(df):
    if df['solvability']==1:
        if df['accuracy']==1:
            if df['no_ops']==0:
                if df['appropriateness']==1:
                   # if df['topic']==1:
                    return 1
    if df['accuracy']==np.nan:
        return 0
    if df['no_ops']==np.nan:
        return 0
    if df['appropriateness']==np.nan:
        return 0
    else:
        return 0
df['good'] = df.apply(good, axis = 1)
def good_recode(df):
    if df['good']==np.nan:
        return 0
    else:
        return df['good']
df['good'] = df.apply(good_recode, axis=1)
df

,model,question_number,solvability,accuracy,appropriateness,topic,operations,notes,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
0,llama,llama_q1053,1,1.0,1.0,1,"[Subtraction, Addition]",,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
9,mammoth,mammoth_q127,1,1.0,1.0,1,[Multiplication],,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
10,llama,llama_q1061,1,0.0,1.0,1,"[Division, Decimals]",,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0
11,llema,llema_q526,0,NaN,NaN,1,NA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,mathwell,mathwell_q528,1,1.0,1.0,1,[Addition],,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2133,gpt4,gpt4_q228,1,1.0,1.0,1,[Subtraction],,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
2134,gpt4,gpt4_q216,1,1.0,0.0,1,"[Multiplication, Addition]",,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0
2135,gpt4,gpt4_q184,1,1.0,1.0,1,[Multiplication],,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
2136,gpt4,gpt4_q175,1,1.0,1.0,1,[Multiplication],,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
2137,gpt4,gpt4_q39,1,1.0,1.0,1,"[Addition, Subtraction]",,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1

In [35]:
df = df.drop(['operations'], axis=1)
df = df.drop_duplicates()
full_data = pd.read_csv("data/zooniverse_model_questions.csv")
finetune = pd.read_csv('data/finetuning_data.csv')
full_data = full_data[~full_data['question'].isin(finetune['question'])]
df = pd.merge(df, full_data,
              on = 'question_number',
              how='inner',
              validate='one_to_one', 
              indicator = 'matched')
df['matched'].value_counts()

matched
both          1500
left_only        0
right_only       0
Name: count, dtype: int64

In [36]:
# df = pd.read_csv('data/filtered_models.csv')
df = df.rename({'topic_x': 'topic'}, axis =1)
df = df.drop('matched', axis = 1)
df = df[df['model']!= 'mathwell']
df = df[df['model']!='gpt35']
df = df[df['model']!='gpt4']
mathwell = pd.read_csv('data/mathwell_final_annotations.csv')
gpt35 = pd.read_csv('data/gpt35_annotations.csv')
gpt4 = pd.read_csv('data/gpt4_annotations.csv')
df = pd.concat([df, mathwell, gpt35, gpt4])
def good(df):
    if df['solvability']==1:
        if df['accuracy']==1:
            if df['no_ops']==0:
                if df['appropriateness']==1:
                   # if df['topic']==1:
                    return 1
    if df['accuracy']==np.nan:
        return 0
    if df['no_ops']==np.nan:
        return 0
    if df['appropriateness']==np.nan:
        return 0
    else:
        return 0
df['good'] = df.apply(good, axis = 1)
def good_recode(df):
    if df['good']==np.nan:
        return 0
    else:
        return df['good']
df['good'] = df.apply(good_recode, axis=1)
merged = df
df

,model,question_number,solvability,accuracy,appropriateness,topic,notes,addition,subtraction,multiplication,...,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,question,solution,answer,topic_y,Unnamed: 0.4,Unnamed: 0.5
0,llama,llama_q1053,1,1.0,1.0,1,,1.0,1.0,0.0,...,553.0,54.0,570.0,1062.0,Steph Curry has 3000 points. 1000 of them are ...,def solution():\n #Steph Curry has 3000 poi...,0,Steph Curry,NaN,NaN
1,mammoth,mammoth_q127,1,1.0,1.0,1,,0.0,0.0,1.0,...,1028.0,673.0,652.0,127.0,The soccer team has 15 players. Each player ha...,def solution():\n #Number of players\n p...,30,soccer,NaN,NaN
2,llama,llama_q1061,1,0.0,1.0,1,,0.0,0.0,0.0,...,903.0,47.0,809.0,1070.0,A commercial airplane takes 12 hours to fly fr...,def solution():\n #A commercial airplane ta...,0.6,planes,NaN,NaN
3,llema,llema_q526,0,NaN,NaN,1,,NaN,NaN,NaN,...,1749.0,1126.0,863.0,526.0,"In the original comic book series, the four Tu...",def solution():\n #Raphael is 6 inches tall...,30,Ninja Turtles,NaN,NaN
5,llema,llema_q669,1,1.0,1.0,1,,0.0,1.0,0.0,...,795.0,467.0,280.0,671.0,Spiderman has a web-shooter that shoots spider...,def solution():\n #Spiderman needs to load ...,180,Spiderman,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,gpt4,gpt4_q78,0,NaN,NaN,1,NaN,NaN,NaN,NaN,...,1558.0,78.0,NaN,NaN,Ash has 50 PokÃ© Balls in his backpack. He catc...,def solution():\n # Ash starts with 50 PokÃ©...,44,PokÃ©mon,NaN,1414.0
246,gpt4,gpt4_q190,0,NaN,NaN,1,NaN,NaN,NaN,NaN,...,1660.0,190.0,NaN,NaN,Jenny has 12 cats. She decides to buy more cat...,def solution():\n # Jenny has 12 cats\n ...,4,cats,NaN,1423.0
247,gpt4,gpt4_q20,0,NaN,NaN,1,NaN,NaN,NaN,NaN,...,1268.0,20.0,NaN,NaN,"Samantha has a dog named Max, who loves to col...",def solution():\n # Max finds 3 sticks ever...,5,dogs,NaN,1466.0
248,gpt4,gpt4_q224,0,NaN,NaN,1,NaN,NaN,NaN,NaN,...,1006.0,224.0,NaN,NaN,A cheerleading squad is performing a routine t...,def solution():\n # Each pyramid requires 3...,4,cheer leading,NaN,1468.0
249,gpt4,gpt4_q201,0,NaN,NaN,1,NaN,NaN,NaN,NaN,...,1267.0,201.0,NaN,NaN,LeBron James scores an average of 27 points pe...,def solution():\n # LeBron's average points...,135,LeBron James,NaN,1469.0

## Calculate Average Statistics for Each Model

In [37]:
llama = df[df['model']=='llama']
llema = df[df['model']=='llema']
mathwell = df[df['model']=='mathwell']
#mathwell.to_csv('data/mathwell_final_annotations.csv')
mammoth = df[df['model']=='mammoth']
gpt35 = df[df['model']=='gpt35']
#gpt35.to_csv('data/gpt35_annotations.csv')
gpt4 = df[df['model']=='gpt4']
#gpt4.to_csv('data/gpt4_annotations.csv')

In [38]:
solvability = gpt4['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(gpt4['solvability'])-1, loc=np.mean(gpt4['solvability']), scale=st.sem(gpt4['solvability']))
solvability_se = st.sem(gpt4['solvability'])
solvability_sd = np.std(gpt4['solvability'])
accuracy = gpt4['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(gpt4['accuracy'].dropna())-1, loc=np.mean(gpt4['accuracy'].dropna()), scale=st.sem(gpt4['accuracy'].dropna()))
accuracy_sd = np.std(gpt4['accuracy'])
accuracy_se = st.sem(gpt4['accuracy'].dropna())
appropriateness = gpt4['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(gpt4['appropriateness'].dropna())-1, loc=np.mean(gpt4['appropriateness'].dropna()), scale=st.sem(gpt4['appropriateness'].dropna()))
appropriateness_sd = np.std(gpt4['appropriateness'])
appropriateness_se = st.sem(gpt4['appropriateness'].dropna())
topic = gpt4['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(gpt4['topic'])-1, loc=np.mean(gpt4['topic']), scale=st.sem(gpt4['topic']))
topic_sd = np.std(gpt4['topic'])
topic_se = st.sem(gpt4['topic'])
good = gpt4['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(gpt4['good'])-1, loc=np.mean(gpt4['good']), scale=st.sem(gpt4['good']))
good_sd = np.std(gpt4['good'])
good_se = st.sem(gpt4['good'])
execute = good * .6675392670157068
execute_se = good_se * .6675392670157068
print(f'''gpt4 metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

gpt4 metrics:
Solvability: 0.948 Standard Deviation: 0.22202702538204672 Standard Error: 1.407039102564168
Accuracy: 0.9578059071729957 Standard Deviation: 0.20103171729234767 Standard Error: 1.3086050173447799
Appropriateness: 0.8438818565400844 Standard Deviation: 0.3629673108456804 Standard Error: 2.362715946031866
Percentage about Requested Topic: 0.992 Standard Deviation: 0.08908422980528033 Standard Error: 0.5645483676690164
Percentage Good in All Metrics: 0.788 Standard Deviation: 0.40872484632084705 Standard Error: 2.590188469054112
Percentage good with executable code: 0.5260209424083769 Standard Error: 1.7290525120649176

In [39]:
solvability = gpt35['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(gpt35['solvability'])-1, loc=np.mean(gpt35['solvability']), scale=st.sem(gpt35['solvability']))
solvability_se = st.sem(gpt35['solvability'])
solvability_sd = np.std(gpt35['solvability'])
accuracy = gpt35['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(gpt35['accuracy'].dropna())-1, loc=np.mean(gpt35['accuracy'].dropna()), scale=st.sem(gpt35['accuracy'].dropna()))
accuracy_sd = np.std(gpt35['accuracy'])
accuracy_se = st.sem(gpt35['accuracy'].dropna())
appropriateness = gpt35['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(gpt35['appropriateness'].dropna())-1, loc=np.mean(gpt35['appropriateness'].dropna()), scale=st.sem(gpt35['appropriateness'].dropna()))
appropriateness_sd = np.std(gpt35['appropriateness'])
appropriateness_se = st.sem(gpt35['appropriateness'].dropna())
topic = gpt35['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(gpt35['topic'])-1, loc=np.mean(gpt35['topic']), scale=st.sem(gpt35['topic']))
topic_sd = np.std(gpt35['topic'])
topic_se = st.sem(gpt35['topic'])
good = gpt35['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(gpt35['good'])-1, loc=np.mean(gpt35['good']), scale=st.sem(gpt35['good']))
good_sd = np.std(gpt35['good'])
good_se = st.sem(gpt35['good'])
execute = good * .9754269054560599
execute_se = good_se * .9754269054560599
print(f'''gpt35 metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

gpt35 metrics:
Solvability: 0.88 Standard Deviation: 0.32496153618543844 Standard Error: 2.059360059684
Accuracy: 0.8954545454545455 Standard Deviation: 0.30596683231902577 Standard Error: 2.067532251484536
Appropriateness: 0.7545454545454545 Standard Deviation: 0.4303563774016227 Standard Error: 2.908078902428723
Percentage about Requested Topic: 0.988 Standard Deviation: 0.10888526071052963 Standard Error: 0.6900323023694277
Percentage Good in All Metrics: 0.628 Standard Deviation: 0.48333839077813795 Standard Error: 3.063032594455827
Percentage good with executable code: 0.6125680966264057 Standard Error: 2.9877644049210934

In [40]:
solvability = llama['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(llama['solvability'])-1, loc=np.mean(llama['solvability']), scale=st.sem(llama['solvability']))
solvability_se = st.sem(llama['solvability'])
solvability_sd = np.std(llama['solvability'])
accuracy = llama['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(llama['accuracy'].dropna())-1, loc=np.mean(llama['accuracy'].dropna()), scale=st.sem(llama['accuracy'].dropna()))
accuracy_sd = np.std(llama['accuracy'])
accuracy_se = st.sem(llama['accuracy'].dropna())
appropriateness = llama['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(llama['appropriateness'].dropna())-1, loc=np.mean(llama['appropriateness'].dropna()), scale=st.sem(llama['appropriateness'].dropna()))
appropriateness_sd = np.std(llama['appropriateness'])
appropriateness_se = st.sem(llama['appropriateness'].dropna())
topic = llama['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(llama['topic'])-1, loc=np.mean(llama['topic']), scale=st.sem(llama['topic']))
topic_sd = np.std(llama['topic'])
topic_se = st.sem(llama['topic'])
good = llama['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(llama['good'])-1, loc=np.mean(llama['good']), scale=st.sem(llama['good']))
good_sd = np.std(llama['good'])
good_se = st.sem(llama['good'])
execute = good * .55425904317386234
execute_se = good_se * .55425904317386234
print(f'''Llama metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Llama metrics:
Solvability: 0.84 Standard Deviation: 0.36660605559646725 Standard Error: 2.323271478206063
Accuracy: 0.8952380952380953 Standard Deviation: 0.3062463845869243 Standard Error: 2.1183505372546803
Appropriateness: 0.8095238095238095 Standard Deviation: 0.392676726249301 Standard Error: 2.7162017117022064
Percentage about Requested Topic: 0.992 Standard Deviation: 0.08908422980528034 Standard Error: 0.5645483676690164
Percentage Good in All Metrics: 0.624 Standard Deviation: 0.4843800161030593 Standard Error: 3.0696336267394577
Percentage good with executable code: 0.3458576429404901 Standard Error: 1.7013721968509248

In [41]:
solvability = llema['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(llema['solvability'])-1, loc=np.mean(llema['solvability']), scale=st.sem(llema['solvability']))
solvability_sd = np.std(llema['solvability'])
solvability_se = st.sem(llema['solvability'])
accuracy = llema['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(llema['accuracy'].dropna())-1, loc=np.mean(llema['accuracy'].dropna()), scale=st.sem(llema['accuracy'].dropna()))
accuracy_sd = np.std(llema['accuracy'])
accuracy_se = st.sem(llema['accuracy'].dropna())
appropriateness = llema['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(llema['appropriateness'].dropna())-1, loc=np.mean(llema['appropriateness'].dropna()), scale=st.sem(llema['appropriateness'].dropna()))
appropriateness_sd = np.std(llema['appropriateness'])
appropriateness_se = st.sem(llema['appropriateness'].dropna())
topic = llema['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(llema['topic'])-1, loc=np.mean(llema['topic']), scale=st.sem(llema['topic']))
topic_sd = np.std(llema['topic'])
topic_se = st.sem(llema['topic'])
good = llema['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(llema['good'])-1, loc=np.mean(llema['good']), scale=st.sem(llema['good']))
good_sd = np.std(llema['good'])
good_se = st.sem(llema['good'])
execute = good * .2432288900690388
execute_se = good_se * .2432288900690388
print(f'''Llema metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Llema metrics:
Solvability: 0.488 Standard Deviation: 0.4998559792580259 Standard Error: 3.167708558254714
Accuracy: 0.639344262295082 Standard Deviation: 0.48019077101235447 Standard Error: 4.365370645566858
Appropriateness: 0.4180327868852459 Standard Deviation: 0.4932356191255864 Standard Error: 4.483960173868966
Percentage about Requested Topic: 0.948 Standard Deviation: 0.2220270253820467 Standard Error: 1.4070391025641678
Percentage Good in All Metrics: 0.152 Standard Deviation: 0.35902089075707005 Standard Error: 2.2752024491765463
Percentage good with executable code: 0.036970791290493896 Standard Error: 0.5533949663955701

In [42]:
solvability = mammoth['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(mammoth['solvability'])-1, loc=np.mean(mammoth['solvability']), scale=st.sem(mammoth['solvability']))
solvability_sd = np.std(mammoth['solvability'])
solvability_se = st.sem(mammoth['solvability'])
accuracy = mammoth['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(mammoth['accuracy'].dropna())-1, loc=np.mean(mammoth['accuracy'].dropna()), scale=st.sem(mammoth['accuracy'].dropna()))
accuracy_sd = np.std(mammoth['accuracy'])
accuracy_se = st.sem(mammoth['accuracy'].dropna())
appropriateness = mammoth['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(mammoth['appropriateness'].dropna())-1, loc=np.mean(mammoth['appropriateness'].dropna()), scale=st.sem(mammoth['appropriateness'].dropna()))
appropriateness_sd = np.std(mammoth['appropriateness'])
appropriateness_se = st.sem(mammoth['appropriateness'].dropna())
topic = mammoth['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(mammoth['topic'])-1, loc=np.mean(mammoth['topic']), scale=st.sem(mammoth['topic']))
topic_sd = np.std(mammoth['topic'])
topic_se = st.sem(mammoth['topic'])
good = mammoth['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(mammoth['good'])-1, loc=np.mean(mammoth['good']), scale=st.sem(mammoth['good']))
good_sd = np.std(mammoth['good'])
good_se = st.sem(mammoth['good'])
execute = good * .06885572139303482
execute_se = good_se * .06885572139303482
print(f'''Mammoth metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Mammoth metrics:
Solvability: 0.868 Standard Deviation: 0.33849076796864047 Standard Error: 2.1450980824038166
Accuracy: 0.9493087557603687 Standard Deviation: 0.21936645595229318 Standard Error: 1.4925996771273333
Appropriateness: 0.6774193548387096 Standard Deviation: 0.46746376600611095 Standard Error: 3.180688055429901
Percentage about Requested Topic: 0.976 Standard Deviation: 0.15304901175767194 Standard Error: 0.9699087026964266
Percentage Good in All Metrics: 0.568 Standard Deviation: 0.49535441857320706 Standard Error: 3.139181076542942
Percentage good with executable code: 0.039110049751243776 Standard Error: 0.21615057760872794

In [43]:
solvability = mathwell['solvability'].mean()
solvability_int = st.t.interval(confidence=0.95, df=len(mathwell['solvability'])-1, loc=np.mean(mathwell['solvability']), scale=st.sem(mathwell['solvability']))
solvability_sd = np.std(mathwell['solvability'])
solvability_se = st.sem(mathwell['solvability'])
accuracy = mathwell['accuracy'].mean()
accuracy_int = st.t.interval(confidence=0.95, df=len(mathwell['accuracy'].dropna())-1, loc=np.mean(mathwell['accuracy'].dropna()), scale=st.sem(mathwell['accuracy'].dropna()))
accuracy_sd = np.std(mathwell['accuracy'])
accuracy_se = st.sem(mathwell['accuracy'].dropna())
appropriateness = mathwell['appropriateness'].mean()
appropriateness_int = st.t.interval(confidence=0.95, df=len(mathwell['appropriateness'].dropna())-1, loc=np.mean(mathwell['appropriateness'].dropna()), scale=st.sem(mathwell['appropriateness'].dropna()))
appropriateness_sd = np.std(mathwell['appropriateness'])
appropriateness_se = st.sem(mathwell['appropriateness'].dropna())
topic = mathwell['topic'].mean()
topic_int = st.t.interval(confidence=0.95, df=len(mathwell['topic'])-1, loc=np.mean(mathwell['topic']), scale=st.sem(mathwell['topic']))
topic_sd = np.std(mathwell['topic'])
topic_se = st.sem(mathwell['topic'])
good = mathwell['good'].mean()
good_int = st.t.interval(confidence=0.95, df=len(mathwell['good'])-1, loc=np.mean(mathwell['good']), scale=st.sem(mathwell['good']))
good_sd = np.std(mathwell['good'])
good_se = st.sem(mathwell['good'])
execute = good * .6635177687809268
execute_se = good_se * .6635177687809268
print(f'''Mathwell metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd} Standard Error: {solvability_se*100}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd} Standard Error: {accuracy_se*100}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd} Standard Error: {appropriateness_se*100}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd} Standard Error: {topic_se*100}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd} Standard Error: {good_se*100}
Percentage good with executable code: {execute} Standard Error: {execute_se*100}''')

Mathwell metrics:
Solvability: 0.892 Standard Deviation: 0.3103804117530615 Standard Error: 1.9669559381568775
Accuracy: 0.968609865470852 Standard Deviation: 0.17436970488989761 Standard Error: 1.1702928328273723
Appropriateness: 0.8654708520179372 Standard Deviation: 0.34121995299994257 Standard Error: 2.2901183761575625
Percentage about Requested Topic: 0.996 Standard Deviation: 0.063118935352238 Standard Error: 0.4000000000000001
Percentage Good in All Metrics: 0.748 Standard Deviation: 0.43416126036301306 Standard Error: 2.7513851933031317
Percentage good with executable code: 0.49631129104813326 Standard Error: 1.8255929645173732

## Examine Operations By Model

### Overall

In [44]:
addition = gpt4['addition'].mean()
subtraction = gpt4['subtraction'].mean()
multiplication = gpt4['multiplication'].mean()
division = gpt4['division'].mean()
fractions = gpt4['fractions'].mean()
decimals = gpt4['decimals'].mean()
total_ops = gpt4['total_ops'].mean()
no_ops = gpt4['no_ops'].mean()
print(f"gpt4 overall question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

gpt4 overall question statistics:
Addition: 0.5316455696202531
Subtraction: 0.4472573839662447
Multiplication: 0.6160337552742616
Division: 0.25316455696202533
Fractions: 0.008438818565400843
Decimals: 0.046413502109704644
Total Operations: 1.9273504273504274
No operations: 0.012658227848101266

In [45]:
addition = gpt35['addition'].mean()
subtraction = gpt35['subtraction'].mean()
multiplication = gpt35['multiplication'].mean()
division = gpt35['division'].mean()
fractions = gpt35['fractions'].mean()
decimals = gpt35['decimals'].mean()
total_ops = gpt35['total_ops'].mean()
no_ops = gpt35['no_ops'].mean()
print(f"gpt35 overall question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

gpt35 overall question statistics:
Addition: 0.35294117647058826
Subtraction: 0.2850678733031674
Multiplication: 0.4434389140271493
Division: 0.36199095022624433
Fractions: 0.03167420814479638
Decimals: 0.23076923076923078
Total Operations: 1.737327188940092
No operations: 0.01809954751131222

In [46]:
addition = llama['addition'].mean()
subtraction = llama['subtraction'].mean()
multiplication = llama['multiplication'].mean()
division = llama['division'].mean()
fractions = llama['fractions'].mean()
decimals = llama['decimals'].mean()
total_ops = llama['total_ops'].mean()
no_ops = llama['no_ops'].mean()
print(f"Llama overall question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Llama overall question statistics:
Addition: 0.5761904761904761
Subtraction: 0.5857142857142857
Multiplication: 0.22857142857142856
Division: 0.14285714285714285
Fractions: 0.08095238095238096
Decimals: 0.11428571428571428
Total Operations: 1.815
No operations: 0.047619047619047616

In [47]:
addition = llema['addition'].mean()
subtraction = llema['subtraction'].mean()
multiplication = llema['multiplication'].mean()
division = llema['division'].mean()
fractions = llema['fractions'].mean()
decimals = llema['decimals'].mean()
total_ops = llema['total_ops'].mean()
no_ops = llema['no_ops'].mean()
print(f"Llema question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Llema question statistics:
Addition: 0.3442622950819672
Subtraction: 0.27049180327868855
Multiplication: 0.3360655737704918
Division: 0.20491803278688525
Fractions: 0.06557377049180328
Decimals: 0.1557377049180328
Total Operations: 1.6310679611650485
No operations: 0.1557377049180328

In [48]:
addition = mammoth['addition'].mean()
subtraction = mammoth['subtraction'].mean()
multiplication = mammoth['multiplication'].mean()
division = mammoth['division'].mean()
fractions = mammoth['fractions'].mean()
decimals = mammoth['decimals'].mean()
total_ops = mammoth['total_ops'].mean()
no_ops = mammoth['no_ops'].mean()
print(f"Mammoth question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Mammoth question statistics:
Addition: 0.39631336405529954
Subtraction: 0.3778801843317972
Multiplication: 0.4377880184331797
Division: 0.1935483870967742
Fractions: 0.03686635944700461
Decimals: 0.10599078341013825
Total Operations: 1.5849056603773586
No operations: 0.02304147465437788

In [49]:
addition = mathwell['addition'].mean()
subtraction = mathwell['subtraction'].mean()
multiplication = mathwell['multiplication'].mean()
division = mathwell['division'].mean()
fractions = mathwell['fractions'].mean()
decimals = mathwell['decimals'].mean()
total_ops = mathwell['total_ops'].mean()
no_ops = mathwell['no_ops'].mean()
print(f"Mathwell question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Mathwell question statistics:
Addition: 0.695067264573991
Subtraction: 0.6905829596412556
Multiplication: 0.24663677130044842
Division: 0.1031390134529148
Fractions: 0.053811659192825115
Decimals: 0.07623318385650224
Total Operations: 1.8909090909090909
No operations: 0.013452914798206279

### Good Questions

In [50]:
good_gpt4 = gpt4.query('good==1')
addition = good_gpt4['addition'].mean()
subtraction = good_gpt4['subtraction'].mean()
multiplication = good_gpt4['multiplication'].mean()
division = good_gpt4['division'].mean()
fractions = good_gpt4['fractions'].mean()
decimals = good_gpt4['decimals'].mean()
total_ops = good_gpt4['total_ops'].mean()
print(f"gpt4 good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

gpt4 good question statistics:
Addition: 0.5431472081218274
Subtraction: 0.4517766497461929
Multiplication: 0.5989847715736041
Division: 0.25380710659898476
Fractions: 0.01015228426395939
Decimals: 0.030456852791878174
Total Operations: 1.8883248730964468

In [51]:
good_gpt35 = gpt35.query('good==1')
addition = good_gpt35['addition'].mean()
subtraction = good_gpt35['subtraction'].mean()
multiplication = good_gpt35['multiplication'].mean()
division = good_gpt35['division'].mean()
fractions = good_gpt35['fractions'].mean()
decimals = good_gpt35['decimals'].mean()
total_ops = good_gpt35['total_ops'].mean()
print(f"gpt35 good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

gpt35 good question statistics:
Addition: 0.3630573248407643
Subtraction: 0.29936305732484075
Multiplication: 0.39490445859872614
Division: 0.35668789808917195
Fractions: 0.03184713375796178
Decimals: 0.21019108280254778
Total Operations: 1.6560509554140128

In [52]:
good_llama = llama.query('good==1')
addition = good_llama['addition'].mean()
subtraction = good_llama['subtraction'].mean()
multiplication = good_llama['multiplication'].mean()
division = good_llama['division'].mean()
fractions = good_llama['fractions'].mean()
decimals = good_llama['decimals'].mean()
total_ops = good_llama['total_ops'].mean()
print(f"Llama good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Llama good question statistics:
Addition: 0.5961538461538461
Subtraction: 0.6025641025641025
Multiplication: 0.24358974358974358
Division: 0.1282051282051282
Fractions: 0.057692307692307696
Decimals: 0.08974358974358974
Total Operations: 1.7179487179487178

In [53]:
good_llema = llema.query('good==1')
addition = good_llema['addition'].mean()
subtraction = good_llema['subtraction'].mean()
multiplication = good_llema['multiplication'].mean()
division = good_llema['division'].mean()
fractions = good_llema['fractions'].mean()
decimals = good_llema['decimals'].mean()
total_ops = good_llema['total_ops'].mean()
print(f"Llema good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Llema good question statistics:
Addition: 0.3684210526315789
Subtraction: 0.39473684210526316
Multiplication: 0.3157894736842105
Division: 0.15789473684210525
Fractions: 0.02631578947368421
Decimals: 0.13157894736842105
Total Operations: 1.394736842105263

In [54]:
good_mammoth = mammoth.query('good==1')
addition = good_mammoth['addition'].mean()
subtraction = good_mammoth['subtraction'].mean()
multiplication = good_mammoth['multiplication'].mean()
division = good_mammoth['division'].mean()
fractions = good_mammoth['fractions'].mean()
decimals = good_mammoth['decimals'].mean()
total_ops = good_mammoth['total_ops'].mean()
print(f"Mammoth good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Mammoth good question statistics:
Addition: 0.4295774647887324
Subtraction: 0.4225352112676056
Multiplication: 0.4084507042253521
Division: 0.16901408450704225
Fractions: 0.04929577464788732
Decimals: 0.09859154929577464
Total Operations: 1.5774647887323943

In [55]:
good_mathwell = mathwell.query('good==1')
addition = good_mathwell['addition'].mean()
subtraction = good_mathwell['subtraction'].mean()
multiplication = good_mathwell['multiplication'].mean()
division = good_mathwell['division'].mean()
fractions = good_mathwell['fractions'].mean()
decimals = good_mathwell['decimals'].mean()
total_ops = good_mathwell['total_ops'].mean()
print(f"Mathwell good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Mathwell good question statistics:
Addition: 0.7112299465240641
Subtraction: 0.7058823529411765
Multiplication: 0.24598930481283424
Division: 0.0855614973262032
Fractions: 0.0481283422459893
Decimals: 0.0748663101604278
Total Operations: 1.8716577540106951

## Check for Statistical Significance

In [56]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on percentage good
t_statistic, p_value = stats.ttest_ind(mathwell['good'], gpt4['good'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -1.0585420185859666
P-value: 0.2903215706618074

In [57]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on percentage good
t_statistic, p_value = stats.ttest_ind(mathwell['good'], llama['good'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 3.008081382179526
P-value: 0.0027620491234694095

In [58]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on percentage good
t_statistic, p_value = stats.ttest_ind(mathwell['good'], gpt35['good'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 2.914520203927901
P-value: 0.0037226966148345628

In [59]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on solvability
t_statistic, p_value = stats.ttest_ind(mathwell['solvability'], gpt4['solvability'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -2.3155773543221763
P-value: 0.020986760690813174

In [60]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on solvability
t_statistic, p_value = stats.ttest_ind(mathwell['solvability'], mammoth['solvability'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.8246321644499606
P-value: 0.4099752507629809

In [61]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on accuracy
mathwell_clean = mathwell['accuracy'].dropna()
mammoth_clean = mammoth['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, mammoth_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.0207634545824231
P-value: 0.3079299894123785

In [62]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on appropriateness
mathwell_clean = mathwell['appropriateness'].dropna()
llama_clean = llama['appropriateness'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, llama_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.5813637792343462
P-value: 0.1145284167264593

In [63]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on number of operations
mathwell_clean = mathwell['total_ops'].dropna()
llama_clean = llama['total_ops'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, llama_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.9976153121103332
P-value: 0.31904308346725163

In [64]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on number of no ops
mathwell_clean = mathwell['no_ops'].dropna()
mammoth_clean = mammoth['no_ops'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, mammoth_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.7513903197323029
P-value: 0.45282131522853575

In [65]:
# Perform an independent two-sample t-test on percentage good
llama_execute =llama['good'] * .55425904317386234
mathwell_execute = mathwell['good'] * .6635177687809268
t_statistic, p_value = stats.ttest_ind(mathwell_execute, llama_execute)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 6.029028726239575
P-value: 3.215402036842197e-09

## Build Logit Models to Control for Question Type

In [66]:
reg_df = pd.concat([df, pd.get_dummies(df['model'], dtype = int)], axis=1)
reg_df = reg_df[reg_df['solvability']==1]
x = reg_df[['llema', 'mammoth', 'llama', 'gpt35', 'gpt4']]
x = sm.add_constant(x)
y = reg_df['good']
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.547755
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   good   No. Observations:                 1229
Model:                          Logit   Df Residuals:                     1223
Method:                           MLE   Df Model:                            5
Date:                Fri, 29 Mar 2024   Pseudo R-squ.:                 0.08541
Time:                        08:57:11   Log-Likelihood:                -673.19
converged:                       True   LL-Null:                       -736.06
Covariance Type:            nonrobust   LLR p-value:                 1.914e-25
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.6476      0.182      9.053      0.000       1.291       2.004
llema         -2.4408      0.267     -9.138      0.000      -2.964      -1.917
mammoth       -1.0093      0.231     -4.363      0.000      -1.463      -0.556
llama         -0.5867      0.241     -2.435      0.015      -1.059      -0.114
gpt35         -0.7345      0.235     -3.121      0.002      -1.196      -0.273
gpt4          -0.0533      0.251     -0.212      0.832      -0.546       0.439
==============================================================================
"""

In [67]:
x = reg_df[['addition', 'subtraction',
       'multiplication', 'division', 'fractions', 'decimals', 
       'llema', 'mammoth', 'llama', 'gpt35', 'gpt4']]
y = reg_df['good']
x = sm.add_constant(x)
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.541794
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   good   No. Observations:                 1229
Model:                          Logit   Df Residuals:                     1217
Method:                           MLE   Df Model:                           11
Date:                Fri, 29 Mar 2024   Pseudo R-squ.:                 0.09536
Time:                        08:57:12   Log-Likelihood:                -665.86
converged:                       True   LL-Null:                       -736.06
Covariance Type:            nonrobust   LLR p-value:                 1.360e-24
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const              1.4960      0.254      5.895      0.000       0.999       1.993
addition           0.1297      0.153      0.850      0.395      -0.169       0.429
subtraction        0.2335      0.165      1.413      0.158      -0.090       0.557
multiplication    -0.1232      0.165     -0.748      0.454      -0.446       0.200
division          -0.1243      0.193     -0.645      0.519      -0.502       0.253
fractions         -0.1520      0.323     -0.471      0.638      -0.785       0.481
decimals          -0.3453      0.208     -1.658      0.097      -0.753       0.063
llema             -2.2793      0.276     -8.269      0.000      -2.820      -1.739
mammoth           -0.8673      0.238     -3.638      0.000      -1.335      -0.400
llama             -0.5321      0.244     -2.183      0.029      -1.010      -0.054
gpt35             -0.4962      0.247     -2.008      0.045      -0.981      -0.012
gpt4               0.0635      0.262      0.243      0.808      -0.450       0.577
==================================================================================
"""

In [68]:
reg_df = pd.concat([df, pd.get_dummies(df['model'], dtype = int)], axis=1)
reg_df = reg_df[reg_df['solvability']==1]
x = reg_df[['llema', 'llama', 'mammoth', 'gpt35', 'gpt4']]
x = sm.add_constant(x)
y = reg_df['accuracy']
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.276622
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               accuracy   No. Observations:                 1229
Model:                          Logit   Df Residuals:                     1223
Method:                           MLE   Df Model:                            5
Date:                Fri, 29 Mar 2024   Pseudo R-squ.:                  0.1202
Time:                        08:57:12   Log-Likelihood:                -339.97
converged:                       True   LL-Null:                       -386.40
Covariance Type:            nonrobust   LLR p-value:                 1.676e-18
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.4294      0.384      8.930      0.000       2.677       4.182
llema         -2.8568      0.428     -6.678      0.000      -3.695      -2.018
llama         -1.2840      0.445     -2.884      0.004      -2.157      -0.411
mammoth       -0.4994      0.493     -1.013      0.311      -1.466       0.467
gpt35         -1.2817      0.443     -2.895      0.004      -2.149      -0.414
gpt4          -0.3070      0.502     -0.612      0.541      -1.291       0.677
==============================================================================
"""

In [69]:
x = reg_df[['addition', 'subtraction',
       'multiplication', 'division', 'fractions', 'decimals', 
       'llema', 'llama', 'mammoth', 'gpt35', 'gpt4']]
y = reg_df['accuracy']
x = sm.add_constant(x)
log_reg = sm.Logit(y, x).fit() 
log_reg.summary()

Optimization terminated successfully.
         Current function value: 0.273292
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               accuracy   No. Observations:                 1229
Model:                          Logit   Df Residuals:                     1217
Method:                           MLE   Df Model:                           11
Date:                Fri, 29 Mar 2024   Pseudo R-squ.:                  0.1308
Time:                        08:57:12   Log-Likelihood:                -335.88
converged:                       True   LL-Null:                       -386.40
Covariance Type:            nonrobust   LLR p-value:                 1.103e-16
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const              3.2793      0.466      7.032      0.000       2.365       4.193
addition           0.1000      0.236      0.424      0.671      -0.362       0.562
subtraction        0.2785      0.256      1.086      0.277      -0.224       0.781
multiplication    -0.0263      0.246     -0.107      0.915      -0.508       0.456
division          -0.2708      0.278     -0.973      0.331      -0.817       0.275
fractions         -0.4422      0.421     -1.049      0.294      -1.268       0.384
decimals          -0.1956      0.296     -0.660      0.509      -0.776       0.385
llema             -2.6830      0.441     -6.089      0.000      -3.547      -1.819
llama             -1.2121      0.448     -2.703      0.007      -2.091      -0.333
mammoth           -0.3585      0.502     -0.714      0.475      -1.342       0.625
gpt35             -1.0466      0.458     -2.286      0.022      -1.944      -0.149
gpt4              -0.2106      0.514     -0.410      0.682      -1.217       0.796
==================================================================================
"""

## Explore Accuracy by Question Type

In [70]:
addition_acc = gpt4[gpt4['addition']==1]['accuracy'].mean()
subtraction_acc = gpt4[gpt4['subtraction']==1]['accuracy'].mean()
multiplication_acc = gpt4[gpt4['multiplication']==1]['accuracy'].mean()
division_acc = gpt4[gpt4['division']==1]['accuracy'].mean()
decimals_acc = gpt4[gpt4['decimals']==1]['accuracy'].mean()
fractions_acc = gpt4[gpt4['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.9603174603174603, Subtraction: 0.9433962264150944, Multiplication: 0.958904109589041, Division: 0.9333333333333333, Decimals: 0.9090909090909091, Fractions: 1.0

In [71]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = gpt4[gpt4['fractions']==1]['accuracy'].dropna()
low = gpt4[gpt4['decimals']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.4113766756037213
P-value: 0.688697536135214

/Users/bryan/.pyenv/versions/3.11.5/lib/python3.11/site-packages/scipy/stats/_axis_nan_policy.py:531: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)

In [72]:
addition_acc = gpt35[gpt35['addition']==1]['accuracy'].mean()
subtraction_acc = gpt35[gpt35['subtraction']==1]['accuracy'].mean()
multiplication_acc = gpt35[gpt35['multiplication']==1]['accuracy'].mean()
division_acc = gpt35[gpt35['division']==1]['accuracy'].mean()
decimals_acc = gpt35[gpt35['decimals']==1]['accuracy'].mean()
fractions_acc = gpt35[gpt35['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.9102564102564102, Subtraction: 0.9523809523809523, Multiplication: 0.865979381443299, Division: 0.875, Decimals: 0.9019607843137255, Fractions: 0.7142857142857143

In [73]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = gpt35[gpt35['subtraction']==1]['accuracy'].dropna()
low = gpt35[gpt35['fractions']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 2.3804761428476158
P-value: 0.02009873897122017

In [74]:
addition_acc = mathwell[mathwell['addition']==1]['accuracy'].mean()
subtraction_acc = mathwell[mathwell['subtraction']==1]['accuracy'].mean()
multiplication_acc = mathwell[mathwell['multiplication']==1]['accuracy'].mean()
division_acc = mathwell[mathwell['division']==1]['accuracy'].mean()
decimals_acc = mathwell[mathwell['decimals']==1]['accuracy'].mean()
fractions_acc = mathwell[mathwell['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.9612903225806452, Subtraction: 0.974025974025974, Multiplication: 0.9454545454545454, Division: 0.9130434782608695, Decimals: 0.9411764705882353, Fractions: 1.0

In [75]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mathwell[mathwell['subtraction']==1]['accuracy'].dropna()
low = mathwell[mathwell['division']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.5086228956282743
P-value: 0.13319844379341608

In [76]:
addition_acc = llama[llama['addition']==1]['accuracy'].mean()
subtraction_acc = llama[llama['subtraction']==1]['accuracy'].mean()
multiplication_acc = llama[llama['multiplication']==1]['accuracy'].mean()
division_acc = llama[llama['division']==1]['accuracy'].mean()
decimals_acc = llama[llama['decimals']==1]['accuracy'].mean()
fractions_acc = llama[llama['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.8925619834710744, Subtraction: 0.9105691056910569, Multiplication: 0.875, Division: 0.8, Decimals: 0.75, Fractions: 0.8235294117647058

In [77]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = llama[llama['subtraction']==1]['accuracy'].dropna()
low = llama[llama['decimals']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 2.274144870913362
P-value: 0.02442499023857366

In [78]:
addition_acc = llema[llema['addition']==1]['accuracy'].mean()
subtraction_acc = llema[llema['subtraction']==1]['accuracy'].mean()
multiplication_acc = llema[llema['multiplication']==1]['accuracy'].mean()
division_acc = llema[llema['division']==1]['accuracy'].mean()
decimals_acc = llema[llema['decimals']==1]['accuracy'].mean()
fractions_acc = llema[llema['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.7619047619047619, Subtraction: 0.7272727272727273, Multiplication: 0.6341463414634146, Division: 0.56, Decimals: 0.631578947368421, Fractions: 0.5

In [79]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = llema[llema['addition']==1]['accuracy'].dropna()
low = llema[llema['fractions']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.5166403726005646
P-value: 0.13591628815835768

In [80]:
addition_acc = mammoth[mammoth['addition']==1]['accuracy'].mean()
subtraction_acc = mammoth[mammoth['subtraction']==1]['accuracy'].mean()
multiplication_acc = mammoth[mammoth['multiplication']==1]['accuracy'].mean()
division_acc = mammoth[mammoth['division']==1]['accuracy'].mean()
decimals_acc = mammoth[mammoth['decimals']==1]['accuracy'].mean()
fractions_acc = mammoth[mammoth['fractions']==1]['accuracy'].mean()
print(f"Addition: {addition_acc}, Subtraction: {subtraction_acc}, Multiplication: {multiplication_acc}, Division: {division_acc}, Decimals: {decimals_acc}, Fractions: {fractions_acc}")

Addition: 0.9651162790697675, Subtraction: 0.9634146341463414, Multiplication: 0.968421052631579, Division: 0.9761904761904762, Decimals: 0.9130434782608695, Fractions: 0.875

In [81]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['division']==1]['accuracy'].dropna()
low = mammoth[mammoth['fractions']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.3357320331221683
P-value: 0.1879360655573076

In [82]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['addition']==1]['accuracy'].dropna()
low = mathwell[mathwell['addition']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.14945453514121473
P-value: 0.8813210204814809

In [83]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['subtraction']==1]['accuracy'].dropna()
low = mathwell[mathwell['subtraction']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.4557969159501152
P-value: 0.6489587131238368

In [84]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['multiplication']==1]['accuracy'].dropna()
low = mathwell[mathwell['multiplication']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.6881860213634111
P-value: 0.4924128827161959

In [85]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['division']==1]['accuracy'].dropna()
low = mathwell[mathwell['division']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.154248459318687
P-value: 0.25275810709158303

In [86]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['fractions']==1]['accuracy'].dropna()
low = mathwell[mathwell['fractions']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -1.2421180068162376
P-value: 0.23013377921316114

In [87]:
# Perform an independent two-sample t-test on highest versus lowest accuracy operation
high = mammoth[mammoth['decimals']==1]['accuracy'].dropna()
low = mathwell[mathwell['decimals']==1]['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(high, low)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.3259423987758857
P-value: 0.7462561459262849

## Merge DF with Question Data and Send to CSV

questions = pd.read_csv('data/zooniverse_questions.csv')
questions

In [88]:
df['question_number'].value_counts()

question_number
llama_q1053       1
mathwell_q1244    1
gpt35_q479        1
gpt35_q611        1
gpt35_q1621       1
                 ..
llema_q213        1
llama_q1334       1
mammoth_q274      1
mammoth_q163      1
gpt4_q201         1
Name: count, Length: 1500, dtype: int64

merged = pd.merge(df, questions,
              on = 'question_number',
              how='inner',
              validate='one_to_one', 
              indicator = 'matched')
merged['matched'].value_counts()

merged = pd.merge(df, questions,
              on = 'question_number',
              how='inner')
merged

In [89]:
merged['text'] = "Question: " + merged['question'] + "\nAnswer: " + merged['answer'].astype('string')
merged.to_csv('data/all_models.csv')
merged['acc_text'] = "Question: " + merged['question'] + "\nSolution:\n" + merged['solution']

finetune = pd.read_csv('data/finetuning_data.csv')
filtered_df = merged[~merged['question'].isin(finetune['question'])]
llama = filtered_df[filtered_df['model']=='llama']
llema = filtered_df[filtered_df['model']=='llema']
mathwell = filtered_df[filtered_df['model']=='mathwell']
mammoth = filtered_df[filtered_df['model']=='mammoth']
print(f"Mathwell: {mathwell['good'].mean()}, Llama: {llama['good'].mean()}, Llema: {llema['good'].mean()}, Mammoth: {mammoth['good'].mean()}")
print(f"Mathwell: {mathwell['solvability'].mean()}, Llama: {llama['solvability'].mean()}, Llema: {llema['solvability'].mean()}, Mammoth: {mammoth['solvability'].mean()}")
print(f"Mathwell: {mathwell['accuracy'].mean()}, Llama: {llama['accuracy'].mean()}, Llema: {llema['accuracy'].mean()}, Mammoth: {mammoth['accuracy'].mean()}")
print(f"Mathwell: {mathwell['appropriateness'].mean()}, Llama: {llama['appropriateness'].mean()}, Llema: {llema['appropriateness'].mean()}, Mammoth: {mammoth['appropriateness'].mean()}")
filtered_df.to_csv('data/filtered_models.csv')

In [90]:
llama = merged[merged['model']=='llama']
llema = merged[merged['model']=='llema']
mathwell = merged[merged['model']=='mathwell']
mathwell[mathwell['good']==1].to_csv("mathwell_good_qs.csv")
mammoth = merged[merged['model']=='mammoth']
gpt35 = merged[merged['model']=='gpt35']
gpt4 = merged[merged['model']=='gpt4']

In [91]:
solvability = gpt4[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/gpt4_solvability.csv')
solvability

     label                                               text
0        1  In Minecraft, Steve is building a rectangular ...
1        1  In Angel Grove, there were 5 Power Rangers bat...
2        1  Barbie is preparing goodie bags for her birthd...
3        1  Mrs. Johnson has 12 adult cats and each adult ...
4        1  In Minecraft, Steve needs to build a fence aro...
..     ...                                                ...
245      0  Ash has 50 PokÃ© Balls in his backpack. He catc...
246      0  Jenny has 12 cats. She decides to buy more cat...
247      0  Samantha has a dog named Max, who loves to col...
248      0  A cheerleading squad is performing a routine t...
249      0  LeBron James scores an average of 27 points pe...

[250 rows x 2 columns]

In [92]:
solvability = gpt35[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/gpt35_solvability.csv')
solvability

     label                                               text
0        1  Thor, the God of Thunder, has 10 lightning bol...
1        1  Pikachu has 1000 candy pieces. He wants to evo...
2        1  In a lacrosse game, the team scores 3 points f...
3        1  Thor has 2000 hammers. Each hammer weighs 5 po...
4        1                                                NaN
..     ...                                                ...
245      0  In Minecraft, a player needs 3 blocks of iron ...
246      0  Barbie has 12 different outfits she can wear. ...
247      0  Brandon ordered 3 pizzas for a party. Each piz...
248      0  In Fortnite, a player has 10 shield potions. E...
249      0  A dog walker is taking care of 9 dogs for the ...

[250 rows x 2 columns]

In [93]:
solvability = llama[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/llama_solvability.csv')
solvability

     label                                               text
0        1  Steph Curry has 3000 points. 1000 of them are ...
2        1  A commercial airplane takes 12 hours to fly fr...
6        1  Taylor Swift has 100 cats. She has 30 more cat...
16       1  Fortnite is a battle royale game. 100 players ...
18       0  Patrick Mahomes threw 26 touchdown passes in t...
..     ...                                                ...
989      1  The soccer team scored 3 goals in the first ha...
992      1  Serena Williams won 23 Grand Slam titles. She ...
993      1  Batman has 200 batarangs. He throws 20 bataran...
995      1  Wonder Woman has 1000 Amazonian cookies. \nShe...
997      1  Naruto is 16 years old.  He is 4 years older t...

[250 rows x 2 columns]

In [94]:
solvability = llema[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/llema_solvability.csv')
solvability

     label                                               text
3        0  In the original comic book series, the four Tu...
5        1  Spiderman has a web-shooter that shoots spider...
9        0  Naruto has 3000 calories of ramen.  He uses 20...
13       1  Wonder Woman has 5 cats. She also has a dog.  ...
21       1  Mentos sell for $3.25 per bag. How much do 4 b...
..     ...                                                ...
940      1  Player1 builds 400 \nblocks of diamond blocks....
942      1  A football team has 50 cheerleaders. 4 cheerle...
945      1  In the 2013/2014 NBA season, Steph Curry made ...
946      1  A high school lacrosse team has scored the fol...
978      1  Captain America jumped 4 feet in length and 12...

[250 rows x 2 columns]

In [95]:
solvability = mammoth[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/mammoth_solvability.csv')
solvability

     label                                               text
1        1  The soccer team has 15 players. Each player ha...
7        1  Iron Man has 100 arc reactors. He deploys 20 a...
8        0  Iron Man has 5000 dollars. He spends 1000 doll...
10       1  Naruto can run at a top speed of 1200 km/h. He...
17       0               How many cobblestones are there now?
..     ...                                                ...
914      1  Thor, the God of Thunder, can throw his hammer...
917      1  If a person eats 2 bowls of ice cream every da...
920      1  The ice cream shop has 6 different flavors. Ea...
941      0  3 dogs ate 12 bones. How many bones did each d...
955      1  Harry Potter has 3000 vibranium-powered punche...

[250 rows x 2 columns]

In [96]:
solvability = mathwell[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/mathwell_solvability.csv')
solvability

     label                                               text
0        1  LeBron James is 6'9" tall. 1 inch is 2.54 cm. ...
1        1  Captain America has 1200 ryo. He spends 400 ry...
2        1  A 250-car train is 2.5 miles long. How many 25...
3        1  3 scoops of ice cream cost $4. \nHow much does...
4        1  Iron Man has 500 gold coins. He can use 10 gol...
..     ...                                                ...
245      0  The soccer team has 20 players. \n\n8 of the p...
246      0  LeBron James is 6'9" tall. \nHe's 36 years old...
247      0  LeBron James is 6 feet 9 inches tall.  He wear...
248      0  A pizza is cut into 12 slices. 3 of the slices...
249      0  A Fortnite player has 5000 V-Bucks. They buy 2...

[250 rows x 2 columns]

In [97]:
solvability = merged[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/solvability_all_models.csv')
solvability

     label                                               text
0        1  Steph Curry has 3000 points. 1000 of them are ...
1        1  The soccer team has 15 players. Each player ha...
2        1  A commercial airplane takes 12 hours to fly fr...
3        0  In the original comic book series, the four Tu...
5        1  Spiderman has a web-shooter that shoots spider...
..     ...                                                ...
245      0  Ash has 50 PokÃ© Balls in his backpack. He catc...
246      0  Jenny has 12 cats. She decides to buy more cat...
247      0  Samantha has a dog named Max, who loves to col...
248      0  A cheerleading squad is performing a routine t...
249      0  LeBron James scores an average of 27 points pe...

[1500 rows x 2 columns]

In [98]:
appropriateness = merged[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness = appropriateness[['label', 'text']]
appropriateness.to_csv('data/appropriateness_all_models.csv')
appropriateness

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
1      1.0  Question: The soccer team has 15 players. Each...
2      1.0  Question: A commercial airplane takes 12 hours...
5      1.0  Question: Spiderman has a web-shooter that sho...
6      0.0  Question: Taylor Swift has 100 cats. She has 3...
..     ...                                                ...
232    1.0  Question: Jenny baked 24 chocolate chip cookie...
233    1.0  Question: During a summer volleyball tournamen...
234    1.0  Question: The Teenage Mutant Ninja Turtles are...
235    1.0  Question: Barbie is planning a tea party and s...
236    1.0  Question: A car rental company has a fleet of ...

[1228 rows x 2 columns]

In [99]:
appropriateness = gpt4[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/gpt4_appropriateness.csv')
appropriateness

     label                                               text
0      0.0  Question: In Minecraft, Steve is building a re...
1      0.0  Question: In Angel Grove, there were 5 Power R...
2      0.0  Question: Barbie is preparing goodie bags for ...
3      0.0  Question: Mrs. Johnson has 12 adult cats and e...
4      0.0  Question: In Minecraft, Steve needs to build a...
..     ...                                                ...
232    1.0  Question: Jenny baked 24 chocolate chip cookie...
233    1.0  Question: During a summer volleyball tournamen...
234    1.0  Question: The Teenage Mutant Ninja Turtles are...
235    1.0  Question: Barbie is planning a tea party and s...
236    1.0  Question: A car rental company has a fleet of ...

[237 rows x 2 columns]

In [100]:
appropriateness = gpt35[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/gpt35_appropriateness.csv')
appropriateness

     label                                               text
0      0.0  Question: Thor, the God of Thunder, has 10 lig...
1      0.0  Question: Pikachu has 1000 candy pieces. He wa...
2      0.0  Question: In a lacrosse game, the team scores ...
3      0.0  Question: Thor has 2000 hammers. Each hammer w...
5      0.0  Question: Iron Man has 6 suits in his closet. ...
..     ...                                                ...
216    1.0  Question: Pikachu has 85 HP. Charmander has 60...
217    1.0  Question: A train travels at a speed of 50 mil...
218    1.0  Question: There are 50 cats in a pet store. 20...
219    1.0  Question: The cheerleading squad has 20 member...
220    1.0  Question: The basketball team practiced shooti...

[219 rows x 2 columns]

In [101]:
appropriateness = llama[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/llama_appropriateness.csv')
appropriateness

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
2      1.0  Question: A commercial airplane takes 12 hours...
6      0.0  Question: Taylor Swift has 100 cats. She has 3...
16     1.0  Question: Fortnite is a battle royale game. 10...
30     1.0  Question: 30 people are going to a pizza party...
..     ...                                                ...
989    1.0  Question: The soccer team scored 3 goals in th...
992    0.0  Question: Serena Williams won 23 Grand Slam ti...
993    1.0  Question: Batman has 200 batarangs. He throws ...
995    1.0  Question: Wonder Woman has 1000 Amazonian cook...
997    1.0  Question: Naruto is 16 years old.  He is 4 yea...

[210 rows x 2 columns]

In [102]:
appropriateness = llema[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/llema_appropriateness.csv')
appropriateness

     label                                               text
5      1.0  Question: Spiderman has a web-shooter that sho...
13     1.0  Question: Wonder Woman has 5 cats. She also ha...
21     1.0  Question: Mentos sell for $3.25 per bag. How m...
41     0.0  Question: Black Panther has 50000 vibranium co...
43     0.0  Question: Mario has 22 coins. He finds 30 more...
..     ...                                                ...
940    0.0  Question: Player1 builds 400
blocks of diamon...
942    1.0  Question: A football team has 50 cheerleaders....
945    1.0  Question: In the 2013/2014 NBA season, Steph C...
946    0.0  Question: A high school lacrosse team has scor...
978    0.0  Question: Captain America jumped 4 feet in len...

[122 rows x 2 columns]

In [103]:
appropriateness = mammoth[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/mammoth_appropriateness.csv')
appropriateness

     label                                               text
1      1.0  Question: The soccer team has 15 players. Each...
7      1.0  Question: Iron Man has 100 arc reactors. He de...
10     0.0  Question: Naruto can run at a top speed of 120...
22     0.0  Question: Wonder Woman has 100 arrows and 1000...
23     1.0  Question: A trainer has 600 PokÃ©mon. He releas...
..     ...                                                ...
912    0.0  Question: Harry Potter has 200 galleons. He sp...
914    1.0  Question: Thor, the God of Thunder, can throw ...
917    1.0  Question: If a person eats 2 bowls of ice crea...
920    0.0  Question: The ice cream shop has 6 different f...
955    1.0  Question: Harry Potter has 3000 vibranium-powe...

[217 rows x 2 columns]

In [104]:
appropriateness = mathwell[['appropriateness', 'text']].dropna()
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/mathwell_appropriateness.csv')
appropriateness

     label                                               text
0      1.0  Question: LeBron James is 6'9" tall. 1 inch is...
1      1.0  Question: Captain America has 1200 ryo. He spe...
2      1.0  Question: A 250-car train is 2.5 miles long. H...
3      1.0  Question: 3 scoops of ice cream cost $4.
How ...
4      0.0  Question: Iron Man has 500 gold coins. He can ...
..     ...                                                ...
218    1.0  Question: A candy store has 120 lollipops. 30 ...
219    1.0  Question: Wonder Woman has 100 lassos. She las...
220    1.0  Question: Superman can punch 2000 times per mi...
221    1.0  Question: A 25-meter pool is 2.5 times as long...
231    1.0  Question: Serena Williams has 24 Grand Slam ti...

[223 rows x 2 columns]

In [105]:
accuracy = gpt4[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/gpt4_accuracy.csv')
accuracy

     label                                               text
0      0.0  Question: In Minecraft, Steve is building a re...
1      0.0  Question: In Angel Grove, there were 5 Power R...
2      0.0  Question: Barbie is preparing goodie bags for ...
3      0.0  Question: Mrs. Johnson has 12 adult cats and e...
4      0.0  Question: In Minecraft, Steve needs to build a...
..     ...                                                ...
232    1.0  Question: Jenny baked 24 chocolate chip cookie...
233    1.0  Question: During a summer volleyball tournamen...
234    1.0  Question: The Teenage Mutant Ninja Turtles are...
235    1.0  Question: Barbie is planning a tea party and s...
236    1.0  Question: A car rental company has a fleet of ...

[237 rows x 2 columns]

In [106]:
accuracy = gpt35[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/gpt35_accuracy.csv')
accuracy

     label                                               text
0      1.0  Question: Thor, the God of Thunder, has 10 lig...
1      1.0  Question: Pikachu has 1000 candy pieces. He wa...
2      1.0  Question: In a lacrosse game, the team scores ...
3      0.0  Question: Thor has 2000 hammers. Each hammer w...
4      1.0                                                NaN
..     ...                                                ...
216    1.0  Question: Pikachu has 85 HP. Charmander has 60...
217    1.0  Question: A train travels at a speed of 50 mil...
218    1.0  Question: There are 50 cats in a pet store. 20...
219    1.0  Question: The cheerleading squad has 20 member...
220    1.0  Question: The basketball team practiced shooti...

[220 rows x 2 columns]

In [107]:
accuracy = llama[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/llama_accuracy.csv')
accuracy

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
2      0.0  Question: A commercial airplane takes 12 hours...
6      1.0  Question: Taylor Swift has 100 cats. She has 3...
16     1.0  Question: Fortnite is a battle royale game. 10...
30     1.0  Question: 30 people are going to a pizza party...
..     ...                                                ...
989    1.0  Question: The soccer team scored 3 goals in th...
992    1.0  Question: Serena Williams won 23 Grand Slam ti...
993    1.0  Question: Batman has 200 batarangs. He throws ...
995    1.0  Question: Wonder Woman has 1000 Amazonian cook...
997    1.0  Question: Naruto is 16 years old.  He is 4 yea...

[210 rows x 2 columns]

In [108]:
accuracy = llema[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/llema_accuracy.csv')
accuracy

     label                                               text
5      1.0  Question: Spiderman has a web-shooter that sho...
13     1.0  Question: Wonder Woman has 5 cats. She also ha...
21     0.0  Question: Mentos sell for $3.25 per bag. How m...
41     1.0  Question: Black Panther has 50000 vibranium co...
43     1.0  Question: Mario has 22 coins. He finds 30 more...
..     ...                                                ...
940    0.0  Question: Player1 builds 400 \nblocks of diamo...
942    0.0  Question: A football team has 50 cheerleaders....
945    0.0  Question: In the 2013/2014 NBA season, Steph C...
946    1.0  Question: A high school lacrosse team has scor...
978    1.0  Question: Captain America jumped 4 feet in len...

[122 rows x 2 columns]

In [109]:
accuracy = mammoth[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/mammoth_accuracy.csv')
accuracy

     label                                               text
1      1.0  Question: The soccer team has 15 players. Each...
7      1.0  Question: Iron Man has 100 arc reactors. He de...
10     1.0  Question: Naruto can run at a top speed of 120...
22     1.0  Question: Wonder Woman has 100 arrows and 1000...
23     1.0  Question: A trainer has 600 PokÃ©mon. He releas...
..     ...                                                ...
912    1.0  Question: Harry Potter has 200 galleons. He sp...
914    1.0  Question: Thor, the God of Thunder, can throw ...
917    1.0  Question: If a person eats 2 bowls of ice crea...
920    1.0  Question: The ice cream shop has 6 different f...
955    1.0  Question: Harry Potter has 3000 vibranium-powe...

[217 rows x 2 columns]

In [110]:
accuracy = mathwell[['accuracy', 'acc_text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label', 'acc_text': 'text'}, axis=1)
accuracy.to_csv('data/mathwell_accuracy.csv')
accuracy

     label                                               text
0      1.0  Question: LeBron James is 6'9" tall. 1 inch is...
1      1.0  Question: Captain America has 1200 ryo. He spe...
2      0.0  Question: A 250-car train is 2.5 miles long. H...
3      1.0  Question: 3 scoops of ice cream cost $4. \nHow...
4      1.0  Question: Iron Man has 500 gold coins. He can ...
..     ...                                                ...
218    1.0  Question: A candy store has 120 lollipops. 30 ...
219    1.0  Question: Wonder Woman has 100 lassos. She las...
220    1.0  Question: Superman can punch 2000 times per mi...
221    1.0  Question: A 25-meter pool is 2.5 times as long...
231    1.0  Question: Serena Williams has 24 Grand Slam ti...

[223 rows x 2 columns]

In [111]:
good = merged[['good', 'text']]
good = good.rename({'good': 'label'}, axis = 1)
good.to_csv('data/good_all_models.csv')
good

     label                                               text
0        1  Question: Steph Curry has 3000 points. 1000 of...
1        1  Question: The soccer team has 15 players. Each...
2        0  Question: A commercial airplane takes 12 hours...
3        0  Question: In the original comic book series, t...
5        1  Question: Spiderman has a web-shooter that sho...
..     ...                                                ...
245      0  Question: Ash has 50 PokÃ© Balls in his backpac...
246      0  Question: Jenny has 12 cats. She decides to bu...
247      0  Question: Samantha has a dog named Max, who lo...
248      0  Question: A cheerleading squad is performing a...
249      0  Question: LeBron James scores an average of 27...

[1500 rows x 2 columns]

In [112]:
good = llama.query('good==1')
good = good['question']
good.to_csv('data/llama_good.csv')
good = llema.query('good==1')
good = good['question']
good.to_csv('data/llema_good.csv')
good = mammoth.query('good==1')
good = good['question']
good.to_csv('data/mammoth_good.csv')
good = mathwell.query('good==1')
good = good['question']
good.to_csv('data/mathwell_good.csv')
good = gpt35.query('good==1')
good = good['question']
good.to_csv('data/gpt35_good.csv')
good = gpt4.query('good==1')
good = good['question']
good.to_csv('data/gpt4_good.csv')

In [113]:
import random
def sample_question(model, criteria, value):
    print(model[model[criteria]==value].iloc[random.randint(0, len(model[model[criteria]==value])-1)]['question'])
    
def sample_question_solution(model, criteria, value):
    index = random.randint(0, len(model[model[criteria]==value])-1)
    print("Question: " + model[model[criteria]==value].iloc[index]['question'] + "\n\nSolution:\n" + model[model[criteria]==value].iloc[index]['solution'])
sample_question(mathwell, criteria = 'appropriateness', value =0)

Thor, the God of Thunder, is 6'3" tall.  He is 300% taller than his brother Loki.  How tall is Loki?

In [114]:
sample_question_solution(mathwell, 'accuracy', 0)

Question: 3000 people come to the Ice Cream Festival. 1000 of them are lactose intolerant. 1000 of them are allergic to nuts. 500 of them are allergic to both. How many people can safely eat ice cream?

Solution:
def solution():
    #3000 people come to the Ice Cream Festival
    total_people = 3000
    #1000 of them are lactose intolerant
    lactose_intolerant = 1000
    #1000 of them are allergic to nuts
    allergic_to_nuts = 1000
    #500 of them are allergic to both
    allergic_to_both = 500
    #The answer is
    result = total_people - lactose_intolerant - allergic_to_nuts - allergic_to_both
    return result

## Create Annotated Dataset for All Questions

In [115]:
all_qs = merged[['model','question', 'solution', 'answer', 'accuracy', 'solvability', 'appropriateness', 'good']]
mathwell_annotated = pd.read_csv('data/mathwell_annotations.csv')
all_qs = pd.concat([all_qs, mathwell_annotated])
replace_map = {np.nan: 'finetuned_llama'}
all_qs['model'] = all_qs['model'].replace(replace_map)
all_qs = all_qs.drop(['Unnamed: 0'], axis=1)
mathwell_an = all_qs[all_qs['model']!='llama']
mathwell_an = mathwell_an[mathwell_an['model']!='llema']
mathwell_an = mathwell_an[mathwell_an['model']!='mammoth']
mathwell_an = mathwell_an[mathwell_an['model']!='gpt35']
mathwell_an = mathwell_an[mathwell_an['model']!='gpt4']
mathwell_an.to_csv('data/mathwell_annotations_final.csv', index = False)
all_qs

,model,question,solution,answer,accuracy,solvability,appropriateness,good
0,llama,Steph Curry has 3000 points. 1000 of them are ...,def solution():\n #Steph Curry has 3000 poi...,0,1.0,1,1.0,1
1,mammoth,The soccer team has 15 players. Each player ha...,def solution():\n #Number of players\n p...,30,1.0,1,1.0,1
2,llama,A commercial airplane takes 12 hours to fly fr...,def solution():\n #A commercial airplane ta...,0.6,0.0,1,1.0,0
3,llema,"In the original comic book series, the four Tu...",def solution():\n #Raphael is 6 inches tall...,30,NaN,0,NaN,0
5,llema,Spiderman has a web-shooter that shoots spider...,def solution():\n #Spiderman needs to load ...,180,1.0,1,1.0,1
...,...,...,...,...,...,...,...,...
3229,finetuned_llama,A field hockey game has 11 players per team. T...,def solution():\n #A field hockey game has ...,33,0.0,1,0.0,0
3230,finetuned_llama,100 turtles are at the pond. 10 turtles are ea...,def solution():\n #Total turtles\n total...,0,0.0,1,0.0,0
3231,finetuned_llama,Barbie has 1200 Instagram followers. 200 more ...,def solution():\n #Barbie started with 1200...,1150,0.0,0,0.0,0
3232,finetuned_llama,1234567890 is a 10-digit number. \nHow many 3-...,def solution():\n #10-digit number has 10 d...,3.3333333333333335,0.0,1,0.0,0
3233,finetuned_llama,7 cats and 23 dogs are in a cage. 14 of the an...,def solution():\n #Total cats and dogs\n ...,13,0.0,0,0.0,0

In [116]:
mathwell_an

,model,question,solution,answer,accuracy,solvability,appropriateness,good
0,mathwell,"LeBron James is 6'9"" tall. 1 inch is 2.54 cm. ...","def solution():\n #LeBron James is 6'9"" tal...",205.74,1.0,1,1.0,1
1,mathwell,Captain America has 1200 ryo. He spends 400 ry...,def solution():\n #Captain America started ...,300.0,1.0,1,1.0,1
2,mathwell,A 250-car train is 2.5 miles long. How many 25...,def solution():\n #1 train is 2.5 miles lon...,211200.0,0.0,1,1.0,0
3,mathwell,3 scoops of ice cream cost $4. \nHow much does...,def solution():\n #3 scoops of ice cream co...,13.333333,1.0,1,1.0,1
4,mathwell,Iron Man has 500 gold coins. He can use 10 gol...,def solution():\n #Iron Man has 500 gold co...,16.666667,1.0,1,0.0,0
...,...,...,...,...,...,...,...,...
3229,finetuned_llama,A field hockey game has 11 players per team. T...,def solution():\n #A field hockey game has ...,33,0.0,1,0.0,0
3230,finetuned_llama,100 turtles are at the pond. 10 turtles are ea...,def solution():\n #Total turtles\n total...,0,0.0,1,0.0,0
3231,finetuned_llama,Barbie has 1200 Instagram followers. 200 more ...,def solution():\n #Barbie started with 1200...,1150,0.0,0,0.0,0
3232,finetuned_llama,1234567890 is a 10-digit number. \nHow many 3-...,def solution():\n #10-digit number has 10 d...,3.3333333333333335,0.0,1,0.0,0
3233,finetuned_llama,7 cats and 23 dogs are in a cage. 14 of the an...,def solution():\n #Total cats and dogs\n ...,13,0.0,0,0.0,0

In [117]:
print(f'''Overall num questions: {len(all_qs)}
Overall percentage appropriate: {all_qs['appropriateness'].mean()} Standard Deviation: {np.std(all_qs['appropriateness'])} Standard Error: {st.sem(all_qs['appropriateness'].dropna())*100}
Overall percentage solvable: {all_qs['solvability'].mean()} Standard Deviation: {np.std(all_qs['solvability'])} Standard Error: {st.sem(all_qs['solvability'])*100}
Overall percentage accurate: {all_qs['accuracy'].mean()} Standard Deviation: {np.std(all_qs['accuracy'])} Standard Error: {st.sem(all_qs['accuracy'].dropna())*100}
Overall percentage good in all metrics: {all_qs['good'].mean()} Standard Deviation: {np.std(all_qs['good'])} Standard Error: {st.sem(all_qs['good'])*100}
Number of good questions: {len(all_qs[all_qs['good']==1])}''')
all_qs = all_qs.rename(columns = {'good': 'mac'})
all_qs.to_csv('data/annotations.csv', index = False)

Overall num questions: 4734
Overall percentage appropriate: 0.6858615281200986 Standard Deviation: 0.4641718349543214 Standard Error: 0.6948867037677436
Overall percentage solvable: 0.8215040135192226 Standard Deviation: 0.38292971847459356 Standard Error: 0.5566097637445623
Overall percentage accurate: 0.8723823601872382 Standard Deviation: 0.3336635698145393 Standard Error: 0.5237846544826585
Overall percentage good in all metrics: 0.5878749471905366 Standard Deviation: 0.49221742518551737 Standard Error: 0.7154655581051358
Number of good questions: 2783

## Format Good Data in Instruction Format for Further Finetuning for Question Generation

In [118]:
merged=merged.query("good==1 & model=='mathwell'")
sgsm_train = merged[['question', 'solution', 'answer', 'topic_y']]
sgsm_train = sgsm_train.rename(columns = {'topic_y': 'topic'})
train = pd.read_csv('data/finetuning_data.csv')
sgsm_train = pd.concat([sgsm_train, train])
replace_map = {np.nan: 'unspecified'}
sgsm_train['topic'] = sgsm_train['topic'].replace(replace_map)
sgsm_train = sgsm_train.drop(['Unnamed: 0'], axis=1)
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
sgsm_train['solution'] = sgsm_train.apply(parse_solution, axis=1)
sgsm_train.to_csv('data/sgsm_train.csv')
sgsm_train

,question,solution,answer,topic
0,"LeBron James is 6'9"" tall. 1 inch is 2.54 cm. ...","def solution():\n #LeBron James is 6'9"" tal...",205.74,basketball
1,Captain America has 1200 ryo. He spends 400 ry...,def solution():\n #Captain America started ...,300.0,Captain America
3,3 scoops of ice cream cost $4. \nHow much does...,def solution():\n #3 scoops of ice cream co...,13.333333,ice cream
5,A volleyball team is 6 players. \n3 of the pla...,def solution():\n #3 of the players are 16 ...,16.666667,volleyball
6,"Superman can fly at a speed of 1,000 miles per...",def solution():\n #Superman can fly at a sp...,0.2,Superman
...,...,...,...,...
1901,30 unicorns are in a herd. 10 unicorns in the ...,def solution():\n #Total number of unicorns...,17,unicorns
1902,A pizza has 8 slices. 4 of the slices have pep...,def solution():\n #A pizza has 8 slices\n ...,4,pizza
1903,12000 people were at a rally. 10000 of them we...,def solution():\n #Total number of people a...,500,unspecified
1904,A bakery made 300 muffins. 150 of the muffins ...,def solution():\n #Total muffins\n total...,60,unspecified
1905,A pizza is cut into 12 slices. 5 slices are to...,def solution():\n #A pizza is cut into 12 s...,6,pizza

In [119]:
merged_copy = merged
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
merged['solution'] = merged.apply(parse_solution, axis = 1)
merged['output'] = "Question: " + merged['question'] + "\n" + "Solution:\n" + merged['solution']
merged['instruction'] = "Write a grade school math word problem and Python function with a commented out step-by-step solution to solve the word problem."
merged['input']=''
merged = merged[['output', 'instruction', 'input']]
merged

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/2997887767.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['solution'] = merged.apply(parse_solution, axis = 1)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/2997887767.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['output'] = "Question: " + merged['question'] + "\n" + "Solution:\n" + merged['solution']
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/2997887767.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['instruction'] = "Write a grade school math word problem and Python function with a commented out step-by-step solution to solve the word problem."
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/2997887767.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['input']=''

,output,instruction,input
0,"Question: LeBron James is 6'9"" tall. 1 inch is...",Write a grade school math word problem and Pyt...,
1,Question: Captain America has 1200 ryo. He spe...,Write a grade school math word problem and Pyt...,
3,Question: 3 scoops of ice cream cost $4. \nHow...,Write a grade school math word problem and Pyt...,
5,Question: A volleyball team is 6 players. \n3 ...,Write a grade school math word problem and Pyt...,
6,"Question: Superman can fly at a speed of 1,000...",Write a grade school math word problem and Pyt...,
...,...,...,...
218,Question: A candy store has 120 lollipops. 30 ...,Write a grade school math word problem and Pyt...,
219,Question: Wonder Woman has 100 lassos. She las...,Write a grade school math word problem and Pyt...,
220,Question: Superman can punch 2000 times per mi...,Write a grade school math word problem and Pyt...,
221,Question: A 25-meter pool is 2.5 times as long...,Write a grade school math word problem and Pyt...,
231,Question: Serena Williams has 24 Grand Slam ti...,Write a grade school math word problem and Pyt...,

In [120]:
# Save DataFrame to a JSON file
mathwell = pd.read_csv('data/mathwell.csv')
mathwell = pd.concat([mathwell, merged])
replace_map = {np.nan: ""}
mathwell['input'] = mathwell['input'].replace(replace_map)
mathwell.to_csv('data/mathwell_final.csv')
mathwell.to_json('data/mathwell_final.json', orient='records', lines=True)  # Saves each row as a separate JSON object in the file
import json

file_path = "data/mathwell_final.json"
data = []

with open(file_path, 'r') as json_file:
    for line in json_file:
        try:
            obj = json.loads(line)
            data.append(obj)
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line: {line}")
output_file = "data/mathwell_final.json"
with open(output_file, 'w') as json_file:
    json.dump(data, json_file)

mathwell

,Unnamed: 0,output,instruction,input
0,0.0,Question: LeBron James has 30000 points. He ha...,Write a grade school math word problem and Pyt...,
1,1.0,Question: A class has 120 students. 40 of them...,Write a grade school math word problem and Pyt...,
2,5.0,Question: Naruto has 5000 ryo. He spends 1000 ...,Write a grade school math word problem and Pyt...,
3,6.0,Question: Hello Kitty has 12 pencils. She boug...,Write a grade school math word problem and Pyt...,
4,7.0,Question: Wonder Woman's lasso of truth can ho...,Write a grade school math word problem and Pyt...,
...,...,...,...,...
218,NaN,Question: A candy store has 120 lollipops. 30 ...,Write a grade school math word problem and Pyt...,
219,NaN,Question: Wonder Woman has 100 lassos. She las...,Write a grade school math word problem and Pyt...,
220,NaN,Question: Superman can punch 2000 times per mi...,Write a grade school math word problem and Pyt...,
221,NaN,Question: A 25-meter pool is 2.5 times as long...,Write a grade school math word problem and Pyt...,
231,NaN,Question: Serena Williams has 24 Grand Slam ti...,Write a grade school math word problem and Pyt...,

## Format Good Data in Instruction Format for Further Finetuning for Question Answering for MAmmoTH

In [121]:
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
merged_copy['solution'] = merged_copy.apply(parse_solution, axis = 1)
merged_copy['output'] = merged_copy['solution']
merged_copy['instruction'] = merged_copy['question'] + " Let's write a program."
merged_copy['input']=''
merged_copy = merged_copy[['output', 'instruction', 'input']]
merged_copy.drop_duplicates(subset = 'instruction')

/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/3035772303.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['solution'] = merged_copy.apply(parse_solution, axis = 1)
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/3035772303.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['output'] = merged_copy['solution']
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/3035772303.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['instruction'] = merged_copy['question'] + " Let's write a program."
/var/folders/ms/lv6zlm_16wx8dzf7c_t51b0r0000gn/T/ipykernel_48727/3035772303.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['input']=''

,output,instruction,input
0,"def solution():\n #LeBron James is 6'9"" tal...","LeBron James is 6'9"" tall. 1 inch is 2.54 cm. ...",
1,def solution():\n #Captain America started ...,Captain America has 1200 ryo. He spends 400 ry...,
3,def solution():\n #3 scoops of ice cream co...,3 scoops of ice cream cost $4. \nHow much does...,
5,def solution():\n #3 of the players are 16 ...,A volleyball team is 6 players. \n3 of the pla...,
6,def solution():\n #Superman can fly at a sp...,"Superman can fly at a speed of 1,000 miles per...",
...,...,...,...
218,def solution():\n #Total lollipops\n tot...,A candy store has 120 lollipops. 30 of the lol...,
219,def solution():\n #Wonder Woman started wit...,Wonder Woman has 100 lassos. She lassos 20 bad...,
220,def solution():\n #Superman can punch 2000 ...,Superman can punch 2000 times per minute. How...,
221,def solution():\n #A 25-meter pool is 2.5 t...,A 25-meter pool is 2.5 times as long as a 10-m...,
231,def solution():\n #Serena Williams has 24 G...,Serena Williams has 24 Grand Slam titles. 13 o...,

In [122]:
# Save DataFrame to a JSON file
mathwell = pd.read_csv('data/mathwell_qa.csv')
mathwell = pd.concat([mathwell, merged_copy])
mathwell['input']=""
mathwell = mathwell[['output', 'instruction', 'input']]
mathwell.to_csv('data/mathwell_final_qa.csv')
mathwell.to_json('data/mathwell_final_qa.json', orient='records', lines=True)  # Saves each row as a separate JSON object in the file
import json

file_path = "data/mathwell_final_qa.json"
data = []

with open(file_path, 'r') as json_file:
    for line in json_file:
        try:
            obj = json.loads(line)
            data.append(obj)
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line: {line}")
output_file = "data/mathwell_final_qa.json"
with open(output_file, 'w') as json_file:
    json.dump(data, json_file)