## Import Dependencies and Load in Data At Correct Index

In [1]:
import pandas as pd
import json
import numpy as np
import scipy.stats as st

/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('data/model_comparison.csv')
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
0,501808106,bryanchrist,2631956.0,bb26ffbdfc74b317a3d0,24740,Classify Questions,37.630,2023-07-18 16:13:14 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
1,501808147,bryanchrist,2631956.0,bb26ffbdfc74b317a3d0,24740,Classify Questions,37.630,2023-07-18 16:13:27 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
2,501808176,bryanchrist,2631956.0,bb26ffbdfc74b317a3d0,24740,Classify Questions,37.630,2023-07-18 16:13:36 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
3,501808272,bryanchrist,2631956.0,bb26ffbdfc74b317a3d0,24740,Classify Questions,37.630,2023-07-18 16:14:12 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
4,501809115,bryanchrist,2631956.0,bb26ffbdfc74b317a3d0,24740,Classify Questions,37.630,2023-07-18 16:19:32 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5839,528405359,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:18 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323969"":{""retired"":null,""Filename"":""mammot...",94323969
5840,528405436,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:37 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323732"":{""retired"":null,""Filename"":""llema_...",94323732
5841,528405508,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323580"":{""retired"":null,""Filename"":""llama_...",94323580
5842,528405667,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:21:41 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323426"":{""retired"":null,""Filename"":""llama_...",94323426
5843,528405732,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:22:03 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323737"":{""retired"":null,""Filename"":""llema_...",94323737

In [3]:
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['annotations'])
    try:
        if my_json[2]['task_label']=='What math operations/concepts are required to solve the problem? Please select all that apply. ':
            start_index = i
            break
    except:
        pass
df = df[start_index:]
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
4798,526544790,bryanchrist,2631956.0,4451bef190e775c4b41d,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,"{""source"":""api"",""session"":""777a08164cd7f8e01a2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323602"":{""retired"":null,""Filename"":""llama_...",94323602
4799,526686902,not-logged-in-2f5aa4d3f21570710b1c,NaN,2f5aa4d3f21570710b1c,24740,Classify Questions,139.206,2023-12-04 12:46:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323999"":{""retired"":null,""Filename"":""mammot...",94323999
4800,526687176,not-logged-in-bfa1f5e181176265fa00,NaN,bfa1f5e181176265fa00,24740,Classify Questions,139.206,2023-12-04 12:49:34 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323887"":{""retired"":null,""Filename"":""llema_...",94323887
4801,526687284,not-logged-in-42864d6bf5cb864e99de,NaN,42864d6bf5cb864e99de,24740,Classify Questions,139.206,2023-12-04 12:50:58 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323658"":{""retired"":null,""Filename"":""llama_...",94323658
4802,526687346,not-logged-in-8e9fbc34593ba492ab8f,NaN,8e9fbc34593ba492ab8f,24740,Classify Questions,139.206,2023-12-04 12:51:38 UTC,NaN,NaN,"{""source"":""api"",""session"":""6a2fe65aa1413a34ff5...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323967"":{""retired"":null,""Filename"":""mammot...",94323967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5839,528405359,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:18 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323969"":{""retired"":null,""Filename"":""mammot...",94323969
5840,528405436,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:37 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323732"":{""retired"":null,""Filename"":""llema_...",94323732
5841,528405508,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323580"":{""retired"":null,""Filename"":""llama_...",94323580
5842,528405667,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:21:41 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323426"":{""retired"":null,""Filename"":""llama_...",94323426
5843,528405732,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:22:03 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323737"":{""retired"":null,""Filename"":""llema_...",94323737

## Create Appropriateness, Solvability, Accuracy, Topic, Math Operation and Notes Columns

In [4]:
my_json = json.loads(df.iloc[0]['annotations'])
my_json

[{'task': 'T0',
  'task_label': 'Is this question solvable? A solvable question means that it can be solved with the information present. ',
  'value': 'Yes'},
 {'task': 'T4',
  'task_label': 'Is the solution for this question correct?',
  'value': 'Yes'},
 {'task': 'T6',
  'task_label': 'What math operations/concepts are required to solve the problem? Please select all that apply. ',
  'value': ['Subtraction', 'Addition']},
 {'task': 'T1',
  'task_label': 'Would you feel comfortable giving this question to a student? Although questions have various difficulties, a middle school student should be able to solve them all.',
  'value': 'Yes: This question is understandable, appropriate and a middle school student or younger could solve it '},
 {'task': 'T5',
  'task_label': 'Does the question incorporate the given topic? ',
  'value': 'Yes'},
 {'task': 'T3',
  'value': '',
  'task_label': 'This question is optional. If you have any feedback about this particular question, you can tell us here. '}]

In [5]:
solvability = []
accuracy = []
appropriateness = []
topic = []
ops = []
notes = []
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['annotations'])
    solvability.append(my_json[0]['value'])
    if my_json[1]['task']=='T4':
        accuracy.append(my_json[1]['value'])
    if my_json[1]['task']!='T4':
        accuracy.append("NA")
        appropriateness.append('NA')
        ops.append('NA')
        topic.append(my_json[1]['value'])
    if my_json[2]['task']=='T6':
        ops.append(my_json[2]['value'])
    if my_json[2]['task']!='T6':
        notes.append(my_json[2]['value'])
    try:
        appropriateness.append(my_json[3]['value'])
        topic.append(my_json[4]['value'])
        notes.append(my_json[5]['value'])
    except:
        pass
df['solvability']=solvability
df['appropriateness']=appropriateness
df['accuracy']=accuracy
df['operations'] = ops
df['notes']=notes
df['topic']=topic

<ipython-input-5-c7ea4fad6711>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['solvability']=solvability
<ipython-input-5-c7ea4fad6711>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['appropriateness']=appropriateness
<ipython-input-5-c7ea4fad6711>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['accuracy']=accuracy
<ipython-input-5-c7ea4fad6711>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['operations'] = ops
<ipython-input-5-c7ea4fad6711>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['notes']=notes
<ipython-input-5-c7ea4fad6711>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['topic']=topic

In [6]:
df['user_name'].value_counts()

bryanchrist                           1005
not-logged-in-b0aad0c6067e64ce5a0e       5
not-logged-in-990691913d5004a03c72       4
not-logged-in-10a8cdde4e24ad136419       4
not-logged-in-b55626cd3afbd6e8f226       3
not-logged-in-a43a5941ed6d99c3ba92       3
not-logged-in-0f1e9532f08821717f1e       3
not-logged-in-8d604f63341937bd89ec       3
not-logged-in-4d241fde8591c3c9c28b       2
not-logged-in-da30c47e5338305fd47f       2
not-logged-in-ea8b390f37d5a7008e5e       1
not-logged-in-8e9fbc34593ba492ab8f       1
not-logged-in-a2947236d7bed584a584       1
not-logged-in-c3330321b5bb25611e1c       1
not-logged-in-42864d6bf5cb864e99de       1
not-logged-in-2f5aa4d3f21570710b1c       1
not-logged-in-bfa1f5e181176265fa00       1
not-logged-in-b1a17c86146691431105       1
not-logged-in-c537a041d781a284a038       1
not-logged-in-4b501be6f3dac0fbb8ba       1
not-logged-in-e3183dfba6c58260e387       1
not-logged-in-c28a9574c25cad3c9332       1
Name: user_name, dtype: int64

In [7]:
df = df[df['user_name']=='bryanchrist']
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids,solvability,appropriateness,accuracy,operations,notes,topic
4798,526544790,bryanchrist,2631956.0,4451bef190e775c4b41d,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,"{""source"":""api"",""session"":""777a08164cd7f8e01a2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323602"":{""retired"":null,""Filename"":""llama_...",94323602,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",,Yes
4807,526725004,bryanchrist,2631956.0,edc6d3820d1524625c26,24740,Classify Questions,139.206,2023-12-04 15:52:35 UTC,True,owner,"{""source"":""api"",""session"":""777a08164cd7f8e01a2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94324010"":{""retired"":null,""Filename"":""mammot...",94324010,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes
4808,526726800,bryanchrist,2631956.0,25e727dd220a2ff3a3c0,24740,Classify Questions,142.214,2023-12-04 15:58:58 UTC,NaN,NaN,"{""source"":""api"",""session"":""777a08164cd7f8e01a2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323605"":{""retired"":null,""Filename"":""llama_...",94323605,Yes,"Yes: This question is understandable, appropri...",No,"[Division, Decimals]",,Yes
4809,526727987,bryanchrist,2631956.0,23063ff0094692f85c91,24740,Classify Questions,142.214,2023-12-04 16:04:14 UTC,NaN,NaN,"{""source"":""api"",""session"":""777a08164cd7f8e01a2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323811"":{""retired"":null,""Filename"":""llema_...",94323811,No,NA,NA,NA,,Yes
4810,526728118,bryanchrist,2631956.0,23063ff0094692f85c91,24740,Classify Questions,142.214,2023-12-04 16:04:41 UTC,NaN,NaN,"{""source"":""api"",""session"":""777a08164cd7f8e01a2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94324250"":{""retired"":null,""Filename"":""mathwe...",94324250,Yes,"Yes: This question is understandable, appropri...",Yes,[Addition],,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5839,528405359,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:18 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323969"":{""retired"":null,""Filename"":""mammot...",94323969,Yes,"No: This question is strange, confusing, conta...",Yes,[Multiplication],,Yes
5840,528405436,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:37 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323732"":{""retired"":null,""Filename"":""llema_...",94323732,No,NA,NA,NA,,Yes
5841,528405508,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323580"":{""retired"":null,""Filename"":""llama_...",94323580,Yes,"Yes: This question is understandable, appropri...",Yes,"[Addition, Subtraction]",,Yes
5842,528405667,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:21:41 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323426"":{""retired"":null,""Filename"":""llama_...",94323426,Yes,"Yes: This question is understandable, appropri...",No,[Addition],,Yes
5843,528405732,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:22:03 UTC,NaN,NaN,"{""source"":""api"",""session"":""c105a7780fbdbca7faa...","[{""task"":""T0"",""task_label"":""Is this question s...","{""94323737"":{""retired"":null,""Filename"":""llema_...",94323737,No,NA,NA,NA,,No

In [8]:
temp = df[df['notes']!=""]
temp

Empty DataFrame
Columns: [classification_id, user_name, user_id, user_ip, workflow_id, workflow_name, workflow_version, created_at, gold_standard, expert, metadata, annotations, subject_data, subject_ids, solvability, appropriateness, accuracy, operations, notes, topic]
Index: []

## Assign Question Numbers

In [9]:
question_numbers = []
model = []
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['subject_data'])
    subject_id = df.iloc[i]['subject_ids']
    question_number = my_json[f'{subject_id}']['Filename']
    question_number = question_number.split(".txt")[0]
    question_numbers.append(question_number)
    if 'llema' in question_number:
        model.append('llema')
    if 'llama' in question_number:
        model.append('llama')    
    if 'mammoth' in question_number:
        model.append('mammoth')
    if 'mathwell' in question_number:
        model.append('mathwell')
df['question_number']=question_numbers
df['model']=model

<ipython-input-9-75e8539c3e00>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['question_number']=question_numbers
<ipython-input-9-75e8539c3e00>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['model']=model

In [10]:
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,subject_data,subject_ids,solvability,appropriateness,accuracy,operations,notes,topic,question_number,model
4798,526544790,bryanchrist,2631956.0,4451bef190e775c4b41d,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,"{""94323602"":{""retired"":null,""Filename"":""llama_...",94323602,Yes,"Yes: This question is understandable, appropri...",Yes,"[Subtraction, Addition]",,Yes,llama_q1053,llama
4807,526725004,bryanchrist,2631956.0,edc6d3820d1524625c26,24740,Classify Questions,139.206,2023-12-04 15:52:35 UTC,True,owner,...,"{""94324010"":{""retired"":null,""Filename"":""mammot...",94324010,Yes,"Yes: This question is understandable, appropri...",Yes,[Multiplication],,Yes,mammoth_q127,mammoth
4808,526726800,bryanchrist,2631956.0,25e727dd220a2ff3a3c0,24740,Classify Questions,142.214,2023-12-04 15:58:58 UTC,NaN,NaN,...,"{""94323605"":{""retired"":null,""Filename"":""llama_...",94323605,Yes,"Yes: This question is understandable, appropri...",No,"[Division, Decimals]",,Yes,llama_q1061,llama
4809,526727987,bryanchrist,2631956.0,23063ff0094692f85c91,24740,Classify Questions,142.214,2023-12-04 16:04:14 UTC,NaN,NaN,...,"{""94323811"":{""retired"":null,""Filename"":""llema_...",94323811,No,NA,NA,NA,,Yes,llema_q526,llema
4810,526728118,bryanchrist,2631956.0,23063ff0094692f85c91,24740,Classify Questions,142.214,2023-12-04 16:04:41 UTC,NaN,NaN,...,"{""94324250"":{""retired"":null,""Filename"":""mathwe...",94324250,Yes,"Yes: This question is understandable, appropri...",Yes,[Addition],,Yes,mathwell_q528,mathwell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5839,528405359,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:18 UTC,NaN,NaN,...,"{""94323969"":{""retired"":null,""Filename"":""mammot...",94323969,Yes,"No: This question is strange, confusing, conta...",Yes,[Multiplication],,Yes,mammoth_q77,mammoth
5840,528405436,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:37 UTC,NaN,NaN,...,"{""94323732"":{""retired"":null,""Filename"":""llema_...",94323732,No,NA,NA,NA,,Yes,llema_q259,llema
5841,528405508,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:57 UTC,NaN,NaN,...,"{""94323580"":{""retired"":null,""Filename"":""llama_...",94323580,Yes,"Yes: This question is understandable, appropri...",Yes,"[Addition, Subtraction]",,Yes,llama_q940,llama
5842,528405667,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:21:41 UTC,NaN,NaN,...,"{""94323426"":{""retired"":null,""Filename"":""llama_...",94323426,Yes,"Yes: This question is understandable, appropri...",No,[Addition],,Yes,llama_q65,llama
5843,528405732,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:22:03 UTC,NaN,NaN,...,"{""94323737"":{""retired"":null,""Filename"":""llema_...",94323737,No,NA,NA,NA,,No,llema_q292,llema

## Explore Appropriateness Labels by Model

In [11]:
llama = df[df['model']=='llama']
llema = df[df['model']=='llema']
mathwell = df[df['model']=='mathwell']
mammoth = df[df['model']=='mammoth']

In [12]:
llama['appropriateness'].value_counts()

Yes: This question is understandable, appropriate and a middle school student or younger could solve it      174
NA                                                                                                            38
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     36
No: This question contains inappropriate material                                                              2
No: This question contains distracting typos or grammatical errors                                             1
No: The question is too hard, even for a middle school student                                                 1
Name: appropriateness, dtype: int64

In [13]:
llema['appropriateness'].value_counts()

NA                                                                                                           126
Yes: This question is understandable, appropriate and a middle school student or younger could solve it       56
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     46
No: This question contains distracting typos or grammatical errors                                            17
No: This question contains inappropriate material                                                              4
No: The question is too hard, even for a middle school student                                                 1
Name: appropriateness, dtype: int64

In [14]:
mammoth['appropriateness'].value_counts()

Yes: This question is understandable, appropriate and a middle school student or younger could solve it      148
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     60
NA                                                                                                            32
No: This question contains distracting typos or grammatical errors                                             5
No: This question contains inappropriate material                                                              4
No: The question is too hard, even for a middle school student                                                 2
Name: appropriateness, dtype: int64

In [15]:
mathwell['appropriateness'].value_counts()

Yes: This question is understandable, appropriate and a middle school student or younger could solve it      196
NA                                                                                                            29
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality     23
No: This question contains inappropriate material                                                              4
Name: appropriateness, dtype: int64

## Relabel Variables

In [16]:
import numpy as np
replace_map = {"Yes": 1, "No": 0, "NA": np.nan}
df['solvability'] = df['solvability'].replace(replace_map)
df['accuracy'] = df['accuracy'].replace(replace_map)
df['topic']=df['topic'].replace(replace_map)
replace_map = {"Yes: This question is understandable, appropriate and a middle school student or younger could solve it ": 1, 
               "No: This question is strange, confusing, contains conflicting information, and/or is not based in reality": 0, 
               "No: This question contains distracting typos or grammatical errors": 0, 
               "No: This question contains inappropriate material": 0, 
              "No: The question is too hard, even for a middle school student": 0, 
            "No: This question is strange, confusing, contains conflicting information, and/or is not based in reality":0,
            "No: This question contains inappropriate material":0,
                "No: The question is too hard, even for a middle school student":0,
            "No: This question contains distracting typos or grammatical errors": 0,
            "No: This question is strange, contains confusing or conflicting wording, and/or is not based in reality":0,
                "No: This question is strange or confusing":0,
              "NA": np.nan}
df['appropriateness'] = df['appropriateness'].replace(replace_map)

<ipython-input-16-363a208cb7bf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['solvability'] = df['solvability'].replace(replace_map)
<ipython-input-16-363a208cb7bf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['accuracy'] = df['accuracy'].replace(replace_map)
<ipython-input-16-363a208cb7bf>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['topic']=df['topic'].replace(replace_map)
<ipython-input-16-363a208cb7bf>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['appropriateness'] = df['appropriateness'].replace(replace_map)

In [17]:
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,...,subject_data,subject_ids,solvability,appropriateness,accuracy,operations,notes,topic,question_number,model
4798,526544790,bryanchrist,2631956.0,4451bef190e775c4b41d,24740,Classify Questions,139.206,2023-12-03 17:59:21 UTC,True,owner,...,"{""94323602"":{""retired"":null,""Filename"":""llama_...",94323602,1,1.0,1.0,"[Subtraction, Addition]",,1,llama_q1053,llama
4807,526725004,bryanchrist,2631956.0,edc6d3820d1524625c26,24740,Classify Questions,139.206,2023-12-04 15:52:35 UTC,True,owner,...,"{""94324010"":{""retired"":null,""Filename"":""mammot...",94324010,1,1.0,1.0,[Multiplication],,1,mammoth_q127,mammoth
4808,526726800,bryanchrist,2631956.0,25e727dd220a2ff3a3c0,24740,Classify Questions,142.214,2023-12-04 15:58:58 UTC,NaN,NaN,...,"{""94323605"":{""retired"":null,""Filename"":""llama_...",94323605,1,1.0,0.0,"[Division, Decimals]",,1,llama_q1061,llama
4809,526727987,bryanchrist,2631956.0,23063ff0094692f85c91,24740,Classify Questions,142.214,2023-12-04 16:04:14 UTC,NaN,NaN,...,"{""94323811"":{""retired"":null,""Filename"":""llema_...",94323811,0,NaN,NaN,NA,,1,llema_q526,llema
4810,526728118,bryanchrist,2631956.0,23063ff0094692f85c91,24740,Classify Questions,142.214,2023-12-04 16:04:41 UTC,NaN,NaN,...,"{""94324250"":{""retired"":null,""Filename"":""mathwe...",94324250,1,1.0,1.0,[Addition],,1,mathwell_q528,mathwell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5839,528405359,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:18 UTC,NaN,NaN,...,"{""94323969"":{""retired"":null,""Filename"":""mammot...",94323969,1,0.0,1.0,[Multiplication],,1,mammoth_q77,mammoth
5840,528405436,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:37 UTC,NaN,NaN,...,"{""94323732"":{""retired"":null,""Filename"":""llema_...",94323732,0,NaN,NaN,NA,,1,llema_q259,llema
5841,528405508,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:20:57 UTC,NaN,NaN,...,"{""94323580"":{""retired"":null,""Filename"":""llama_...",94323580,1,1.0,1.0,"[Addition, Subtraction]",,1,llama_q940,llama
5842,528405667,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:21:41 UTC,NaN,NaN,...,"{""94323426"":{""retired"":null,""Filename"":""llama_...",94323426,1,1.0,0.0,[Addition],,1,llama_q65,llama
5843,528405732,bryanchrist,2631956.0,504235fb961b2aae5ada,24740,Classify Questions,142.214,2023-12-11 15:22:03 UTC,NaN,NaN,...,"{""94323737"":{""retired"":null,""Filename"":""llema_...",94323737,0,NaN,NaN,NA,,0,llema_q292,llema

## Retain Necessary Columns

In [18]:
df = df[['model','question_number', 'solvability', 'accuracy', 'appropriateness', 'topic', 'operations', 'notes']]

## Calculate Operations Variables and Overall Indicator Variable for Question Being Good in All Metrics

In [19]:
def addition(df):
    if 'Addition' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def subtraction(df):
    if 'Subtraction' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def multiplication(df):
    if 'Multiplication' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def division(df):
    if 'Division' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def fractions(df):
    if 'Fractions' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def decimals(df):
    if 'Decimals' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def none(df):
    if 'Not Applicable: This question does not require a mathematical operation.' in df['operations']:
        return 1
    if df['operations']=="NA":
        return np.nan
    else: 
        return 0 
def total_ops(df):
    if df['no_ops']==1:
        return np.nan
    else:
        return df['addition'] + df['subtraction'] + df['multiplication'] + df['decimals'] + df['division'] + df['fractions']
df['addition'] = df.apply(addition, axis=1)
df['subtraction'] = df.apply(subtraction, axis=1)
df['multiplication'] = df.apply(multiplication, axis=1)
df['division'] = df.apply(division, axis=1)
df['fractions'] = df.apply(fractions, axis=1)
df['decimals'] = df.apply(decimals, axis=1)
df['no_ops'] = df.apply(none, axis=1)
df['total_ops'] = df.apply(total_ops, axis=1)
def good(df):
    if df['solvability']==1:
        if df['accuracy']==1:
            if df['no_ops']==0:
                if df['appropriateness']==1:
                    if df['topic']==1:
                        return 1
    if df['accuracy']==np.nan:
        return 0
    if df['no_ops']==np.nan:
        return 0
    if df['appropriateness']==np.nan:
        return 0
    else:
        return 0
df['good'] = df.apply(good, axis = 1)
def good_recode(df):
    if df['good']==np.nan:
        return 0
    else:
        return df['good']
df['good'] = df.apply(good_recode, axis=1)
df

<ipython-input-19-83ea2f4c9941>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['addition'] = df.apply(addition, axis=1)
<ipython-input-19-83ea2f4c9941>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['subtraction'] = df.apply(subtraction, axis=1)
<ipython-input-19-83ea2f4c9941>:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['multiplication'] = df.apply(multiplication, axis=1)
<ipython-input-19-83ea2f4c9941>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['division'] = df.apply(division, axis=1)
<ipython-input-19-83ea2f4c9941>:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fractions'] = df.apply(fractions, axis=1)
<ipython-input-19-83ea2f4c9941>:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['decimals'] = df.apply(decimals, axis=1)
<ipython-input-19-83ea2f4c9941>:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['no_ops'] = df.apply(none, axis=1)
<ipython-input-19-83ea2f4c9941>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_ops'] = df.apply(total_ops, axis=1)
<ipython-input-19-83ea2f4c9941>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['good'] = df.apply(good, axis = 1)
<ipython-input-19-83ea2f4c9941>:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['good'] = df.apply(good_recode, axis=1)

,model,question_number,solvability,accuracy,appropriateness,topic,operations,notes,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
4798,llama,llama_q1053,1,1.0,1.0,1,"[Subtraction, Addition]",,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
4807,mammoth,mammoth_q127,1,1.0,1.0,1,[Multiplication],,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4808,llama,llama_q1061,1,0.0,1.0,1,"[Division, Decimals]",,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0
4809,llema,llema_q526,0,NaN,NaN,1,NA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4810,mathwell,mathwell_q528,1,1.0,1.0,1,[Addition],,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5839,mammoth,mammoth_q77,1,1.0,0.0,1,[Multiplication],,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
5840,llema,llema_q259,0,NaN,NaN,1,NA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5841,llama,llama_q940,1,1.0,1.0,1,"[Addition, Subtraction]",,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
5842,llama,llama_q65,1,0.0,1.0,1,[Addition],,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
5843,llema,llema_q292,0,NaN,NaN,0,NA,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [20]:
df = df.drop(['operations'], axis=1)
df = df.drop_duplicates()
df

,model,question_number,solvability,accuracy,appropriateness,topic,notes,addition,subtraction,multiplication,division,fractions,decimals,no_ops,total_ops,good
4798,llama,llama_q1053,1,1.0,1.0,1,,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
4807,mammoth,mammoth_q127,1,1.0,1.0,1,,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1
4808,llama,llama_q1061,1,0.0,1.0,1,,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0
4809,llema,llema_q526,0,NaN,NaN,1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4810,mathwell,mathwell_q528,1,1.0,1.0,1,,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5839,mammoth,mammoth_q77,1,1.0,0.0,1,,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
5840,llema,llema_q259,0,NaN,NaN,1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5841,llama,llama_q940,1,1.0,1.0,1,,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
5842,llama,llama_q65,1,0.0,1.0,1,,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
5843,llema,llema_q292,0,NaN,NaN,0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

## Calculate Average Statistics for Each Model

In [21]:
llama = df[df['model']=='llama']
llema = df[df['model']=='llema']
mathwell = df[df['model']=='mathwell']
mammoth = df[df['model']=='mammoth']

In [22]:
solvability = llama['solvability'].mean()
solvability_int = st.t.interval(alpha=0.95, df=len(llama['solvability'])-1, loc=np.mean(llama['solvability']), scale=st.sem(llama['solvability']))
solvability_sd = np.std(llama['solvability'])
accuracy = llama['accuracy'].mean()
accuracy_int = st.t.interval(alpha=0.95, df=len(llama['accuracy'].dropna())-1, loc=np.mean(llama['accuracy'].dropna()), scale=st.sem(llama['accuracy'].dropna()))
accuracy_sd = np.std(llama['accuracy'])
appropriateness = llama['appropriateness'].mean()
appropriateness_int = st.t.interval(alpha=0.95, df=len(llama['appropriateness'].dropna())-1, loc=np.mean(llama['appropriateness'].dropna()), scale=st.sem(llama['appropriateness'].dropna()))
appropriateness_sd = np.std(llama['appropriateness'])
topic = llama['topic'].mean()
topic_int = st.t.interval(alpha=0.95, df=len(llama['topic'])-1, loc=np.mean(llama['topic']), scale=st.sem(llama['topic']))
topic_sd = np.std(llama['topic'])
good = llama['good'].mean()
good_int = st.t.interval(alpha=0.95, df=len(llama['good'])-1, loc=np.mean(llama['good']), scale=st.sem(llama['good']))
good_sd = np.std(llama['good'])
execute = good * .55425904317386234
print(f'''Llama metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd}
Percentage good with executable code: {execute}''')

Llama metrics:
Solvability: 0.852 Standard Deviation: 0.35509998591945846
Accuracy: 0.8967136150234741 Standard Deviation: 0.30433256095102035
Appropriateness: 0.812206572769953 Standard Deviation: 0.3905471238138107
Percentage about Requested Topic: 0.988 Standard Deviation: 0.10888526071052956
Percentage Good in All Metrics: 0.628 Standard Deviation: 0.48333839077813856
Percentage good with executable code: 0.3480746791131855

In [23]:
solvability = llema['solvability'].mean()
solvability_int = st.t.interval(alpha=0.95, df=len(llema['solvability'])-1, loc=np.mean(llema['solvability']), scale=st.sem(llema['solvability']))
solvability_sd = np.std(llema['solvability'])
accuracy = llema['accuracy'].mean()
accuracy_int = st.t.interval(alpha=0.95, df=len(llema['accuracy'].dropna())-1, loc=np.mean(llema['accuracy'].dropna()), scale=st.sem(llema['accuracy'].dropna()))
accuracy_sd = np.std(llema['accuracy'])
appropriateness = llema['appropriateness'].mean()
appropriateness_int = st.t.interval(alpha=0.95, df=len(llema['appropriateness'].dropna())-1, loc=np.mean(llema['appropriateness'].dropna()), scale=st.sem(llema['appropriateness'].dropna()))
appropriateness_sd = np.std(llema['appropriateness'])
topic = llema['topic'].mean()
topic_int = st.t.interval(alpha=0.95, df=len(llema['topic'])-1, loc=np.mean(llema['topic']), scale=st.sem(llema['topic']))
topic_sd = np.std(llema['topic'])
good = llema['good'].mean()
good_int = st.t.interval(alpha=0.95, df=len(llema['good'])-1, loc=np.mean(llema['good']), scale=st.sem(llema['good']))
good_sd = np.std(llema['good'])
execute = good * .2432288900690388
print(f'''Llema metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd}
Percentage good with executable code: {execute}''')

Llema metrics:
Solvability: 0.496 Standard Deviation: 0.4999839997439912
Accuracy: 0.6693548387096774 Standard Deviation: 0.4704454682592016
Appropriateness: 0.45161290322580644 Standard Deviation: 0.4976531813077912
Percentage about Requested Topic: 0.932 Standard Deviation: 0.25174590364095273
Percentage Good in All Metrics: 0.164 Standard Deviation: 0.3702755730533684
Percentage good with executable code: 0.039889537971322366

In [24]:
solvability = mammoth['solvability'].mean()
solvability_int = st.t.interval(alpha=0.95, df=len(mammoth['solvability'])-1, loc=np.mean(mammoth['solvability']), scale=st.sem(mammoth['solvability']))
solvability_sd = np.std(mammoth['solvability'])
accuracy = mammoth['accuracy'].mean()
accuracy_int = st.t.interval(alpha=0.95, df=len(mammoth['accuracy'].dropna())-1, loc=np.mean(mammoth['accuracy'].dropna()), scale=st.sem(mammoth['accuracy'].dropna()))
accuracy_sd = np.std(mammoth['accuracy'])
appropriateness = mammoth['appropriateness'].mean()
appropriateness_int = st.t.interval(alpha=0.95, df=len(mammoth['appropriateness'].dropna())-1, loc=np.mean(mammoth['appropriateness'].dropna()), scale=st.sem(mammoth['appropriateness'].dropna()))
appropriateness_sd = np.std(mammoth['appropriateness'])
topic = mammoth['topic'].mean()
topic_int = st.t.interval(alpha=0.95, df=len(mammoth['topic'])-1, loc=np.mean(mammoth['topic']), scale=st.sem(mammoth['topic']))
topic_sd = np.std(mammoth['topic'])
good = mammoth['good'].mean()
good_int = st.t.interval(alpha=0.95, df=len(mammoth['good'])-1, loc=np.mean(mammoth['good']), scale=st.sem(mammoth['good']))
good_sd = np.std(mammoth['good'])
execute = good * .06885572139303482
print(f'''Mammoth metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd}
Percentage good with executable code: {execute}''')

Mammoth metrics:
Solvability: 0.872 Standard Deviation: 0.3340898082851372
Accuracy: 0.9495412844036697 Standard Deviation: 0.21888954661358065
Appropriateness: 0.6743119266055045 Standard Deviation: 0.4686313607123167
Percentage about Requested Topic: 0.972 Standard Deviation: 0.16497272501841054
Percentage Good in All Metrics: 0.56 Standard Deviation: 0.4963869458396336
Percentage good with executable code: 0.0385592039800995

In [25]:
solvability = mathwell['solvability'].mean()
solvability_int = st.t.interval(alpha=0.95, df=len(mathwell['solvability'])-1, loc=np.mean(mathwell['solvability']), scale=st.sem(mathwell['solvability']))
solvability_sd = np.std(mathwell['solvability'])
accuracy = mathwell['accuracy'].mean()
accuracy_int = st.t.interval(alpha=0.95, df=len(mathwell['accuracy'].dropna())-1, loc=np.mean(mathwell['accuracy'].dropna()), scale=st.sem(mathwell['accuracy'].dropna()))
accuracy_sd = np.std(mathwell['accuracy'])
appropriateness = mathwell['appropriateness'].mean()
appropriateness_int = st.t.interval(alpha=0.95, df=len(mathwell['appropriateness'].dropna())-1, loc=np.mean(mathwell['appropriateness'].dropna()), scale=st.sem(mathwell['appropriateness'].dropna()))
appropriateness_sd = np.std(mathwell['appropriateness'])
topic = mathwell['topic'].mean()
topic_int = st.t.interval(alpha=0.95, df=len(mathwell['topic'])-1, loc=np.mean(mathwell['topic']), scale=st.sem(mathwell['topic']))
topic_sd = np.std(mathwell['topic'])
good = mathwell['good'].mean()
good_int = st.t.interval(alpha=0.95, df=len(mathwell['good'])-1, loc=np.mean(mathwell['good']), scale=st.sem(mathwell['good']))
good_sd = np.std(mathwell['good'])
execute = good * .6635177687809268
print(f'''Mathwell metrics:
Solvability: {solvability} Standard Deviation: {solvability_sd}
Accuracy: {accuracy} Standard Deviation: {accuracy_sd}
Appropriateness: {appropriateness} Standard Deviation: {appropriateness_sd}
Percentage about Requested Topic: {topic} Standard Deviation: {topic_sd}
Percentage Good in All Metrics: {good} Standard Deviation: {good_sd}
Percentage good with executable code: {execute}''')

Mathwell metrics:
Solvability: 0.892 Standard Deviation: 0.3103804117530611
Accuracy: 0.968609865470852 Standard Deviation: 0.17436970488989734
Appropriateness: 0.8789237668161435 Standard Deviation: 0.3262158471654396
Percentage about Requested Topic: 0.992 Standard Deviation: 0.08908422980528034
Percentage Good in All Metrics: 0.752 Standard Deviation: 0.43185182644050435
Percentage good with executable code: 0.498965362123257

## Examine Operations By Model

### Overall

In [26]:
addition = llama['addition'].mean()
subtraction = llama['subtraction'].mean()
multiplication = llama['multiplication'].mean()
division = llama['division'].mean()
fractions = llama['fractions'].mean()
decimals = llama['decimals'].mean()
total_ops = llama['total_ops'].mean()
no_ops = llama['no_ops'].mean()
print(f"Llama overall question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Llama overall question statistics:
Addition: 0.596244131455399
Subtraction: 0.5774647887323944
Multiplication: 0.2347417840375587
Division: 0.11737089201877934
Fractions: 0.07981220657276995
Decimals: 0.10328638497652583
Total Operations: 1.801980198019802
No operations: 0.051643192488262914

In [27]:
addition = llema['addition'].mean()
subtraction = llema['subtraction'].mean()
multiplication = llema['multiplication'].mean()
division = llema['division'].mean()
fractions = llema['fractions'].mean()
decimals = llema['decimals'].mean()
total_ops = llema['total_ops'].mean()
no_ops = llema['no_ops'].mean()
print(f"Llema question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Llema question statistics:
Addition: 0.3629032258064516
Subtraction: 0.31451612903225806
Multiplication: 0.33064516129032256
Division: 0.1935483870967742
Fractions: 0.056451612903225805
Decimals: 0.14516129032258066
Total Operations: 1.6415094339622642
No operations: 0.14516129032258066

In [28]:
addition = mammoth['addition'].mean()
subtraction = mammoth['subtraction'].mean()
multiplication = mammoth['multiplication'].mean()
division = mammoth['division'].mean()
fractions = mammoth['fractions'].mean()
decimals = mammoth['decimals'].mean()
total_ops = mammoth['total_ops'].mean()
no_ops = mammoth['no_ops'].mean()
print(f"Mammoth question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Mammoth question statistics:
Addition: 0.3944954128440367
Subtraction: 0.3761467889908257
Multiplication: 0.43577981651376146
Division: 0.19724770642201836
Fractions: 0.03669724770642202
Decimals: 0.10550458715596331
Total Operations: 1.5821596244131455
No operations: 0.022935779816513763

In [29]:
addition = mathwell['addition'].mean()
subtraction = mathwell['subtraction'].mean()
multiplication = mathwell['multiplication'].mean()
division = mathwell['division'].mean()
fractions = mathwell['fractions'].mean()
decimals = mathwell['decimals'].mean()
total_ops = mathwell['total_ops'].mean()
no_ops = mathwell['no_ops'].mean()
print(f"Mathwell question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}\nNo operations: {no_ops}")

Mathwell question statistics:
Addition: 0.695067264573991
Subtraction: 0.6636771300448431
Multiplication: 0.21973094170403587
Division: 0.12556053811659193
Fractions: 0.04932735426008968
Decimals: 0.07623318385650224
Total Operations: 1.8545454545454545
No operations: 0.013452914798206279

### Good Questions

In [30]:
good_llama = llama.query('good==1')
addition = good_llama['addition'].mean()
subtraction = good_llama['subtraction'].mean()
multiplication = good_llama['multiplication'].mean()
division = good_llama['division'].mean()
fractions = good_llama['fractions'].mean()
decimals = good_llama['decimals'].mean()
total_ops = good_llama['total_ops'].mean()
print(f"Llama good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Llama good question statistics:
Addition: 0.643312101910828
Subtraction: 0.5987261146496815
Multiplication: 0.25477707006369427
Division: 0.10191082802547771
Fractions: 0.050955414012738856
Decimals: 0.07643312101910828
Total Operations: 1.7261146496815287

In [31]:
good_llema = llema.query('good==1')
addition = good_llema['addition'].mean()
subtraction = good_llema['subtraction'].mean()
multiplication = good_llema['multiplication'].mean()
division = good_llema['division'].mean()
fractions = good_llema['fractions'].mean()
decimals = good_llema['decimals'].mean()
total_ops = good_llema['total_ops'].mean()
print(f"Llema good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Llema good question statistics:
Addition: 0.3902439024390244
Subtraction: 0.43902439024390244
Multiplication: 0.3170731707317073
Division: 0.14634146341463414
Fractions: 0.024390243902439025
Decimals: 0.12195121951219512
Total Operations: 1.4390243902439024

In [32]:
good_mammoth = mammoth.query('good==1')
addition = good_mammoth['addition'].mean()
subtraction = good_mammoth['subtraction'].mean()
multiplication = good_mammoth['multiplication'].mean()
division = good_mammoth['division'].mean()
fractions = good_mammoth['fractions'].mean()
decimals = good_mammoth['decimals'].mean()
total_ops = good_mammoth['total_ops'].mean()
print(f"Mammoth good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Mammoth good question statistics:
Addition: 0.42142857142857143
Subtraction: 0.4142857142857143
Multiplication: 0.4142857142857143
Division: 0.17142857142857143
Fractions: 0.05
Decimals: 0.1
Total Operations: 1.5714285714285714

In [33]:
good_mathwell = mathwell.query('good==1')
addition = good_mathwell['addition'].mean()
subtraction = good_mathwell['subtraction'].mean()
multiplication = good_mathwell['multiplication'].mean()
division = good_mathwell['division'].mean()
fractions = good_mathwell['fractions'].mean()
decimals = good_mathwell['decimals'].mean()
total_ops = good_mathwell['total_ops'].mean()
print(f"Mathwell good question statistics:\nAddition: {addition}\nSubtraction: {subtraction}\nMultiplication: {multiplication}\nDivision: {division}\nFractions: {fractions}\nDecimals: {decimals}\nTotal Operations: {total_ops}")

Mathwell good question statistics:
Addition: 0.7074468085106383
Subtraction: 0.6702127659574468
Multiplication: 0.21808510638297873
Division: 0.12234042553191489
Fractions: 0.047872340425531915
Decimals: 0.06914893617021277
Total Operations: 1.8351063829787233

## Check for Statistical Significance

In [34]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on percentage good
t_statistic, p_value = stats.ttest_ind(mathwell['good'], llama['good'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 3.0188310989934988
P-value: 0.002667626069951218

In [35]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on solvability
t_statistic, p_value = stats.ttest_ind(mathwell['solvability'], mammoth['solvability'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.692066963747948
P-value: 0.48921781892866034

In [36]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on accuracy
mathwell_clean = mathwell['accuracy'].dropna()
mammoth_clean = mammoth['accuracy'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, mammoth_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.0107170508337928
P-value: 0.31270861538106104

In [37]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on appropriateness
mathwell_clean = mathwell['appropriateness'].dropna()
llama_clean = llama['appropriateness'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, llama_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 1.9348142511877204
P-value: 0.053662570917185605

In [38]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on number of operations
mathwell_clean = mathwell['total_ops'].dropna()
llama_clean = llama['total_ops'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, llama_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.7395859935069085
P-value: 0.45996440927049875

In [39]:
import numpy as np
from scipy import stats

# Perform an independent two-sample t-test on number of no ops
mathwell_clean = mathwell['no_ops'].dropna()
mammoth_clean = mammoth['no_ops'].dropna()
t_statistic, p_value = stats.ttest_ind(mathwell_clean, mammoth_clean)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.7447967629726213
P-value: 0.45679311461455785

## Merge DF with Question Data and Send to CSV

In [40]:
questions = pd.read_csv('data/zooniverse_questions.csv')
questions

,Unnamed: 0,question,solution,answer,topic,question_number
0,630,Five Red Riding Hood field hockey players run ...,def solution():\n #The total miles ran by t...,3.0,field hockey,llema_q628
1,260,There are 360 million players of Fortnite. 50 ...,def solution():\n #Total players of Fortnit...,"(310000000, 50000000)",Fortnite,llema_q260
2,327,Thor the God of Thunder has 3 magic hammer Uru...,def solution():\n #Thor has 3 magic hammers...,1,"Thor, the God of Thunder",llema_q327
3,77,A high school girl lacrosse team won 8 out of ...,def solution():\n #A high school girl lacro...,1.2,lacrosse,llema_q77
4,684,There are 200 unicorns in a forest. 100 of the...,def solution():\n #Total unicorns\n tota...,50,unicorns,mathwell_q661
...,...,...,...,...,...,...
995,163,30 people are going to a pizza party. 20 of th...,def solution():\n #Total people\n total_...,120,pizza,llama_q163
996,460,A swimmer can swim 20 laps per hour. \n\nIf sh...,def solution():\n #A swimmer can swim 20 la...,1200,swimming,mathwell_q453
997,247,There are 12 cookies in a jar. Four of the coo...,def solution():\n # total number of cookies...,7,cookies,mammoth_q247
998,1124,Spiderman has 100 spider webs. He uses 20 spid...,def solution():\n #Spiderman started with 1...,50,Spiderman,mathwell_q1084
999,1043,Tina can swim 24 laps in 1 hour. How many laps...,def solution():\n #Tina can swim 24 laps in...,96,swimming,llama_q1035

In [41]:
df['question_number'].value_counts()

mammoth_q203     1
llama_q1336      1
mammoth_q144     1
llema_q120       1
llema_q521       1
                ..
llema_q544       1
mathwell_q67     1
llema_q548       1
mathwell_q985    1
llema_q813       1
Name: question_number, Length: 1000, dtype: int64

In [42]:
merged = pd.merge(df, questions,
              on = 'question_number',
              how='inner',
              validate='one_to_one', 
              indicator = 'matched')
merged['matched'].value_counts()

both          1000
left_only        0
right_only       0
Name: matched, dtype: int64

In [43]:
merged = pd.merge(df, questions,
              on = 'question_number',
              how='inner')
merged

,model,question_number,solvability,accuracy,appropriateness,topic_x,notes,addition,subtraction,multiplication,...,fractions,decimals,no_ops,total_ops,good,Unnamed: 0,question,solution,answer,topic_y
0,llama,llama_q1053,1,1.0,1.0,1,,1.0,1.0,0.0,...,0.0,0.0,0.0,2.0,1,1062,Steph Curry has 3000 points. 1000 of them are ...,def solution():\n #Steph Curry has 3000 poi...,0,Steph Curry
1,mammoth,mammoth_q127,1,1.0,1.0,1,,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1,127,The soccer team has 15 players. Each player ha...,def solution():\n #Number of players\n p...,30,soccer
2,llama,llama_q1061,1,0.0,1.0,1,,0.0,0.0,0.0,...,0.0,1.0,0.0,2.0,0,1070,A commercial airplane takes 12 hours to fly fr...,def solution():\n #A commercial airplane ta...,0.6,planes
3,llema,llema_q526,0,NaN,NaN,1,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,526,"In the original comic book series, the four Tu...",def solution():\n #Raphael is 6 inches tall...,30,Ninja Turtles
4,mathwell,mathwell_q528,1,1.0,1.0,1,,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1,540,Patrick Mahomes has 20000 yards. He gains 1000...,def solution():\n #Patrick Mahomes started ...,45000,Patrick Mahomes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,mammoth,mammoth_q77,1,1.0,0.0,1,,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0,77,The ice cream shop has 6 different flavors. Ea...,def solution():\n # number of flavors\n ...,18,ice cream
996,llema,llema_q259,0,NaN,NaN,1,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,259,Taylor Swift released an album with 14 songs. ...,def solution():\n #Taylor released an album...,4,Taylor Swift
997,llama,llama_q940,1,1.0,1.0,1,,1.0,1.0,0.0,...,0.0,0.0,0.0,2.0,1,946,Thor has 1000 gold coins. He is to pay 100 gol...,def solution():\n #Thor started with 1000 g...,700,"Thor, the God of Thunder"
998,llama,llama_q65,1,0.0,1.0,1,,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0,65,A basketball team scored 120 points in a game....,def solution():\n #The team scored 120 poin...,90,basketball
999,llema,llema_q292,0,NaN,NaN,0,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,292,There are 18 goals on the lacrosse field in Ho...,def solution():\n #How many goals are there...,2.5714285714285716,lacrosse

In [44]:
merged['text'] = "Question: " + merged['question'] + "\nAnswer: " + merged['answer']

In [45]:
llama = merged[merged['model']=='llama']
llema = merged[merged['model']=='llema']
mathwell = merged[merged['model']=='mathwell']
mammoth = merged[merged['model']=='mammoth']

In [46]:
solvability = llama[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/llama_solvability.csv')
solvability

     label                                               text
0        1  Steph Curry has 3000 points. 1000 of them are ...
2        1  A commercial airplane takes 12 hours to fly fr...
7        1  Taylor Swift has 100 cats. She has 30 more cat...
17       1  Hello Kitty is a 3-pound kitten. She ate 1/2 a...
18       1  Fortnite is a battle royale game. 100 players ...
..     ...                                                ...
989      0  Superman is 10 feet tall. He jumps 100 feet in...
992      1  In the first level, Super Mario can stomp 20 K...
993      1  Hello Kitty has 200000000 fans. 1/10 of the fa...
997      1  Thor has 1000 gold coins. He is to pay 100 gol...
998      1  A basketball team scored 120 points in a game....

[250 rows x 2 columns]

In [47]:
solvability = llema[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/llema_solvability.csv')
solvability

     label                                               text
3        0  In the original comic book series, the four Tu...
5        1  Spiderman has a web-shooter that shoots spider...
10       0  Naruto has 3000 calories of ramen.  He uses 20...
14       1  Wonder Woman has 5 cats. She also has a dog.  ...
24       1  Mentos sell for $3.25 per bag. How much do 4 b...
..     ...                                                ...
985      1  Leonardo has 3000.00. He spends $2500.00 on a ...
987      0  How high can Peter Parker jump if he's current...
994      0  Barbie loves to swim and goes to the pool ever...
996      0  Taylor Swift released an album with 14 songs. ...
999      0  There are 18 goals on the lacrosse field in Ho...

[250 rows x 2 columns]

In [48]:
solvability = mammoth[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/mammoth_solvability.csv')
solvability

     label                                               text
1        1  The soccer team has 15 players. Each player ha...
8        1  Iron Man has 100 arc reactors. He deploys 20 a...
9        0  Iron Man has 5000 dollars. He spends 1000 doll...
11       1  Naruto can run at a top speed of 1200 km/h. He...
19       0               How many cobblestones are there now?
..     ...                                                ...
976      1  In Minecraft, you can craft a bed using 3 wood...
986      1  Harry Potter has 200 galleons. He spent 93 gal...
988      1  Thor, the God of Thunder, can throw his hammer...
991      1  If a person eats 2 bowls of ice cream every da...
995      1  The ice cream shop has 6 different flavors. Ea...

[250 rows x 2 columns]

In [49]:
solvability = mathwell[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/mathwell_solvability.csv')
solvability

     label                                               text
4        1  Patrick Mahomes has 20000 yards. He gains 1000...
6        1  Naruto ate 35 ramen noodles. The next day, he ...
12       1  Batman has 100 batarangs. 20 of them are in hi...
13       1  A candy store has 125 lollipops. 25 of the lol...
15       1  There are 300 dogs in a dog park. 200 of the d...
..     ...                                                ...
963      1  Iron Man has 5000 vibranium-enhanced armor pla...
966      1  A car is traveling at 60 miles per hour. It is...
979      1  Captain America has 1000 vibranium shields. 20...
984      0  LeBron James is 6'9" tall. \nHe's 36 years old...
990      1  A 10-car train is 1200 feet long. A 20-car tra...

[250 rows x 2 columns]

In [50]:
solvability = merged[['solvability', 'question']]
solvability = solvability.rename({'solvability': 'label', 'question': 'text'}, axis=1)
solvability.to_csv('data/solvability_all_models.csv')
solvability

     label                                               text
0        1  Steph Curry has 3000 points. 1000 of them are ...
1        1  The soccer team has 15 players. Each player ha...
2        1  A commercial airplane takes 12 hours to fly fr...
3        0  In the original comic book series, the four Tu...
4        1  Patrick Mahomes has 20000 yards. He gains 1000...
..     ...                                                ...
995      1  The ice cream shop has 6 different flavors. Ea...
996      0  Taylor Swift released an album with 14 songs. ...
997      1  Thor has 1000 gold coins. He is to pay 100 gol...
998      1  A basketball team scored 120 points in a game....
999      0  There are 18 goals on the lacrosse field in Ho...

[1000 rows x 2 columns]

In [51]:
appropriateness = merged[['appropriateness', 'text']]
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness = appropriateness[['label', 'text']]
appropriateness.to_csv('data/appropriateness_all_models.csv')
appropriateness

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
1      1.0  Question: The soccer team has 15 players. Each...
2      1.0  Question: A commercial airplane takes 12 hours...
3      NaN  Question: In the original comic book series, t...
4      1.0  Question: Patrick Mahomes has 20000 yards. He ...
..     ...                                                ...
995    0.0  Question: The ice cream shop has 6 different f...
996    NaN  Question: Taylor Swift released an album with ...
997    1.0  Question: Thor has 1000 gold coins. He is to p...
998    1.0  Question: A basketball team scored 120 points ...
999    NaN  Question: There are 18 goals on the lacrosse f...

[1000 rows x 2 columns]

In [52]:
appropriateness = llama[['appropriateness', 'text']]
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/llama_appropriateness.csv')
appropriateness

     label                                               text
0      1.0  Question: Steph Curry has 3000 points. 1000 of...
2      1.0  Question: A commercial airplane takes 12 hours...
7      0.0  Question: Taylor Swift has 100 cats. She has 3...
17     1.0  Question: Hello Kitty is a 3-pound kitten. She...
18     1.0  Question: Fortnite is a battle royale game. 10...
..     ...                                                ...
989    NaN  Question: Superman is 10 feet tall. He jumps 1...
992    1.0  Question: In the first level, Super Mario can ...
993    1.0  Question: Hello Kitty has 200000000 fans. 1/10...
997    1.0  Question: Thor has 1000 gold coins. He is to p...
998    1.0  Question: A basketball team scored 120 points ...

[250 rows x 2 columns]

In [53]:
appropriateness = llema[['appropriateness', 'text']]
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/llema_appropriateness.csv')
appropriateness

     label                                               text
3      NaN  Question: In the original comic book series, t...
5      1.0  Question: Spiderman has a web-shooter that sho...
10     NaN  Question: Naruto has 3000 calories of ramen.  ...
14     1.0  Question: Wonder Woman has 5 cats. She also ha...
24     1.0  Question: Mentos sell for $3.25 per bag. How m...
..     ...                                                ...
985    1.0  Question: Leonardo has 3000.00. He spends $250...
987    NaN  Question: How high can Peter Parker jump if he...
994    NaN  Question: Barbie loves to swim and goes to the...
996    NaN  Question: Taylor Swift released an album with ...
999    NaN  Question: There are 18 goals on the lacrosse f...

[250 rows x 2 columns]

In [54]:
appropriateness = mammoth[['appropriateness', 'text']]
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/mammoth_appropriateness.csv')
appropriateness

     label                                               text
1      1.0  Question: The soccer team has 15 players. Each...
8      1.0  Question: Iron Man has 100 arc reactors. He de...
9      NaN  Question: Iron Man has 5000 dollars. He spends...
11     0.0  Question: Naruto can run at a top speed of 120...
19     NaN  Question: How many cobblestones are there now?...
..     ...                                                ...
976    1.0  Question: In Minecraft, you can craft a bed us...
986    0.0  Question: Harry Potter has 200 galleons. He sp...
988    1.0  Question: Thor, the God of Thunder, can throw ...
991    1.0  Question: If a person eats 2 bowls of ice crea...
995    0.0  Question: The ice cream shop has 6 different f...

[250 rows x 2 columns]

In [55]:
appropriateness = mathwell[['appropriateness', 'text']]
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/mathwell_appropriateness.csv')
appropriateness

     label                                               text
4      1.0  Question: Patrick Mahomes has 20000 yards. He ...
6      1.0  Question: Naruto ate 35 ramen noodles. The nex...
12     1.0  Question: Batman has 100 batarangs. 20 of them...
13     1.0  Question: A candy store has 125 lollipops. 25 ...
15     1.0  Question: There are 300 dogs in a dog park. 20...
..     ...                                                ...
963    1.0  Question: Iron Man has 5000 vibranium-enhanced...
966    1.0  Question: A car is traveling at 60 miles per h...
979    1.0  Question: Captain America has 1000 vibranium s...
984    NaN  Question: LeBron James is 6'9" tall. \nHe's 36...
990    1.0  Question: A 10-car train is 1200 feet long. A ...

[250 rows x 2 columns]

In [56]:
good = merged[['good', 'text']]
good = good.rename({'good': 'label'}, axis = 1)
good.to_csv('data/good_all_models.csv')
good

     label                                               text
0        1  Question: Steph Curry has 3000 points. 1000 of...
1        1  Question: The soccer team has 15 players. Each...
2        0  Question: A commercial airplane takes 12 hours...
3        0  Question: In the original comic book series, t...
4        1  Question: Patrick Mahomes has 20000 yards. He ...
..     ...                                                ...
995      0  Question: The ice cream shop has 6 different f...
996      0  Question: Taylor Swift released an album with ...
997      1  Question: Thor has 1000 gold coins. He is to p...
998      0  Question: A basketball team scored 120 points ...
999      0  Question: There are 18 goals on the lacrosse f...

[1000 rows x 2 columns]

In [57]:
good = llama.query('good==1')
good = good['question']
good.to_csv('data/llama_good.csv')
good = llema.query('good==1')
good = good['question']
good.to_csv('data/llema_good.csv')
good = mammoth.query('good==1')
good = good['question']
good.to_csv('data/mammoth_good.csv')
good = mathwell.query('good==1')
good = good['question']
good.to_csv('data/mathwell_good.csv')

## Create Annotated Dataset for All Questions

In [58]:
all_qs = mathwell[['question', 'solution', 'answer', 'accuracy', 'solvability', 'appropriateness', 'good']]
mathwell_annotated = pd.read_csv('data/mathwell_annotations.csv')
all_qs = pd.concat([all_qs, mathwell_annotated])
all_qs.to_csv('data/mathwell_annotations_final.csv')
print(f'''Overall num questions: {len(all_qs)}
Overall percentage appropriate: {all_qs['appropriateness'].mean()} Standard Deviation: {np.std(all_qs['appropriateness'])}
Overall percentage solvable: {all_qs['solvability'].mean()} Standard Deviation: {np.std(all_qs['solvability'])}
Overall percentage accurate: {all_qs['accuracy'].mean()} Standard Deviation: {np.std(all_qs['accuracy'])}
Overall percentage good in all metrics: {all_qs['good'].mean()} Standard Deviation: {np.std(all_qs['good'])}
Number of good questions: {len(all_qs[all_qs['good']==1])}''')

Overall num questions: 3484
Overall percentage appropriate: 0.6739947931732716 Standard Deviation: 0.468749199411143
Overall percentage solvable: 0.8274971297359357 Standard Deviation: 0.3778169265857857
Overall percentage accurate: 0.8663609564362922 Standard Deviation: 0.34026408802441166
Overall percentage good in all metrics: 0.6010332950631458 Standard Deviation: 0.4896858924746423
Number of good questions: 2094

## Format Good Data in Instruction Format for Further Finetuning for Question Generation

In [59]:
merged=merged.query("good==1")
merged_copy = merged
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
merged['solution'] = merged.apply(parse_solution, axis = 1)
merged['output'] = "Question: " + merged['question'] + "\n" + "Solution:\n" + merged['solution']
merged['instruction'] = "Write a grade school math word problem and Python function with a commented out step-by-step solution to solve the word problem."
merged['input']=''
merged = merged[['output', 'instruction', 'input']]
merged

<ipython-input-59-e1032dbe738b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['solution'] = merged.apply(parse_solution, axis = 1)
<ipython-input-59-e1032dbe738b>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['output'] = "Question: " + merged['question'] + "\n" + "Solution:\n" + merged['solution']
<ipython-input-59-e1032dbe738b>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['instruction'] = "Write a grade school math word problem and Python function with a commented out step-by-step solution to solve the word problem."
<ipython-input-59-e1032dbe738b>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged['input']=''

,output,instruction,input
0,Question: Steph Curry has 3000 points. 1000 of...,Write a grade school math word problem and Pyt...,
1,Question: The soccer team has 15 players. Each...,Write a grade school math word problem and Pyt...,
4,Question: Patrick Mahomes has 20000 yards. He ...,Write a grade school math word problem and Pyt...,
5,Question: Spiderman has a web-shooter that sho...,Write a grade school math word problem and Pyt...,
6,Question: Naruto ate 35 ramen noodles. The nex...,Write a grade school math word problem and Pyt...,
...,...,...,...
990,Question: A 10-car train is 1200 feet long. A ...,Write a grade school math word problem and Pyt...,
991,Question: If a person eats 2 bowls of ice crea...,Write a grade school math word problem and Pyt...,
992,"Question: In the first level, Super Mario can ...",Write a grade school math word problem and Pyt...,
993,Question: Hello Kitty has 200000000 fans. 1/10...,Write a grade school math word problem and Pyt...,
997,Question: Thor has 1000 gold coins. He is to p...,Write a grade school math word problem and Pyt...,

In [60]:
# Save DataFrame to a JSON file
mathwell = pd.read_csv('data/mathwell.csv')
mathwell = pd.concat([mathwell, merged])
mathwell.to_csv('data/mathwell_final.csv')
mathwell.to_json('data/mathwell_final.json', orient='records', lines=True)  # Saves each row as a separate JSON object in the file
import json

file_path = "data/mathwell_final.json"
data = []

with open(file_path, 'r') as json_file:
    for line in json_file:
        try:
            obj = json.loads(line)
            data.append(obj)
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line: {line}")
output_file = "data/mathwell_final.json"
with open(output_file, 'w') as json_file:
    json.dump(data, json_file)

## Format Good Data in Instruction Format for Further Finetuning for Question Answering for MAmmoTH

In [61]:
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    if "print(solution())" in df['solution']:
        solution = df['solution'].split("print(solution())")[0]
    else:
        solution = df['solution']
    return solution
merged_copy['solution'] = merged_copy.apply(parse_solution, axis = 1)
merged_copy['output'] = merged_copy['solution']
merged_copy['instruction'] = merged_copy['question'] + " Let's write a program."
merged_copy['input']=''
merged_copy = merged_copy[['output', 'instruction', 'input']]
merged_copy

<ipython-input-61-733dad8c39e0>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['solution'] = merged_copy.apply(parse_solution, axis = 1)
<ipython-input-61-733dad8c39e0>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['output'] = merged_copy['solution']
<ipython-input-61-733dad8c39e0>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['instruction'] = merged_copy['question'] + " Let's write a program."
<ipython-input-61-733dad8c39e0>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_copy['input']=''

,output,instruction,input
0,def solution():\n #Steph Curry has 3000 poi...,Steph Curry has 3000 points. 1000 of them are ...,
1,def solution():\n #Number of players\n p...,The soccer team has 15 players. Each player ha...,
4,def solution():\n #Patrick Mahomes started ...,Patrick Mahomes has 20000 yards. He gains 1000...,
5,def solution():\n #Spiderman needs to load ...,Spiderman has a web-shooter that shoots spider...,
6,def solution():\n #Naruto ate 35 ramen nood...,"Naruto ate 35 ramen noodles. The next day, he ...",
...,...,...,...
990,def solution():\n #The 10-car train is 1200...,A 10-car train is 1200 feet long. A 20-car tra...,
991,def solution():\n # number of bowls of ice ...,If a person eats 2 bowls of ice cream every da...,
992,"def solution():\n #In the first level, Supe...","In the first level, Super Mario can stomp 20 K...",
993,def solution():\n #Hello Kitty has 20000000...,Hello Kitty has 200000000 fans. 1/10 of the fa...,
997,def solution():\n #Thor started with 1000 g...,Thor has 1000 gold coins. He is to pay 100 gol...,

In [62]:
# Save DataFrame to a JSON file
mathwell = pd.read_csv('data/mathwell_qa.csv')
mathwell = pd.concat([mathwell, merged_copy])
mathwell['input']=""
mathwell = mathwell[['output', 'instruction', 'input']]
mathwell.to_csv('data/mathwell_final_qa.csv')
mathwell.to_json('data/mathwell_final_qa.json', orient='records', lines=True)  # Saves each row as a separate JSON object in the file
import json

file_path = "data/mathwell_final_qa.json"
data = []

with open(file_path, 'r') as json_file:
    for line in json_file:
        try:
            obj = json.loads(line)
            data.append(obj)
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line: {line}")
output_file = "data/mathwell_final_qa.json"
with open(output_file, 'w') as json_file:
    json.dump(data, json_file)