In [1]:
import pandas as pd
import numpy as np
import numpy as np
from scipy import stats
import scipy.stats as st

In [2]:
mathwell= pd.read_csv('data/mathwell_annotations_final.csv')
stage_two = mathwell[mathwell['model']=='mathwell']
stage_one = mathwell[mathwell['model']=='finetuned_llama']
stage_two

,model,question,solution,answer,accuracy,solvability,appropriateness,good
0,mathwell,"LeBron James is 6'9"" tall. 1 inch is 2.54 cm. ...","def solution():\n #LeBron James is 6'9"" tal...",205.74,1.0,1,1.0,1
1,mathwell,Captain America has 1200 ryo. He spends 400 ry...,def solution():\n #Captain America started ...,300.0,1.0,1,1.0,1
2,mathwell,A 250-car train is 2.5 miles long. How many 25...,def solution():\n #1 train is 2.5 miles lon...,211200.0,0.0,1,1.0,0
3,mathwell,3 scoops of ice cream cost $4. \nHow much does...,def solution():\n #3 scoops of ice cream co...,13.333333333333332,1.0,1,1.0,1
4,mathwell,Iron Man has 500 gold coins. He can use 10 gol...,def solution():\n #Iron Man has 500 gold co...,16.666666666666668,1.0,1,0.0,0
...,...,...,...,...,...,...,...,...
245,mathwell,The soccer team has 20 players. \n\n8 of the p...,def solution():\n #The soccer team has 20 p...,7.0,NaN,0,NaN,0
246,mathwell,"LeBron James is 6'9"" tall. \nHe's 36 years old...","def solution():\n #LeBron James is 6'9"" tal...",1.3799999999999997,NaN,0,NaN,0
247,mathwell,LeBron James is 6 feet 9 inches tall. He wear...,def solution():\n #LeBron is 6 feet 9 inche...,84.80000000000001,NaN,0,NaN,0
248,mathwell,A pizza is cut into 12 slices. 3 of the slices...,def solution():\n #A pizza is cut into 12 s...,8.0,NaN,0,NaN,0
249,mathwell,A Fortnite player has 5000 V-Bucks. They buy 2...,def solution():\n #A Fortnite player has 50...,-1500.0,NaN,0,NaN,0

In [3]:
stage_one

,model,question,solution,answer,accuracy,solvability,appropriateness,good
250,finetuned_llama,LeBron James has 30000 points. He has 1000 mor...,def solution():\n #LeBron James has 30000 p...,29000,1.0,1,1.0,1
251,finetuned_llama,A class has 120 students. 40 of them are in th...,def solution():\n #The total number of stud...,0,1.0,1,1.0,1
252,finetuned_llama,A 3-pound cake of butter is 90% fat. 3.5 ounce...,def solution():\n #A 3-pound cake of butter...,12.342857142857143,NaN,0,0.0,0
253,finetuned_llama,A train is 1500 feet long. 200 of its cars are...,def solution():\n #The total length of the ...,20.0,NaN,0,0.0,0
254,finetuned_llama,Naruto has 5000 ryo. He spends 1000 ryo on a n...,def solution():\n #Naruto started with 5000...,-1000,1.0,1,1.0,1
...,...,...,...,...,...,...,...,...
3479,finetuned_llama,A field hockey game has 11 players per team. T...,def solution():\n #A field hockey game has ...,33,0.0,1,0.0,0
3480,finetuned_llama,100 turtles are at the pond. 10 turtles are ea...,def solution():\n #Total turtles\n total...,0,0.0,1,0.0,0
3481,finetuned_llama,Barbie has 1200 Instagram followers. 200 more ...,def solution():\n #Barbie started with 1200...,1150,0.0,0,0.0,0
3482,finetuned_llama,1234567890 is a 10-digit number. \nHow many 3-...,def solution():\n #10-digit number has 10 d...,3.3333333333333335,0.0,1,0.0,0
3483,finetuned_llama,7 cats and 23 dogs are in a cage. 14 of the an...,def solution():\n #Total cats and dogs\n ...,13,0.0,0,0.0,0

## Print Means and SEs

In [4]:
print("Stage 2 solvability:", np.mean(stage_two['solvability'].dropna()), st.sem(stage_two['solvability'].dropna())*100)
print("Stage 1 solvability:", np.mean(stage_one['solvability'].dropna()), st.sem(stage_one['solvability'].dropna())*100)

Stage 2 solvability: 0.892 1.9669559381568775
Stage 1 solvability: 0.8225108225108225 0.6719762079218047

In [5]:
print("Stage 2 accuracy:", np.mean(stage_two['accuracy'].dropna()), st.sem(stage_two['accuracy'].dropna())*100)
print("Stage 1 accuracy:", np.mean(stage_one['accuracy'].dropna()), st.sem(stage_one['accuracy'].dropna())*100)

Stage 2 accuracy: 0.968609865470852 1.1702928328273723
Stage 1 accuracy: 0.8583038869257951 0.6556665598687926

In [6]:
print("Stage 2 Appro:", np.mean(stage_two['appropriateness'].dropna()), st.sem(stage_two['appropriateness'].dropna())*100)
print("Stage 1 Appro:", np.mean(stage_one[stage_one['solvability']==1]['appropriateness'].dropna()), st.sem(stage_one[stage_one['solvability']==1]['appropriateness'].dropna())*100)

Stage 2 Appro: 0.8654708520179372 2.2901183761575625
Stage 1 Appro: 0.8007518796992481 0.7746168346554715

In [7]:
print("Stage 2 MaC:", np.mean(stage_two['good'].dropna()), st.sem(stage_two['good'].dropna())*100)
print("Stage 1 MaC:", np.mean(stage_one['good'].dropna()), st.sem(stage_one['good'].dropna())*100)

Stage 2 MaC: 0.748 2.7513851933031317
Stage 1 MaC: 0.5893630179344465 0.8652022054121628

In [8]:
stage_two_exec = np.concatenate([np.ones(1475), np.zeros(2223-1475)])
stage_one_exec  = np.concatenate([np.ones(2742), np.zeros(4347-2742)])
print("Stage 2 executable code:", np.mean(stage_two_exec), st.sem(stage_two_exec)*100)
print("Stage 1 executable code:", np.mean(stage_one_exec), st.sem(stage_one_exec)*100)

Stage 2 executable code: 0.6635177687809267 1.0023867540717788
Stage 1 executable code: 0.6307798481711525 0.7320432532950027

In [9]:
stage1_execute = stage_one['good'] * np.mean(np.concatenate([np.ones(2742), np.zeros(4347-2742)]))
stage2_execute = stage_two['good'] * .6635177687809268
print("Stage 1 executable code and MaC:", np.mean(stage1_execute), st.sem(stage1_execute)*100)
print("Stage 2 executable code and MaC:", np.mean(stage2_execute), st.sem(stage2_execute)*100)

Stage 1 executable code and MaC: 0.37175831497038236 0.5457521157672303
Stage 2 executable code and MaC: 0.4963112910481332 1.8255929645173734

## Test for Significance

In [10]:
# Perform an independent two-sample t-test
t_statistic, p_value = stats.ttest_ind(stage_one['solvability'], stage_two['solvability'])

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -2.8041538183401
P-value: 0.005072842900973289

In [11]:
# Perform an independent two-sample t-test
t_statistic, p_value = stats.ttest_ind(stage_one['accuracy'].dropna(), stage_two['accuracy'].dropna())

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -6.223803649703326
P-value: 5.557429293792464e-10

In [15]:
# Perform an independent two-sample t-test
t_statistic, p_value = stats.ttest_ind(stage_one[stage_one['solvability']==1]['appropriateness'].dropna(), stage_two['appropriateness'].dropna())

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -2.3479724719543356
P-value: 0.018943203400071055

In [13]:
# Perform an independent two-sample t-test
t_statistic, p_value = stats.ttest_ind(stage_one['good'].dropna(), stage_two['good'].dropna())

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -4.950323112389799
P-value: 7.760669612726552e-07

In [14]:
# Perform an independent two-sample t-test on percentage good
stage1_execute =stage_one['good'] * np.mean(np.concatenate([np.ones(2742), np.zeros(4347-2742)]))
stage2_execute = stage_two['good'] * .6635177687809268
t_statistic, p_value = stats.ttest_ind(stage1_execute, stage2_execute)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -6.143220342184784
P-value: 8.998441121753769e-10