# Import Dependencies

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

# Parse First Text File

In [2]:
file_path = 'mathwell_questions2.txt'
data = []

with open(file_path, 'r') as file:
    text = file.read()
    sections = text.split("Topic: ")
    #sections = text.split("### Response:")
    del sections[0]  # Remove the initial part before the question
    total_questions = len(sections)
    for section in sections:
        try:
            topic = section.split("### Response:")[0].strip()
            section = section.split("### Response:")[1].strip()
            question = section.split("Question:")[1].strip()
            question = question.split("Solution:")[0].strip()
            solution = section.split("Solution:")[1].strip()
            if "##" in question:
                question = question.split("##")[0]
#             if "\n\n" in question:
#                 question = question.split("\n\n")
#                 question = "\n".join(question)
            if "\nBel" in solution:
                solution = solution.split("\nBel")[0]
            if "##" in solution:
                solution = solution.split("##")[0]
            if "return" not in solution:
                try: 
                    solution = solution + '\n' + '    return result'
                    solution_text = solution
                    try:
                            # Execute the Python code
                        exec(solution)
                        answer = solution()
                        if answer==None:
                            continue
                        data.append({"question": question, "solution": solution_text, 'answer': answer, 'topic': topic})
                    except: 
                        try: #pick up questions that did not indent the code block
                            solution_new = ""
                            lines = solution.split('\n')
                            indent = False
                            for line in lines:
                                if line.startswith('def solution():'):
                                    solution_new += line + '\n'

                                if not line.startswith('def solution():') and not line.startswith('    return result'):
                                    solution_new += '    ' + line + '\n'

                                if line.startswith('    return result'):
                                    solution_new += line
                            solution_text = solution_new
                            # Execute the Python code
                            exec(solution_new)
                            answer = solution()
                            if answer==None:
                                continue
                            data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                        except:
                                pass
                except:
                    pass
            if "return" in solution:
                try: 
                    solution_text = solution
                    try:
                        # Execute the Python code
                        exec(solution)
                        answer = solution()
                        if answer==None:
                            continue
                        data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                    except: 
                        try: #pick up questions that did not indent the code block
                            solution_new = ""
                            lines = solution.split('\n')
                            indent = False
                            for line in lines:
                                if line.startswith('def solution():'):
                                    solution_new += line + '\n'

                                if not line.startswith('def solution():') and not line.startswith('    return result'):
                                    solution_new += '    ' + line + '\n'

                                if line.startswith('    return result'):
                                    solution_new += line
                            solution_text = solution_new
                            # Execute the Python code
                            exec(solution_new)
                            answer = solution()
                            if answer==None:
                                continue
                            data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                        except:
                            pass
                except:
                    pass
        except:
            pass
df1 = pd.DataFrame.from_dict(data)
result1 = "Percentage of Questions with Executable Code: " + str((len(df1)/total_questions)*100) #past percentage was 54.88
print(result1)
print(len(df1), total_questions)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
Percentage of Questions with Executable Code: 55.3691149481254
14783 26699

In [3]:
print(f"Percentage of questions that have 0 as answer: {(len(df1[df1['answer']==0])/len(df1))*100}")

Percentage of questions that have 0 as answer: 6.893052830954474

In [4]:
df1 = df1.drop_duplicates(subset='question')

In [5]:
df1

,question,solution,answer,topic
0,A baker baked 120 cakes. He sold 40 on the fir...,def solution():\n\n # The baker started wit...,30,Animals and Wildlife
1,Naruto has 300 ramen noodles. He eats 20 ramen...,def solution():\n #Naruto has 300 ramen noo...,200,Naruto
2,A 5th-grade class is doing a science project. ...,def solution():\n #20 students are in the c...,60,DIY Science Projects
3,A mummy is 3000 years old. \n\nHis sarcophagus...,def solution():\n #The mummy is 3000 years ...,4000,Mummies
4,The volleyball team has 12 players. \n4 of the...,def solution():\n #Total number of players\...,0,volleyball
...,...,...,...,...
14777,The T-Rex is the largest dinosaur. It is 40 f...,def solution():\n #The T-Rex is 40 feet lon...,12.0,Dinosaurs
14778,"A 5-piece band has 2 guitarists, 1 bassist, 1 ...",def solution():\n #Guitarists\n guitaris...,25,Music and Instruments
14780,A 747 can fly 5000 miles in 8 hours. \nHow man...,def solution():\n #A 747 can fly 5000 miles...,12500.0,Planes and Aviation
14781,A 1000-piece jigsaw puzzle is in the box. 200 ...,def solution():\n #Total pieces in the puzz...,0,Puzzles
14782,The zoo has 200 animals. \n100 of the animals ...,def solution():\n #Total animals\n total...,30,Zoo Animals

# Parse Second Text File

In [6]:
file_path = 'mathwell_questions_no_topic.txt'
data = []

with open(file_path, 'r') as file:
    text = file.read()
    sections = text.split("Topic: ")
    #sections = text.split("### Response:")
    del sections[0]  # Remove the initial part before the question
    total_questions = len(sections)
    for section in sections:
        try:
            topic = section.split("### Response:")[0].strip()
            section = section.split("### Response:")[1].strip()
            question = section.split("Question:")[1].strip()
            question = question.split("Solution:")[0].strip()
            solution = section.split("Solution:")[1].strip()
            if "##" in question:
                question = question.split("##")[0]
#             if "\n\n" in question:
#                 question = question.split("\n\n")
#                 question = "\n".join(question)
            if "\nBel" in solution:
                solution = solution.split("\nBel")[0]
            if "##" in solution:
                solution = solution.split("##")[0]
            if "return" not in solution:
                try: 
                    solution = solution + '\n' + '    return result'
                    solution_text = solution
                    try:
                            # Execute the Python code
                        exec(solution)
                        answer = solution()
                        if answer==None:
                            continue
                        data.append({"question": question, "solution": solution_text, 'answer': answer, 'topic': topic})
                    except: 
                        try: #pick up questions that did not indent the code block
                            solution_new = ""
                            lines = solution.split('\n')
                            indent = False
                            for line in lines:
                                if line.startswith('def solution():'):
                                    solution_new += line + '\n'

                                if not line.startswith('def solution():') and not line.startswith('    return result'):
                                    solution_new += '    ' + line + '\n'

                                if line.startswith('    return result'):
                                    solution_new += line
                            solution_text = solution_new
                            # Execute the Python code
                            exec(solution_new)
                            answer = solution()
                            if answer==None:
                                continue
                            data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                        except:
                                pass
                except:
                    pass
            if "return" in solution:
                try: 
                    solution_text = solution
                    try:
                        # Execute the Python code
                        exec(solution)
                        answer = solution()
                        if answer==None:
                            continue
                        data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                    except: 
                        try: #pick up questions that did not indent the code block
                            solution_new = ""
                            lines = solution.split('\n')
                            indent = False
                            for line in lines:
                                if line.startswith('def solution():'):
                                    solution_new += line + '\n'

                                if not line.startswith('def solution():') and not line.startswith('    return result'):
                                    solution_new += '    ' + line + '\n'

                                if line.startswith('    return result'):
                                    solution_new += line
                            solution_text = solution_new
                            # Execute the Python code
                            exec(solution_new)
                            answer = solution()
                            if answer==None:
                                continue
                            data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                        except:
                            pass
                except:
                    pass
        except:
            pass
df2 = pd.DataFrame.from_dict(data)
result1 = "Percentage of Questions with Executable Code: " + str((len(df2)/total_questions)*100)
print(result1)
print(len(df2), total_questions)

Percentage of Questions with Executable Code: 46.58145263298049
6997 15021

In [7]:
print(f"Percentage of questions that have 0 as answer: {(len(df2[df2['answer']==0])/len(df2))*100}")

Percentage of questions that have 0 as answer: 4.9021009003858795

In [8]:
df2 = df2.drop_duplicates(subset='question')

In [9]:
df2

,question,solution,answer,topic
0,2000 people in a stadium. 1/4 of the people ar...,def solution():\n #Total people in the stad...,850.0,unspecified
1,The first 500 people in line for the Comic-Con...,def solution():\n #The first 500 people in ...,1000,unspecified
2,There are 120000 spiders in a spider farm. 100...,def solution():\n #There were 120000 spider...,100000,unspecified
3,A baker bakes 100 pies. He sells 20 of them on...,def solution():\n #Baker bakes 100 pies\n ...,10,unspecified
4,A 747 can hold 400 people. \nA 777 can hold 30...,def solution():\n #A 747 can hold 400 peopl...,4000,unspecified
...,...,...,...,...
6985,* 250000 people live in a city.\n* 1/4 of the ...,def solution():\n #Total population of the ...,7812.5,unspecified
6987,2500 people are at a rally. \n\n1200 of them a...,def solution():\n\n # total number of people ...,800,unspecified
6990,A 3-pound cake of cheese is cut into 12 slices...,def solution():\n #A 3-pound cake of cheese...,288,unspecified
6994,A Creeper has 20 health points. A Skeleton ha...,def solution():\n #Creepers have 20 health ...,2,unspecified
6995,2000 people are at a rally. 1000 more people s...,def solution():\n #2000 people are at a ral...,4500,unspecified

# Concat DFs

In [10]:
extra_qs = pd.read_csv('data/extra_qs.csv')
df = pd.concat([df1, df2, extra_qs])
df = df.drop_duplicates(subset='question')
df = df.sample(frac = 1, random_state = 42)
df = df[['question', 'solution', 'answer', 'topic']]
#df.to_csv("data/sgsm_unannotated.csv")

In [11]:
df ## last run had 17692

,question,solution,answer,topic
4600,A pizza has 8 slices. \nIf 3 of the slices hav...,def solution():\n #A pizza has 8 slices\n ...,4,unspecified
13976,A robotics company has 1000 robots. They are 2...,def solution():\n #A robotics company has 1...,800.0,Robots and Technology
4318,A scientist is conducting an experiment. He ha...,def solution():\n #The scientist has 1000 v...,100,Science Experiments
12869,The Flintstones is a cartoon that aired for 6 ...,def solution():\n #The Flintstones aired fo...,124,Cartoons and Animated Shows
2826,The Eiffel Tower is 1063 feet tall. The Statue...,def solution():\n #The Eiffel Tower is 1063...,568,Famous Landmarks
...,...,...,...,...
12196,The Ringling Bros. and Barnum & Bailey Circus ...,def solution():\n #Total number of clowns\n...,50,the Circus and Performing Arts
12932,A unicorn has 2000 magical hairs. 1000 of thes...,def solution():\n #A unicorn has 2000 magic...,500,Mythical Creatures
5736,Fairy Gardens has 1000 tulips. 200 of the tuli...,def solution():\n #Total tulips\n total_...,0,Fairy Gardens
889,25% of the 1200 students at a high school want...,def solution():\n #1200 students at a high ...,180.0,"Careers (e.g., firefighter, astronaut, doctor)"
3240,20000 people live in a big city. 1/5 of them a...,def solution():\n #Total population of the ...,100.0,unspecified

In [12]:
df['topic'].value_counts()

topic
unspecified                                          4259
LeBron James                                          160
cheer leading                                         157
Captain America                                       156
Wonder Woman                                          155
                                                     ...
Up                                                     17
Transformers                                           15
Pokemon                                                13
Hobbies (e.g., stamp collecting, coin collecting)      10
Pets (cats, dogs, hamsters)                             5
Name: count, Length: 198, dtype: int64

In [13]:
17692+2094

19786

In [14]:
import random
for i in range(0, 10):
    index = random.randint(0, len(df))
    question = df.iloc[index]['question']
    solution = df.iloc[index]['solution']
    print(f"Question: {question}\n\nSolution:\n{solution}")

Question: 1000 people have seen the Loch Ness Monster. 2000 people have seen Bigfoot. 3000 people have seen a UFO. How many more people have seen a UFO than the Loch Ness Monster and Bigfoot combined?

Solution:
def solution():
    #1000 people have seen the Loch Ness Monster
    loch_ness_sightings = 1000
    #2000 people have seen Bigfoot
    bigfoot_sightings = 2000
    #3000 people have seen a UFO
    ufo_sightings = 3000
    #The answer is
    result = ufo_sightings - loch_ness_sightings - bigfoot_sightings
    return result
Question: A field hockey team has 12 players.

3 of the players are goalies.

5 of the players are defenders.

4 of the players are midfielders.

How many players are forwards?

Solution:
def solution():
    #Total players
    total_players = 12
    #Goalies
    goalies = 3
    #Defenders
    defenders = 5
    #Midfielders
    midfielders = 4
    #The answer is
    result = total_players - goalies - defenders - midfielders
    return result
Question: A camping trip has 100 campers.
30 of them are in tents, 20 of them are in RVs, and the rest are in cabins.
How many campers are in cabins?

Solution:
def solution():
    #There are 100 campers in total
    campers_total = 100
    #30 of them are in tents
    campers_tents = 30
    #20 of them are in RVs
    campers_rvs = 20
    #The rest are in cabins. The answer is
    campers_cabins = campers_total - campers_tents - campers_rvs
    return campers_cabins
Question: 2000 people are at a rally. 1000 of them are from out of state. 3000 of them are from the state. 2000 of the in-state attendees are from the same city. How many in-state attendees are not from the same city?

Solution:
def solution():
    #Total attendees
    total_attendees = 2000
    #Out of state attendees
    out_of_state_attendees = 1000
    #In state attendees
    in_state_attendees = total_attendees - out_of_state_attendees
    #In state attendees from the same city
    in_state_same_city = 2000
    #In state attendees not from the same city
    in_state_not_same_city = in_state_attendees - in_state_same_city
    return in_state_not_same_city
Question: In the game Super Mario, a mushroom gives Mario 5 extra hit points.
A flower gives Mario 10 extra hit points.
If Mario is at 30 hit points and he eats 2 mushrooms and 2 flowers, how many hit points does he have?

Solution:
def solution():
    #Mario started with 30 hit points
    hit_points_initial = 30
    #A mushroom gives 5 extra hit points
    mushroom_hit_points = 5
    #A flower gives 10 extra hit points
    flower_hit_points = 10
    #Mario ate 2 mushrooms and 2 flowers
    mushrooms_eaten = 2
    flowers_eaten = 2
    #The answer is
    result = hit_points_initial + (mushrooms_eaten * mushroom_hit_points) + (flowers_eaten * flower_hit_points)
    return result
Question: A 3-piece band has 2 guitars and 1 drum set.

A 5-piece band has 3 guitars, 1 drum set, and 1 keyboard.

How many more guitars does the 5-piece band have than the 3-piece band?

Solution:
def solution():
    #A 3-piece band has 2 guitars and 1 drum set
    guitars_3_piece_band = 2
    #A 5-piece band has 3 guitars, 1 drum set, and 1 keyboard
    guitars_5_piece_band = 3
    #The answer is
    result = guitars_5_piece_band - guitars_3_piece_band
    return result
Question: 1000 students are at a candy tasting. 100 of the students are allergic to peanuts, and 200 of the students are allergic to almonds. 50 of the students are allergic to both. How many students have no allergies?

Solution:
def solution():
    #Total students
    total_students = 1000
    #Students allergic to peanuts
    peanut_allergic_students = 100
    #Students allergic to almonds
    almond_allergic_students = 200
    #Students allergic to both
    both_allergic_students = 50
    #Students with no allergies is
    no_allergies_students = total_students - peanut_allergic_students - almond_allergic_students + both_allergic_students
    return no_allergies_students
Question: A mummy is 2000 years old. 2000 years ago, the mummy was 20 years old. How old was the mummy 2001 years ago?

Solution:
def solution():
    #A mummy is 2000 years old
    mummy_age_2000_years_ago = 2000
    #2000 years ago, the mummy was 20 years old
    mummy_age_2000_years_ago_20_years_old = 20
    #2001 years ago, the mummy was
    mummy_age_2001_years_ago = mummy_age_2000_years_ago - mummy_age_2000_years_ago_20_years_old
    return mummy_age_2001_years_ago
Question: The Beast has 500 books in his library. 200 of them are in French, 150 of them are in English, and the rest are in other languages. How many of the Beast's books are in other languages?

Solution:
def solution():
    #Total books
    total_books = 500
    #Books in French
    french_books = 200
    #Books in English
    english_books = 150
    #Books in other languages
    other_languages = total_books - french_books - english_books
    return other_languages
Question: Serena Williams has 23 Grand Slam titles.  She has 4 more Grand Slam titles than Steffi Graf.  How many Grand Slam titles does Steffi Graf have?

Solution:
def solution():
    #Serena Williams has 23 Grand Slam titles
    williams_grand_slam_titles = 23
    #She has 4 more Grand Slam titles than Steffi Graf
    graf_grand_slam_titles = williams_grand_slam_titles - 4
    #The answer is
    result = graf_grand_slam_titles
    return result