# Import Dependencies

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

# Parse First Text File

In [2]:
file_path = 'mathwell_questions2.txt'
data = []

with open(file_path, 'r') as file:
    text = file.read()
    sections = text.split("Topic: ")
    #sections = text.split("### Response:")
    del sections[0]  # Remove the initial part before the question
    total_questions = len(sections)
    for section in sections:
        try:
            topic = section.split("### Response:")[0].strip()
            section = section.split("### Response:")[1].strip()
            question = section.split("Question:")[1].strip()
            question = question.split("Solution:")[0].strip()
            solution = section.split("Solution:")[1].strip()
            if "##" in question:
                question = question.split("##")[0]
#             if "\n\n" in question:
#                 question = question.split("\n\n")
#                 question = "\n".join(question)
            if "\nBel" in solution:
                solution = solution.split("\nBel")[0]
            if "##" in solution:
                solution = solution.split("##")[0]
            if "return" not in solution:
                try: 
                    solution = solution + '\n' + '    return result'
                    solution_text = solution
                    try:
                            # Execute the Python code
                        exec(solution)
                        answer = solution()
                        if answer==None:
                            continue
                        data.append({"question": question, "solution": solution_text, 'answer': answer, 'topic': topic})
                    except: 
                        try: #pick up questions that did not indent the code block
                            solution_new = ""
                            lines = solution.split('\n')
                            indent = False
                            for line in lines:
                                if line.startswith('def solution():'):
                                    solution_new += line + '\n'

                                if not line.startswith('def solution():') and not line.startswith('    return result'):
                                    solution_new += '    ' + line + '\n'

                                if line.startswith('    return result'):
                                    solution_new += line
                            solution_text = solution_new
                            # Execute the Python code
                            exec(solution_new)
                            answer = solution()
                            if answer==None:
                                continue
                            data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                        except:
                                pass
                except:
                    pass
            if "return" in solution:
                try: 
                    solution_text = solution
                    try:
                        # Execute the Python code
                        exec(solution)
                        answer = solution()
                        if answer==None:
                            continue
                        data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                    except: 
                        try: #pick up questions that did not indent the code block
                            solution_new = ""
                            lines = solution.split('\n')
                            indent = False
                            for line in lines:
                                if line.startswith('def solution():'):
                                    solution_new += line + '\n'

                                if not line.startswith('def solution():') and not line.startswith('    return result'):
                                    solution_new += '    ' + line + '\n'

                                if line.startswith('    return result'):
                                    solution_new += line
                            solution_text = solution_new
                            # Execute the Python code
                            exec(solution_new)
                            answer = solution()
                            if answer==None:
                                continue
                            data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                        except:
                            pass
                except:
                    pass
        except:
            pass
df1 = pd.DataFrame.from_dict(data)
result1 = "Percentage of Questions with Executable Code: " + str((len(df1)/total_questions)*100) #past percentage was 54.88
print(result1)
print(len(df1), total_questions)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
Percentage of Questions with Executable Code: 55.395472995209715
15149 27347

In [3]:
print(f"Percentage of questions that have 0 as answer: {(len(df1[df1['answer']==0])/len(df1))*100}")

Percentage of questions that have 0 as answer: 6.9311505709947845

In [4]:
df1 = df1.drop_duplicates(subset='question')

In [5]:
df1

,question,solution,answer,topic
0,A baker baked 120 cakes. He sold 40 on the fir...,def solution():\n\n # The baker started wit...,30,Animals and Wildlife
1,Naruto has 300 ramen noodles. He eats 20 ramen...,def solution():\n #Naruto has 300 ramen noo...,200,Naruto
2,A 5th-grade class is doing a science project. ...,def solution():\n #20 students are in the c...,60,DIY Science Projects
3,A mummy is 3000 years old. \n\nHis sarcophagus...,def solution():\n #The mummy is 3000 years ...,4000,Mummies
4,The volleyball team has 12 players. \n4 of the...,def solution():\n #Total number of players\...,0,volleyball
...,...,...,...,...
15143,A phoenix is a mythical bird that is reborn fr...,def solution():\n #The first phoenix was bo...,1005500,Mythology
15144,"Ratatouille, the rat, ate 12 slices of pizza. ...",def solution():\n #Ratatouille ate 12 slice...,0,Ratatouille
15145,A detective is investigating a murder. He inte...,def solution():\n #Total people interviewed...,20,Detectives and Mystery
15146,Shrek ate 30 onions. 10 of the onions were gre...,def solution():\n #Shrek ate 30 onions\n ...,0,Shrek
15147,There are 24 My Little Ponies. \n12 of them ar...,def solution():\n #There are 24 My Little P...,6,My Little Pony

# Parse Second Text File

In [6]:
file_path = 'mathwell_questions_no_topic.txt'
data = []

with open(file_path, 'r') as file:
    text = file.read()
    sections = text.split("Topic: ")
    #sections = text.split("### Response:")
    del sections[0]  # Remove the initial part before the question
    total_questions = len(sections)
    for section in sections:
        try:
            topic = section.split("### Response:")[0].strip()
            section = section.split("### Response:")[1].strip()
            question = section.split("Question:")[1].strip()
            question = question.split("Solution:")[0].strip()
            solution = section.split("Solution:")[1].strip()
            if "##" in question:
                question = question.split("##")[0]
#             if "\n\n" in question:
#                 question = question.split("\n\n")
#                 question = "\n".join(question)
            if "\nBel" in solution:
                solution = solution.split("\nBel")[0]
            if "##" in solution:
                solution = solution.split("##")[0]
            if "return" not in solution:
                try: 
                    solution = solution + '\n' + '    return result'
                    solution_text = solution
                    try:
                            # Execute the Python code
                        exec(solution)
                        answer = solution()
                        if answer==None:
                            continue
                        data.append({"question": question, "solution": solution_text, 'answer': answer, 'topic': topic})
                    except: 
                        try: #pick up questions that did not indent the code block
                            solution_new = ""
                            lines = solution.split('\n')
                            indent = False
                            for line in lines:
                                if line.startswith('def solution():'):
                                    solution_new += line + '\n'

                                if not line.startswith('def solution():') and not line.startswith('    return result'):
                                    solution_new += '    ' + line + '\n'

                                if line.startswith('    return result'):
                                    solution_new += line
                            solution_text = solution_new
                            # Execute the Python code
                            exec(solution_new)
                            answer = solution()
                            if answer==None:
                                continue
                            data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                        except:
                                pass
                except:
                    pass
            if "return" in solution:
                try: 
                    solution_text = solution
                    try:
                        # Execute the Python code
                        exec(solution)
                        answer = solution()
                        if answer==None:
                            continue
                        data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                    except: 
                        try: #pick up questions that did not indent the code block
                            solution_new = ""
                            lines = solution.split('\n')
                            indent = False
                            for line in lines:
                                if line.startswith('def solution():'):
                                    solution_new += line + '\n'

                                if not line.startswith('def solution():') and not line.startswith('    return result'):
                                    solution_new += '    ' + line + '\n'

                                if line.startswith('    return result'):
                                    solution_new += line
                            solution_text = solution_new
                            # Execute the Python code
                            exec(solution_new)
                            answer = solution()
                            if answer==None:
                                continue
                            data.append({"question": question, "solution": solution_text, 'answer': answer, "topic": topic})
                        except:
                            pass
                except:
                    pass
        except:
            pass
df2 = pd.DataFrame.from_dict(data)
result1 = "Percentage of Questions with Executable Code: " + str((len(df2)/total_questions)*100)
print(result1)
print(len(df2), total_questions)

Percentage of Questions with Executable Code: 46.500577886220626
7242 15574

In [7]:
print(f"Percentage of questions that have 0 as answer: {(len(df2[df2['answer']==0])/len(df2))*100}")

Percentage of questions that have 0 as answer: 4.901960784313726

In [8]:
df2 = df2.drop_duplicates(subset='question')

In [9]:
df2

,question,solution,answer,topic
0,2000 people in a stadium. 1/4 of the people ar...,def solution():\n #Total people in the stad...,850.0,unspecified
1,The first 500 people in line for the Comic-Con...,def solution():\n #The first 500 people in ...,1000,unspecified
2,There are 120000 spiders in a spider farm. 100...,def solution():\n #There were 120000 spider...,100000,unspecified
3,A baker bakes 100 pies. He sells 20 of them on...,def solution():\n #Baker bakes 100 pies\n ...,10,unspecified
4,A 747 can hold 400 people. \nA 777 can hold 30...,def solution():\n #A 747 can hold 400 peopl...,4000,unspecified
...,...,...,...,...
7232,400 people are at a rally. 200 of them are wea...,def solution():\n #Total people at the rall...,100,unspecified
7233,20000 people live in a small town. 2000 of the...,def solution():\n #12000 people live in a s...,0,unspecified
7237,A baker is baking 1000 cookies. He bakes 200 c...,def solution():\n #The baker is baking 1000...,-400,unspecified
7238,200 people are at a rally. 1/4 of them are wea...,def solution():\n\n #Total number of people...,<class 'int'>,unspecified
7241,1000 people are at a rally. 200 of them are fr...,def solution():\n #1000 people are at a ral...,0,unspecified

# Concat DFs

In [10]:
extra_qs = pd.read_csv('data/extra_qs.csv')
df = pd.concat([df1, df2, extra_qs])
df = df.drop_duplicates(subset='question')
df = df.sample(frac = 1, random_state = 42)
df = df[['question', 'solution', 'answer', 'topic']]
#df = df[:17692]
#df.to_csv("data/sgsm_unannotated.csv")

In [11]:
df ## last run had 17692

,question,solution,answer,topic
10739,The Egyptians built 100 pyramids. 20 of them a...,def solution():\n #Total number of pyramids...,15,Ancient Civilizations
5852,A 2-liter bottle of soda has 80 calories. A 1....,def solution():\n #A 2-liter bottle of soda...,400,Health and Nutrition
1910,There are 20000 apples in an orchard. 2000 of ...,def solution():\n #There are 20000 apples i...,15000,unspecified
7809,There are 1000 pages in a Mystery Stories book...,def solution():\n #Total pages in the book\...,500,Mystery Stories
14961,1000 Minions are in a room. 200 of them are we...,def solution():\n #1000 Minions are in a ro...,1000,Minions
...,...,...,...,...
12196,The Ringling Bros. and Barnum & Bailey Circus ...,def solution():\n #Total number of clowns\n...,50,the Circus and Performing Arts
12932,A unicorn has 2000 magical hairs. 1000 of thes...,def solution():\n #A unicorn has 2000 magic...,500,Mythical Creatures
5736,Fairy Gardens has 1000 tulips. 200 of the tuli...,def solution():\n #Total tulips\n total_...,0,Fairy Gardens
889,25% of the 1200 students at a high school want...,def solution():\n #1200 students at a high ...,180.0,"Careers (e.g., firefighter, astronaut, doctor)"
2690,200 people attended a rally. 150 of them were ...,def solution():\n\n # total attendees\n\n ...,0,unspecified

In [12]:
#df = pd.read_csv('data/sgsm_unannotated.csv')
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    else:
        solution = df['solution']
    return solution
df['solution'] = df.apply(parse_solution, axis =1)
df.to_csv("data/sgsm_unannotated.csv")
sgsm_train = pd.read_csv('data/sgsm_train.csv')
# sgsm_train = sgsm_train.drop_duplicates(subset= 'question')
# sgsm_train.to_csv('data/sgsm_train.csv')
sgsm_train['subset'] = 'sgsm_train'
df['subset'] = 'sgsm_unannotated'
sgsm = pd.concat([sgsm_train, df])
sgsm = sgsm[['question', 'solution', 'answer', 'topic', 'subset']]
#sgsm.to_csv('data/sgsm.csv')
#sgsm = sgsm.drop_duplicates(subset = ['question', 'subset'])
sgsm

,question,solution,answer,topic,subset
0,"LeBron James is 6'9"" tall. 1 inch is 2.54 cm. ...","def solution():\n #LeBron James is 6'9"" tal...",205.74,basketball,sgsm_train
1,Captain America has 1200 ryo. He spends 400 ry...,def solution():\n #Captain America started ...,300.0,Captain America,sgsm_train
2,3 scoops of ice cream cost $4. \nHow much does...,def solution():\n #3 scoops of ice cream co...,13.333333333333332,ice cream,sgsm_train
3,A volleyball team is 6 players. \n3 of the pla...,def solution():\n #3 of the players are 16 ...,16.666666666666668,volleyball,sgsm_train
4,"Superman can fly at a speed of 1,000 miles per...",def solution():\n #Superman can fly at a sp...,0.2,Superman,sgsm_train
...,...,...,...,...,...
12196,The Ringling Bros. and Barnum & Bailey Circus ...,def solution():\n #Total number of clowns\n...,50,the Circus and Performing Arts,sgsm_unannotated
12932,A unicorn has 2000 magical hairs. 1000 of thes...,def solution():\n #A unicorn has 2000 magic...,500,Mythical Creatures,sgsm_unannotated
5736,Fairy Gardens has 1000 tulips. 200 of the tuli...,def solution():\n #Total tulips\n total_...,0,Fairy Gardens,sgsm_unannotated
889,25% of the 1200 students at a high school want...,def solution():\n #1200 students at a high ...,180.0,"Careers (e.g., firefighter, astronaut, doctor)",sgsm_unannotated
2690,200 people attended a rally. 150 of them were ...,def solution():\n\n # total attendees\n\n ...,0,unspecified,sgsm_unannotated

In [13]:
sgsm = sgsm.drop_duplicates(subset = 'question')
sgsm[sgsm['subset']=='sgsm_unannotated'].to_csv('data/sgsm_unannotated.csv')
sgsm

,question,solution,answer,topic,subset
0,"LeBron James is 6'9"" tall. 1 inch is 2.54 cm. ...","def solution():\n #LeBron James is 6'9"" tal...",205.74,basketball,sgsm_train
1,Captain America has 1200 ryo. He spends 400 ry...,def solution():\n #Captain America started ...,300.0,Captain America,sgsm_train
2,3 scoops of ice cream cost $4. \nHow much does...,def solution():\n #3 scoops of ice cream co...,13.333333333333332,ice cream,sgsm_train
3,A volleyball team is 6 players. \n3 of the pla...,def solution():\n #3 of the players are 16 ...,16.666666666666668,volleyball,sgsm_train
4,"Superman can fly at a speed of 1,000 miles per...",def solution():\n #Superman can fly at a sp...,0.2,Superman,sgsm_train
...,...,...,...,...,...
12196,The Ringling Bros. and Barnum & Bailey Circus ...,def solution():\n #Total number of clowns\n...,50,the Circus and Performing Arts,sgsm_unannotated
12932,A unicorn has 2000 magical hairs. 1000 of thes...,def solution():\n #A unicorn has 2000 magic...,500,Mythical Creatures,sgsm_unannotated
5736,Fairy Gardens has 1000 tulips. 200 of the tuli...,def solution():\n #Total tulips\n total_...,0,Fairy Gardens,sgsm_unannotated
889,25% of the 1200 students at a high school want...,def solution():\n #1200 students at a high ...,180.0,"Careers (e.g., firefighter, astronaut, doctor)",sgsm_unannotated
2690,200 people attended a rally. 150 of them were ...,def solution():\n\n # total attendees\n\n ...,0,unspecified,sgsm_unannotated

In [14]:
sgsm.to_csv('data/sgsm.csv', index=False)
sgsm.to_csv('sgsm.csv', index=False)
sgsm['subset'].value_counts()

subset
sgsm_unannotated    18397
sgsm_train           2093
Name: count, dtype: int64

In [15]:
sgsm_train = pd.read_csv('data/sgsm_train.csv')
sgsm_train.drop_duplicates(subset= ['question', 'solution'])

,Unnamed: 0,question,solution,answer,topic
0,0,"LeBron James is 6'9"" tall. 1 inch is 2.54 cm. ...","def solution():\n #LeBron James is 6'9"" tal...",205.74,basketball
1,1,Captain America has 1200 ryo. He spends 400 ry...,def solution():\n #Captain America started ...,300.0,Captain America
2,3,3 scoops of ice cream cost $4. \nHow much does...,def solution():\n #3 scoops of ice cream co...,13.333333333333332,ice cream
3,5,A volleyball team is 6 players. \n3 of the pla...,def solution():\n #3 of the players are 16 ...,16.666666666666668,volleyball
4,6,"Superman can fly at a speed of 1,000 miles per...",def solution():\n #Superman can fly at a sp...,0.2,Superman
...,...,...,...,...,...
2088,1901,30 unicorns are in a herd. 10 unicorns in the ...,def solution():\n #Total number of unicorns...,17,unicorns
2089,1902,A pizza has 8 slices. 4 of the slices have pep...,def solution():\n #A pizza has 8 slices\n ...,4,pizza
2090,1903,12000 people were at a rally. 10000 of them we...,def solution():\n #Total number of people a...,500,unspecified
2091,1904,A bakery made 300 muffins. 150 of the muffins ...,def solution():\n #Total muffins\n total...,60,unspecified
2092,1905,A pizza is cut into 12 slices. 5 slices are to...,def solution():\n #A pizza is cut into 12 s...,6,pizza

In [16]:
sgsm_train

,Unnamed: 0,question,solution,answer,topic
0,0,"LeBron James is 6'9"" tall. 1 inch is 2.54 cm. ...","def solution():\n #LeBron James is 6'9"" tal...",205.74,basketball
1,1,Captain America has 1200 ryo. He spends 400 ry...,def solution():\n #Captain America started ...,300.0,Captain America
2,3,3 scoops of ice cream cost $4. \nHow much does...,def solution():\n #3 scoops of ice cream co...,13.333333333333332,ice cream
3,5,A volleyball team is 6 players. \n3 of the pla...,def solution():\n #3 of the players are 16 ...,16.666666666666668,volleyball
4,6,"Superman can fly at a speed of 1,000 miles per...",def solution():\n #Superman can fly at a sp...,0.2,Superman
...,...,...,...,...,...
2088,1901,30 unicorns are in a herd. 10 unicorns in the ...,def solution():\n #Total number of unicorns...,17,unicorns
2089,1902,A pizza has 8 slices. 4 of the slices have pep...,def solution():\n #A pizza has 8 slices\n ...,4,pizza
2090,1903,12000 people were at a rally. 10000 of them we...,def solution():\n #Total number of people a...,500,unspecified
2091,1904,A bakery made 300 muffins. 150 of the muffins ...,def solution():\n #Total muffins\n total...,60,unspecified
2092,1905,A pizza is cut into 12 slices. 5 slices are to...,def solution():\n #A pizza is cut into 12 s...,6,pizza

In [17]:
df

,question,solution,answer,topic,subset
10739,The Egyptians built 100 pyramids. 20 of them a...,def solution():\n #Total number of pyramids...,15,Ancient Civilizations,sgsm_unannotated
5852,A 2-liter bottle of soda has 80 calories. A 1....,def solution():\n #A 2-liter bottle of soda...,400,Health and Nutrition,sgsm_unannotated
1910,There are 20000 apples in an orchard. 2000 of ...,def solution():\n #There are 20000 apples i...,15000,unspecified,sgsm_unannotated
7809,There are 1000 pages in a Mystery Stories book...,def solution():\n #Total pages in the book\...,500,Mystery Stories,sgsm_unannotated
14961,1000 Minions are in a room. 200 of them are we...,def solution():\n #1000 Minions are in a ro...,1000,Minions,sgsm_unannotated
...,...,...,...,...,...
12196,The Ringling Bros. and Barnum & Bailey Circus ...,def solution():\n #Total number of clowns\n...,50,the Circus and Performing Arts,sgsm_unannotated
12932,A unicorn has 2000 magical hairs. 1000 of thes...,def solution():\n #A unicorn has 2000 magic...,500,Mythical Creatures,sgsm_unannotated
5736,Fairy Gardens has 1000 tulips. 200 of the tuli...,def solution():\n #Total tulips\n total_...,0,Fairy Gardens,sgsm_unannotated
889,25% of the 1200 students at a high school want...,def solution():\n #1200 students at a high ...,180.0,"Careers (e.g., firefighter, astronaut, doctor)",sgsm_unannotated
2690,200 people attended a rally. 150 of them were ...,def solution():\n\n # total attendees\n\n ...,0,unspecified,sgsm_unannotated

In [18]:
df['topic'].value_counts()

topic
unspecified                                          4383
National Parks                                        159
LeBron James                                          157
Dance and Ballet                                      154
cheer leading                                         154
                                                     ...
Transformers                                           18
Up                                                     18
Pokemon                                                13
Hobbies (e.g., stamp collecting, coin collecting)      10
Pets (cats, dogs, hamsters)                             6
Name: count, Length: 198, dtype: int64

In [19]:
17692+2094

19786

In [20]:
import random
for i in range(0, 10):
    index = random.randint(0, len(df))
    question = df.iloc[index]['question']
    solution = df.iloc[index]['solution']
    print(f"Question: {question}\n\nSolution:\n{solution}")

Question: A science experiment requires 5000 beakers. 2000 of these are for the control group. 1500 of these are for the experimental group. The rest are for the placebo group. How many beakers are for the placebo group?

Solution:
def solution():
    #Total number of beakers
    total_beakers = 5000
    #Number of beakers for the control group
    beakers_control = 2000
    #Number of beakers for the experimental group
    beakers_experimental = 1500
    #The answer is
    result = total_beakers - beakers_control - beakers_experimental
    return result
Question: The volleyball team has 12 players.
4 of the players are sophomores.
3 of the players are juniors.
5 of the players are seniors.
How many of the players are freshmen?

Solution:
def solution():
    #Total number of players
    total_players = 12
    #Number of sophomores
    sophomores = 4
    #Number of juniors
    juniors = 3
    #Number of seniors
    seniors = 5
    #The number of freshmen is
    freshmen = total_players - sophomores - juniors - seniors
    return freshmen
Question: Ash has 150 Pokémon.
He has 30 Pikachus, 20 Squirtles, 15 Charmanders, and the rest are Bulbasaurs.
How many Bulbasaurs does he have?

Solution:
def solution():
    #Ash has 150 Pokémon
    pokemon_total = 150
    #30 Pikachus, 20 Squirtles, 15 Charmanders
    pokemon_pikachu = 30
    pokemon_squirtle = 20
    pokemon_charmander = 15
    #The rest are Bulbasaurs
    pokemon_bulbasaur = pokemon_total - pokemon_pikachu - pokemon_squirtle - pokemon_charmander
    return pokemon_bulbasaur
Question: The zoo has 200 animals.
20% of the animals are lions.
30% of the animals are tigers.
25% of the animals are bears.
15% of the animals are monkeys.
10% of the animals are other animals.
How many animals are other animals?

Solution:
def solution():
    #Total number of animals
    total_animals = 200
    #Percentage of lions, tigers, bears, and monkeys
    lions_percent = 0.20
    tigers_percent = 0.30
    bears_percent = 0.25
    monkeys_percent = 0.15
    #Percentage of other animals
    other_animals_percent = 0.10
    #The answer is
    result = total_animals * other_animals_percent
    return result
Question: Iron Man has 50 armor suits. 10 of them are for space. 20 of them are for underwater. 10 of them are for stealth. 5 of them are for the Hulkbuster. How many armor suits does Iron Man have for other purposes?

Solution:
def solution():
    #Iron Man has 50 armor suits
    armor_suits_total = 50
    #10 of them are for space
    armor_suits_space = 10
    #20 of them are for underwater
    armor_suits_underwater = 20
    #10 of them are for stealth
    armor_suits_stealth = 10
    #5 of them are for the Hulkbuster
    armor_suits_hulkbuster = 5
    #The answer is
    result = armor_suits_total - armor_suits_space - armor_suits_underwater - armor_suits_stealth
    return result
Question: T'Challa, the Black Panther, has 100 vibranium-infused nails. He uses 10 nails to board up a window. He then uses 15 nails to build a fence. He uses 20 nails to build a door. How many nails does he have left?

Solution:
def solution():
    #T'Challa started with 100 nails
    nails_initial = 100
    #He used 10 nails to board up a window
    nails_used_window = 10
    #He used 15 nails to build a fence
    nails_used_fence = 15
    #He used 20 nails to build a door
    nails_used_door = 20
    #The answer is
    result = nails_initial - nails_used_window - nails_used_fence - nails_used_door
    return result
Question: A Navajo weaver is making a blanket. She weaves 300 threads per day. It will take 12000 threads to weave a blanket. How many days will it take to weave 4 blankets?

Solution:
def solution():
    #A Navajo weaver is making a blanket. She weaves 300 threads per day.
    threads_per_day = 300
    #It will take 12000 threads to weave a blanket.
    threads_per_blanket = 12000
    #How many days will it take to weave 4 blankets?
    blankets = 4
    #The answer is
    result = (threads_per_day * blankets) / threads_per_blanket
    return result
Question: There are 20000 people in a city. 1/4 of the people in the city play soccer. 1/5 of the people in the city play basketball. 1/8 of the people in the city play chess. How many more people play soccer than chess?

Solution:
def solution():
    #Total people in the city
    total_people = 20000
    #People who play soccer, basketball and chess
    soccer_players = total_people / 4
    basketball_players = total_people / 5
    chess_players = total_people / 8
    #The answer is
    result = soccer_players - chess_players
    return result
Question: Captain America is 6 feet 2 inches tall. 1 inch is 2.54 cm. How many cm is Captain America tall?

Solution:
def solution():
    #Captain America is 6 feet 2 inches tall
    height_in_feet = 6
    height_in_inches = 2
    #1 foot is 30.48 cm and 1 inch is 2.54 cm
    feet_to_cm = 30.48
    inch_to_cm = 2.54
    #The answer is
    result = (height_in_feet * feet_to_cm) + (height_in_inches * inch_to_cm)
    return result
Question: If 10 of your friends and 10 of your enemies are in a room, and you add 10 more of your friends and 10 more of your enemies, how many more friends than enemies are in the room?

Solution:
def solution():
    #Initially, there are 10 friends and 10 enemies in the room
    friends_initial = 10
    enemies_initial = 10
    #You add 10 more friends and 10 more enemies
    friends_added = 10
    enemies_added = 10
    #The answer is
    result = (friends_initial + friends_added) - (enemies_initial + enemies_added)
    return result

In [21]:
18397+2093

20490