## Import Dependencies and Load in Data At Correct Index

In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_csv('Data/mathwell-mathematics-assessment-through-word-problems-extracted-from-large-language-models-classifications.csv')
df.head(15)

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
0,501808106,bryanchrist,2631956.0,47b3733b3bb7de5f8a21,24740,Classify Questions,37.630,2023-07-18 16:13:14 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
1,501808147,bryanchrist,2631956.0,47b3733b3bb7de5f8a21,24740,Classify Questions,37.630,2023-07-18 16:13:27 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
2,501808176,bryanchrist,2631956.0,47b3733b3bb7de5f8a21,24740,Classify Questions,37.630,2023-07-18 16:13:36 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
3,501808272,bryanchrist,2631956.0,47b3733b3bb7de5f8a21,24740,Classify Questions,37.630,2023-07-18 16:14:12 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
4,501809115,bryanchrist,2631956.0,47b3733b3bb7de5f8a21,24740,Classify Questions,37.630,2023-07-18 16:19:32 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90771026"":{""retired"":null,""Filename"":""questi...",90771026
5,502530605,bryanchrist,2631956.0,2d8f820fc511e3c3d468,24740,Classify Questions,59.890,2023-07-22 14:35:52 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90909912"":{""retired"":null,""Filename"":""questi...",90909912
6,502530740,bryanchrist,2631956.0,2d8f820fc511e3c3d468,24740,Classify Questions,59.890,2023-07-22 14:36:29 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90909912"":{""retired"":null,""Filename"":""questi...",90909912
7,502530763,bryanchrist,2631956.0,2d8f820fc511e3c3d468,24740,Classify Questions,59.890,2023-07-22 14:36:40 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90909912"":{""retired"":null,""Filename"":""questi...",90909912
8,503198522,jkropko,2110353.0,6b95d62598e04df878d7,24740,Classify Questions,60.890,2023-07-26 18:26:36 UTC,NaN,NaN,"{""source"":""api"",""session"":""c87536943eb045f6e81...","[{""task"":""T0"",""task_label"":""Is this question s...","{""90909912"":{""retired"":null,""Filename"":""questi...",90909912
9,504561981,bryanchrist,2631956.0,7acc4d52d76efe6de842,24740,Classify Questions,60.920,2023-08-03 19:28:47 UTC,NaN,NaN,"{""source"":""api"",""session"":""f7a34da39549ed541b2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""91116935"":{""retired"":null,""Filename"":""llama6...",91116935
10,504562164,bryanchrist,2631956.0,7acc4d52d76efe6de842,24740,Classify Questions,60.920,2023-08-03 19:29:46 UTC,NaN,NaN,"{""source"":""api"",""session"":""f7a34da39549ed541b2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""91116538"":{""retired"":null,""Filename"":""llama6...",91116538
11,504562395,bryanchrist,2631956.0,8e005023d4154af0e802,24740,Classify Questions,60.920,2023-08-03 19:31:11 UTC,NaN,NaN,"{""source"":""api"",""session"":""f7a34da39549ed541b2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""91116497"":{""retired"":null,""Filename"":""llama6...",91116497
12,516704643,bryanchrist,2631956.0,76aa0e39288a5480cfa6,24740,Classify Questions,71.102,2023-10-17 18:36:33 UTC,NaN,NaN,"{""source"":""api"",""session"":""9a2534a2cdf37064e69...","[{""task"":""T0"",""task_label"":""Is this question s...","{""91116854"":{""retired"":null,""Filename"":""llama6...",91116854
13,517555762,bryanchrist,2631956.0,1da4f6650f0562454ac2,24740,Classify Questions,76.103,2023-10-21 17:09:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""56b6648b174ee3edf3c...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652320"":{""retired"":null,""Filename"":""questi...",92652320
14,517555890,bryanchrist,2631956.0,1da4f6650f0562454ac2,24740,Classify Questions,76.103,2023-10-21 17:10:35 UTC,NaN,NaN,"{""source"":""api"",""session"":""56b6648b174ee3edf3c...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92651642"":{""retired"":null,""Filename"":""questi...",92651642

In [3]:
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['annotations'])
    try:
        if my_json[2]['task_label']=='Would you feel comfortable giving this question to a student? Although questions have various difficulties, a middle school student should be able to solve them all.':
            start_index = i
            break
    except:
        pass
df = df[start_index:]
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
18,518098408,jkropko,2110353.0,db1fe4588b9bc361fbbb,24740,Classify Questions,109.155,2023-10-24 14:54:44 UTC,NaN,NaN,"{""source"":""api"",""session"":""acac086602c98919e39...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652903"":{""retired"":{""id"":121033819,""workfl...",92652903
19,518099549,jkropko,2110353.0,0dea4c4ecfb01d8aebce,24740,Classify Questions,109.155,2023-10-24 14:59:42 UTC,NaN,NaN,"{""source"":""api"",""session"":""acac086602c98919e39...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92654135"":{""retired"":{""id"":121038345,""workfl...",92654135
20,518100455,jkropko,2110353.0,f8001572955401db25e1,24740,Classify Questions,109.155,2023-10-24 15:03:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""acac086602c98919e39...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652729"":{""retired"":null,""Filename"":""questi...",92652729
21,518157865,bryanchrist,2631956.0,2b9671e75990a4adfce9,24740,Classify Questions,109.155,2023-10-24 18:30:06 UTC,NaN,NaN,"{""source"":""api"",""session"":""1609a40925358ed6be2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92653816"":{""retired"":null,""Filename"":""questi...",92653816
22,518158311,bryanchrist,2631956.0,2b9671e75990a4adfce9,24740,Classify Questions,109.155,2023-10-24 18:31:20 UTC,NaN,NaN,"{""source"":""api"",""session"":""1609a40925358ed6be2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92653934"":{""retired"":{""id"":121031492,""workfl...",92653934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4710,524890048,not-logged-in-23751c275f3c4ec55bc5,NaN,23751c275f3c4ec55bc5,24740,Classify Questions,114.184,2023-11-26 12:42:49 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652603"":{""retired"":null,""Filename"":""questi...",92652603
4711,524890102,not-logged-in-23751c275f3c4ec55bc5,NaN,23751c275f3c4ec55bc5,24740,Classify Questions,114.184,2023-11-26 12:43:12 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92651473"":{""retired"":{""id"":121035471,""workfl...",92651473
4712,524890177,not-logged-in-23751c275f3c4ec55bc5,NaN,23751c275f3c4ec55bc5,24740,Classify Questions,114.184,2023-11-26 12:43:51 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92651661"":{""retired"":null,""Filename"":""questi...",92651661
4713,524890225,not-logged-in-378b503cb70714e538a2,NaN,378b503cb70714e538a2,24740,Classify Questions,114.184,2023-11-26 12:44:10 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92654067"":{""retired"":{""id"":121015693,""workfl...",92654067
4714,524890391,not-logged-in-378b503cb70714e538a2,NaN,378b503cb70714e538a2,24740,Classify Questions,114.184,2023-11-26 12:45:05 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92650538"":{""retired"":{""id"":121039218,""workfl...",92650538

## Create Appropriateness, Solvability, Accuracy, and Notes Columns

In [4]:
solvability = []
accuracy = []
appropriateness = []
notes = []
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['annotations'])
    solvability.append(my_json[0]['value'])
    if my_json[1]['task']=='T4':
        accuracy.append(my_json[1]['value'])
    if my_json[1]['task']!='T4':
        accuracy.append("NA")
        appropriateness.append(my_json[1]['value'])
    if my_json[2]['task']=='T1':
        appropriateness.append(my_json[2]['value'])
    if my_json[2]['task']!='T1':
        notes.append(my_json[2]['value'])
    try:
        notes.append(my_json[3]['value'])
    except:
        pass
df['solvability']=solvability
df['appropriateness']=appropriateness
df['accuracy']=accuracy
df['notes']=notes

In [5]:
df['user_name'].value_counts()

bryanchrist                           3233
kidleader                              581
not-logged-in-b0aee0d4c1c61cc42c3b     204
Raceaturtle                            200
MACraven                                50
                                      ...
not-logged-in-69f16536dd294abc7790       1
not-logged-in-476dbf0b60e0ea46723b       1
not-logged-in-d1eae7049c43d2cd1f84       1
not-logged-in-451f05d64d75b73743b4       1
not-logged-in-4bfdcc5ce5f7c361f517       1
Name: user_name, Length: 111, dtype: int64

## Look at Initial Statistics

In [6]:
df['appropriateness'].value_counts()

Yes: This question is understandable, appropriate and a middle school student or younger could solve it      3348
No: This question is strange, confusing, contains conflicting information, and/or is not based in reality    1065
No: This question contains inappropriate material                                                             105
No: The question is too hard, even for a middle school student                                                 70
No: This question contains distracting typos or grammatical errors                                             62
No: This question is strange, contains confusing or conflicting wording, and/or is not based in reality        25
No: This question is strange or confusing                                                                      22
Name: appropriateness, dtype: int64

In [7]:
df['accuracy'].value_counts()

Yes    3490
NA      680
No      527
Name: accuracy, dtype: int64

In [8]:
df['solvability'].value_counts()

Yes    4017
No      680
Name: solvability, dtype: int64

In [9]:
temp = df[df['notes']!=""]
temp

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids,solvability,appropriateness,accuracy,notes
186,518709509,not-logged-in-e0643fb036bd894bb2db,NaN,e0643fb036bd894bb2db,24740,Classify Questions,114.169,2023-10-26 21:34:44 UTC,NaN,NaN,"{""source"":""api"",""session"":""cab4af948923ae20b20...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92653922"":{""retired"":{""id"":121022365,""workfl...",92653922,Yes,"Yes: This question is understandable, appropri...",Yes,Very niche knowledge of volleyball
190,518710516,not-logged-in-e29c26949be465401a12,NaN,e29c26949be465401a12,24740,Classify Questions,114.169,2023-10-26 21:39:36 UTC,NaN,NaN,"{""source"":""api"",""session"":""cab4af948923ae20b20...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92650739"":{""retired"":null,""Filename"":""questi...",92650739,No,"No: This question is strange, confusing, conta...",NA,Diet is not the right word. There is also no o...
204,518734315,not-logged-in-6dea7bde787c428b0933,NaN,6dea7bde787c428b0933,24740,Classify Questions,114.169,2023-10-27 00:31:47 UTC,NaN,NaN,"{""source"":""api"",""session"":""cab4af948923ae20b20...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652322"":{""retired"":null,""Filename"":""questi...",92652322,No,"No: This question is strange, confusing, conta...",NA,We can’t have negative icecreams
205,518734316,not-logged-in-6dea7bde787c428b0933,NaN,6dea7bde787c428b0933,24740,Classify Questions,114.169,2023-10-27 00:31:47 UTC,NaN,NaN,"{""source"":""api"",""session"":""cab4af948923ae20b20...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92653257"":{""retired"":{""id"":121033951,""workfl...",92653257,No,"No: This question is strange, confusing, conta...",NA,Here- horse power is measure in multiples comp...
208,518734491,not-logged-in-6dea7bde787c428b0933,NaN,6dea7bde787c428b0933,24740,Classify Questions,114.169,2023-10-27 00:33:06 UTC,NaN,NaN,"{""source"":""api"",""session"":""cab4af948923ae20b20...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92651009"":{""retired"":null,""Filename"":""questi...",92651009,Yes,"Yes: This question is understandable, appropri...",Yes,This could be seen as a trick question…
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4633,524659555,not-logged-in-18bb633b394aae1f0c62,NaN,18bb633b394aae1f0c62,24740,Classify Questions,114.184,2023-11-24 22:48:20 UTC,NaN,NaN,"{""source"":""api"",""session"":""63e2202cdd07b570934...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92651109"":{""retired"":null,""Filename"":""questi...",92651109,No,"No: This question is strange, confusing, conta...",NA,Requires more information such as cost to make...
4635,524659882,not-logged-in-4bd51f23015693439d92,NaN,4bd51f23015693439d92,24740,Classify Questions,114.184,2023-11-24 22:50:16 UTC,NaN,NaN,"{""source"":""api"",""session"":""63e2202cdd07b570934...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652250"":{""retired"":{""id"":121037589,""workfl...",92652250,Yes,"Yes: This question is understandable, appropri...",No,Requires review of background information: how...
4639,524660227,not-logged-in-137c36b3485c42787163,NaN,137c36b3485c42787163,24740,Classify Questions,114.184,2023-11-24 22:52:57 UTC,NaN,NaN,"{""source"":""api"",""session"":""63e2202cdd07b570934...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92650673"":{""retired"":{""id"":121019771,""workfl...",92650673,Yes,"Yes: This question is understandable, appropri...",Yes,Mid-elementary level
4640,524660382,not-logged-in-137c36b3485c42787163,NaN,137c36b3485c42787163,24740,Classify Questions,114.184,2023-11-24 22:54:10 UTC,NaN,NaN,"{""source"":""api"",""session"":""63e2202cdd07b570934...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92654331"":{""retired"":{""id"":121023972,""workfl...",92654331,Yes,"Yes: This question is understandable, appropri...",No,Flow chart model would work well
4707,524889687,not-logged-in-6a006bd1f92e53f60dca,NaN,6a006bd1f92e53f60dca,24740,Classify Questions,114.184,2023-11-26 12:39:28 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92654047"":{""retired"":null,""Filename"":""questi...",92654047,Yes,"No: This question is strange, confusing, conta...",Yes,Wording of the question is a bit confusing

## Assign Question Numbers

In [10]:
question_numbers = []
for i in range(0, len(df)):
    my_json = json.loads(df.iloc[i]['subject_data'])
    subject_id = df.iloc[i]['subject_ids']
    question_number = my_json[f'{subject_id}']['Filename']
    question_number = question_number.split(".txt")[0]
    question_numbers.append(question_number)
df['question_number']=question_numbers

In [11]:
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids,solvability,appropriateness,accuracy,notes,question_number
18,518098408,jkropko,2110353.0,db1fe4588b9bc361fbbb,24740,Classify Questions,109.155,2023-10-24 14:54:44 UTC,NaN,NaN,"{""source"":""api"",""session"":""acac086602c98919e39...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652903"":{""retired"":{""id"":121033819,""workfl...",92652903,Yes,"Yes: This question is understandable, appropri...",Yes,,question_2022
19,518099549,jkropko,2110353.0,0dea4c4ecfb01d8aebce,24740,Classify Questions,109.155,2023-10-24 14:59:42 UTC,NaN,NaN,"{""source"":""api"",""session"":""acac086602c98919e39...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92654135"":{""retired"":{""id"":121038345,""workfl...",92654135,Yes,"Yes: This question is understandable, appropri...",Yes,,question_2977
20,518100455,jkropko,2110353.0,f8001572955401db25e1,24740,Classify Questions,109.155,2023-10-24 15:03:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""acac086602c98919e39...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652729"":{""retired"":null,""Filename"":""questi...",92652729,Yes,"No: The question is too hard, even for a middl...",No,,question_1879
21,518157865,bryanchrist,2631956.0,2b9671e75990a4adfce9,24740,Classify Questions,109.155,2023-10-24 18:30:06 UTC,NaN,NaN,"{""source"":""api"",""session"":""1609a40925358ed6be2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92653816"":{""retired"":null,""Filename"":""questi...",92653816,No,No: This question is strange or confusing,NA,,question_2716
22,518158311,bryanchrist,2631956.0,2b9671e75990a4adfce9,24740,Classify Questions,109.155,2023-10-24 18:31:20 UTC,NaN,NaN,"{""source"":""api"",""session"":""1609a40925358ed6be2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92653934"":{""retired"":{""id"":121031492,""workfl...",92653934,No,No: This question is strange or confusing,NA,,question_2810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4710,524890048,not-logged-in-23751c275f3c4ec55bc5,NaN,23751c275f3c4ec55bc5,24740,Classify Questions,114.184,2023-11-26 12:42:49 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652603"":{""retired"":null,""Filename"":""questi...",92652603,Yes,"Yes: This question is understandable, appropri...",Yes,,question_1778
4711,524890102,not-logged-in-23751c275f3c4ec55bc5,NaN,23751c275f3c4ec55bc5,24740,Classify Questions,114.184,2023-11-26 12:43:12 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92651473"":{""retired"":{""id"":121035471,""workfl...",92651473,Yes,"Yes: This question is understandable, appropri...",Yes,,question_873
4712,524890177,not-logged-in-23751c275f3c4ec55bc5,NaN,23751c275f3c4ec55bc5,24740,Classify Questions,114.184,2023-11-26 12:43:51 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92651661"":{""retired"":null,""Filename"":""questi...",92651661,Yes,"Yes: This question is understandable, appropri...",Yes,,question_1020
4713,524890225,not-logged-in-378b503cb70714e538a2,NaN,378b503cb70714e538a2,24740,Classify Questions,114.184,2023-11-26 12:44:10 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92654067"":{""retired"":{""id"":121015693,""workfl...",92654067,Yes,"Yes: This question is understandable, appropri...",Yes,,question_2920
4714,524890391,not-logged-in-378b503cb70714e538a2,NaN,378b503cb70714e538a2,24740,Classify Questions,114.184,2023-11-26 12:45:05 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92650538"":{""retired"":{""id"":121039218,""workfl...",92650538,Yes,"Yes: This question is understandable, appropri...",Yes,,question_114

In [12]:
import numpy as np
replace_map = {"Yes": 1, "No": 0, "NA": np.nan}
df['solvability'] = df['solvability'].replace(replace_map)
df['accuracy'] = df['accuracy'].replace(replace_map)
replace_map = {"Yes: This question is understandable, appropriate and a middle school student or younger could solve it ": 1, 
               "No: This question is strange, confusing, contains conflicting information, and/or is not based in reality": 0, 
               "No: This question contains distracting typos or grammatical errors": 0, 
               "No: This question contains inappropriate material": 0, 
              "No: The question is too hard, even for a middle school student": 0, 
            "No: This question is strange, confusing, contains conflicting information, and/or is not based in reality":0,
            "No: This question contains inappropriate material":0,
                "No: The question is too hard, even for a middle school student":0,
            "No: This question contains distracting typos or grammatical errors": 0,
            "No: This question is strange, contains confusing or conflicting wording, and/or is not based in reality":0,
                "No: This question is strange or confusing":0  }
df['appropriateness'] = df['appropriateness'].replace(replace_map)

In [13]:
df

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids,solvability,appropriateness,accuracy,notes,question_number
18,518098408,jkropko,2110353.0,db1fe4588b9bc361fbbb,24740,Classify Questions,109.155,2023-10-24 14:54:44 UTC,NaN,NaN,"{""source"":""api"",""session"":""acac086602c98919e39...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652903"":{""retired"":{""id"":121033819,""workfl...",92652903,1,1,1.0,,question_2022
19,518099549,jkropko,2110353.0,0dea4c4ecfb01d8aebce,24740,Classify Questions,109.155,2023-10-24 14:59:42 UTC,NaN,NaN,"{""source"":""api"",""session"":""acac086602c98919e39...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92654135"":{""retired"":{""id"":121038345,""workfl...",92654135,1,1,1.0,,question_2977
20,518100455,jkropko,2110353.0,f8001572955401db25e1,24740,Classify Questions,109.155,2023-10-24 15:03:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""acac086602c98919e39...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652729"":{""retired"":null,""Filename"":""questi...",92652729,1,0,0.0,,question_1879
21,518157865,bryanchrist,2631956.0,2b9671e75990a4adfce9,24740,Classify Questions,109.155,2023-10-24 18:30:06 UTC,NaN,NaN,"{""source"":""api"",""session"":""1609a40925358ed6be2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92653816"":{""retired"":null,""Filename"":""questi...",92653816,0,0,NaN,,question_2716
22,518158311,bryanchrist,2631956.0,2b9671e75990a4adfce9,24740,Classify Questions,109.155,2023-10-24 18:31:20 UTC,NaN,NaN,"{""source"":""api"",""session"":""1609a40925358ed6be2...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92653934"":{""retired"":{""id"":121031492,""workfl...",92653934,0,0,NaN,,question_2810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4710,524890048,not-logged-in-23751c275f3c4ec55bc5,NaN,23751c275f3c4ec55bc5,24740,Classify Questions,114.184,2023-11-26 12:42:49 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92652603"":{""retired"":null,""Filename"":""questi...",92652603,1,1,1.0,,question_1778
4711,524890102,not-logged-in-23751c275f3c4ec55bc5,NaN,23751c275f3c4ec55bc5,24740,Classify Questions,114.184,2023-11-26 12:43:12 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92651473"":{""retired"":{""id"":121035471,""workfl...",92651473,1,1,1.0,,question_873
4712,524890177,not-logged-in-23751c275f3c4ec55bc5,NaN,23751c275f3c4ec55bc5,24740,Classify Questions,114.184,2023-11-26 12:43:51 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92651661"":{""retired"":null,""Filename"":""questi...",92651661,1,1,1.0,,question_1020
4713,524890225,not-logged-in-378b503cb70714e538a2,NaN,378b503cb70714e538a2,24740,Classify Questions,114.184,2023-11-26 12:44:10 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92654067"":{""retired"":{""id"":121015693,""workfl...",92654067,1,1,1.0,,question_2920
4714,524890391,not-logged-in-378b503cb70714e538a2,NaN,378b503cb70714e538a2,24740,Classify Questions,114.184,2023-11-26 12:45:05 UTC,NaN,NaN,"{""source"":""api"",""session"":""382203dd05c6b3c87df...","[{""task"":""T0"",""task_label"":""Is this question s...","{""92650538"":{""retired"":{""id"":121039218,""workfl...",92650538,1,1,1.0,,question_114

## Retain Necessary Columns and Aggregate Ratings

In [14]:
df = df[['user_name','question_number', 'solvability', 'accuracy', 'appropriateness', 'notes']]

In [15]:
# 1. Group by question and calculate the average score
df['average_solvability'] = df.groupby('question_number')['solvability'].transform('mean')
df['average_accuracy'] = df.groupby('question_number')['accuracy'].transform('mean')
df['average_appropriateness']=df.groupby('question_number')['appropriateness'].transform('mean')

<ipython-input-15-a4e0bc7177f0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_solvability'] = df.groupby('question_number')['solvability'].transform('mean')
<ipython-input-15-a4e0bc7177f0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_accuracy'] = df.groupby('question_number')['accuracy'].transform('mean')
<ipython-input-15-a4e0bc7177f0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['average_appropriateness']=df.groupby('question_number')['appropriateness'].transform('mean')

In [16]:
df

,user_name,question_number,solvability,accuracy,appropriateness,notes,average_solvability,average_accuracy,average_appropriateness
18,jkropko,question_2022,1,1.0,1,,1.0,1.0,1.000000
19,jkropko,question_2977,1,1.0,1,,1.0,1.0,1.000000
20,jkropko,question_1879,1,0.0,0,,1.0,0.0,0.000000
21,bryanchrist,question_2716,0,NaN,0,,0.0,NaN,0.000000
22,bryanchrist,question_2810,0,NaN,0,,0.0,NaN,0.000000
...,...,...,...,...,...,...,...,...,...
4710,not-logged-in-23751c275f3c4ec55bc5,question_1778,1,1.0,1,,1.0,1.0,1.000000
4711,not-logged-in-23751c275f3c4ec55bc5,question_873,1,1.0,1,,1.0,1.0,0.666667
4712,not-logged-in-23751c275f3c4ec55bc5,question_1020,1,1.0,1,,1.0,1.0,1.000000
4713,not-logged-in-378b503cb70714e538a2,question_2920,1,1.0,1,,1.0,1.0,1.000000
4714,not-logged-in-378b503cb70714e538a2,question_114,1,1.0,1,,1.0,1.0,0.666667

In [17]:
df['average_accuracy'].value_counts()

1.000000    3526
0.000000     471
0.500000     159
0.666667      45
0.333333      21
Name: average_accuracy, dtype: int64

In [18]:
df = df[['question_number', 'average_accuracy', 'average_appropriateness', 'average_solvability']]
def accuracy(df):
    if df['average_accuracy']>.5:
        return 1
    if df['average_accuracy']==np.nan:
        return np.nan
    if df['average_accuracy']<=0.5:
        return 0
def solvability(df):
    if df['average_solvability']>.5:
        return 1
    else:
        return 0
def appropriateness(df):
    if df['average_appropriateness']>.5:
        return 1
    else:
        return 0
df['solvability']=df.apply(solvability, axis=1)
df['appropriateness']=df.apply(appropriateness, axis=1)
df['accuracy']=df.apply(accuracy, axis=1)
df = df[['question_number', 'accuracy', 'solvability', 'appropriateness']]
df = df.drop_duplicates()
df

<ipython-input-18-ce79b95c83ac>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['solvability']=df.apply(solvability, axis=1)
<ipython-input-18-ce79b95c83ac>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['appropriateness']=df.apply(appropriateness, axis=1)
<ipython-input-18-ce79b95c83ac>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['accuracy']=df.apply(accuracy, axis=1)

     question_number  accuracy  solvability  appropriateness
18     question_2022       1.0            1                1
19     question_2977       1.0            1                1
20     question_1879       0.0            1                0
21     question_2716       NaN            0                0
22     question_2810       NaN            0                0
...              ...       ...          ...              ...
4700   question_2918       1.0            1                1
4701   question_2349       1.0            1                1
4702   question_2756       0.0            1                1
4703   question_1282       1.0            1                1
4705   question_3033       1.0            1                1

[3234 rows x 4 columns]

In [19]:
df_temp = df[df['solvability']==1]
df_temp = df_temp[df_temp['accuracy']==1]
df_temp = df_temp[df_temp['appropriateness']==1]
len(df_temp)/len(df)

0.5819418676561534

## Merge DF with Question Data and Send to CSV

In [20]:
questions = pd.read_csv('llama_QA_questions.csv')
questions

,Unnamed: 0,question,solution,answer,topic,question_number
0,584,4 unicorns ate 24 apples. 3 of the unicorns at...,def solution():\n #4 unicorns ate 24 apples...,0,unicorns,question_0
1,562,240 scoops of ice cream were evenly divided in...,def solution():\n #Total scoops of ice crea...,8.0,ice cream,question_1
2,1107,T'Challa is the king of Wakanda. He has 2000 w...,def solution():\n #T'Challa has 2000 warrio...,1500,Black Panther,question_2
3,199,24 cars were in a parking lot. 14 more cars ca...,def solution():\n #There were 24 cars in th...,31,cars,question_3
4,1080,A lacrosse team has 24 players. 11 of the play...,def solution():\n #Total players\n total...,0,lacrosse,question_4
...,...,...,...,...,...,...
3231,692,"Barbie has 245 1s, 225 5s, 123 10s, and 124 20...",def solution():\n #Barbie has 245 1s\n o...,5080,Barbie,question_3231
3232,862,"Thor, the God of Thunder, is 2000 years old. 1...",def solution():\n #Thor is 2000 years old\n...,2250,Thor,question_3232
3233,283,"Wonder Woman is 6,000 years old. 5,000 years a...","def solution():\n #Wonder Woman is 6,000 ye...",1100,Wonder Woman,question_3233
3234,237,The mall has 521 parking spots. 128 of the par...,def solution():\n #Total parking spots\n ...,100,NaN,question_3234
3235,133,3000 cookies are baked in an oven. 2/5 of the ...,def solution():\n #3000 cookies are baked\n...,3000,cookies,question_3235

In [21]:
merged = pd.merge(df, questions,
              on = 'question_number',
              how='inner',
              validate='one_to_one', 
              indicator = 'matched')
merged['matched'].value_counts()

both          3234
left_only        0
right_only       0
Name: matched, dtype: int64

In [22]:
merged = pd.merge(df, questions,
              on = 'question_number',
              how='inner')
merged

,question_number,accuracy,solvability,appropriateness,Unnamed: 0,question,solution,answer,topic
0,question_2022,1.0,1,1,110,LeBron James has 30000 points. He has 1000 mor...,def solution():\n #LeBron James has 30000 p...,29000,LeBron James
1,question_2977,1.0,1,1,560,A class has 120 students. 40 of them are in th...,def solution():\n #The total number of stud...,0,NaN
2,question_1879,0.0,1,0,1226,"In the first year at Hogwarts, Harry Potter, R...",def solution():\n #Total spells cast\n t...,24,Harry Potter
3,question_2716,NaN,0,0,378,A 3-pound cake of butter is 90% fat. 3.5 ounce...,def solution():\n #A 3-pound cake of butter...,12.342857142857143,NaN
4,question_2810,NaN,0,0,554,A train is 1500 feet long. 200 of its cars are...,def solution():\n #The total length of the ...,20.0,trains
...,...,...,...,...,...,...,...,...,...
3229,question_2918,1.0,1,1,391,1000 people were at the 1998 reunion. 200 more...,def solution():\n #1000 people were at the ...,1500,NaN
3230,question_2349,1.0,1,1,136,312 toys are in the toy box. 41 toys are in th...,def solution():\n #toys in toy box\n toy...,548,NaN
3231,question_2756,0.0,1,1,1284,Hello Kitty is 11.5 years old. 1.5 of her year...,def solution():\n #Hello Kitty is 11.5 year...,20.5,Hello Kitty
3232,question_1282,1.0,1,1,250,120 5th-graders are on a field trip. 1/3 of th...,def solution():\n #Total number of 5th grad...,8,NaN
3233,question_3033,1.0,1,1,416,2000 people in a theater were to be evacuated ...,def solution():\n #2000 people were to be e...,500,NaN

review_questions = merged.query('accuracy==0.0')
review_questions.to_csv('data/questions_to_review.csv')

In [23]:
merged = merged.query('accuracy!=0.0')
edited = pd.read_csv('data/questions_to_review.csv')
merged = pd.concat([merged, edited])
merged

,question_number,accuracy,solvability,appropriateness,Unnamed: 0,question,solution,answer,topic,Unnamed: 0.1
0,question_2022,1.0,1,1,110,LeBron James has 30000 points. He has 1000 mor...,def solution():\n #LeBron James has 30000 p...,29000,LeBron James,NaN
1,question_2977,1.0,1,1,560,A class has 120 students. 40 of them are in th...,def solution():\n #The total number of stud...,0,NaN,NaN
3,question_2716,NaN,0,0,378,A 3-pound cake of butter is 90% fat. 3.5 ounce...,def solution():\n #A 3-pound cake of butter...,12.342857142857143,NaN,NaN
4,question_2810,NaN,0,0,554,A train is 1500 feet long. 200 of its cars are...,def solution():\n #The total length of the ...,20.0,trains,NaN
5,question_97,1.0,1,1,302,Naruto has 5000 ryo. He spends 1000 ryo on a n...,def solution():\n #Naruto started with 5000...,-1000,Naruto,NaN
...,...,...,...,...,...,...,...,...,...,...
420,question_994,0.0,1,0,3068,A field hockey game has 11 players per team. T...,def solution():\n #A field hockey game has ...,33,field hockey,820.0
421,question_3176,0.0,1,0,3083,100 turtles are at the pond. 10 turtles are ea...,def solution():\n #Total turtles\n total...,0,Ninja Turtles,408.0
422,question_1663,0.0,0,0,3096,Barbie has 1200 Instagram followers. 200 more ...,def solution():\n #Barbie started with 1200...,1150,Barbie,176.0
423,question_2565,0.0,1,0,3201,1234567890 is a 10-digit number. \nHow many 3-...,def solution():\n #10-digit number has 10 d...,3.3333333333333335,candy,213.0
424,question_2280,0.0,0,0,3216,7 cats and 23 dogs are in a cage. 14 of the an...,def solution():\n #Total cats and dogs\n ...,13,cats,955.0

In [24]:
merged['text'] = "Question: " + merged['question'] + "\nSolution:\n" + merged['solution'] + "\nAnswer: " + merged['answer']

In [25]:
print(merged.iloc[0]['text'])

Question: LeBron James has 30000 points. He has 1000 more points than 2019. How many points did he have in 2019?
Solution:
def solution():
    #LeBron James has 30000 points
    points_2020 = 30000
    #He has 1000 more points than 2019
    points_2019 = points_2020 - 1000
    return points_2019
Answer: 29000

In [26]:
solvability = merged[['solvability', 'text']]
solvability = solvability.rename({'solvability': 'label'}, axis=1)
solvability.to_csv('data/solvability.csv')
solvability

     label                                               text
0        1  Question: LeBron James has 30000 points. He ha...
1        1  Question: A class has 120 students. 40 of them...
3        0  Question: A 3-pound cake of butter is 90% fat....
4        0  Question: A train is 1500 feet long. 200 of it...
5        1  Question: Naruto has 5000 ryo. He spends 1000 ...
..     ...                                                ...
420      1  Question: A field hockey game has 11 players p...
421      1  Question: 100 turtles are at the pond. 10 turt...
422      0  Question: Barbie has 1200 Instagram followers....
423      1  Question: 1234567890 is a 10-digit number. \nH...
424      0  Question: 7 cats and 23 dogs are in a cage. 14...

[3234 rows x 2 columns]

In [27]:
len(df[df['solvability']==0])

569

In [28]:
solvability['label'].mean()

0.8225108225108225

In [29]:
accuracy = merged[['accuracy', 'text']]
accuracy = accuracy[accuracy['accuracy'].notna()]
accuracy = accuracy.rename({'accuracy': 'label'}, axis=1)
accuracy.to_csv('data/accuracy.csv')
accuracy

     label                                               text
0      1.0  Question: LeBron James has 30000 points. He ha...
1      1.0  Question: A class has 120 students. 40 of them...
5      1.0  Question: Naruto has 5000 ryo. He spends 1000 ...
6      1.0  Question: Hello Kitty has 12 pencils. She boug...
7      1.0  Question: Wonder Woman's lasso of truth can ho...
..     ...                                                ...
420    0.0  Question: A field hockey game has 11 players p...
421    0.0  Question: 100 turtles are at the pond. 10 turt...
422    0.0  Question: Barbie has 1200 Instagram followers....
423    0.0  Question: 1234567890 is a 10-digit number. \nH...
424    0.0  Question: 7 cats and 23 dogs are in a cage. 14...

[2830 rows x 2 columns]

In [30]:
len(df[df['accuracy']==0])

425

In [31]:
accuracy['label'].mean()

0.8583038869257951

In [32]:
appropriateness = merged[['appropriateness', 'text']]
appropriateness = appropriateness.rename({'appropriateness': 'label'}, axis = 1)
appropriateness.to_csv('data/appropriateness.csv')
appropriateness

     label                                               text
0        1  Question: LeBron James has 30000 points. He ha...
1        1  Question: A class has 120 students. 40 of them...
3        0  Question: A 3-pound cake of butter is 90% fat....
4        0  Question: A train is 1500 feet long. 200 of it...
5        1  Question: Naruto has 5000 ryo. He spends 1000 ...
..     ...                                                ...
420      0  Question: A field hockey game has 11 players p...
421      0  Question: 100 turtles are at the pond. 10 turt...
422      0  Question: Barbie has 1200 Instagram followers....
423      0  Question: 1234567890 is a 10-digit number. \nH...
424      0  Question: 7 cats and 23 dogs are in a cage. 14...

[3234 rows x 2 columns]

In [33]:
appropriateness['label'].mean()

0.6598639455782312

In [34]:
def good(df):
    if df['solvability']==1:
        if df['accuracy']==1:
            if df['appropriateness']==1:
                return 1
    if df['accuracy']==np.nan:
        return 0
    else:
        return 0
merged['good'] = merged.apply(good, axis = 1)
good = merged[['good', 'text']]
good = good.rename({'good': 'label'}, axis = 1)
good.to_csv('data/good.csv')
good

     label                                               text
0        1  Question: LeBron James has 30000 points. He ha...
1        1  Question: A class has 120 students. 40 of them...
3        0  Question: A 3-pound cake of butter is 90% fat....
4        0  Question: A train is 1500 feet long. 200 of it...
5        1  Question: Naruto has 5000 ryo. He spends 1000 ...
..     ...                                                ...
420      0  Question: A field hockey game has 11 players p...
421      0  Question: 100 turtles are at the pond. 10 turt...
422      0  Question: Barbie has 1200 Instagram followers....
423      0  Question: 1234567890 is a 10-digit number. \nH...
424      0  Question: 7 cats and 23 dogs are in a cage. 14...

[3234 rows x 2 columns]

In [35]:
good['label'].mean()

0.5893630179344465

In [37]:
merged

,question_number,accuracy,solvability,appropriateness,Unnamed: 0,question,solution,answer,topic,Unnamed: 0.1,text,good
0,question_2022,1.0,1,1,110,LeBron James has 30000 points. He has 1000 mor...,def solution():\n #LeBron James has 30000 p...,29000,LeBron James,NaN,Question: LeBron James has 30000 points. He ha...,1
1,question_2977,1.0,1,1,560,A class has 120 students. 40 of them are in th...,def solution():\n #The total number of stud...,0,NaN,NaN,Question: A class has 120 students. 40 of them...,1
5,question_97,1.0,1,1,302,Naruto has 5000 ryo. He spends 1000 ryo on a n...,def solution():\n #Naruto started with 5000...,-1000,Naruto,NaN,Question: Naruto has 5000 ryo. He spends 1000 ...,1
6,question_1229,1.0,1,1,1138,Hello Kitty has 12 pencils. She bought 5 more ...,def solution():\n #Hello Kitty started with...,15,Hello Kitty,NaN,Question: Hello Kitty has 12 pencils. She boug...,1
7,question_972,1.0,1,1,126,Wonder Woman's lasso of truth can hold 30 peop...,def solution():\n #Wonder Woman's lasso can...,3.75,Wonder Woman,NaN,Question: Wonder Woman's lasso of truth can ho...,1
...,...,...,...,...,...,...,...,...,...,...,...,...
235,question_723,1.0,1,1,3151,30 unicorns are in a herd. 10 unicorns in the ...,def solution():\n #Total number of unicorns...,17,unicorns,1040.0,Question: 30 unicorns are in a herd. 10 unicor...,1
248,question_1802,1.0,1,1,143,A pizza has 8 slices. 4 of the slices have pep...,def solution():\n #A pizza has 8 slices\n ...,4,pizza,903.0,Question: A pizza has 8 slices. 4 of the slice...,1
267,question_1554,1.0,1,1,348,12000 people were at a rally. 10000 of them we...,def solution():\n #Total number of people a...,500,NaN,45.0,Question: 12000 people were at a rally. 10000 ...,1
341,question_1536,1.0,1,1,1571,A bakery made 300 muffins. 150 of the muffins ...,def solution():\n #Total muffins\n total...,60,NaN,612.0,Question: A bakery made 300 muffins. 150 of th...,1
349,question_2186,1.0,1,1,1677,A pizza is cut into 12 slices. 5 slices are to...,def solution():\n #A pizza is cut into 12 s...,6,pizza,900.0,Question: A pizza is cut into 12 slices. 5 sli...,1

## Format Good Data in Instruction Format for Further Finetuning

In [43]:
merged=merged.query("good==1")
def parse_solution(df):
    if "\nBe" in df['solution']:
        solution = df['solution'].split("\nBe")[0]
    if "##" in df['solution']:
        solution = df['solution'].split("##")[0]
    else:
        solution = df['solution']
    return solution
merged['solution'] = merged.apply(parse_solution, axis = 1)
merged['output'] = "Question: " + merged['question'] + "\n" + "Solution:\n" + merged['solution']
merged['instruction'] = "Write a grade school math word problem and Python function with a commented out step-by-step solution to solve the word problem."
merged['input']=''
merged = merged[['output', 'instruction', 'input']]
merged

,output,instruction,input
0,Question: LeBron James has 30000 points. He ha...,Write a grade school math word problem and Pyt...,
1,Question: A class has 120 students. 40 of them...,Write a grade school math word problem and Pyt...,
5,Question: Naruto has 5000 ryo. He spends 1000 ...,Write a grade school math word problem and Pyt...,
6,Question: Hello Kitty has 12 pencils. She boug...,Write a grade school math word problem and Pyt...,
7,Question: Wonder Woman's lasso of truth can ho...,Write a grade school math word problem and Pyt...,
...,...,...,...
235,Question: 30 unicorns are in a herd. 10 unicor...,Write a grade school math word problem and Pyt...,
248,Question: A pizza has 8 slices. 4 of the slice...,Write a grade school math word problem and Pyt...,
267,Question: 12000 people were at a rally. 10000 ...,Write a grade school math word problem and Pyt...,
341,Question: A bakery made 300 muffins. 150 of th...,Write a grade school math word problem and Pyt...,
349,Question: A pizza is cut into 12 slices. 5 sli...,Write a grade school math word problem and Pyt...,

In [44]:
# Save DataFrame to a JSON file
merged.to_json('data/mathwell.json', orient='records', lines=True)  # Saves each row as a separate JSON object in the file
import json

file_path = "data/mathwell.json"
data = []

with open(file_path, 'r') as json_file:
    for line in json_file:
        try:
            obj = json.loads(line)
            data.append(obj)
        except json.JSONDecodeError as e:
            print(f"Error parsing JSON on line: {line}")
output_file = "data/mathwell.json"
with open(output_file, 'w') as json_file:
    json.dump(data, json_file)

## Explore Notes

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
temp