In [4]:
from readability import Readability
import pandas as pd
import numpy as np

## GSM8K

In [12]:
gsm8k = pd.read_csv('data/gsm8k_questions.csv')
all_text = []
for i in range(0, len(gsm8k)):
    text = gsm8k.iloc[i]['instruction']
    all_text.append(text)
all_text = " ".join(all_text)

In [13]:
r = Readability(all_text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

4.964693172549847
5

## MATHWELL Annotated

In [30]:
def combine_questions(df):
    all_text = []
    for i in range(0, len(df)):
        text = df.iloc[i]['question']
        text = str(text)
        all_text.append(text)
    all_text = " ".join(all_text)
    return all_text
def combine_questions_all(df):
    all_text = []
    for i in range(0, len(df)):
        text = df.iloc[i]['text']
        text = str(text)
        all_text.append(text)
    all_text = " ".join(all_text)
    return all_text

In [20]:
mathwell_an = pd.read_csv('data/mathwell_questions.csv')
mathwell_an

      Unnamed: 0                                           question
0              0  LeBron James has 30000 points. He has 1000 mor...
1              1  A class has 120 students. 40 of them are in th...
2              3  A 3-pound cake of butter is 90% fat. 3.5 ounce...
3              4  A train is 1500 feet long. 200 of its cars are...
4              5  Naruto has 5000 ryo. He spends 1000 ryo on a n...
...          ...                                                ...
3229         420  A field hockey game has 11 players per team. T...
3230         421  100 turtles are at the pond. 10 turtles are ea...
3231         422  Barbie has 1200 Instagram followers. 200 more ...
3232         423  1234567890 is a 10-digit number. \nHow many 3-...
3233         424  7 cats and 23 dogs are in a cage. 14 of the an...

[3234 rows x 2 columns]

In [21]:
text = combine_questions(mathwell_an)
r = Readability(text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

3.0039055698568866
3

In [23]:
mathwell_train = pd.read_csv('data/mathwell_good_questions.csv')
text = combine_questions(mathwell_train)
r = Readability(text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

3.0261559621629637
3

## MATHWELL Final Questions

In [25]:
mathwell_all

     Unnamed: 0  label                                               text
0             4      1  Patrick Mahomes has 20000 yards. He gains 1000...
1             6      1  Naruto ate 35 ramen noodles. The next day, he ...
2            12      1  Batman has 100 batarangs. 20 of them are in hi...
3            13      1  A candy store has 125 lollipops. 25 of the lol...
4            15      1  There are 300 dogs in a dog park. 200 of the d...
..          ...    ...                                                ...
245         963      1  Iron Man has 5000 vibranium-enhanced armor pla...
246         966      1  A car is traveling at 60 miles per hour. It is...
247         979      1  Captain America has 1000 vibranium shields. 20...
248         984      0  LeBron James is 6'9" tall. \nHe's 36 years old...
249         990      1  A 10-car train is 1200 feet long. A 20-car tra...

[250 rows x 3 columns]

In [27]:
mathwell_all = pd.read_csv('data/mathwell_solvability.csv')
text = combine_questions_all(mathwell_all)
r = Readability(text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

2.7273810410032304
3

In [28]:
mathwell_good = pd.read_csv('data/mathwell_good.csv')
text = combine_questions(mathwell_good)
r = Readability(text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

2.8953218616089664
3

## Llama Questions

In [31]:
llama_all = pd.read_csv('data/llama_solvability.csv')
text = combine_questions_all(llama_all)
r = Readability(text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

2.8319767089469288
3

In [32]:
llama_good = pd.read_csv('data/llama_good.csv')
text = combine_questions(llama_good)
r = Readability(text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

2.740919700316212
3

## Llema Questions

In [33]:
llema_all = pd.read_csv('data/llema_solvability.csv')
text = combine_questions_all(llema_all)
r = Readability(text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

4.00194663290436
4

In [34]:
llema_good = pd.read_csv('data/llema_good.csv')
text = combine_questions(llema_good)
r = Readability(text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

3.5842817487855676
4

## Mammoth Questions

In [43]:
mammoth_all = pd.read_csv('data/mammoth_solvability.csv')
text = combine_questions_all(mammoth_all)
r = Readability(text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

3.189264452698918
3

In [41]:
mammoth_good = pd.read_csv('data/mammoth_good.csv')
text = combine_questions(mammoth_good)
r = Readability(text)
fk = r.flesch_kincaid()
print(fk.score)
print(fk.grade_level)

3.079576776317431
3